        .axis path, .axis line
        {
            fill: none;
            stroke: #777;
            shape-rendering: crispEdges;
        }

        .axis text
        {
            font-family: 'Arial';
            font-size: 13px;
        }
        .tick
        {
            stroke-dasharray: 1, 2;
        }

        .overlay {
          fill: none;
          pointer-events: all;
        }

        .bar
        {
            fill: FireBrick;
        }

        .brush .extent {
            stroke: #fff;
            fill-opacity: .125;
            shape-rendering: crispEdges;
        }
        #graph-area{
            width: 100%;
            height: 510px;
        }

        #graph-container{
            height:100%;
            width: -moz-calc(100% - 307px);
            width: -webkit-calc(100% - 307px);
            width: calc(100% - 307px);
            float:left;
            padding-top: 5px;
            overflow-y: auto;
        }

        #panel-right{
            overflow-y: scroll;
            background: white;
            overflow-x: hidden;
            position: absolute;
            right: 0px;
            width: 307px;
            height: 500px;
            float: right;
            border-left: 1px solid #aaa;
        }