#save_file {
    padding: 3px;
    cursor: pointer;
    opacity: 1;
}

#save_file:hover {
    opacity: 0.7;
}

#irodsContent .form-signin {
    max-width: 865px;
    padding: 5px;
}

#irods_content_label {
    color: #357ebd;
}

#irodsContent #file_struct {
    margin-top: 10px;
    height: 250px;
    overflow: auto;
    resize: vertical;
    border: 1px solid #DDD;
    padding: 4px;
}

#irods_search {
    position: absolute;
    right: 32px;
    top: 15px;
    float: left
}

#irods_search img {
    right: 29px;
    position: relative;
    opacity: 0.8;
}

#irods_search input {
    padding-left: 10px;
    padding-right: 25px;
    border-radius: 10px;
    margin-left: 5px;
    width: 277px;
}

.file,.folder {
    cursor:pointer;
    opacity:0.8;
}

.file:hover,.folder:hover {
    opacity: 1;
}

#irodsContent .ajax-loader, #irodsContent .modal-backdrop.up-load {
    display: none;
    opacity:0.5;
}

.selected {
    background-color: #cecece;
}

/* disable default browser shift key text selection highlighting */
.file {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#irods-sel-file {
    margin-left: 10px;
    margin-right: 10px;
}

#irods-browse {
    margin-top: 6px;
}

a#btn-signout-irods {
    display: inline-block;
    margin-top: 10px;
}

#irods-group {
    margin-top: 5px;
    margin-right: 6px;
}