{% extends 'base.html' %}

{% block main %}
    <div class="container" id="main">
        <div class="row">
            <div class="col-sm-12">
                <strong>The resource you have attempted to access is private. </strong>
                {% if request.user.is_authenticated %}
                    <strong>You can request access from the owner.</strong>
                {% else %}
                    <strong><span id="signin-menu"><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Log in</a></span>
                        to see it if the owner has shared it with you, or to request access.</strong>
                {% endif %}
             </div>
        </div>
    </div>
{% endblock %}
