{% extends 'pages/page.html' %}
{% load pages_tags mezzanine_tags hydroshare_tags theme_tags %}

{% block main %}
    <div class="container" id="main">
        <div class="row">
            <div class="col-sm-12">
                {% with res=request.path|res_uuid_from_res_path|resource_from_uuid %}
                    {% with owners=res.raccess.owners.all %}
                        <h2 class="page-title">{{ res.metadata.title }}</h2>
                        {% if request.user.is_authenticated %}
                            <strong>The resource you have attempted to access is private. </strong>
                            {% if owners %}
                                <strong>You can request access from the owner.</strong>
                            {% endif %}
                        {% else %}
                            <strong>This is a link to a private HydroShare resource. 
                                To access it you need a HydroShare account and permission from its owner.
                                {% with request.path|res_uuid_from_res_path as next %}
                                    <span id="signin-menu"><a href="{% url 'login' %}?next=/resource/{{ next }}"><span class="glyphicon glyphicon-log-in"></span> Log in</a></span> or
                                {% endwith %}
                                <span id="signup-menu"><a href="{{ request|signup_url }}"><span class="glyphicon glyphicon-user"></span> create an account</a></span>.
                            </strong>
                        {% endif %}
                            {% if owners %}
                                <table class="info-table">
                                    <tr>
                                        <th>Owners:</th>
                                        <td>
                                        {% for u in owners %}
                                            {% if forloop.counter0 != 0 %} <span>·</span> {% endif %}
                                            <span>{{ u|contact }}</span>
                                        {% endfor %}
                                        </td>
                                    </tr>
                                </table>
                            {% else %}
                                <p>This resource does not have an owner who is an active HydroShare user. 
                                    Contact CUAHSI (<a href="mailto:help@cuahsi.org">help@cuahsi.org</a>) to determine if accessing this resource is possible.</p>
                            {% endif %}
                    {% endwith %}
                    {% with replaced_by=res|resource_replaced_by %}
                        {% if replaced_by %}
                            <i><p>A newer version of this resource {{ replaced_by|urlize }} is available that replaces this version.</i></p>
                        {% endif %}
                    {% endwith %}
                    {% with version_of=res|resource_version_of %}
                        {% if version_of %}
                            <i>An older version of this resource {{ version_of|urlize }} is available.</i>
                        {% endif %}
                    {% endwith %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}
