{% load static %}

{% block extra_head %}
    <link href="https://releases.transloadit.com/uppy/v4.0.5/uppy.min.css" rel="stylesheet">
{% endblock %}

{% block main %}
  <div class="modal fade" id="uppy-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Upload to {{ cm.short_id }}</h4>
            </div>
            <div class="modal-body">
              <p>Data max chunk size: {{ max_chunk_size }}</p>
              <div id="uppy"></div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script type="module">
    import { Uppy, Dashboard, Tus } from "https://releases.transloadit.com/uppy/v4.0.5/uppy.min.mjs"

    const MAX = {{ max_chunk_size|default:5242880 }};

    new Uppy({
      id: 'uppy', 
      // autoProceed: true,
      // debug: true,
      withCredentials: true,
      onBeforeUpload: (files) => {
        const updatedFiles = Object.assign({}, files)
        Object.keys(updatedFiles).forEach(fileId => {
          updatedFiles[fileId].meta = 
          { 
            hs_res_id: "{{ cm.short_id }}",
            original_file_name: updatedFiles[fileId].name,
          }
        })
        return updatedFiles
        // TODO: check quota? etc
      }
    })
      .use(Dashboard, { inline: true, target: '#uppy' })
      .use(Tus, { 
        endpoint: '/hsapi/tus/',
        chunkSize: MAX,

        // onBeforeSend: (request) => {
        //   console.log('onBeforeSend', request)
        //   return request
        // },
      })
      .on('upload-success', (file, response) => {
        // refresh the file browser to show the file
        refreshFileBrowser()
      })
  </script>
{% endblock %}