{% extends "base.html" %}
{% load pages_tags mezzanine_tags keyword_tags comment_tags hydroshare_tags %}
{% block meta_title %}Discover{% endblock %}
{% block main %}
    <input type="hidden" id="static-url" value="{{ STATIC_URL }}">
<div class="container" id="discover-main">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-title">Discover
                <small class="text-muted"><i>Public resources shared with the community.</i></small>
            </h2>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-xs-12 space-bottom">
            <div class="flex">
                <span id="solr-help-info" class="glyphicon glyphicon-info-sign info-popover-glypn c-pointer"
                      data-toggle="popover"
                      data-placement="bottom">
                </span>
                <div id="discover-resource-search" class="resource-search">
                    <form id="search-field" method="get" action="." class="search-field">
                        {% for field in form %}
                            {% if field.auto_id  == "id_q" %}
                                <div class="fieldWrapper">
                                    <span class="glyphicon glyphicon-search search-icon"></span>
                                    {{ field }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </form>
                </div>
            </div>
            {% if parse_error %}
                <div>
                    <em><font color='red'>{{ parse_error }}</font></em>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-3 col-xs-12" id="facets">
            <div>
                <button id="btn-show-all" data-toggle="tooltip" data-placement="right" class="btn btn-default"
                        title="Show All Public and Discoverable Resources">Show All
                </button>
            </div>

            <div id="filter-items">
                {% for key, values in facets.fields.items %}
                    <div id="faceting-{{ key }}">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#{{ key }}">
                                        {% if key == 'creator'%}
                                            &nbsp; Filter by author
                                        {% elif key == 'contributor'%}
                                            &nbsp; Filter by contributor
                                        {% elif key ==  'subject'%}
                                            &nbsp; Filter by subject
                                        {% elif key ==  'content_type'%}
                                            &nbsp; Filter by content type
                                        {% elif key ==  'owner'%}
                                            &nbsp; Filter by owner
                                        {% elif key ==  'availability'%}
                                            &nbsp; Filter by availability
                                        {% endif %}
                                        <span class="glyphicon glyphicon-minus pull-left" >

                                        </span>
                                    </a>
                                </h4>
                            </div>

                            <div id="{{ key }}" class="facet-list panel-collapse collapse in">
                                <ul class="list-group" id="list-group-{{ key }}">
                                {% for item in values %}
                                    {% if item.1 > 0 %}
                                        <li class="list-group-item" rel="{{ key }},{{ item.0 }}">
                                            <span class="badge">{{ item.1 }}</span>
                                            <label class="checkbox noselect">
                                                <input type="checkbox" class="faceted-selections" id="{{ key }}-{{ item.0 }}" value="{{ key }},{{ item.0 }}">{{ item.0 }}</label>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
        <div class="col-sm-9 col-xs-12" id="items">
            <div>
                <table cellpadding='20'><tr><td>
                <form id="date-search-fields" method="get" action=".">
                    <h4 class="text-muted">Temporal Coverage</h4>

                    <table>
                        <tr>
                            {% for field in form %}
                                {% if field.auto_id == "id_start_date" or field.auto_id == "id_end_date" %}
                                    <td>
                                        <div class="fieldWrapper">
                                            <span class="glyphicon glyphicon-calendar text-muted"></span> {{ field.label_tag }} {{ field }}
                                        </div>
                                    </td>
                                {% endif %}
                            {% endfor %}
                            <td>
                                <a id="clear-dates-options" data-toggle="tooltip" title="Clear Dates"
                                   class="glyphicon glyphicon-remove-circle icon-remove"></a>
                            </td>
                        </tr>
                    </table>
                </form>
                </td><td> 
                <form id="search-order-fields" method="get" action="."> 
                    <h4 class="text-muted">Sort Order</h4>

                    <table>
                        <tr>
                            {% for field in form %}
                                {% if field.auto_id == "id_sort_order" %}
                                    <td>
                                        <div class="fieldWrapper">
                                           {{ field.label_tag }} {{ field }}
                                        </div>
                                    </td>
                                {% endif %}
                                {% if field.auto_id == "id_sort_direction" %}
                                    <td>
                                        <div class="fieldWrapper">
                                           {{ field.label_tag }} {{ field }}
                                        </div>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </table>
                </form> 
                </td></tr></table> 
                <br>
                <div id="resource-search" class="hidden">
                    <div id="coverages-master-list"></div>
                    <br />
                    <table id="lat-lng-labels" class="hidden">
                        <tr>
                            <td>
                                North Latitude: <label for="ne-lat-value"></label>
                            </td>
                            <td>
                                East Longitude: <label for="ne-lng-value"></label>
                            </td>
                            <td>
                                South Latitude: <label for="sw-lat-value"></label>
                            </td>
                            <td>
                                West Longitude: <label for="sw-lng-value"></label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <ul id="switch-view" class="nav nav-tabs">
                <li class="active"><a href="#list-view"><i class="glyphicon glyphicon-list-alt"></i> List</a></li>
                <li><a href="#map-view"><i class="glyphicon glyphicon-map-marker"></i> Map</a></li>
            </ul>

            <div class="tab-content">
                <div id="list-view" class="tab-pane fade in active">
                    <div id="discover-page-options-1">
                    {% if page_obj.has_other_pages %}
                        &laquo;

                        {% if page_obj.number != 1 %}
                            <a onclick='updateListItems("{{ request.get_full_path|clean_pagination_url }}&amp;page=1"); return false;'>First</a> 
                        {% else %} 
                            First
                        {% endif %}
                        |
                        {% if page_obj.has_previous %}
                            <a onclick='updateListItems("{{ request.get_full_path|clean_pagination_url }}&amp;page={{ page_obj.prev_page_number }}"); return false;'>Previous</a> 
                        {% else %} 
                            Previous 
                        {% endif %}
                        |
                        {% for pnum in page_obj|five_options_around %}
                            {% if pnum == page_obj.number %}
                               {{ pnum }}
                            {% else %} 
                                <a onclick='updateListItems("{{ request.get_full_path|clean_pagination_url }}&amp;page={{ pnum }}"); return false;'>{{ pnum }}</a> 
                            {% endif %} 
                        {% endfor %} 
                        |
                        {% if page_obj.has_next %}
                            <a onclick='updateListItems("{{ request.get_full_path|clean_pagination_url }}&amp;page={{ page_obj.next_page_number }}"); return false;'>Next</a> 
                        {% else %}
                            Next 
                        {% endif %} 
                        |
                        {% if page_obj.number != page_obj.paginator.num_pages %}
                            <a onclick='updateListItems("{{ request.get_full_path|clean_pagination_url }}&amp;page={{ page_obj.paginator.num_pages }}"); return false;'>Last</a> 
                        {% else %} 
                            Last
                        {% endif %}
                        &raquo;
                    {% endif %}

                    {{ page_obj }} &laquo;results {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }}&raquo;  
                    </div>
                    <span id="discover-list-loading-spinner" class="discover-loading-icon icon-blue">
                          <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                    </span>
                    <br />
                    <table class="table-hover table-striped resource-custom-table" id="items-discovered">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Title</th>
                                <th>First Author</th>
                                <th>Date Created</th>
                                <th>Last Modified</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for result in page_obj.object_list %}
                                <tr>
                                    <td data-col="resource-type">
                                        {% include "includes/res_type_col.html" with resource=result.object %}
                                    </td>
                                    <td><strong><a href="{{ result.object.get_absolute_url }}">{{ result.get_stored_fields.title }}</a></strong></td>
                                    {% if result.get_stored_fields.author_url %}
                                        <td><a href="{{ result.get_stored_fields.author_url }}">{{ result.get_stored_fields.author  }}</a></td>
                                    {% else %}
                                        <td>{{ result.get_stored_fields.author }}</td>
                                    {% endif %}
                                    <td>{{ result.get_stored_fields.created|date:"M d, Y" }} at {{ result.get_stored_fields.created|time }}</td>
                                    {% if result.get_stored_fields.modified %}
                                    <td>{{ result.get_stored_fields.modified|date:"M d, Y" }} at {{ result.get_stored_fields.modified|time }}</td>
                                    {% else %} 
                                    <td></td> 
                                    {% endif %} 
                                    
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                
                    {% if not page_obj.object_list %}
                    <h4 class="text-muted">Sorry, no results match those criteria. Please try broadening your search.</h4>
                    {% endif %}
                    <div id="discover-page-options-2">
                    {% if page_obj.has_other_pages %}
                        &laquo;

                        {% if page_obj.number != 1 %}
                            <a onclick='updateListItems("{{ request.get_full_path|clean_pagination_url }}&amp;page=1"); return false;'>First</a> 
                        {% else %} 
                            First
                        {% endif %}
                        |
                        {% if page_obj.has_previous %}
                            <a onclick='updateListItems("{{ request.get_full_path|clean_pagination_url }}&amp;page={{ page_obj.prev_page_number }}"); return false;'>Previous</a> 
                        {% else %} 
                            Previous 
                        {% endif %}
                        |
                        {% for pnum in page_obj|five_options_around %}
                            {% if pnum == page_obj.number %}
                               {{ pnum }}
                            {% else %} 
                                <a onclick='updateListItems("{{ request.get_full_path|clean_pagination_url }}&amp;page={{ pnum }}"); return false;'>{{ pnum }}</a> 
                            {% endif %} 
                        {% endfor %} 
                        |
                        {% if page_obj.has_next %}
                            <a onclick='updateListItems("{{ request.get_full_path|clean_pagination_url }}&amp;page={{ page_obj.next_page_number }}"); return false;'>Next</a> 
                        {% else %}
                            Next 
                        {% endif %} 
                        |
                        {% if page_obj.number != page_obj.paginator.num_pages %}
                            <a onclick='updateListItems("{{ request.get_full_path|clean_pagination_url }}&amp;page={{ page_obj.paginator.num_pages }}"); return false;'>Last</a> 
                        {% else %} 
                            Last
                        {% endif %}
                        &raquo;
                    {% endif %}

                    {{ page_obj }} &laquo;results {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }}&raquo;  
                    </div>
                    
                    <br>
                    <div class="alert alert-info">
                        <strong>
                            <i class="glyphicon glyphicon-question-sign"></i> Not finding what you are looking for?
                        </strong>
                        <p class="space-top">Private resources owned by you or shared with you by colleagues are
                            searchable from
                            <strong><a href="/my-resources">My Resources</a></strong></p>
                    </div>
                    {% include "includes/legend.html" %}
                </div>

                <div id="map-view" class="tab-pane fade">
                    <div class="row">
                        <div class="col-xs-12">
                            <span id="discover-map-loading-spinner" class="discover-loading-icon icon-blue">
                                  <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                            </span>
                            <br />
                            <form id="covereage-search-fields" method="get" action="." class="hidden">
                                {% for field in form %}
                                    {% if field.auto_id  == "id_NElat" or field.auto_id  == "id_NElng" or field.auto_id  == "id_SWlat" or field.auto_id  == "id_SWlng" %}
                                        {{ field }}
                                    {% endif %}
                                {% endfor %}
                            </form>

                            <div id="geocoder-panel"></div>

                            <div id="discover-map"></div>

                            <div id="discover-map-legend"></div>

                            <div id="resetZoom"></div>
                            <br />
                            <table class="table-hover table-striped" id="map-items" style="width:100%; max-height:200px">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.dataTables.min.css">
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=geometry,places{% if maps_key %}&key={{ maps_key }}{% endif %}" type="text/javascript"></script>
    <script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/keydragzoom/src/keydragzoom.js" type="text/javascript"></script>
    <script src="https://cdn.rawgit.com/googlemaps/js-marker-clusterer/gh-pages/src/markerclusterer.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/discover.js"></script>
{% endblock %}
