{% extends "base.html" %}
{% load geoanalytics_tags pages_tags mezzanine_tags keyword_tags comment_tags hydroshare_tags %}

{# {% block title %}{{ user|best_name }}'s Resources{% endblock %}#}
{% block title %}Resources{% endblock %}

{% block main %}
<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-lg-2" id="folders">
        	<form method="get" action=".">
    			<table>
        			<tbody>
            			{{ form.as_table }}
            			<tr>
                			<td>&nbsp;</td>
                			<td><input type="submit" value="Search"></td>
            			</tr>
        			</tbody>
    			</table>
			</form>
        </div>
       	<div class="col-lg-10" id="items">
       		<table class="table table-striped table-hover" id="item-selectors">
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>First author</th>
                    <th>Last modified</th>
                </tr>
                {% if query %}
                	{% for result in page.object_list %}
                    	<tr>
                        	<td><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></td>
                    	</tr>
                    {% empty %}
        			<p>Sorry, no results found.</p>
                	{% endfor %}
    			{% endif %}
        	</table>
       	</div>
    </div>
</div>
{% endblock %}