{% extends "base.html" %}
{% load pages_tags mezzanine_tags keyword_tags comment_tags hydroshare_tags %}
{% block title %}Discovery{% endblock %}
{% block main %}
    <input type="hidden" id="static-url" value="{{ STATIC_URL }}">
<div class="container" id="discover-main">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-title">Discover
                <small class="text-muted"><i>Public resources shared with the community.</i></small>
            </h2>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-xs-12">
            <button id="solr-help-info" class="btn btn-info" data-toggle="popover" data-placement="right"><i
                    class="glyphicon glyphicon-info-sign"></i></button>

            <div id="discover-resource-search" class="resource-search">
                <form id="search-field" method="get" action="." class="search-field">
                    {% for field in form %}
                        {% if field.auto_id  == "id_q" %}
                        <div class="fieldWrapper">
                            <span class="glyphicon glyphicon-search search-icon"></span>
                            {{ field }}
                        </div>
                        {% endif %}
                    {% endfor %}
                </form>
            </div>
            <br>
        </div>
        <div class="col-sm-3 col-xs-12" id="facets">
            <div>
                <button id="btn-show-all" data-toggle="tooltip" data-placement="right" class="btn btn-default"
                        title="Show All Public and Discoverable Resources">Show All
                </button>
            </div>

            <div id="filter-items">
                {% for key, values in facets.fields.items %}
                    {% if values and key != 'public' and key != 'discoverable' and key != 'published' %}
                        <div id="faceting-{{ key }}">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#{{ key }}">
                                            {% if key == 'creators'%}
                                                &nbsp; Filter by Author
                                            {% elif key ==  'subjects'%}
                                                &nbsp; Filter by Subject
                                            {% elif key ==  'resource_type'%}
                                                &nbsp; Filter by Resource Type
                                            {% elif key ==  'owners_names'%}
                                                &nbsp; Filter by Owner
                                            {% elif key ==  'variable_names'%}
                                                &nbsp; Filter by Variable
                                            {% elif key ==  'sample_mediums'%}
                                                &nbsp; Filter by Sample Medium
                                            {% elif key ==  'units_names'%}
                                                &nbsp; Filter by Units Name
                                            {% endif %}
                                            <span class="glyphicon glyphicon-minus pull-left" >

                                            </span>
                                        </a>
                                    </h4>
                                </div>

                                <div id="{{ key }}" class="facet-list panel-collapse collapse in">
                                    <ul class="list-group" id="list-group-{{ key }}">
                                    {% for item in values %}
                                        {% if item.1 > 0 %}
                                            <li class="list-group-item" rel="{{ key }},{{ item.0 }}">
                                                <span class="badge">{{ item.1 }}</span>
                                                <label class="checkbox noselect">
                                                    <input type="checkbox" class="faceted-selections" id="{{ key }}-{{ item.0 }}" value="{{ key }},{{ item.0 }}">{{ item.0 }}</label>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

                <div id="faceting-availability">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#availability">
                                    &nbsp; Filter by Availability
                                    <span class="glyphicon glyphicon-minus pull-left"></span>
                                </a>
                            </h4>
                        </div>

                        <div id="availability" class="facet-list panel-collapse collapse in">
                            <ul class="list-group" id="list-group-availability">
                                {% for key, values in facets.fields.items %}
                                    {% if key == 'public' or key == 'discoverable' or key == 'published' %}
                                        {% for item in values %}
                                            {% if item.1 > 0 and item.0 != 'false' %}
                                                <li class="list-group-item" rel="{{ key }},{{ item.0 }}">
                                                    <span class="badge">{{ item.1 }}</span>
                                                    <label class="checkbox noselect">
                                                        <input type="checkbox" class="faceted-selections"
                                                               id="{{ key }}-{{ item.0 }}"
                                                               value="{{ key }},{{ item.0 }}">
                                                        {% if key == 'public' and item.0 == 'true' %}
                                                            Public
                                                        {% elif key == 'public' and item.0 == 'false' %}
                                                            Private
                                                        {% elif key == 'discoverable' %}
                                                            Discoverable
                                                        {% elif key == 'published' %}
                                                            Published
                                                        {% endif %}
                                                    </label>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-xs-12" id="items">
            <div>
                <form id="date-search-fields" method="get" action=".">
                    <h4 class="text-muted">Temporal Coverage</h4>

                    <table>
                        <tr>
                            {% for field in form %}
                                {% if field.auto_id == "id_start_date" or field.auto_id == "id_end_date" %}
                                    <td>
                                        <div class="fieldWrapper">
                                            <span class="glyphicon glyphicon-calendar text-muted"></span> {{ field.label_tag }} {{ field }}
                                        </div>
                                    </td>
                                {% endif %}
                            {% endfor %}
                            <td>
                                <a id="clear-dates-options" data-toggle="tooltip" title="Clear Dates"
                                   class="glyphicon glyphicon-remove-circle icon-remove"></a>
                            </td>
                        </tr>
                    </table>
                </form>
                <br>
                <div id="resource-search" class="hidden">
                    <div id="coverages-master-list"></div>
                    <br />
                    <table id="lat-lng-labels" class="hidden">
                        <tr>
                            <td>
                                North Latitude: <label for="ne-lat-value"></label>
                            </td>
                            <td>
                                East Longitude: <label for="ne-lng-value"></label>
                            </td>
                            <td>
                                South Latitude: <label for="sw-lat-value"></label>
                            </td>
                            <td>
                                West Longitude: <label for="sw-lng-value"></label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <ul id="switch-view" class="nav nav-tabs">
                <li class="active"><a href="#list-view"><i class="glyphicon glyphicon-list-alt"></i> List</a></li>
                <li><a href="#map-point-view"><i class="glyphicon glyphicon-map-marker"></i> Site</a></li>
                <li><a href="#map-area-view"><i class="glyphicon glyphicon-unchecked"></i> Area</a></li>
            </ul>

            <div class="tab-content">
                <div id="list-view" class="tab-pane fade in active">
                    <span id="discover-list-loading-spinner" class="discover-loading-icon icon-blue">
                          <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                    </span>
                    <br />
                    <table class="table-hover table-striped resource-custom-table" id="items-discovered">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Title</th>
                                <th>First Author</th>
                                <th>Date Created</th>
                                <th>Date Created</th>{# Used in table sorting #}
                                <th>Last Modified</th>
                                <th>Last modified</th>{# Used in table sorting #}
                            </tr>
                        </thead>

                        <tbody>
                            {% for result in page_obj.object_list %}
                                <tr>
                                    <td>
                                        <span class="resource-type-text">{{ result.object|resource_type }}</span>
                                        {% if  result.object|resource_type == "Generic" %}
                                            <img src="{{ STATIC_URL }}img/resource-icons/generic48x48.png"
                                                 alt="{{  result.object|resource_type }}" title="{{  result.object|resource_type }}"
                                                 class="table-res-type-icon"/>
                                        {% elif  result.object|resource_type == "Geographic Raster" %}
                                            <img src="{{ STATIC_URL }}img/resource-icons/geographicraster48x48.png"
                                                 alt="{{  result.object|resource_type }}" title="{{  result.object|resource_type }}"
                                                 class="table-res-type-icon"/>
                                        {% elif  result.object|resource_type == "Model Program Resource" %}
                                            <img src="{{ STATIC_URL }}img/resource-icons/modelprogram48x48.png"
                                                 alt="{{  result.object|resource_type }}" title="{{  result.object|resource_type }}"
                                                 class="table-res-type-icon"/>
                                        {% elif  result.object|resource_type == "Model Instance Resource" %}
                                            <img src="{{ STATIC_URL }}img/resource-icons/modelinstance48x48.png"
                                                 alt="{{  result.object|resource_type }}" title="{{  result.object|resource_type }}"
                                                 class="table-res-type-icon"/>
                                        {% elif  result.object|resource_type == "SWAT Model Instance Resource" %}
                                            <img src="{{ STATIC_URL }}img/resource-icons/swat48x48.png"
                                                 alt="{{  result.object|resource_type }}" title="{{  result.object|resource_type }}"
                                                 class="table-res-type-icon"/>
                                        {% elif  result.object|resource_type == "Multidimensional (NetCDF)" %}
                                            <img src="{{ STATIC_URL }}img/resource-icons/multidimensional48x48.png"
                                                 alt="{{  result.object|resource_type }}" title="{{  result.object|resource_type }}"
                                                 class="table-res-type-icon"/>
                                        {% elif  result.object|resource_type == "Time Series" %}
                                            <img src="{{ STATIC_URL }}img/resource-icons/timeseries48x48.png"
                                                 alt="{{  result.object|resource_type }}" title="{{  result.object|resource_type }}"
                                                 class="table-res-type-icon"/>
                                        {% elif  result.object|resource_type == "Geographic Feature (ESRI Shapefiles)" %}
                                            <img src="{{ STATIC_URL }}img/resource-icons/geographicfeature48x48.png"
                                                 alt="{{  result.object|resource_type }}" title="{{  result.object|resource_type }}"
                                                 class="table-res-type-icon"/>
                                        {% elif  result.object|resource_type == "Web App Resource" %}
                                            <img src="{{ STATIC_URL }}img/resource-icons/webapp48x48.png"
                                                 alt="{{  result.object|resource_type }}" title="{{  result.object|resource_type }}"
                                                 class="table-res-type-icon"/>
                                        {% elif  result.object|resource_type == "HIS Referenced Time Series" %}
                                            <img src="{{ STATIC_URL }}img/resource-icons/his48x48.png"
                                                 alt="{{  result.object|resource_type }}" title="{{  result.object|resource_type }}"
                                                 class="table-res-type-icon"/>
                                        {% elif  result.object|resource_type == "Script Resource" %}
                                            <img src="{{ STATIC_URL }}img/resource-icons/script48x48.png"
                                                 alt="{{  result.object|resource_type }}" title="{{  result.object|resource_type }}"
                                                 class="table-res-type-icon"/>
                                        {% elif  result.object|resource_type == "Collection Resource" %}
                                            <img src="{{ STATIC_URL }}img/resource-icons/collection48x48.png"
                                                 alt="{{ result.object|resource_type }}"
                                                 title="{{ result.object|resource_type }}"
                                                 class="table-res-type-icon"/>
                                        {% elif  result.object|resource_type == "Composite Resource" %}
                                            <img src="{{ STATIC_URL }}img/resource-icons/composite48x48.png"
                                                 alt="{{ result.object|resource_type }}"
                                                 title="{{ result.object|resource_type }}"
                                                 class="table-res-type-icon"/>
                                        {% endif %}

                                        {#  Sharing Status icons #}
                                        <div class="access-icon-wrapper">
                                            {% if result.object.raccess.published %}
                                                <img src="{{ STATIC_URL }}img/published.png"
                                                     alt="Published Resource" title="Published"/>
                                            {% elif result.object.raccess.public %}
                                                <img src="{{ STATIC_URL }}img/public.png"
                                                     alt="Public Resource" title="Public"/>
                                            {% elif result.object.raccess.discoverable %}
                                                <img src="{{ STATIC_URL }}img/discoverable.png"
                                                     alt="Discoverable Resource" title="Discoverable"/>
                                            {% else %}
                                                <img src="{{ STATIC_URL }}img/private.png"
                                                     alt="Private Resource" title="Private"/>
                                            {% endif %}

                                            {% if result.object.raccess.published %}
                                                {% if "pending" in cm.doi or "failure" in cm.doi %}
                                                    <img src="{{ STATIC_URL }}img/pending.png" alt="Pending Publication"
                                                         title="Pending Publication. Note that the DOI will not be available until it has been registered and activated."/>
                                                {% endif %}
                                            {% else %}
                                                {% if result.object.raccess.shareable %}
                                                    <img src="{{ STATIC_URL }}img/shareable.png" alt="Sharable Resource"
                                                         title="Shareable"/>
                                                {% else %}
                                                    <img src="{{ STATIC_URL }}img/non-shareable.png"
                                                         alt="Non Sharable Resource"
                                                         title="Not Shareable"/>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td><strong><a href="{{ result.object.get_absolute_url }}">{{ result.object.metadata.title.value }}</a></strong></td>
                                    {% if result.object.first_creator.description %}
                                        <td><a href="{{ result.object.first_creator.description }}">{{ result.object.first_creator.name  }}</a></td>
                                    {% else %}
                                        <td>{{ result.object.first_creator.name }}</td>
                                    {% endif %}
                                    <td>{{ result.object.created|date:"m/d/Y" }}, {{ result.object.created|time }}</td>
                                    <td>{{ result.object.created|date:"Y/m/d H:i:s" }}</td> {# Used in table sorting #}
                                    <td>{{ result.object.updated|date:"m/d/Y" }}, {{ result.object.updated|time }}</td>
                                    <td>{{ result.object.updated|date:"Y/m/d H:i:s" }}</td> {# Used in table sorting #}
                                </tr>
                            {% empty %}
                                <p>No results found.</p>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if page_obj.has_previous or page_obj.has_next %}
                        <div id="discover-page-options">
                            {% if page_obj.has_previous %}
                                <a href="{{ request.get_full_path|clean_pagination_url }}&amp;page={{ page_obj.previous_page_number }}">
                            {% endif %}&laquo; Previous
                            {% if page_obj.has_previous %}</a>{% endif %}
                            |
                            {% if page_obj.has_next %}
                                <a href="{{ request.get_full_path|clean_pagination_url }}&amp;page={{ page_obj.next_page_number }}">
                            {% endif %}Next &raquo;{% if page_obj.has_next %}</a>{% endif %}
                        </div>
                    {% endif %}
                    <br>
                    <div class="alert alert-info">
                        <strong>
                            <i class="glyphicon glyphicon-question-sign"></i> Not finding what you are looking for?
                        </strong>
                        <p>Private resources owned by you or shared with you by colleagues are searchable from
                            <strong><a href="/my-resources">My Resources</a></strong></p>
                    </div>
                    {% include "includes/legend.html" %}
                </div>

                <div id="map-point-view" class="tab-pane fade">
                    <span id="discover-point-map-loading-spinner" class="discover-loading-icon icon-blue">
                        <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                    </span>
                    <br />

                    <div id="point-geocoder-panel"></div>

                    <div id="discover-point-map"></div>

                    <div class="discover-map-legend"></div>

                    <div class="resetZoom"></div>
                    <br />
                    <table class="table-hover table-striped" id="point-map-items" style="width:100%; max-height:200px">
                        <thead>
                            <tr>
                                <th><input id="point_select_all" name="select_all" type="checkbox"></th>
                                <th>Show on Map</th>
                                <th>Resource Type</th>
                                <th>Title</th>
                                <th>First Author</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="map-area-view" class="tab-pane fade">
                    <div class="row">
                        <div class="col-xs-12">
                            <span id="discover-area-map-loading-spinner" class="discover-loading-icon icon-blue">
                                  <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                            </span>
                            <br />
                            <form id="covereage-search-fields" method="get" action="." class="hidden">
                                {% for field in form %}
                                    {% if field.auto_id  == "id_NElat" or field.auto_id  == "id_NElng" or field.auto_id  == "id_SWlat" or field.auto_id  == "id_SWlng" %}
                                        {{ field }}
                                    {% endif %}
                                {% endfor %}
                            </form>

                            <div id="area-geocoder-panel"></div>

                            <div id="discover-area-map"></div>

                            <div class="discover-map-legend"></div>

                            <div class="resetZoom"></div>
                            <br />
                            <table class="table-hover table-striped" id="area-map-items" style="width:100%; max-height:200px">
                                <thead>
                                    <tr>
                                        <th><input id="area_select_all" name="select_all" type="checkbox"></th>
                                        <th>Show on Map</th>
                                        <th>Resource Type</th>
                                        <th>Title</th>
                                        <th>First Author</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=geometry,places" type="text/javascript"></script>
    <script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/keydragzoom/src/keydragzoom.js" type="text/javascript"></script>
    <script src="https://cdn.rawgit.com/googlemaps/js-marker-clusterer/gh-pages/src/markerclusterer.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/discover.js"></script>
{% endblock %}
