{# __author__ = 'Mohamed Morsy' #}
{# This template is used as the landing page for MODFLOWModelInstanceResource #}

{% extends "pages/genericresource.html" %}
{#{% load geoanalytics_tags pages_tags mezzanine_tags crispy_forms_tags %}#}
{#{% load geoanalytics_tags pages_tags mezzanine_tags comment_tags keyword_tags hydroshare_tags crispy_forms_tags inplace_edit %}#}



{% load staticfiles  %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-multiselect.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/model_instance.css" %}" />
{% endblock %}

{% block extra_js %}
    {{ block.super }}

    {# resource specific js can go here #}
    <script src="{% static "js/bootstrap-multiselect.js"%}"></script>
    <script src="{% static "js/model_instance.js"%}"></script>
{%  endblock %}