{% extends "pages/page.html" %}

{% load mezzanine_tags geoanalytics_tags pages_tags %}

{% block main %}
    {% set_ppm_permissions page %}
    {% ga_editable_loader %}

    <div class="row">
        <div class="col-md-6">
            {% if viewable_siblings %}
                <h2><a href="/{{ page.parent.slug }}">{{ page.parent.title }}</a></h2>
                <ul class='nav nav-list'>
                    {% for child in viewable_siblings %}
                        <li {% ifequal child page %}class='active'{% endifequal %}>
                            <a href="/{{ child.slug }}">{{ child.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="col-md-6">
            {% if viewable_children %}
                <h2>{{ page.title }}</h2>
                <ul class="nav nav-list">
                    {% for child in viewable_children %}
                        <li>

                        {% ifequal child.status 2 %}
                        <a href="/{{ child.slug }}" {% ifequal child.content_model 'catalogpage' %}style='color:#860;'{% endifequal %}>
                            {% ifequal child.content_model 'catalogpage' %}
                                <i class="icon-briefcase"> </i>
                            {% else %}
                                <i class="icon-desktop"> </i>
                            {% endifequal %}
                            {{ child.title }}</a>
                        {% else %} 
       
                        {{ child.title }}
                        {% endifequal %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

    <hr>


    <div class="btn-toolbar">
        {% if page.perms.add %}
            {% subpage_button %}
        {% endif %}

        {% if page.perms.delete %}
        <a class="btn btn-danger" href="/ga_resources/deletepage?slug={{ page.slug }}"><i class="icon-trash"></i> Delete</a>
    {% endif %}
    </div>

    {% include 'pages/includes/page_permissions_editor.html' %}

{% endblock %}
