{% extends "pages/page.html" %}

{% load mezzanine_tags pages_tags %}
{% set_page_permissions %}

{% block main %}{{ block.super }}
    {% editable page.dataresource.content %}
        {{ page.dataresource.content|richtext_filter|safe }}
    {% endeditable %}

    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Last updated {{ page.dataresource.last_refresh|date:"l, F j Y, f a " }}
    </div>
    <hr>

    <h3>Layer boundaries</h3>
    <div class='simple-map' id="map" style='width: 100%; height:400px;'></div>

    <h3>Geographic web-services for this resource</h3>

    {% if page.dataresource.resource_file %}
        <h5><a href="{{ page.dataresource.resource_file.url }}">Download the original resource file.</a></h5>
    {% elif page.dataresource.resource_url %}
        <h5><a href="/ga_resources/download/{{ page.slug }}.zip">Download the original resource file.</a></h5>
    {% endif %}

    <h5><a href="/ga_resources/wfs/?service=wfs&request=GetFeature&version=2.0.0&typeNames={{ page.slug }}">Web Feature
        Service</a>
        <span class='helptext'> - OGC WFS Web Feature Service 2.0.0. Suitable to import into QGIS or ArcGIS.</span></h5>

    {% if page.dataresource.renderedlayer_set.exists %}
        <h5>Web Mapping Services</h5>
        <p class='helptext'>OGC WMS Web Mapping Service 1.1.0. Styled layers suitable for display and thematic mapping
            in TerraHub or with Google. Click any link for a
            preview of what a configured web map will look like.</p>
        <ul>
            {% for service in page.dataresource.renderedlayer_set.all %}
                <li><a href="{{ service.get_absolute_url }}">{{ service.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p><i>No styled layer services associated with this resource</i></p>
    {% endif %}
    <a class="btn btn-primary" href="/ga_resources/styler/?resource={{ page.slug }}"><i class="icon-plus"></i> Create
        layer</a>

    <h3>Data Summary</h3>
    <p class='helptext'>What follows is a summary of the values in the "columns" of the data source. In geographic data
        sources (GIS data), every line,
        point, or polygon shape has a row in a database associated with it. This is a summary of the values in those
        rows.</p>
    {%  comment %}
    <dl>
        {% for field in page.dataresource.driver_instance.get_data_fields %}
            <dt>{{ field.0 }}</dt>
            <dd>{{ field.1 }}</dd>
        {% endfor %}
    </dl>
    {% endcomment %}
    <table class="table table-striped table-bordered" style='overflow:auto'>
        <thead>
        <tr>
            <th>Name</th>
            <th>Kind</th>
            <th>Nonempty</th>
            <th>Tags</th>
            <th>Most frequent</th>
        </tr>
        </thead>
        <tbody>
        {% for field_summary in page.dataresource.driver_instance.summary %}
            <tr>
                <td><b>{{ field_summary.name }}</b></td>
                <td>{{ field_summary.kind }}</td>
                <td>{{ field_summary.count }}</td>
                <td>{{ field_summary.tags|join:" / " }}</td>
                <td>{{ field_summary.top }}</td>
            </tr>
            <tr class='extra-metadata'>
                {% if field_summary.uniques %}
                    <td colspan="5" class='unique-values'>{{ field_summary.uniques|join:" / " }}</td>
                {% elif field_summary.mean %}
                    <td></td>
                    <td>Avg. {{ field_summary.mean|floatformat:3 }}</td>
                    <td>Min. {{ field_summary.min|floatformat:3 }}</td>
                    <td>Max. {{ field_summary.max|floatformat:3 }}</td>
                    <td>Stddev. {{ field_summary.std|floatformat:3 }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>


{% endblock %}

{% block extra_js %}
    <script src="{{STATIC_URL}}ol/OpenLayers.debug.js"></script>
    <script type="text/javascript">
        $(function () {
            var in_options = {
                internalProjection: new OpenLayers.Projection('EPSG:900913'),
                externalProjection: new OpenLayers.Projection("EPSG:4326")
            };

            var bboxLayer = new OpenLayers.Layer.Vector('bbox');
            var wkt = new OpenLayers.Format.WKT(in_options);
            var feature = wkt.read("{{ page.dataresource.spatial_metadata.bounding_box.wkt }}");
            bboxLayer.addFeatures([feature]);
            var bounds = feature.geometry.getBounds();

            var map = new OpenLayers.Map({ div: 'map', projection: "EPSG:900913", layers: [
                new OpenLayers.Layer.XYZ(
                        "OpenStreetMap",
                        [
                            "http://otile1.mqcdn.com/tiles/1.0.0/map/${z}/${x}/${y}.png",
                            "http://otile2.mqcdn.com/tiles/1.0.0/map/${z}/${x}/${y}.png",
                            "http://otile3.mqcdn.com/tiles/1.0.0/map/${z}/${x}/${y}.png",
                            "http://otile4.mqcdn.com/tiles/1.0.0/map/${z}/${x}/${y}.png"
                        ]
                ),
                bboxLayer
            ]});

            map.zoomToExtent(bounds);
        });
    </script>
{% endblock %}

{% block extra_css %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="http://openlayers.org/dev/theme/default/style.css" type="text/css">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/font-awesome.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/ga_resources.css"/>

    <style type="text/css">
        .unique-values {
            font-size: 9px;
        }

        .extra-metadata {
            font-style: italic;
        }

        .helptext {
            font-style: italic;
            font-size: 10pt;
            font-weight: normal;
            color: #35c;
        }
    </style>

{% endblock %}
