{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}RENCI Geoanalytics{% endblock %}
{% block title %}<a href='https://github.com/JeffHeard/geoanalytics'><img style='box-shadow:none;' alt='Geoanalytics' src='{{STATIC_URL}}assets/img/geoanalytics.png'></a>{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block left_panel %}
<div class="panel">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="/admin/">Admin</a></li>
        <li><a href="/account/update/">My Profile</a></li>
    </ul>
</div>
{% endblock %}

{% block main %}
{% blocktrans %}
<div class='hero-unit'>
    
    <h2>This is <a href='http://www.renci.org'>RENCI's</a> Geoanalytics cyberinfrastructure portal.  </h2>

<p>Geoanalytics is an Open Source spatial data and analytics infrastructure that brings together many of the open source Python geography projects into a CMS and collaboration framework. Geoanalytics handles both classical and exotic formats in a unified way, using a system of drivers that connect these data sources to standard OGC web services.</p>

<p>Spatial data can be catalogued, described, queried, and Geoanalytics' CMS can serve as a host to a myriad of domain-specific applications.</p>

<p>Geoanalytics was developed at RENCI to deal with various projects centered around providing application infrastructure around scientific geographic data. It has been used in myriad projects at RENCI in:</p>

<ul>
<li>Environmental and Earth sciences (hydrology, weather modeling)</li>
<li>Epidemiology and Public Health</li>
<li>Decision support</li>
<li>Emergency management and mitigation</li>
<li>Digital humanities</li>
</ul>
</div>
{% endblocktrans %}
{% endblock %}
