## Custom
local_settings.py
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.db
.bash_history
.cache
.coverage
.DS_Store
.idea
/celery
/config/hydroshare-config.sh
/config/hydroshare-config.yaml
/hydroshare/static
/log
/nginx/.htpasswd
/nginx/htpasswd
/nginx/Dockerfile
/nginx/Dockerfile-nginx
/nginx/config-files/hs-nginx.conf
/nginx/config-files/nginx.conf-default
/static
/tmp
Dockerfile-defaultworker
Dockerfile-hydroshare
celeryd.pid
docker-compose.yml
init-defaultworker
init-dockerworker
init-hydroshare
run-server
schema.xml
*.sublime-*
.pycharm_helpers
celerybeat.pid
.config
.c9
/nginx/cert*
pg.deploy.sql
