## Custom
locust/reports/
nohup.out
local_settings.py
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.db
.bash_history
.cache
.coverage
.DS_Store
.idea
/celery
/config/hydroshare-config.sh
/config/hydroshare-config.yaml
/hydroshare/static
/log
/static
/tmp
Dockerfile-defaultworker
Dockerfile-hydroshare
celeryd.pid
docker-compose.yml
init-defaultworker
init-dockerworker
init-hydroshare
.vscode
run-server
schema.xml
*.sublime-*
.pycharm_helpers
celerybeat.pid
.config
.c9
pg.deploy.sql
pylint.out
.ssh
django_cache

# Frontend
node_modules/
hs_resource_landing/templates/
hs_resource_landing/static