*.pyc
*.pyo
*.db
.DS_Store
.coverage
/hydroshare/static
/static
.idea/
celeryd.pid
hydroshare/local_settings.py
nginx/config-files/hs-nginx.conf
config/hydroshare-config.sh
config/hydroshare-config.yaml
docker-compose.yml
schema.xml
