[submodule "django_docker_processes"]
	path = django_docker_processes
	url = https://github.com/hydroshare/django_docker_processes.git
[submodule "django_irods"]
	path = django_irods
	url = https://github.com/hydroshare/django_irods.git
[submodule "hs_docker_base"]
	path = hs_docker_base
	url = https://github.com/hydroshare/hs_docker_base.git
