# generated using pipdeptree https://github.com/tox-dev/pipdeptree
# pipdeptree -f | sed 's/ //g' | sort -u > requirements.txt
aiohttp==3.8.3
amqp==2.6.1
anyjson==0.3.3
arrow==0.7.0
asgiref==3.5.2
astroid==2.12.13
attrs==22.1.0
autopep8==1.2.2
Babel==2.11.0
bagit==1.5.4
bcrypt==4.0.1
beautifulsoup4==4.11.1
billiard==3.6.4.0
bleach==4.1.0
celery==4.4.7
certifi==2022.12.7
cffi==1.15.1
cftime==1.6.2
chardet==5.1.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.6
coreapi==2.3.3
coreschema==0.0.4
coverage==6.5.0
cryptography==38.0.4
cycler==0.10.0
debugpy==1.6.4
deepdiff==1.7.0
defusedxml==0.7.1
Deprecated==1.2.13
Django==3.2.15
django-appconf==1.0.5
django-autocomplete-light==2.3.6
django-braces==1.15.0
django-compressor==4.1
django-contrib-comments==2.2.0
django-cors-headers==3.10.1
django-crispy-forms==1.13.0
django-debug-toolbar==3.2.4
django-freshly==0.1.2
django-haystack==3.1.1
django-heartbeat==2.1.0
django-ipware==2.1.0
django-jsonfield==1.4.1
django-modeltranslation==0.12.2
django-nose==1.4.5
django-oauth-toolkit==2.1.0
djangorestframework==3.12.4
django-robots==4.0
django-security==0.12.0
django-test-without-migrations==0.6
django-timedeltafield==0.7.10
django-widget-tweaks==1.4.1
dnspython==2.2.1
docker-py==1.7.2
dominate==2.4.0
DoubleMetaphone==0.1
drf-haystack==1.8.11
drf-yasg==1.20.0
ecdsa==0.18.0
email-validator==1.3.0
exceptiongroup==1.0.4
filebrowser-safe==1.1.1
flake8==6.0.0
flex==6.14.1
flower==0.9.3
foresite@git+https://github.com/sblack-usu/foresite-toolkit.git@94c0c2a8e21a922caa1df6cc412d5dc1a7adb189#subdirectory=foresite-python/trunk
funcsigs==1.0.2
future==0.18.3
GDAL==2.4.1
geographiclib==1.52
geojson==1.3.2
geopy==1.16.0
gevent==22.10.2
grappelli-safe==1.1.1
greenlet==2.0.1
gunicorn==20.1.0
hsmodels@git+https://github.com/hydroshare/hsmodels.git@3197b512d2764e2a4772596fe6c288331e53223e
html5lib==1.1
idna==3.4
inflection==0.3.1
iniconfig==1.1.1
ipaddress==1.0.22
isodate==0.5.4
itypes==1.2.0
Jinja2==3.1.2
jsonpointer==1.14
jsonschema==2.6.0
jwcrypto==1.4.2
keepalive==0.5
kiwisolver==1.4.4
kombu==4.6.11
lazy-object-proxy==1.8.0
lxml==4.9.2
Markdown==3.0.1
MarkupSafe==2.0.1
matplotlib==3.1.2
mccabe==0.7.0
Mezzanine==5.1.4
mock==1.3.0
nameparser==0.5.7
netCDF4==1.5.1.2
nose==1.3.7
nose-timer==0.7.6
numpy==1.16.6
oauthlib==3.1.0
OWSLib==0.10.3
packaging==21.3
paramiko==2.12.0
pbr==1.10.0
pep8==1.7.0
Pillow==9.3.0
pip==22.3.1
pluggy==1.0.0
prettytable==0.7.2
probableparsing==0.0.1
probablepeople==0.5.4
psutil==5.9.4
psycopg2==2.9.5
pyasn1==0.4.4
pycodestyle==2.10.0
pycparser==2.21
PyCRS==1.0.1
pydantic==1.10.2
pydebug==1.0.3
pyflakes==3.0.1
PyLD==2.0.3
pylint==2.15.9
PyNaCl==1.5.0
pyparsing==3.0.9
pyproj==3.4.0
pysolr==3.9.0
pytest==7.2.0
pytest-cov==4.0.0
pytest-django==4.5.2
python-crfsuite==0.9.8
python-dateutil==2.8.0
python-irodsclient==0.8.1
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
rcssmin==1.1.0
rdflib==5.0.0
redis==2.10.5
requests==2.28.1
requests-oauthlib==1.3.1
rfc3987==1.3.8
rjsmin==1.2.0
robot-detection==0.4
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
selenium==3.0.2
setuptools==57.5.0
six==1.16.0
sorl-thumbnail==12.8.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
strict-rfc3339==0.7
suds-jurko==0.6
timeago==1.0.10
tomli==2.0.1
tornado==5.1.1
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
ua-parser==0.16.1
uritemplate==3.0.0
urllib3==1.26.13
validate-email==1.3
vine==1.3.0
virtualenv==15.0.2
webencodings==0.5.1
websocket-client==1.4.2
wheel==0.38.4
wrapt==1.14.1
xmlrunner==1.7.7
xmltodict==0.10.2
zope.event==4.5.0
zope.interface==5.5.2
