<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles theme_tags hydroshare_tags %}
{% get_site_conf as siteconf %}
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">

<meta name="keywords" content="{% block meta_keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endblock %}">
<meta name="description" content="{% block meta_description %}{{ mega_description }}{% endblock %}">


<title>{% block meta_title %}{{ title }}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

<link rel="shortcut icon" href="{% static "img/favicon.png" %}">

<link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static "fonts/font-mfizz/font-mfizz.css" %}" />

{% compress css %}
<link href="{% static "css/bootstrap.3.0.2.min.css" %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static "css/animate.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/elements.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/hydroshare_core.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/hydroshare_extends.css" %}" />
<link rel='stylesheet' type='text/css' href='{% static 'css/jquery-ui/smoothness/jquery-ui.css' %}' />
{% if request.user.is_staff %}
<style>
    .animated{
        animation-fill-mode: none;
    }
</style>
{% endif %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/custom.js" %}"></script>
<script src="{% static "js/scrolltopcontrol.js" %}"></script><!-- Scroll to top javascript -->
<script src="{% static "js/jqcsrf.js" %}"></script>
<script src='{% static 'js/jquery-ui.js' %}'></script>
<script src="{% static "js/bootstrap.3.0.2.min.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}
{% include 'autocomplete_light/static.html' %}

{% load inplace_edit %}
{% inplace_static %}
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<!--[if IE]>
<style>
    .showcase {
         zoom: 0.6;
    }
</style>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">
<!-- Navbar
    ============= -->
    <div id="hs-nav-bar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img id="img-brand-logo" src="{{ STATIC_URL }}img/logo-lg.png"
                                                      alt="{{ settings.SITE_TITLE }}"/></a>
            </div>
            <div class="collapse navbar-collapse">
                {%  include 'nopages/nav_menu.html' %}
            </div>
        </div>
    </div>
    {% nevercache %}
    {% if messages %}
    {% for message in messages %}
    <div class="page-tip animated slideInDown">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="close btn-close-message">&times;</button>  {# TODO: TESTING #}
                    <p>{{ message }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endnevercache %}

    <!-- Universal message box for AJAX requests -->
    <div id="universalMessage">
      <span>Hi, I'm an error.</span>
      <a href="#" class="um_close" id="UMClose">x</a>
    </div>

    {% block all_content %}
        <div class="main-container">
            {% block main %}{% endblock %}
            {% block after_main %}{% endblock %}
                </div>
    {% endblock %}

    <!-- Foooter
    ================== -->
    <footer>
        <div class="container">
            <div class="row">
                <!-- Contact Us
                    =================  -->
                <div class="col-md-4 col-sm-4">
                    <div class="headline">
                        <h3>
                            Contact us
                        </h3>
                    </div>
                    <div class="content">
                        <p class="p1">
                            Email us at <a href="mailto:support@hydroshare.org">hydroshare.org</a>
                        </p>
                    </div>
                </div><!-- Social icons
                    ===================== -->
                <div class="col-md-4 col-sm-4">
                    <div class="headline">
                        <h3>
                            Follow
                        </h3>
                    </div>
                    <div class="content social">
                        <ul>
                            <li>
                                <a href="http://twitter.com/cuahsi" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/pages/CUAHSI-Consortium-of-Universities-for-the-Advancement-of-Hydrologic-Science-Inc/179921902590" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="http://youtube.hydroshare.org/" target="_blank"><i class="fa fa-youtube"></i></a>
                            </li>
                            <li>
                                <a href="http://github.com/hydroshare" target="_blank"><i class="fa fa-github"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/2632114" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div><!-- Subscribe
                    =============== -->
                <div class="col-md-4 col-sm-4">
                    <div class="headline">
                        <h3>
                            Open Source
                        </h3>
                    </div>
                    <div class="content">
                        <p class="p1">
                            HydroShare is Open Source. Find us on <a href="https://github.com/hydroshare/"><strong>Github</strong></a>.
                        </p>
                        <p class="p1">
                            Report a bug <strong><a href="https://github.com/hydroshare/hydroshare/issues?state=open">here</a></strong>
                        </p>
                        <p class="p1">
                            This is HydroShare Version <b>1.12.1</b>
                        </p>
                    </div>
                </div>
            </div>
        </div><!-- Legal
            ============= -->
        <div class="legal">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            &copy; 2017 CUAHSI. This material is based upon work supported by the National Science Foundation (NSF) under awards 1148453 and 1148090. Any opinions, findings, conclusions, or recommendations expressed in this material are those of the authors and do not necessarily reflect the views of the NSF. | <a href="/terms-of-use">Terms Of Use</a> | <a href="/privacy">Statement of Privacy</a> | <a href="/sitemap/">Site Map</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
