#!/usr/bin/env bash

# init-hydroshare
# HydroShare container intiliaization script
# Author: Michael Stealey <michael.j.stealey@gmail.com>

sleep 3s
cp /hydroshare/hydroshare.conf /etc/supervisor/conf.d/hydroshare.conf

HS_DJANGO_SERVER
