
.mpElement {
    font-weight: bold;
    padding: 2px;
}

a.mpElement::after {
    display: block;
    font-weight: bold;
    height: 2px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
}

div#mp.row {
    padding: 5px 0
}

option:checked {
    background: #0073ea;
}
table {
    padding: 2px;
    width: 100%;
}

#div_section_table {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}
#section_table {
    width: 50%;
}

.div-multi-select {
    max-width: 400px;
}
.btn-group {
    width: 100%;
}
.multiselect {
    width: 100%;
    text-align: right;
}
.input-sm {
    max-width: 550px;
}

/* Activate multi-line list elements in the droplist.
   This makes long filenames look nice.  */
.multiselect-container > li > a {
    white-space: normal;
}
