html, body{
	height:100%;
	width:100%;
}

div.table .file-row > div {
	display: table-cell;
	vertical-align: top;
	border-top: 1px solid #ddd;
	padding: 8px;
}

.file-row{
	display: table-row;
}

.dropdown-menu {
	top: auto;
	left: auto;
}