{% load i18n %}
{% block main %}
    <p>{% trans "Dear " %}{{ user.first_name }} {{ user.last_name }},</p>
    <p>{% trans "User " %}{{ user_from.first_name }} {{ user_from.last_name }} 
        (<a href="{{ request.scheme }}://{{ request.get_host }}/user/{{ user_from.id }}">{{ request.scheme }}://{{ request.get_host }}/user/{{ user_from.id }}</a>), 
        has requested publication of the following resource:</p>
        <p><a href="{{ request.scheme }}://{{ request.get_host }}/resource/{{ resource.short_id }}">{{ request.scheme }}://{{ request.get_host }}/resource/{{ resource.short_id }}</a></p>
    
    User Type: {{ user_from.userprofile.user_type }}<br>
    Organization: {{ user_from.userprofile.organization }}<br>
    Country: {{ user_from.userprofile.country }}<br>
    State/Province: {{ user_from.userprofile.state }}<br>
    Email: {{ user_from.email }}<br>
    {% if user_from.userprofile.title %}User Title: {{ user_from.userprofile.title }}<br>{% endif %}
    
    <!-- TODO: drc add resource metadata info -->
    <p>Click on the link below to accept this request.</p>

    <p><a href="{{ request.scheme }}://{{ request.get_host }}{{ action_url }}">{{ request.scheme }}://{{ request.get_host }}{{ action_url}}</a></p>

        <p>{% trans "Thanks, The HydroShare Team" %}</p>
{% endblock %}