{% block modal_irods_login %}
    <div class="modal fade" id="irodsSignin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form class="form-signin" role="form" action="/irods_login/" method="post" id="irodsLogin">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Sign in to an iRODS Server</h4>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <input type="hidden" name="path" value="{{ request.path }}"/>
                        <div class="form-group">
                            <label for="id_username">iRODS Username: </label>
                            <input id="username" class="form-control" name="username" placeholder="Username" value="" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="id_password">iRODS Password:</label>
                            <input id="password" class="form-control" name="password" placeholder="Password" value="" type="password" />
                        </div>
                        <div class="form-group">
                            <label for="id_host">Host:</label>
                            <input id="host" class="form-control" name="host" placeholder="Host" value="" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="id_port">Port:</label>
                            <input id="port" class="form-control" name="port" placeholder="port" value="1247" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="id_zone">Zone:</label>
                            <input id="zone" class="form-control" name="zone" placeholder="Zone" value="" type="text" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}