{% block modal_irods_browse %}
    <div class="modal fade" id="irodsContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
        <div class="modal-backdrop up-load" style="opacity:0.5"></div>
        <img class="ajax-loader" width='100' height='100' src="{{STATIC_URL}}img/ajax-loader.gif" align='center' style="position:absolute;z-index:100000;top:28%;left:50%;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">iRODS user: <span id="irods_content_label"></span> </h4>
                </div>
                <form class="form-signin" role="form" action="" method="post" id="irodsUpload">
                    <div class="modal-body">
                        {% csrf_token %}
                        <input type="hidden" name="store" id="root_store" value=""/>
                        <input type="hidden" name="res_id" id="res_id" value="{{ cm.short_id }}"/>
                        <input type="hidden" id="irods_username" name="irods_username" value="">
                        <input type="hidden" id="irods_password" name="irods_password" value="">
                        <input type="hidden" id="irods_host" name="irods_host" value="">
                        <input type="hidden" id="irods_port" name="irods_port" value="">
                        <input type="hidden" id="irods_zone" name="irods_zone" value="">
                        <input type="hidden" id="upload_store" value=""/>
                        <div>
                            <div>Viewing : <input type="text" class="form-control" id="irods_view_store" ></div>
                            <div id = "file_struct"></div>
                        </div>
                        <div id="file-types-irods">Any file type can be uploaded.</div>
                        <div id="file-multiple-irods">Multiple file upload is allowed.</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" id="iget_irods" class="btn btn-primary">Select</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/irods.js"></script>
{% endblock %}