
<div id="irods-group" class="btn-group">
    <button type="button"
            class="btn btn-default btn-xs dropdown-toggle fb-space-right"
            data-toggle="dropdown" aria-haspopup="true"
            title="Add files from an iRODS server"
            aria-expanded="false">
        <span>iRODS</span>&nbsp;<span class="caret"></span>
    </button>

    <ul class="dropdown-menu text-left">
        <li id="btn-signin-irods" data-toggle="modal"
            data-target="#irodsSignin">
            <a>
                <span class="glyphicon glyphicon-log-in icon-blue"></span>&nbsp;&nbsp;Log in to iRODS
            </a>
        </li>

        <li id="btn-select-irods-file" class="dz-clickable hidden"
            data-toggle="modal" data-target="#irodsContent">
            <a>
                <i class="fa fa-plus icon-green"></i>&nbsp;&nbsp;Add files from iRODS...
            </a>
        </li>

        <li role="separator" class="divider hidden"></li>
        <li id="btn-signout-irods" class="hidden">
            <a>
                <span class="glyphicon glyphicon-log-out btn-remove"></span>&nbsp;&nbsp;Log out of iRODS
            </a>
        </li>
    </ul>
</div>