<script type="text/javascript" src="/static/mezzanine/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.3.0.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-extras.js"></script>
<script type="text/javascript" src="/static/js/tus.min.js"></script> 

<p>Uploading to destination '{{ path }}'</p>

<form> <input type='file' id='what'> </form>

<div id='upload_status'> 
Upload not yet started. 
</div> 

<script>
what = document.getElementById("what"); 

what.addEventListener("change", function(e) {
    // Get the selected file from the input element
    var file = e.target.files[0]

    // check that name given is acceptable via synchronous call
    $.ajax({ url: "{{ STATIC_URL }}hs_upload/start/{{ path }}", 
             async: false, 
             data: {filename: file.name, filetype: file.type }, 
           }).done(function() { 

                // Create a new tus upload
                var upload = new tus.Upload(file, {
                    // Endpoint is the upload creation URL from your tus server
                    // This is a direct passthough to tusd from nginx
                    endpoint: "{{ STATIC_URL }}upload/",
                    // Retry delays will enable tus-js-client to automatically retry on errors
                    retryDelays: [0, 3000, 5000, 10000, 20000],
                    // Attach additional meta data about the file for the server
                    metadata: {
                        filename: file.name,
                        filetype: file.type,
                        filepath: "{{ path }}"
                    },
                    // Callback for errors which cannot be fixed using retries
                    onError: function(error) {
                        console.log("Failed because: " + error); 
                        document.getElementById('upload_status').innerHTML = "<p>failed because: " + error + "</p>"; 
                        $.ajax("{{ STATIC_URL }}hs_upload/event/{{ path }}", 
                            {data: {event: 'error', filename: file.name, filetype: file.type, reason: error, url: upload.url}});
                    },
                    // Callback for reporting upload progress
                    onProgress: function(bytesUploaded, bytesTotal) {
                        var percentage = (bytesUploaded / bytesTotal * 100).toFixed(2); 
                        console.log(bytesUploaded, bytesTotal, percentage + "%"); 
                        document.getElementById('upload_status').innerHTML = 
                            "<p>uploaded: " + bytesUploaded + ", total: " + bytesTotal + "</p>"; 
                    },
                    // Callback for once the upload is completed
                    onSuccess: function() {
                        console.log("Upload completed:  %s from %s", upload.file.name, upload.url); 
                        document.getElementById("upload_status").innerHTML = "done";
                        $.ajax("{{ STATIC_URL }}hs_upload/finish/{{ path }}", 
                            {data: {filename: file.name, filetype: file.type, size: file.size,
                                    url: upload.url}});
                    }}
                );
                // Start the upload
                upload.start()
            });

});

</script>
<span id="csrf">{% csrf_token %}</span>
