<html>
<head>
<link href="https://releases.transloadit.com/uppy/v2.12.1/uppy.min.css" rel="stylesheet">
</head> 
<body>
<h3>Resource: {{ resource.title }} <br>
Uploading to folder '{{ folder }}'<br>
<em>Please close this window to choose another upload path.</em></h3> 
<div id='upload-donut-close'><h3><em>Please do not close this window until all requested uploads complete.</em></h3></div> 
<div id='uppy-dashboard'></div>
<h3>Actions taken</h3> 
<div id='upload-actions'></div> 

<script type="text/javascript" src="/static/mezzanine/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.3.0.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-extras.js"></script>
<script type="text/javascript" src="/static/js/tus.min.js"></script>
<script src="https://releases.transloadit.com/uppy/v2.12.1/uppy.min.js"></script>
<script>
var uppy = new Uppy.Core({
  onBeforeFileAdded: (file, rest_of_files) => { 
   // test that the user has permission to upload the file.
   // once the file is in the list of uploads, it's locked.
   console.log("testing file "+file.name+" for possible inclusion");
   var ok = false;
   $.ajax({
      url: "/hs_upload/start/{{ path }}",
      async: false, 
      data: { 
          filename: file.name, 
          filetype: file.type, 
          filesize: file.size 
      }
   }).then(
      // success 
      function(data, textStatus, jqXHR) {
          var message = "file '" + file.name + "' added to upload list.";
          console.log(message); 
          document.getElementById('upload-actions').innerHTML
             += "<p>" + message + "</p>"; 
          ok = true;  // go on with uploading the file
      }, 
      // failure 
      function(jqXHR, textStatus, errorThrown) { 
          var message = "file '" + file.name + "' NOT added to upload list:" 
              + jqXHR.responseText; 
          console.log(message); 
          document.getElementById('upload-actions').innerHTML
             += "<p>" + message + "</p>";
          ok = false; 
      }
   );
   return ok; 
}}); 

uppy.use(Uppy.Dashboard, { 
   id: 'Dashboard', 
   target: '#uppy-dashboard', 
   inline: true, 
   showProgressDetails: true
}); 

uppy.use(Uppy.Tus, { endpoint: 'https://cuahsi-dev-1.hydroshare.org/upload' }); 

// uppy.use(Uppy.Transloadit, {
//    waitForEncoding: true,
//    params: {
//        auth: { key: '3297a2e81c7f4f7da6cc41ece5983c69' },
//    }
// })

uppy.use(Uppy.Dropbox, { 
   target: Uppy.Dashboard,
   companionUrl: 'https://cuahsi-dev-1.hydroshare.org/companion'
}); 

// uppy.use(Uppy.GoogleDrive, {
//   companionUrl: Uppy.Transloadit.COMPANION,
//   companionAllowedHosts: Uppy.Transloadit.COMPANION_PATTERN, 
//   companionKeysParams: {
//     key: '3297a2e81c7f4f7da6cc41ece5983c69',
//     credentialsName: 'google-drive-upload',
//   }
// });

uppy.use(Uppy.GoogleDrive, { 
   target: Uppy.Dashboard,
   companionUrl: 'https://cuahsi-dev-1.hydroshare.org/companion'
}); 

uppy.use(Uppy.Box, { 
   target: Uppy.Dashboard,
   companionUrl: 'https://cuahsi-dev-1.hydroshare.org/companion'
}); 

uppy.on('file-removed', (file, reason) => {
   var ok = false; 
   $.ajax({ 
      url: "/hs_upload/stop/{{ path }}", 
      async: false, 
      data: { 
          filename: file.name, 
          filetype: file.type,
          filesize: file.size 
      }, 
   }).then(
      // success 
      function(data, textStatus, jqXHR) { 
          var message = "file '" + file.name + "' removed from upload list";
          console.log(message); 
          document.getElementById('upload-actions').innerHTML
             += "<p>" + message + "</p>"; 
          ok = true; 
      },
      // failure 
      function(jqXHR, textStatus, errorThrown) { 
          var message = "file '" + file.name + "' NOT removed from upload list:" 
              + jqXHR.responseText; 
          console.log(message); 
          document.getElementById('upload-actions').innerHTML
             += "<p>" + message + "</p>";
          ok = false; 
      } 
   ); 
   return ok; 
}); 
uppy.on('upload-success', (file, response) => { 
   console.log(file.name, response.uploadURL)
   $.ajax({ 
      url: "/hs_upload/finish/{{ path }}", 
      data: { 
          filename: file.name, 
          filetype: file.type, 
          filesize: file.size, 
          url: response.uploadURL 
      }, 
      onError: function(error) { 
          console.log("Failed because: " + error); 
      }
   }).then(
      // success 
      function(data, textStatus, jqXHR) { 
          var message = "file '" + file.name + "' uploaded to resource.";
          console.log(message); 
          document.getElementById('upload-actions').innerHTML
             += "<p>" + message + "</p>"; 
      }, 
      // failure
      function(jqXHR, textStatus, errorThrown) { 
          var message = "file '" + file.name + "' failed to upload:" 
              + jqXHR.responseText; 
          console.log(message); 
          document.getElementById('upload-actions').innerHTML
             += "<p>" + message + "</p>";
      } 
   ); 
}); 

// on close, update opener's variables. 
window.onbeforeunload = function() { 
    delete(window.opener.uploadWindow); 
}
</script>
</body>
</html> 
