<div class="modal fade" id="collection-candidate" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:65%;">
            <div class="modal-content" style="height: 90vh; overflow: scroll;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Collectable Resources</h4>
                </div>
                {% include "pages/collectable_resources_modal_body.html" %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="save-collection-btn-cancel">
                       Cancel
                    </button>
                    <button type="button" class="btn btn-success" id="save-collection-btn-ok">
                        Add to collection
                    </button>
                </div>
            </div>
        </div>
</div>
