{% extends "pages/genericresource.html" %}
{% load geoanalytics_tags pages_tags mezzanine_tags crispy_forms_tags %}

{#{% block tools %}#}
{#{% endblock %}#}

{% block content %}
{% endblock %}

{#{% block extra_content %}#}
{#{% endblock %}#}

{% block extended_metadata %}
    {% if extended_metadata_exists %}
        <div class="row">
            <div class="col-md-12">
                <div>
                    {% if collection_items %}
                        <h4><strong>Collection Items:</strong></h4>
                        <hr style="margin-top: 0px;margin-bottom: 2px">
                        <div class="row">
                        {% autoescape off %}
                            <div class="col-sm-8">{{ collection_items }}</div>
                        {% endautoescape %}

                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {%  endif %}
{%  endblock %}

{% block extra_js %}
    {{ block.super }}
    <div id="checked_res_div" hidden="true">{{ checked_res }}</div>
    {# put resource specific js below #}
    <script type="text/javascript">
        $(document).ready(function(){
            var checked_res_str=$("#checked_res_div").text();
            var checked_res_array=checked_res_str.split(",");
            for (var i = 0; i < checked_res_array.length; i++)
            {
                var checked_res_item=checked_res_array[i];
                $("input[value='"+checked_res_item+"']").attr("checked","true");
            }
        })
    </script>
{% endblock %}