{# This template is used as the landing page for NetCDF Resource #}

{% extends "pages/genericresource.html" %}
{% load geoanalytics_tags pages_tags mezzanine_tags crispy_forms_tags %}

{% block extended_metadata %}
    {% if extended_metadata_exists %}
        <div class="row">
            <div class="col-md-12">
                <h2>Extended Metadata</h2>

                {# Add the view mode html code below #}
                <div>
                    {% if variables %}
                        {% for variable in variables %}
                            <h4><strong>Variable:</strong></h4>
                            <hr style="border-color: dodgerblue; margin-top: 0px;margin-bottom: 2px">
                            {# Required extended meta subelement for Variable #}
                            <div class="row">
                                <div class="col-sm-4"><strong>Name:</strong></div>
                                <div class="col-sm-8">{{ variable.name }}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"><strong>Unit:</strong></div>
                                <div class="col-sm-8">{{ variable.unit }}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"><strong>Type:</strong></div>
                                <div class="col-sm-8">{{ variable.type }}</div>
                            </div>
                            <div class="row">
                                    <div class="col-sm-4"><strong>Shape:</strong></div>
                                    <div class="col-sm-8">{{ variable.shape }}</div>
                            </div>

                            {# Optional extended meta subelement for Variable #}
                            {% if variable.descriptive_name %}
                                <div class="row">
                                    <div class="col-sm-4"><strong>Descriptive Name:</strong></div>
                                    <div class="col-sm-8">{{ variable.descriptive_name }}</div>
                                </div>
                            {% endif %}
                            {% if variable.method %}
                                <div class="row">
                                    <div class="col-sm-4"><strong>Method:</strong></div>
                                    <div class="col-sm-8">{{ variable.method }}</div>
                                </div>
                            {% endif %}
                            {% if variable.missing_value %}
                                <div class="row">
                                    <div class="col-sm-4"><strong>Missing Value:</strong></div>
                                    <div class="col-sm-8">{{ variable.missing_value }}</div>
                                </div>
                            {% endif %}

                        {% endfor %}
                    <hr>
                    {% endif %}

                {# Add ncdump info #}
                {% for f in cm.files.all %}
                    {% if f.resource_file.name|slice:"-3:" == 'txt'%}
                        <div>
                        <h4>NetCDF Data Header Information</h4>
                        <p>{{ f.resource_file.name|slice:"33:" }}</p>
                        {% if f.resource_file.size <= 5000000 %}
                            <textarea readonly rows="20" cols="100">{{ f.resource_file.read}}</textarea>
                        {% else %}
                            <textarea readonly rows="2" cols="100">The size of the netCDF header information text file is too large for loading on the page.</textarea>
                        {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}

                </div>
                {# Add the view mode html code above #}


            </div>
        </div>
    {%  endif %}
{%  endblock %}


{% block extra_js %}
    {{ block.super }}

    {# resource specific js can go here #}

{%  endblock %}


