{% extends "base.html" %}

{% block title %}xDCIShare Site metrics{% endblock %}

{% block main %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Site statistics</h3>
  </div>
  <div class="panel-body">
      <div class="list-group">
          <div class="list-group-item">
              <strong>Number of registered users</strong>
              <span class="pull-right">{{ metrics.n_registered_users }}</span>
          </div>
          <div class="list-group-item">
              <strong>Number of logged on users</strong>
              <span class="pull-right">{{ metrics.n_users_logged_on }}</span>
          </div>
          <div class="list-group-item">
              <strong>Maximum logon duration</strong>
              <span class="pull-right">{{ metrics.max_logon_duration }}</span>
          </div>
      </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Resource statistics</h3>
  </div>
  <div class="panel-body">
        <h5>Overall</h5>
        <div class="list-group">
            <div class="list-group-item">
                <strong>Number of resources</strong>
                <span class="pull-right">{{ metrics.n_resources }}</span>
            </div>
            <div class="list-group-item">
                <strong>Number of comments</strong>
                <span class="pull-right">{{ metrics.n_comments }}</span>
            </div>
            <div class="list-group-item">
                <strong>Number of ratings</strong>
                <span class="pull-right">{{ metrics.n_ratings }}</span>
            </div>
            <div class="list-group-item">
                <strong>Number of citations</strong>
                <span class="pull-right">{{ metrics.n_citations }}</span>
            </div>
        </div>

        <h5>Resource types</h5>
        <div class="list-group">
            {% for resource_type, count in metrics.resource_type_counts %}
            <div class="list-group-item">
                <strong>{{ resource_type }}</strong>
                <span class="pull-right">{{ count }}</span>
            </div>
            {% endfor %}
        </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">User statistics</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <div class="list-group-item">
          <strong>Number of agencies</strong>
          <span class="pull-right">{{ metrics.n_agencies }}</span>
      </div>
      <div class="list-group-item">
          <strong>Number of host institutions</strong>
          <span class="pull-right">{{ metrics.n_host_institutions }}</span>
      </div>
    </div>

    <h5>Subject areas</h5>
    <div class="list-group">
        {% for subj, ct in metrics.user_subject_areas %}
            <div class="list-group-item"><strong>{{ subj }}</strong><span class="pull-right">{{ ct }}</span></div>
        {% endfor %}
    </div>

    <h5>Titles</h5>
    <div class="list-group">
        {% for subj, ct in metrics.user_titles %}
            <div class="list-group-item"><strong>{{ subj }}</strong><span class="pull-right">{{ ct }}</span></div>
        {% endfor %}
    </div>

    <h5>Professions</h5>
    <div class="list-group">
        {% for subj, ct in metrics.user_professions %}
            <div class="list-group-item"><strong>{{ subj }}</strong><span class="pull-right">{{ ct }}</span></div>
        {% endfor %}
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Open Source statistics</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <div class="list-group-item">
          <strong>Number of core developers</strong>
          <span class="pull-right">6 {# fixme #}</span>
      </div>
      <div class="list-group-item">
          <strong>Number of extension developers</strong>
          <span class="pull-right">29 {# fixme #}</span>
      </div>
      </div>
  </div>
</div>

{% endblock %}
