#web-app-item {
    width: 225px;
    height: 150px;
    display:inline-block;
    box-sizing: border-box;
    padding-left: 1vw;
    text-align:center;
}
.user-webapp-icon, #tool-icon-preview, #tool-icon{
    width:80px;
    height:80px;
    border-radius: 7px;
    margin: 10px;
}
.default-webapp-icon {
    width: 100px;
    height: 100px;
}
.dropdown-user-webapp-icon {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin: 5px;
}
.dropdown-default-webapp-icon {
    width: 50px;
    height: 50px;
}
#apps-dropdown {
    position: absolute;
    right: 14px;
    bottom: 0;
}
.dropdown-menu > li > a {
    padding: 0;
}
