#web-app-item {
    display:inline-block;
    box-sizing: border-box;
    padding-left: 1vw;
    text-align:center;

}
.user-webapp-icon, #tool-icon-preview, #tool-icon{
    width:80px;
    height:80px;
    border: 0;
    border-radius: 7px;
    margin: 10px;
}
.default-webapp-icon {
    width: 100px;
    height: 100px;
}