#web-app-item {
    width: 225px;
    height: 150px;
    display:inline-block;
    box-sizing: border-box;
    padding-left: 1vw;
    text-align:center;
}

.user-webapp-icon, #tool-icon-preview, #tool-icon {
    width: 80px;
    height: 80px;
    border-radius: 7px;
}

.default-webapp-icon {
    width: 100px;
    height: 100px;
}

.dropdown-user-webapp-icon {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-right: 4px;
    border: 1px solid #DDD;
}

.file-options-webapp-icon {
    width: 22px;
    height: 22px;
    border-radius: 2px;
    margin-right: 10px;
}

.dropdown-default-webapp-icon {
    width: 50px;
    height: 50px;
}

#resource-title {
    flex-grow: 1;
    overflow-wrap: anywhere;
}

#apps-dropdown, #apps-url {
    align-self: flex-end;
    margin-left: 8px;
}

#apps-dropdown li > a {
    cursor: pointer;
    overflow: hidden;
    max-width: 300px;
    text-overflow: ellipsis;
}

div#app-approved > img {
    width: 25px;
    height: 25px
}

div#app-approved > span {
    margin-left: 4px;
}

.app-info-toggle {
    position: absolute;
    display: inline-block;
    font-size: 9px;
    background: #FFF none repeat scroll 0% 0%;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 1px #000;
    width: 12px;
    height: 12px;
    left: 170px;
    top: 40px;
}
