#web-app-item {
    width: 225px;
    height: 150px;
    display:inline-block;
    box-sizing: border-box;
    padding-left: 1vw;
    text-align:center;
}

.user-webapp-icon, #tool-icon-preview, #tool-icon{
    width:80px;
    height:80px;
    border-radius: 7px;
    /*margin: 10px;*/
}

.default-webapp-icon {
    width: 100px;
    height: 100px;
}

.dropdown-user-webapp-icon {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin: 5px;
}

.dropdown-default-webapp-icon {
    width: 50px;
    height: 50px;
}

#apps-dropdown {
    position: absolute;
    right: 14px;
    bottom: 20px;
}

.dropdown-menu > li > a {
    padding: 0;
}

.app-info-toggle {
  position: relative;
  display: inline-block;
  left: 45px;
  top: 50px;
  height: 12px;
  width: 12px;
  font-size: 9px;
  background: white;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0 1px #000;
}

.tool-metadata-hr {
    margin-top: 0px;
    margin-bottom: 2px
}
