{# This template is used as the landing page for TimeSeriesResource #}

{% extends "pages/genericresource.html" %}
{#{% load geoanalytics_tags pages_tags mezzanine_tags crispy_forms_tags %}#}
{#{% load geoanalytics_tags pages_tags mezzanine_tags comment_tags keyword_tags hydroshare_tags crispy_forms_tags inplace_edit %}#}

{% block extended_metadata %}
    {% if extended_metadata_exists %}
        <div class="row">
            {% if site or variable or method %}
                <div {% if not processing_level and not timeseries_result %}class="col-md-12 col-xs-12" {% else %}class="col-md-6 col-xs-12"{% endif %}>
                    {% if site %}
                        <legend>Site</legend>
                        <table class="custom-table">
                            <tbody>
                                <tr><th class="text-muted">Code </th><td>{{ site.site_code }}</td></tr>
                                <tr><th class="text-muted">Name </th><td>{{ site.site_name }}</td></tr>
                                <tr><th class="text-muted">Elevation M </th><td>{{ site.elevation_m }}</td></tr>
                                <tr><th class="text-muted">Elevation Datum </th><td>{{ site.elevation_datum }}</td></tr>
                                <tr><th class="text-muted">Site Type </th><td>{{ site.site_type }}</td></tr>
                            </tbody>
                        </table>
                        <hr style="border:0">
                    {%  endif %}

                    {% if variable %}
                        <legend>Variable</legend>
                        <table class="custom-table">
                            <tbody>
                                <tr><th class="text-muted">Code </th><td>{{ variable.variable_code }}</td></tr>
                                <tr><th class="text-muted">Name </th><td>{{ variable.variable_name }}</td></tr>
                                <tr><th class="text-muted">Type </th><td>{{ variable.variable_type }}</td></tr>
                                <tr><th class="text-muted">No Data Value </th><td>{{ variable.no_data_value }}</td></tr>
                                <tr><th class="text-muted">Definition </th><td>{{ variable.variable_definition }}</td></tr>
                                <tr><th class="text-muted">Speciation </th><td>{{ variable.speciation }}</td></tr>
                            </tbody>
                        </table>
                        <hr style="border:0">
                    {% endif %}

                    {% if method %}
                        <legend>Method</legend>
                        <table class="custom-table">
                            <tbody>
                                <tr><th class="text-muted">Code </th><td>{{ method.method_code }}</td></tr>
                                <tr><th class="text-muted">Name </th><td>{{ method.method_name }}</td></tr>
                                <tr><th class="text-muted">Type </th><td>{{ method.method_type }}</td></tr>
                                {% if method.method_description %}
                                    <tr><th class="text-muted">Description </th><td>{{ method.method_description }}</td></tr>
                                {% endif %}
                                {% if method.method_link %}
                                    <tr><th class="text-muted">Link </th><td><a target="_blank" href="{{ method.method_link }}">{{ method.method_link }}</a></td></tr>
                                {% endif %}
                            </tbody>
                        </table>
                        <hr style="border:0">
                    {% endif %}
                </div>
            {% endif %}

            {% if processing_level or timeseries_result %}
                <div {% if not site and not variable and not method %}class="col-md-12 col-xs-12" {% else %}class="col-md-6 col-xs-12"{% endif %}>
                {% if processing_level %}
                    <legend>Processing Level</legend>
                    <table class="custom-table">
                        <tbody>
                            <tr><th class="text-muted">Code </th><td>{{ processing_level.processing_level_code }}</td></tr>
                            {% if processing_level.definition %}
                                <tr><th class="text-muted">Definition </th><td>{{ processing_level.definition }}</td></tr>
                            {% endif %}
                            {% if processing_level.explanation %}
                                <tr><th class="text-muted">Explanation </th><td>{{ processing_level.explanation }}</td></tr>
                            {% endif %}

                        </tbody>
                    </table>
                    <hr style="border:0">
                {% endif %}

                {% if timeseries_result %}
                    <legend>Time Series Result</legend>
                    <table class="custom-table">
                        <tbody>
                            <tr><th class="text-muted">Units Type </th><td>{{ timeseries_result.units_type }}</td></tr>
                            <tr><th class="text-muted">Units Name </th><td>{{ timeseries_result.units_name }}</td></tr>
                            <tr><th class="text-muted">Units Abbreviation </th><td>{{ timeseries_result.units_abbreviation }}</td></tr>
                            <tr><th class="text-muted">Status </th><td>{{ timeseries_result.status }}</td></tr>
                            <tr><th class="text-muted">Sample Medium </th><td>{{ timeseries_result.sample_medium }}</td></tr>
                            <tr><th class="text-muted">Value Count </th><td>{{ timeseries_result.value_count }}</td></tr>
                            <tr><th class="text-muted">Aggregation Statistics </th><td>{{ timeseries_result.aggregation_statistics }}</td></tr>
                        </tbody>
                    </table>
                {% endif %}
                </div>
            {% endif %}
        </div>
    {%  endif %}
{%  endblock %}
{%  block modal_add_file %}
            <div class="modal fade" id="add-file-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form action="/hsapi/_internal/{{ cm.short_id }}/add-file-to-resource/" method="POST" enctype="multipart/form-data">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Add file to resource</h4>
                  </div>
                  <div class="modal-body">
                          {% csrf_token %}
                          <div class="form-group">
                              <label for="add-file-input">Select files:</label>
                              <input type="file" name="files" id="add-file-input" multiple/>
                          </div>
                          <div id="file-types">Any file type can be uploaded.</div>
                          <div id="file-multiple">Multiple file upload is allowed.</div>
                          <br>
                             <h3 style="color: red" id="file-type-error"></h3>
                          <hr>
                          <div>
                              <strong><input type="checkbox" name="extract-metadata" value="No" onclick="setCheckboxValue(this)"> Check to extract metadata from this uploaded file</strong>
                              <h3 style="color:red">If metadata is extracted, existing metadata will be replaced with the extracted ones.</h3>
                          </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
        {% endblock %}
{% block extra_js %}
    {{ block.super }}

    {# resource specific js can go here #}
    <script>
        function setCheckboxValue(el){
            if ($(el).is(':checked')){
                $(el).attr('value', 'Yes')
            }
            else{
                $(el).attr('value', 'No')
            }
            //alert($(el).attr('value'));
        }
    </script>

{%  endblock %}