{# This template is used as the landing page for TimeSeriesResource #}

{% extends "pages/genericresource.html" %}

{% block extended_metadata %}
    {% if extended_metadata_exists %}
        <div id="div-series-selection">
            <div class="col-sm-12">
                <strong>Select a timeseries to see corresponding metadata (Number of
                    timeseries:{{ series_ids.items|length }}):</strong>
                <form action="/resource/{{ cm.short_id }}/" method="get" enctype="multipart/form-data">
                    {% csrf_token %}
                    <select class="form-control" name="series_id" id="series_id">
                        {% for series_id, label in series_ids.items %}
                            {% if selected_series_id == series_id %}
                                <option value="{{ series_id }}" selected="selected"
                                        title="{{ label }}">{{ label|slice:":120"|add:"..." }}</option>
                            {% else %}
                                <option value="{{ series_id }}"
                                        title="{{ label }}">{{ label|slice:":120"|add:"..." }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </form>
                <hr>
            </div>
        </div>
        <div>
            {% if sites or variables or methods %}
                <div {% if not processing_levels and not timeseries_results %}class="col-md-12 col-xs-12" {% else %}class="col-md-6 col-xs-12"{% endif %}>
                    {% if sites %}
                         <legend>Site</legend>
                        {% for site in sites %}
                            {% if not forloop.first %}
                                <legend></legend>
                            {% endif %}
                            <table class="custom-table space-bottom">
                                <tbody>
                                    <tr><th class="text-muted">Code </th><td>{{ site.site_code }}</td></tr>
                                    {% if site.site_name %}
                                        <tr><th class="text-muted">Name </th><td>{{ site.site_name }}</td></tr>
                                    {% endif %}
                                    <tr><th class="text-muted">Elevation M </th><td>{{ site.elevation_m }}</td></tr>
                                    <tr><th class="text-muted">Elevation Datum </th><td>{{ site.elevation_datum }}</td></tr>
                                    <tr><th class="text-muted">Site Type </th><td>{{ site.site_type }}</td></tr>
                                    <tr><th class="text-muted">Latitude </th><td>{{ site.latitude }}</td></tr>
                                    <tr><th class="text-muted">Longitude </th><td>{{ site.longitude }}</td></tr>
                                </tbody>
                            </table>
                        {% endfor %}
                    {%  endif %}

                    {% if variables %}
                        <legend>Variable</legend>
                        {% for variable in variables %}
                            {% if not forloop.first %}
                                <legend></legend>
                            {% endif %}
                            <table class="custom-table space-bottom">
                                <tbody>
                                    <tr><th class="text-muted">Code </th><td>{{ variable.variable_code }}</td></tr>
                                    <tr><th class="text-muted">Name </th><td>{{ variable.variable_name }}</td></tr>
                                    <tr><th class="text-muted">Type </th><td>{{ variable.variable_type }}</td></tr>
                                    <tr><th class="text-muted">No Data Value </th><td>{{ variable.no_data_value }}</td></tr>
                                    <tr><th class="text-muted">Definition </th><td>{{ variable.variable_definition }}</td></tr>
                                    <tr><th class="text-muted">Speciation </th><td>{{ variable.speciation }}</td></tr>
                                </tbody>
                            </table>
                        {% endfor %}
                    {% endif %}

                    {% if methods %}
                        <legend>Method</legend>
                        {% for method in methods %}
                            {% if not forloop.first %}
                                <legend></legend>
                            {% endif %}
                        <table class="custom-table space-bottom">
                            <tbody>
                                <tr><th class="text-muted">Code </th><td>{{ method.method_code }}</td></tr>
                                <tr><th class="text-muted">Name </th><td>{{ method.method_name }}</td></tr>
                                <tr><th class="text-muted">Type </th><td>{{ method.method_type }}</td></tr>
                                {% if method.method_description %}
                                    <tr><th class="text-muted">Description </th><td>{{ method.method_description }}</td></tr>
                                {% endif %}
                                {% if method.method_link %}
                                    <tr><th class="text-muted">Link </th><td><a target="_blank" href="{{ method.method_link }}">{{ method.method_link }}</a></td></tr>
                                {% endif %}
                            </tbody>
                        </table>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}

            {% if processing_levels or timeseries_results %}
                <div {% if not sites and not variables and not methods %}class="col-md-12 col-xs-12" {% else %}class="col-md-6 col-xs-12"{% endif %}>
                {% if processing_levels %}
                    <legend>Processing Level</legend>
                    {% for processing_level in processing_levels %}
                        {% if not forloop.first %}
                            <legend></legend>
                        {% endif %}
                    <table class="custom-table space-bottom">
                        <tbody>
                            <tr><th class="text-muted">Code </th><td>{{ processing_level.processing_level_code }}</td></tr>
                            {% if processing_level.definition %}
                                <tr><th class="text-muted">Definition </th><td>{{ processing_level.definition }}</td></tr>
                            {% endif %}
                            {% if processing_level.explanation %}
                                <tr><th class="text-muted">Explanation </th><td>{{ processing_level.explanation }}</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                    {% endfor %}
                {% endif %}

                {% if timeseries_results %}
                    <legend>Time Series Result</legend>
                    {% for timeseries_result in timeseries_results %}
                        {% if not forloop.first %}
                            <legend></legend>
                        {% endif %}
                    <table class="custom-table space-bottom">
                        <tbody>
                            <tr><th class="text-muted">Units Type </th><td>{{ timeseries_result.units_type }}</td></tr>
                            <tr><th class="text-muted">Units Name </th><td>{{ timeseries_result.units_name }}</td></tr>
                            <tr><th class="text-muted">Units Abbreviation </th><td>{{ timeseries_result.units_abbreviation }}</td></tr>
                            {% if timeseries_result.status %}
                                <tr><th class="text-muted">Status </th><td>{{ timeseries_result.status }}</td></tr>
                            {% endif %}
                            <tr><th class="text-muted">Sample Medium </th><td>{{ timeseries_result.sample_medium }}</td></tr>
                            <tr><th class="text-muted">Value Count </th><td>{{ timeseries_result.value_count }}</td></tr>
                            <tr><th class="text-muted">Aggregation Statistics </th><td>{{ timeseries_result.aggregation_statistics }}</td></tr>
                            {% if utc_offset %}
                                <tr><th class="text-muted">UTC Offset </th><td>{{ utc_offset }}</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                    {% endfor %}
                {% endif %}
                </div>
            {% endif %}
        </div>
    {%  endif %}
{%  endblock %}

{% block upload_message %}
    <li>If the uploaded file is a SQLIte file, metadata will be extracted and will overwrite existing metadata in the resource.</li>
{% endblock %}

{% block extra_js %}
    {{ block.super }}

    {# resource specific js can go here #}
    <script type="text/javascript" src="{{ STATIC_URL }}js/timeseries-resource.js"></script>
{%  endblock %}