{% extends "base.html" %}
{% load pages_tags mezzanine_tags keyword_tags comment_tags hydroshare_tags %}
{% block meta_title %}Discover{% endblock %}
{% block main %}
    <input type="hidden" id="static-url" value="{{ STATIC_URL }}">
    <div class="container" id="discover-main">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-title">Discover</h2>
                <div id="discover-search">
                    <div id="wrapper">
                        <div id="search" class="search-field" @keyup.enter="searchClick('{{ csrf_token }}')">
                            {#                    <input class="form-control" name="query" v-model="searchQuery"#}
                            {#                           @keyup.enter="searchClick('{{ csrf_token }}')">#}
                            <vue-bootstrap-typeahead
                                {#  https://github.com/alexurquhart/vue-bootstrap-typeahead#}
                                :data="{{ vocab }}"
                                v-model="searchQuery"
                                {#  Undocumented https://github.com/alexurquhart/vue-bootstrap-typeahead/issues/19#}
                                ref="searchQuery"
                                {#                    input-class="typeahead-search-input"#}
                                @hit="searchClick('{{ csrf_token }}')"
                                placeholder="">
                            </vue-bootstrap-typeahead>
                            <span class="glyphicon glyphicon-search search-icon"></span>
                            <span @click="clearSearch()" class="glyphicon glyphicon-remove-sign btn-clear-search c-pointer"></span>
                        </div>
                        <a href="{% url 'search' %}?mode=advanced">Advanced Search</a>
                    </div>

                    <div v-if="q">
                        <resource-listing sample="{{ resources }}" itemcount="{{ initialitemcount }}"
                                          :columns="gridColumns"
                                          :labels="gridColumnLabels"
                                          :filter-key="searchQuery">
                        </resource-listing>
                    </div>
                </div>
            </div>

            {#            TODO consider moving to props #}
            <script type="text/javascript">const q = '{{ q }}';</script>


            <script type="text/javascript" src="{{ STATIC_URL }}js/resourceListing.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/search.js"></script>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/search.css"/>
    <link href="{{ STATIC_URL }}css/vue-bootstrap-typeahead.0.2.6.css" rel="stylesheet">
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/vue-2.6.10-dev.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vue-bootstrap-typeahead.0.2.6.min.js"></script>
{% endblock %}
