{% extends "pages/genericresource.html" %}
{% load geoanalytics_tags pages_tags mezzanine_tags crispy_forms_tags %}
{% load staticfiles  %}

{% block content %}
{% endblock %}

{% block extended_metadata %}
    {% if extended_metadata_exists %}
        <div class="row">
            <div class="col-md-12">
                <div>
                    {% if url_base %}
                        <h4><strong>App URL:</strong></h4>
                        <hr style="margin-top: 0px;margin-bottom: 2px">
                        <div class="row">
                            <div class="col-sm-8"><a href='{{ url_base.value }}'>{{ url_base.value }}</a></div>
                        </div>
                        <hr style="border:0">
                    {%  endif %}
                </div>
                <div>
                    {% if version %}
                        <h4><strong>Version:</strong></h4>
                        <hr style="margin-top: 0px;margin-bottom: 2px">
                        <div class="row">
                            <div class="col-sm-8">{{ version.value }}</div>
                        </div>
                        <hr style="border:0">
                    {% endif %}
                </div>
                <div>
                    {% if supported_res_types %}
                        <h4><strong>Supported Resource Types:</strong></h4>
                        <hr style="margin-top: 0px;margin-bottom: 2px">
                        <div class="row">
                            <div class="col-sm-8">{{ supported_res_types }}</div>
                        </div>
                        <hr style="border:0">
                    {% endif %}
                </div>
                <div>
                    {% if tool_icon_url %}
                        <h4><strong>App Icon:</strong></h4>
                        <hr style="margin-top: 0px;margin-bottom: 2px">
                        <div class="row">
                            <div class="col-sm-8"><img id="tool-icon" src="{{ tool_icon_url }}"/></div>
                        </div>
                    {%  endif %}
                </div>
            </div>
        </div>
    {%  endif %}
{%  endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static "js/toolresource.js"%}"></script>
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/toolresource.css"%}"/>
{% endblock %}