{% extends "pages/genericresource.html" %}
{% load pages_tags mezzanine_tags crispy_forms_tags %}
{% load staticfiles  %}

{% block content %}
{% endblock %}

{% block extended_metadata %}
    {% if extended_metadata_exists %}
        {% if homepage_url %}
            <div class="col-lg-6 col-xs-12">
                <h4>Home Page URL:</h4>
                <div class="row">
                    <div class="col-sm-8">{{ homepage_url.value|urlize }}</div>
                </div>
                <br>
            </div>
        {% endif %}
        {% if url_base %}
            <div class="col-lg-6 col-xs-12">
                <h4>App-launching Resource Level URL Pattern:
                    <a href='/terms#AppURLPattern' target='_blank'><font size='3'>Help</font></a>
                </h4>
                <div class="row">
                    <div class="col-sm-8">{{ url_base.value }}</div>
                </div>
                <br>
            </div>
        {% endif %}
        {% if url_base_aggregation %}
            <div class="col-lg-6 col-xs-12">

                <h4>App-launching Aggregation Level URL Pattern:
                    <a href='/terms#AppURLPattern' target='_blank'>
                        <font size='3'>Help</font></a>
                </h4>
                <div class="row">
                    <div class="col-sm-8">{{ url_base_aggregation.value }}</div>
                </div>
                <br>
            </div>
        {% endif %}
        {% if url_base_file %}
            <div class="col-lg-6 col-xs-12">
                <h4>App-launching File Level URL Pattern:
                    <a href='/terms#AppURLPattern' target='_blank'><font size='3'>Help</font></a>
                </h4>
                <div class="row">
                    <div class="col-sm-8">{{ url_base_file.value }}</div>
                </div>
                <br>
            </div>
        {% endif %}
        {% if supported_file_extensions %}
            <div class="col-lg-6 col-xs-12">
                <h4>Supported File Extensions:</h4>
                <div class="row">
                    <div class="col-sm-8">{{ supported_file_extensions.value }}</div>
                </div>
                <br>
            </div>
        {% endif %}
        {% if supported_res_types %}
            <div class="col-lg-6 col-xs-12">
                <h4>Supported Resource Types:</h4>
                <div class="row">
                    <div class="col-sm-8">{{ supported_res_types }}</div>
                </div>
                <br>
            </div>
        {% endif %}
        {% if supported_agg_types %}
            <div class="col-lg-6 col-xs-12">
                <h4>Supported Aggregation Types:</h4>
                <div class="row">
                    <div class="col-sm-8">{{ supported_agg_types }}</div>
                </div>
                <br>
            </div>
        {% endif %}
        {% if supported_sharing_status %}
            <div class="col-lg-6 col-xs-12">
                <h4>Supported Resource Sharing Status:</h4>
                <div class="row">
                    <div class="col-sm-8">{{ supported_sharing_status }}</div>
                </div>
                <br>
            </div>
        {% endif %}
        {% if version %}
            <div class="col-lg-6 col-xs-12">
                <h4>Version:</h4>
                <div class="row">
                    <div class="col-sm-8">{{ version.value }}</div>
                </div>
                <br>
            </div>
        {% endif %}
        {% if tool_icon_url %}
            <div class="col-lg-6 col-xs-12">
                <h4>App Icon:</h4>
                <div class="row">
                    <div class="col-sm-8"><img id="tool-icon" src="{{ tool_icon_url }}"/></div>
                </div>
                <br>
            </div>
        {% endif %}
        {% if testing_protocol_url %}
            <div class="col-lg-6 col-xs-12">
                <h4>Testing Protocol URL:</h4>
                <div class="row">
                    <div class="col-sm-8">{{ testing_protocol_url.value|urlize }}</div>
                </div>
                <br>
            </div>
        {% endif %}
        {% if help_page_url %}
            <div class="col-lg-6 col-xs-12">
                <h4>Help Page URL:</h4>
                <div class="row">
                    <div class="col-sm-8">{{ help_page_url.value|urlize }}</div>
                </div>
                <br>
            </div>
        {% endif %}
        {% if source_code_url %}
            <div class="col-lg-6 col-xs-12">
                <h4>Source Code URL:</h4>
                <div class="row">
                    <div class="col-sm-8">{{ source_code_url.value|urlize }}</div>
                </div>
                <br>
            </div>
        {% endif %}
        {% if issues_page_url %}
            <div class="col-lg-6 col-xs-12">
                <h4>Issues Page URL:</h4>
                <div class="row">
                    <div class="col-sm-8">{{ issues_page_url.value|urlize }}</div>
                </div>
                <br>
            </div>
        {% endif %}
        {% if mailing_list_url %}
            <div class="col-lg-6 col-xs-12">
                <h4>Mailing List URL:</h4>
                <div class="row">
                    <div class="col-sm-8">{{ mailing_list_url.value|urlize }}</div>
                </div>
                <br>
            </div>
        {% endif %}
        {% if roadmap %}
            <div class="col-lg-6 col-xs-12">
                <h4>Roadmap:</h4>
                <div class="row">
                    <div class="col-sm-8">{{ roadmap.value|urlize }}</div>
                </div>
                <br>
            </div>
        {% endif %}
    {% endif %}
{%  endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static "js/toolresource.js"%}"></script>
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/toolresource.css"%}"/>
{% endblock %}
