{% extends "base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li>{{ title }}</li>
{% endblock %}

{% block main_cols %}col-md-6 col-md-offset-3{% endblock %}

{% block main %}

{% errors_for form %}

<form class="account-form" method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    {{ form.errors }}
    {{ form.non_field_errors }}

        <h2>About</h2>

        <div class="row">
            {% include "includes/form_field.html" with field=form.first_name  field_classes="col-md-6" %}
            {% include "includes/form_field.html" with field=form.last_name  field_classes="col-md-6" %}
        </div>
        <div class="row">
            {% include "includes/form_field.html" with field=form.username  field_classes="col-md-6" %}
            {% include "includes/form_field.html" with field=form.email field_classes="col-md-6" readonly="true" %}
        </div>
        <div class="row">
            {% include "includes/form_field.html" with field=form.title field_classes="col-md-6" %}
            {#{% include "includes/form_field.html" with field=form.profession  field_classes="col-md-6" %}#}
        </div>
        <div class="row">
            {% include "includes/form_field.html" with field=form.subject_areas field_classes="col-md-12" %}
        </div>
        <div class="row">
            {% include "includes/form_field.html" with field=form.details field_classes="col-md-12" %}
        </div>
        <div class="row">
            {% include "includes/file_field.html" with field=form.cv field_classes="col-md-5" field_label="Choose a CV to Upload" %}
            {% if form.initial.cv and form.initial.cv.url %}
                <div class="col-md-7">
                    Current CV on Profile:
                    <a href="{{ form.initial.cv.url }}">{{ form.initial.cv.name }}</a>
                </div>
            {% endif %}
        </div>

        <!-- <h2>Photo</h2> -->

        <div class="row">
            <div class="col-md-12">
                {% if form.initial.picture and form.initial.picture.url %}
                <img src="{{ form.initial.picture.url }}" width="100%">
                {% endif %}
            </div>
        </div>
        <div class="row">&nbsp;</div>
        {% if form.initial.picture and form.initial.picture.url %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <span class="btn btn-default btn-file">
                    Replace <input type="file" id="{{ form.picture.auto_id }}" name="{{ form.picture.name }}" />
                </span>
                <button class="btn pull-right" id="{{ form.picture.name }}-clear_id" name="{{ form.picture.name }}-clear" value="clear">Remove</button>
            </div>
            <div class="col-md-2"></div>
        </div>
        {% else %}
        <div class="row">
            {% include "includes/file_field.html" with field=form.picture field_classes="col-md-12" field_label="Choose a Photo to Upload" %}
        </div>
        {% endif %}

        <h2>Change Password</h2>
        <div class="row">
            {% include "includes/form_field.html" with field=form.password1 field_classes="col-md-6" %}
            {% include "includes/form_field.html" with field=form.password2 field_classes="col-md-6" %}
        </div>

        <h2>Contact</h2>

        <div class="row">
            {% include "includes/checkbox_field.html" with field=form.public  field_classes="col-md-12" %}
        </div>

        <div class="row">
            {#{% include "includes/form_field.html" with field=form.organization_type field_classes="col-md-6" %}#}
            {% include "includes/form_field.html" with field=form.organization  field_classes="col-md-12" %}
        </div>

        <div class="row">
            {% include "includes/form_field.html" with field=form.phone_1_type field_classes="col-md-6" %}
            {% include "includes/form_field.html" with field=form.phone_1 field_classes="col-md-6" %}
        </div>

        <div class="row">
            {% include "includes/form_field.html" with field=form.phone_2_type field_classes="col-md-6" %}
            {% include "includes/form_field.html" with field=form.phone_2 field_classes="col-md-6" %}
        </div>


        {% block account_form_actions %}
        <input class="hl-btn hl-btn-green" type="submit" value="{{ title }}">
        {% endblock %}

</form>
{% endblock %}
