{% extends "base.html" %}
{% load mezzanine_tags geoanalytics_tags hydroshare_tags %}

{% block meta_title %}User profile for {{ profile_user|best_name }}{% endblock %}

{% block main %}
    {% with profile_user.userprofile as profile %}

        <div class="row profile-header">
            {% if profile_user.id == user.id %}
                <div class="col-xs-12 col-sm-2 pull-right">
                    <a id="btn-edit-profile" data-toggle="tooltip" data-placement="auto"
                       title="Edit profile" href="{% url 'profile_update' %}"
                       class="glyphicon glyphicon-pencil icon-button btn-edit"></a>
                </div>
            {% endif %}

            <div {% if profile_user.id == user.id %}class="col-xs-12 col-sm-10"{% else %}class="col-sm-12"{% endif %}>
                {#        Profile picture       #}
                {% if profile.picture and profile.picture.url %}
                    <div style="background-image: url('{{ profile.picture.url }}')"
                         class="profile-pic round-image pull-left">
                    </div>
                {% else %}
                    <div class="profile-pic round-image user-icon pull-left"></div>
                {% endif %}

                <div class="profile-info-wrapper">
                    {% if profile_user.first_name or profile_user.last_name %}
                        <h2>{{ profile_user.first_name }} {{ profile_user.last_name }}</h2>
                    {% else %}
                        <h2>{{ profile_user.username }}</h2>
                    {% endif %}

                    {% if profile.organization or profile.title %}
                    <h4 class="text-muted">
                        {% if profile.organization %}{{ profile.organization }}{% endif %}
                        {% if profile.organization and profile.title %} | {% endif %}
                        {% if profile.title %}{{ profile.title }}{% endif %}
                    </h4>
                    {% endif %}
                    {% if profile.subject_areas or profile.profession %}
                    <table class="overview">
                        <tbody>
                        {% if profile.subject_areas %}
                            <tr>
                                <td><span class="text-muted">Subject Areas: </span></td>
                                <td>{{ profile.subject_areas }}</td>
                            </tr>
                        {% endif %}

                        {% if profile.profession %}
                            <tr>
                                <td><span class="text-muted">Profession</span></td>
                                <td>{{ profile.profession }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="full-width-tabs-container">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs full-width-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#overview" aria-controls="home" role="tab"
                       data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i> OVERVIEW</a></li>
                <li role="presentation">
                    <a href="#contributions" aria-controls="profile" role="tab" data-toggle="tab">
                        <i class="glyphicon glyphicon-file"></i> CONTRIBUTIONS</a>
                </li>
{#                <li role="presentation">#}
{#                    <a href="#social" aria-controls="messages" role="tab"#}
{#                       data-toggle="tab"><i class="glyphicon glyphicon-user"></i> SOCIAL</a></li>#}
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="overview">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span class="glyphicon glyphicon-bell">&nbsp;</span>Recent activity</h3>
                                </div>
                                <div class="panel-body">
                                    {% if resources %}

                                    {% for res in resources reversed %}
                                        {# Show only the last five #}
                                        {% if forloop.counter0 < 5 %}
                                        <div class="activity-block">
                                            {% if profile.picture and profile.picture.url %}
                                                <div style="background-image: url('{{ profile.picture.url }}');"
                                                     class="profile-pic-thumbnail round-image pull-left">
                                                </div>
                                            {% else %}
                                                <div class="profile-pic-thumbnail round-image user-icon"></div>
                                            {% endif %}

                                            <div class="metadata-wrapper">
                                                <div class="shared-resource-info">
                                                    {% if profile_user.first_name or profile_user.last_name %}
                                                        <strong>{{ profile_user.first_name }} {{ profile_user.last_name }}</strong>
                                                    {% else %}
                                                        <strong>{{ profile_user.username }}</strong>
                                                    {% endif %}

                                                    <span class="text-muted"> shared </span>
                                                    <span><a href="{{ res.get_absolute_url }}">{{ res.metadata.title }}</a></span>
                                                </div>
                                                <h5><span class="text-muted">Resource type: </span>{{ res|resource_type }}</h5>
                                                <h5><span class="text-muted">Date: </span>{{ res.created }}</h5>
                                            </div>

                                            {% if res.metadata.description %}
                                                <div class="activity-description col-sm-12">
                                                    <p class="description">
                                                        <strong>ABSTRACT: </strong>{{ res.metadata.description|linebreaks }}
                                                    </p>
                                                </div>
                                                <div class="show-more-btn btn-default" title="Show abstract">···</div>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                    {% endfor %}

                                    {% else %}
                                        <span class="text-muted">This user has no recent activity.</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            {#        DESCRIPTION       #}

                            {% if profile.details and not user.is_anonymous %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span class="glyphicon glyphicon-user">&nbsp;</span>About {{ profile_user.first_name }}</h3>
                                </div>
                                <div class="panel-body">
                                    {{ profile.details }}
                                </div>
                            </div>
                            {% endif %}

                            {#  CONTACT #}
                            {% if profile.public or profile_user.id == user.id and not user.is_anonymous %} {# Show only if profile is public and user is logged in #}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                    <h3 class="panel-title"><span class="glyphicon glyphicon-phone-alt">&nbsp;</span>Contact</h3>
                                </div>

                                <div class="panel-body">
                                    <table class="overview">
                                    <tbody>
                                    {% if profile.phone_1 %}
                                        <tr>
                                            <td><span class="text-muted">{% if profile.phone_1_type %}
                                                {{ profile.phone_1_type }}{% else %}Phone{% endif %}</span></td>
                                            <td>{{ profile.phone_1 }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if profile.phone_2 %}
                                        <tr>
                                            <td><span class="text-muted">{{ profile.phone_2_type }}</span></td>
                                            <td>{{ profile.phone_2 }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if profile_user.email %}
                                        {% if not user.is_anonymous %}
                                            <tr>
                                                <td><span class="text-muted">Email</span></td>
                                                <td>
                                                    <a href="mailto:{{ profile_user.email }}">send email to
                                                        {% if profile_user.first_name or profile_user.last_name %}
                                                            {{ profile_user.first_name }} {{ profile_user.last_name }}
                                                        {% else %}
                                                            {{ profile_user.username }}
                                                        {% endif %}
                                                    </a>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td><span class="text-muted">Email</span></td>
                                                <td>(<a href="/accounts/login/">Log in to send email</a>)</td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                    </tbody>
                                </table>
                                </div>
                            </div>
                            {% endif %}


                            {#      AFFILIATIONS     #}
    {#                        <div class="panel panel-default">#}
    {#                            <div class="panel-heading">#}
    {#                                <h3 class="panel-title">Affiliations</h3>#}
    {#                            </div>#}
    {#                            <div class="panel-body">#}
    {#                                <ul class="list-affiliations list-unstyled">#}
    {#                                    <li>#}
    {#                                        <div class="col-sm-3" style="padding:0">#}
    {#                                            <a href="http://www.usu.edu/" target="_blank"><img#}
    {#                                                    class="img-responsive affiliation-logo"#}
    {#                                                    src="http://www.usu.edu/prm/identity/logos/vertical-blue.jpg"#}
    {#                                                    alt="USU logo"></a>#}
    {#                                        </div>#}
    {#                                        <div class="col-sm-9" style="padding:0 10px">#}
    {#                                            <a href="http://www.usu.edu/" target="_blank">#}
    {#                                                <span class="organization_name">Utah State University</span></a>#}
    {#                                            <span class="text-muted">(2001-2015)</span>#}
    {#                                            <h5 class="text-muted">8200 Old Main Hill, Logan, UT, 84322</h5>#}
    {#                                            <h5 class="text-muted">Civil and Environmental Engineering | Professor</h5>#}
    {#                                            <h5 class="text-muted">(904) 343 3074</h5>#}
    {#                                        </div>#}
    {#                                    </li>#}
    {##}
    {#                                    <li>#}
    {#                                        <div class="col-sm-3" style="padding:0">#}
    {#                                            <a href="http://uwrl.usu.edu/" target="_blank"><img#}
    {#                                                    class="img-responsive affiliation-logo"#}
    {#                                                    src="http://uwrl.usu.edu/sites/default/files/uwrllogo.gif"#}
    {#                                                    alt="UWRL logo"></a>#}
    {#                                        </div>#}
    {#                                        <div class="col-sm-9" style="padding:0 10px">#}
    {#                                            <a href="http://www.usu.edu/" target="_blank">#}
    {#                                        <span class="organization_name">Utah Water Research#}
    {#                                        Laboratory</span></a>#}
    {#                                            <span class="text-muted">(2001-2015)</span>#}
    {#                                            <h5 class="text-muted">1600 Canyon Road, Logan, UT, 84321</h5>#}
    {#                                            <h5 class="text-muted">Software Programming and Research Support | Web#}
    {#                                                Developer</h5>#}
    {#                                            <h5 class="text-muted">(904) 343 3074</h5>#}
    {#                                        </div>#}
    {#                                    </li>#}
    {#                                </ul>#}
    {##}
    {#                            </div>#}
    {#                        </div>#}
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="contributions">
                    <div class="row">
                        <div class="col-sm-12"><legend>Resources</legend></div>
                        <div class="col-sm-12 col-md-3">
                            <table class="table-user-contributions table table-hover">
                                <tbody>
                                    <tr id="badge-all" class="active" data-type="all">
                                        <td><span>All</span></td>
                                        <td><span class="badge">0</span></td>
                                    </tr>
                                    <tr id="badge-generic" data-type="type-Generic">
                                        <td><span>Generic</span></td>
                                        <td><span class="badge">0</span></td>
                                    </tr>
                                     <tr id="badge-geographic-feature" data-type="type-Geographic Feature (ESRI Shapefiles)">
                                        <td><span>Geographic Feature</span></td>
                                        <td><span class="badge">0</span></td>
                                    </tr>
                                    <tr id="badge-geographic" data-type="type-Geographic Raster">
                                        <td><span>Geographic Raster</span></td>
                                        <td><span class="badge">0</span></td>
                                    </tr>
                                    <tr id="badge-his" data-type="type-HIS Referenced Time Series">
                                        <td><span>HIS Referenced Time Series</span></td>
                                        <td><span class="badge">0</span></td>
                                    </tr>
                                    <tr id="badge-model-instance" data-type="type-Model Instance Resource">
                                        <td><span>Model Instance</span></td>
                                        <td><span class="badge">0</span></td>
                                    </tr>
                                    <tr id="badge-model-program" data-type="type-Model Program Resource">
                                        <td><span>Model Program</span></td>
                                        <td><span class="badge">0</span></td>
                                    </tr>
                                    <tr id="badge-multidimensional" data-type="type-Multidimensional (NetCDF)">
                                        <td><span>Multidimensional (NetCDF)</span></td>
                                        <td><span class="badge">0</span></td>
                                    </tr>
                                    <tr id="badge-script" data-type="type-Script Resource">
                                        <td><span>Script Resource</span></td>
                                        <td><span class="badge">0</span></td>
                                    </tr>
                                    <tr id="badge-swat" data-type="type-SWAT Model Instance Resource">
                                        <td><span>SWAT Model Instance</span></td>
                                        <td><span class="badge">0</span></td>
                                    </tr>
                                    <tr id="badge-time-series" data-type="type-Time Series">
                                        <td><span>Time Series</span></td>
                                        <td><span class="badge">0</span></td>
                                    </tr>
                                    <tr id="badge-web-app" data-type="type-Web App Resource">
                                        <td><span>Web App</span></td>
                                        <td><span class="badge">0</span></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            {% if resources %}
                            {% for res in resources %}
                                <div data-type="type-{{ res|resource_type }}" class="contribution">
                                    <div class="icon-resource-type-wrapper">
                                    <span class="icon-resource-type">
                                        <span><strong>{{ res|resource_type }}</strong></span>
                                        {% if res|resource_type == "Generic" %}
                                            <img src="{{ STATIC_URL }}img/resource-icons/generic48x48.png"
                                                 alt="{{ res|resource_type }}"
                                                 title="{{ res|resource_type }}"/>
                                        {% elif res|resource_type == "Geographic Raster" %}
                                            <img src="{{ STATIC_URL }}img/resource-icons/geographicraster48x48.png"
                                                 alt="{{ res|resource_type }}"
                                                 title="{{ res|resource_type }}"/>
                                        {% elif res|resource_type == "HIS Referenced Time Series" %}
                                            <img src="{{ STATIC_URL }}img/resource-icons/his48x48.png"
                                                 alt="{{ res|resource_type }}"
                                                 title="{{ res|resource_type }}"/>
                                        {% elif res|resource_type == "Script Resource" %}
                                            <img src="{{ STATIC_URL }}img/resource-icons/script48x48.png"
                                                 alt="{{ res|resource_type }}"
                                                 title="{{ res|resource_type }}"/>
                                        {% elif res|resource_type == "Model Program Resource" %}
                                            <img src="{{ STATIC_URL }}img/resource-icons/modelprogram48x48.png"
                                                 alt="{{ res|resource_type }}"
                                                 title="{{ res|resource_type }}"/>
                                        {% elif res|resource_type == "Model Instance Resource" %}
                                            <img src="{{ STATIC_URL }}img/resource-icons/modelinstance48x48.png"
                                                 alt="{{ res|resource_type }}"
                                                 title="{{ res|resource_type }}"/>
                                        {% elif res|resource_type == "SWAT Model Instance Resource" %}
                                            <img src="{{ STATIC_URL }}img/resource-icons/swat48x48.png"
                                                 alt="{{ res|resource_type }}"
                                                 title="{{ res|resource_type }}"/>
                                        {% elif res|resource_type == "Multidimensional (NetCDF)" %}
                                            <img src="{{ STATIC_URL }}img/resource-icons/multidimensional48x48.png"
                                                 alt="{{ res|resource_type }}"
                                                 title="{{ res|resource_type }}"/>
                                        {% elif res|resource_type == "Time Series" %}
                                            <img src="{{ STATIC_URL }}img/resource-icons/timeseries48x48.png"
                                                 alt="{{ res|resource_type }}"
                                                 title="{{ res|resource_type }}"/>
                                        {% elif res|resource_type == "Geographic Feature (ESRI Shapefiles)" %}
                                            <img src="{{ STATIC_URL }}img/resource-icons/geographicfeature48x48.png"
                                                 alt="{{ res|resource_type }}"
                                                 title="{{ res|resource_type }}"/>
                                        {% elif res|resource_type == "Web App Resource" %}
                                            <img src="{{ STATIC_URL }}img/resource-icons/webapp48x48.png"
                                                 alt="{{ res|resource_type }}"
                                                 title="{{ res|resource_type }}"/>
                                        {% endif %}

                                    </span>
                                    </div>
                                    <div class="activity-block row">
                                        <div class="activity-info col-sm-12">
                                            <span class="title"><a href="{{ res.get_absolute_url }}">{{ res.metadata.title }}</a></span>
                                            <h5><span class="text-muted">Created: </span>{{ res.created }}</h5>
                                            <h5><span class="text-muted">Authors: </span>
                                                {% for creator in res.metadata.creators.all %}
                                                    {% if forloop.counter0 != 0 %}<span> · </span>{% endif %}
                                                    {% if creator.description %}
                                                        <a href="{{ creator.description }}">{{ creator.name }}</a>
                                                    {% else %}
                                                        <span>{{ creator.name }}</span>
                                                    {% endif %}
                                                {% endfor %}
                                            </h5>
                                        </div>

                                        {% if res.metadata.description %}
                                            <div class="activity-description col-sm-12">
                                                <p>
                                                    <strong>ABSTRACT: </strong>{{ res.metadata.description|linebreaks }}
                                                </p>
                                            </div>
                                            <div class="show-more-btn btn-default" title="Show more">···</div>
                                        {% endif %}

                                    </div>
                                </div>
                            {% endfor %}
                            {% else %}
                                <span class="text-muted">This user has not shared any resources.</span>
                            {% endif %}
                        </div>
                    </div>
                </div>

{#                <div role="tabpanel" class="tab-pane fade" id="social">#}
{#                    <div class="col-sm-12 col-md-6">#}
{#                        <h4 class="title">Groups</h4>#}
{#                        <strong><span>{% if profile_user.first_name or profile_user.last_name %}#}
{#                            {{ profile_user.first_name }} {{ profile_user.last_name }}#}
{#                        {% else %}#}
{#                            {{ profile_user.username }}#}
{#                        {% endif %}</span></strong>#}
{#                        is a member of:#}
{##}
{#                        <ul class="list-group" style="list-style-type: none;">#}
{#                            <li><span class="badge">4 members</span> <a href="#">Utah State University</a></li>#}
{#                            <li><span class="badge">7 members</span> <a href="#">Utah Water Research Laboratory</a></li>#}
{#                        </ul>#}
{##}
{##}
{#                        <h4 class="title" style="margin-top:30px;">Following</h4>#}
{##}
{#                        <div>#}
{#                            {% if profile.picture and profile.picture.url %}#}
{#                                <div style="background-image: url('{{ profile.picture.url }}'); float:left;cursor:pointer;"#}
{#                                     class="profile-pic-thumbnail round-image"#}
{#                                     data-toggle="tooltip" data-placement="top" title="Mauriel Ramirez (Utah State University)">#}
{#                                </div>#}
{#                                <div style="background-image: url('{{ profile.picture.url }}'); float:left;cursor:pointer;"#}
{#                                     class="profile-pic-thumbnail round-image"#}
{#                                     data-toggle="tooltip" data-placement="top" title="Mauriel Ramirez (Utah State University)">#}
{#                                </div>#}
{#                                <div style="background-image: url('{{ profile.picture.url }}'); float:left;cursor:pointer;"#}
{#                                     class="profile-pic-thumbnail round-image"#}
{#                                     data-toggle="tooltip" data-placement="top" title="Mauriel Ramirez (Utah State University)">#}
{#                                </div>#}
{#                                <div style="background-image: url('{{ profile.picture.url }}'); float:left;cursor:pointer;"#}
{#                                     class="profile-pic-thumbnail round-image"#}
{#                                     data-toggle="tooltip" data-placement="top" title="Mauriel Ramirez (Utah State University)">#}
{#                                </div>#}
{#                            {% endif %}#}
{#                        <a href="#" style="float: left;clear: both;margin-top: 10px;">View all</a>#}
{#                        </div>#}
{##}
{##}
{#                        <h4 class="title" style="margin-top: 120px;">Followers</h4>#}
{##}
{#                        <div>#}
{#                            <div style="background-image: url('{{ profile.picture.url }}'); float:left;cursor:pointer;"#}
{#                                 class="profile-pic-thumbnail round-image"#}
{#                                 data-toggle="tooltip" data-placement="top" title="Mauriel Ramirez (Utah State University)">#}
{#                            </div>#}
{#                            <div style="background-image: url('{{ profile.picture.url }}'); float:left;cursor:pointer;"#}
{#                                 class="profile-pic-thumbnail round-image"#}
{#                                 data-toggle="tooltip" data-placement="top" title="Mauriel Ramirez (Utah State University)">#}
{#                            </div>#}
{#                            <div style="background-image: url('{{ profile.picture.url }}'); float:left;cursor:pointer;"#}
{#                                 class="profile-pic-thumbnail round-image"#}
{#                                 data-toggle="tooltip" data-placement="top" title="Mauriel Ramirez (Utah State University)">#}
{#                            </div>#}
{#                            <div style="background-image: url('{{ profile.picture.url }}'); float:left;cursor:pointer;"#}
{#                                 class="profile-pic-thumbnail round-image"#}
{#                                 data-toggle="tooltip" data-placement="top" title="Mauriel Ramirez (Utah State University)">#}
{#                            </div>#}
{#                            <div style="background-image: url('{{ profile.picture.url }}'); float:left;cursor:pointer;"#}
{#                                 class="profile-pic-thumbnail round-image"#}
{#                                 data-toggle="tooltip" data-placement="top" title="Mauriel Ramirez (Utah State University)">#}
{#                            </div>#}
{#                            <div style="background-image: url('{{ profile.picture.url }}'); float:left;cursor:pointer;"#}
{#                                 class="profile-pic-thumbnail round-image"#}
{#                                 data-toggle="tooltip" data-placement="top" title="Mauriel Ramirez (Utah State University)">#}
{#                            </div>#}
{#                            <a href="#" style="float: left;clear: both;margin-top: 10px;">View all</a>#}
{#                        </div>                    #}
{#                    </div>#}
{##}
{#                    <div class="col-sm-12 col-md-6">#}
{##}
{#                        <h4>External profile urls</h4>#}
{##}
{#                        <div class="content social">#}
{#                            <ul>#}
{#                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>#}
{##}
{#                                <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>#}
{##}
{#                                <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>#}
{##}
{#                                <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>#}
{##}
{#                                <li><a hhref="#" target="_blank"><i class="fa fa-github"></i></a></li>#}
{##}
{#                                <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>#}
{##}
{#                                <li><a href="#" target="_blank"><i class="fa fa-vk"></i></a></li>#}
{##}
{#                                <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>#}
{#                            </ul>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
                </div>
        </div>


    {% endwith %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
    $(document).ready(function () {
        // Abstract collapse toggle
        $(".show-more-btn").click(function () {
            if ($(this).parent().find(".activity-description").css("max-height") == "50px") {
                var block = $(this).parent().find(".activity-description");

                block.css("max-height", "initial"); // Set max-height to initial temporarily.
                var maxHeight = block.height();    // Save the max height
                block.css("max-height", "50px");    // Restore

                block.animate({'max-height': maxHeight}, 300); // Animate to max height
                $(this).text("▲");
                $(this).attr("title", "Show less");
            }
            else {
                $(this).parent().find(".activity-description").animate({'max-height': "50px"}, 300);
                $(this).attr("title", "Show more");
                $(this).text("···");
            }
        });

        // Filter list listener
        $(".table-user-contributions tbody > tr").click(function(){
            $(".table-user-contributions tbody > tr").removeClass("active");
            $(this).addClass("active");
            var res_type = $(this).attr("data-type");
            if (res_type == "all") {
                $(".contribution").fadeIn();
            }
            else {
                $(".contribution").hide();
                $(".contribution[data-type='" + res_type + "']").fadeIn();
            }
        });

        // Initialize filters
        var collection = [];
        collection["total"] = 0;

        var rows = $(".contribution");
        for (var i = 0; i < rows.length; i++) {
            if (collection[$(rows[i]).attr("data-type")]) {
                collection[$(rows[i]).attr("data-type")]++;
            }
            else {
                collection[$(rows[i]).attr("data-type")] = 1;
            }
            collection["total"]++;
        }

        for (var item in collection) {
            $("tr[data-type='" + item + "']").find(".badge").text(collection[item]);
        }

        $("tr[data-type='all']").find(".badge").text(collection["total"]);

    });
    </script>
{% endblock %}

