{% extends "base.html" %}
{% load mezzanine_tags geoanalytics_tags hydroshare_tags %}

{% block meta_title %}User profile for {{ u|best_name }}{% endblock %}

{% block main %}
    {% with u.userprofile as profile %}

        <div class="row" style="padding: 40px 0;">
            <div class="col-xs-12">
                {#        Profile picture       #}
                {% if profile.picture and profile.picture.url %}
                    <div style="background-image: url('{{ profile.picture.url }}'); float:left;"
                         class="profile-pic round-image">
                    </div>
                {% endif %}

                <div style="padding-top:10px;">

                    {% if u.first_name or u.last_name %}
                        <h2>{{ u.first_name }} {{ u.last_name }}</h2>
                    {% else %}
                        <h2>{{ u.username }}</h2>
                    {% endif %}

                    {% if profile.organization or profile.title %}
                    <h4 class="text-muted">
                        {% if profile.organization %}{{ profile.organization }}|{% endif %}
                        {% if profile.title %}{{ profile.title }}{% endif %}
                    </h4>
                    {% endif %}
                    <table class="overview">
                        <tbody>
                        {% if profile.subject_areas %}
                            {% if profile.subject_areas %}
                                <tr>
                                    <td><span class="text-muted">Subject Areas: </span></td>
                                    <td>{{ profile.subject_areas }}</td>
                                </tr>
                            {% endif %}

                            {% if profile.profession %}
                                <tr>
                                    <td><span class="text-muted">Profession</span></td>
                                    <td>{{ profile.profession }}</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>


        </div>

        <div class="full-width-tabs-container">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs full-width-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#overview" aria-controls="home" role="tab"
                       data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i> OVERVIEW</a></li>
                <li role="presentation">
                    <a href="#contributions" aria-controls="profile" role="tab" data-toggle="tab">
                        <i class="glyphicon glyphicon-file"></i> CONTRIBUTIONS</a>
                </li>
                <li role="presentation">
                    <a href="#social" aria-controls="messages" role="tab"
                       data-toggle="tab"><i class="glyphicon glyphicon-user"></i> SOCIAL</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="overview">

                    <div class="col-md-7">
                        {#        DESCRIPTION       #}
                        {% if profile.details %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">About {{ u.first_name }}</h3>
                                </div>
                                <div class="panel-body" style="color:#757575;">
                                    {{ profile.details }}
                                </div>
                            </div>
                        {% endif %}

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Recent activity</h3>
                            </div>
                            <div class="panel-body">
                                {% if resources %}

                                {% for res in resources %}
                                    <div class="activity-block">
                                        {% if profile.picture and profile.picture.url %}
                                            <div style="background-image: url('{{ profile.picture.url }}'); float:left;"
                                                 class="profile-pic-thumbnail round-image">
                                            </div>
                                        {% endif %}
                                        {% if u.first_name or u.last_name %}
                                            <strong>{{ u.first_name }} {{ u.last_name }}</strong>
                                        {% else %}
                                            <strong>{{ u.username }}</strong>
                                        {% endif %}
                                        <span class="text-muted"> shared <strong>{{ res|resource_type }}: </strong></span>
                                        <span><a href="{{ res.get_absolute_url }}">{{ res.title }}</a></span>
                                        <h5 style="margin-top:0" class="text-muted">{{ res.created }}</h5>

                                        {% if  res.metadata.description %}
                                            <a data-toggle="collapse"
                                               href="#collapseExample" aria-expanded="false"
                                               aria-controls="collapseExample">
                                                [Show/hide abstract]
                                            </a>

                                            <div class="collapse" id="collapseExample">
                                                <p style="color:#757575;">
                                                    <strong>ABSTRACT: </strong>{{ res.metadata.description }}
                                                </p>
                                            </div>

                                        {% endif %}
                                    </div>
                                {% endfor %}

                                {% else %}
                                    <span class="text-muted">This user has no recent activity.</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        {#  CONTACT #}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Contact</h3>
                            </div>
                            <div class="panel-body">
                                <table class="overview">
                                    <tbody>
                                    {% if profile.phone_1 %}
                                        <tr>
                                            <td><span class="text-muted">{% if profile.phone_1_type %}
                                                {{ profile.phone_1_type }}{% else %}Phone{% endif %}</span></td>
                                            <td>{{ profile.phone_1 }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if profile.phone_2 %}
                                        <tr>
                                            <td><span class="text-muted">{{ profile.phone_2_type }}</span></td>
                                            <td>{{ profile.phone_2 }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if u.email %}
                                        {% if user.pk %}
                                            <tr>
                                                <td><span class="text-muted">Email</span></td>
                                                <td>
                                                    <a href="mailto:{{ u.email }}">send email to
                                                        {% if u.first_name or u.last_name %}
                                                            {{ u.first_name }} {{ u.last_name }}
                                                        {% else %}
                                                            {{ u.username }}
                                                        {% endif %}
                                                    </a>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td><span class="text-muted">Email</span></td>
                                                <td>(<a href="/accounts/login/">Log in to send email</a>)</td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        {#      AFFILIATIONS     #}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Affiliations</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-affiliations list-unstyled">
                                    <li>
                                        <div class="col-sm-3" style="padding:0">
                                            <a href="http://www.usu.edu/" target="_blank"><img
                                                    class="img-responsive affiliation-logo"
                                                    src="http://www.usu.edu/prm/identity/logos/vertical-blue.jpg"
                                                    alt="USU logo"></a>
                                        </div>
                                        <div class="col-sm-9" style="padding:0 10px">
                                            <a href="http://www.usu.edu/" target="_blank">
                                                <span class="organization_name">Utah State University</span></a>
                                            <span class="text-muted">(2001-2015)</span>
                                            <h5 class="text-muted">8200 Old Main Hill, Logan, UT, 84322</h5>
                                            <h5 class="text-muted">Civil and Environmental Engineering | Professor</h5>
                                            <h5 class="text-muted">(904) 343 3074</h5>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="col-sm-3" style="padding:0">
                                            <a href="http://uwrl.usu.edu/" target="_blank"><img
                                                    class="img-responsive affiliation-logo"
                                                    src="http://uwrl.usu.edu/sites/default/files/uwrllogo.gif"
                                                    alt="UWRL logo"></a>
                                        </div>
                                        <div class="col-sm-9" style="padding:0 10px">
                                            <a href="http://www.usu.edu/" target="_blank">
                                        <span class="organization_name">Utah Water Research
                                        Laboratory</span></a>
                                            <span class="text-muted">(2001-2015)</span>
                                            <h5 class="text-muted">1600 Canyon Road, Logan, UT, 84321</h5>
                                            <h5 class="text-muted">Software Programming and Research Support | Web
                                                Developer</h5>
                                            <h5 class="text-muted">(904) 343 3074</h5>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="contributions">Contributions</div>

                <div role="tabpanel" class="tab-pane fade" id="social">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">External profile urls</h3>
                        </div>
                        <div class="panel-body">
                            <div class="content social">
                                <ul>
                                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>

                                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>

                                    <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>

                                    <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>

                                    <li><a hhref="#" target="_blank"><i class="fa fa-github"></i></a></li>

                                    <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>

                                    <li><a href="#" target="_blank"><i class="fa fa-vk"></i></a></li>

                                    <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endwith %}
{% endblock %}
