{% extends "base.html" %}
{% load mezzanine_tags hydroshare_tags %}

{% block meta_title %}Reset Password{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-title">Reset API Password</h2>
            <span>Passwords must be at least 6 characters long.</span>
            <br><br>
        </div>

        <div class="col-sm-12 col-md-6">
            <form id="reset-password-form" action="{% url 'confirm_reset_password' %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}

                <fieldset>
                    <label>New Password</label>
                    <input class="form-control" autocomplete="off" id="id_password1"
                           name="password1"
                           placeholder="Password" required type="password">
                    <br>
                </fieldset>

                <fieldset>
                    <label>New Password (again)</label>
                    <input class="form-control" autocomplete="off" id="id_password2"
                           name="password2"
                           placeholder="Password (again)" required type="password">
                </fieldset>

                <br>
                <button class="btn btn-primary">Confirm</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/bootstrap-formhelpers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/password_reset.js' %}"></script>
{% endblock %}