pymongo
xmltodict
GDAL
dnspython
beautifulsoup4
turfpy
geojson
typer[all]
PyCRS
dnspython
pyproj
jsonschema
python-dateutil
pytz
requests
pydantic
pydantic[email]
boto3
typing-extensions
xarray==2025.6.0
zarr
rasterio
pytest
redpanda-connect
setuptools
h5netcdf==1.6.4
netCDF4==1.7.2
h5py