.community-header {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.community-title-container {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  align-items: baseline;
}

.community-info {
  margin-top: 20px;
  word-break: break-all;
  display: flex;
  align-items: flex-start;
  column-gap: 50px;
  flex-wrap: wrap;
}

.community-info > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.community-info > div > i {
  margin-right: 6px;
}

.community-groups--sidebar {
  width: 210px;
}

.community-groups--content .heading {
  margin: 0;
  margin-bottom: 2rem;
}