#app-geoconnex .flex {
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
}

#app-geoconnex .v-application--wrap {
  min-height: 100px;
  overflow: hidden;
  padding-top: 5px;
}

#app-geoconnex .v-btn {
  font-size: 1.2rem;
}

#app-geoconnex .v-subheader {
  font-size: 1.5rem;
}

#app-geoconnex .v-list-item__subtitle {
  font-size: 1.2rem;
}

#app-geoconnex .v-list-item__title {
  font-size: 1.5rem;
}
/* See if we can import only the typeahead component to prevent other CSS */

.v-application .btn {
  padding: 6px 12px;
  color: initial;
}

.v-application .btn i.fa {
  margin-right: 1rem;
}

#app-geoconnex .tooltip-inner {
  padding: 3px 8px;
  font-weight: normal;
}

#app-geoconnex .info-table-wrapper {
  padding-right: 2rem;
}

.geo-list-item {
  flex: 1 1 auto;
  width: 90%;
  height: 28px;
  text-align: center;
  margin-bottom: 1rem;
}

.geo-list-item [type="checkbox"] {
  float: unset !important;
}

#geoconnex-map-wrapper {
  flex: 2 1 500px;
  z-index: 2;
  padding: 0;
  padding-top: 12px;
}

#geoconnex-leaflet {
  height: 400px;
  margin-bottom: 1rem;
}

.leaflet-control-container,
.leaflet-popup {
  font-size: 1.2rem !important;
}

#geoconnex-leaflet-info {
  display: none;
}

.dataset-details {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

/* ******************* BUTTON OVERRIDES ******************* */

.v-application .btn {
  border-style: solid !important;
  /* color: #fff !important; */
}

.v-application .btn {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset !important;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset !important;
}

.v-application .btn-info,
.btn-primary,
.btn-success,
.btn-danger {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3) !important;
}

.v-application .btn-success {
  background-color: #eee !important;
  background-image: -webkit-linear-gradient(#74e274, #5cb85c) !important;
  background-image: linear-gradient(#74e274, #5cb85c) !important;
  border-color: #20833f !important;
}

.v-application .btn-danger {
  background-color: #d9534f !important;
  /* border-color: #d43f3a !important; */
  border-color: #8c3c3a !important;
}

.v-application .btn-warning {
  background-color: #f0ad4e !important;
  border-color: #eea236 !important;
}

.v-application .btn-info {
  color: #ffffff !important;
  background-color: #5bc0de !important;
  border-color: #46b8da !important;
}

.v-application .btn-default {
  background-color: #eee !important;
  background-image: -webkit-linear-gradient(#fcfcfc, #eee) !important;
  background-image: linear-gradient(#fcfcfc, #eee) !important;
}

.v-application .btn-default:not(.active) {
  text-shadow: 1px 1px #fff !important;
}

.v-application .btn-primary {
  background-image: linear-gradient(#7ab2e2, #428bca) !important;
  border-color: #428bca !important;
  background-color: #eee !important;
  background-image: -webkit-linear-gradient(#7ab2e2, #428bca) !important;
  background-image: linear-gradient(#7ab2e2, #428bca) !important;
  border-color: #428bca !important;
}

.v-application .btn-success {
  background-color: #eee !important;
  background-image: -webkit-linear-gradient(#74e274, #5cb85c) !important;
  background-image: linear-gradient(#74e274, #5cb85c) !important;
  border-color: #20833f !important;
  color: #fff !important;
}
