#app-geoconnex .flex {
  flex-direction: row;
  /* justify-content: space-around; */
  gap: 2rem;
}

#app-geoconnex div.v-application {
  margin-top: 20px;
}

#app-geoconnex .v-application--wrap {
  min-height: 100px;
}


#app-geoconnex .v-subheader {
  font-size: 1.5rem;
}

#app-geoconnex .v-list-item__subtitle {
  font-size: 1.2rem;
}

#app-geoconnex .v-list-item__title {
  font-size: 1.5rem;
}

#geoconnex-controls {
  justify-content: flex-start !important;
  flex-wrap: wrap;
  flex-direction: row;
}

.negative-top {
  margin-top: -3rem;
  /* TODO: figure out spacing with messages etc */
  /* margin-bottom: 3rem; */
}

#app-geoconnex .opaque{
  opacity: 0.4;
  filter: alpha(opacity=40);
  pointer-events: none;
}

#app-geoconnex .v-chip__content .glyphicon {
  padding: 1rem;
}

#app-geoconnex .tooltip-inner {
  padding: 3px 8px;
  font-weight: normal;
}

#app-geoconnex .info-table-wrapper {
  padding-right: 2rem;
}

#geoconnex-map-wrapper {
  flex: 2 1 500px;
  z-index: 2;
}

#geoconnex-leaflet {
  height: 400px;
}

.leaflet-control-container,
.leaflet-popup {
  font-size: 1.2rem !important;
}

#geoconnex-leaflet-info {
  display: none;
}

#app-geoconnex .dataset-details {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#app-geoconnex .v-application .error--text {
  color: #c09853 !important;
}

/* ******************* BUTTON OVERRIDES ******************* */

.v-application .btn {
  padding: 6px 12px;
  /* color: initial; */
  border-style: solid !important;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset !important;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset !important;
}

.v-application .btn i.fa {
  margin-right: 1rem;
}

.v-application .btn-info,
.btn-primary,
.btn-success,
.btn-danger {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3) !important;
}

.v-application .btn-success {
  background-color: #eee !important;
  background-image: -webkit-linear-gradient(#74e274, #5cb85c) !important;
  background-image: linear-gradient(#74e274, #5cb85c) !important;
  border-color: #20833f !important;
}

.v-application .btn-danger {
  background-color: #d9534f !important;
  /* border-color: #d43f3a !important; */
  border-color: #8c3c3a !important;
}

.v-application .btn-warning {
  background-color: #f0ad4e !important;
  border-color: #eea236 !important;
}

.v-application .btn-info {
  color: #ffffff !important;
  background-color: #5bc0de !important;
  border-color: #46b8da !important;
}

.v-application .btn-default {
  background-color: #eee !important;
  background-image: -webkit-linear-gradient(#fcfcfc, #eee) !important;
  background-image: linear-gradient(#fcfcfc, #eee) !important;
}

.v-application .btn-default:not(.active) {
  text-shadow: 1px 1px #fff !important;
}

.v-application .btn-primary {
  background-image: linear-gradient(#7ab2e2, #428bca) !important;
  border-color: #428bca !important;
  background-color: #eee !important;
  background-image: -webkit-linear-gradient(#7ab2e2, #428bca) !important;
  background-image: linear-gradient(#7ab2e2, #428bca) !important;
  border-color: #428bca !important;
}

.v-application .btn-success {
  background-color: #eee !important;
  background-image: -webkit-linear-gradient(#74e274, #5cb85c) !important;
  background-image: linear-gradient(#74e274, #5cb85c) !important;
  border-color: #20833f !important;
  color: #fff !important;
}
