.group-header {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.group-title-container {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  align-items: baseline;
}

.group-info {
  margin-top: 20px;
  word-break: break-all;
  display: flex;
  align-items: flex-start;
  column-gap: 50px;
  flex-wrap: wrap;
}

.group-info > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.group-info > div > i {
  margin-right: 6px;
}

.group-communities--sidebar {
  width: 210px;
}

.group-communities--content .heading {
  margin: 0;
  margin-bottom: 2rem;
}

.group-community-card {
  border-radius: 4px;
}

.community-card--heading {
  font-size: 20px;
}

.community-card--info {
  display: flex;
  flex-direction: column;
}

.group-actions {
  gap: 1rem;
}