/*------------------------------------------------------------------
theme core
-------------------------------------------------------------------*/

html, body {
    font-family: 'Lato', sans-serif;
    position: relative;
}
body {
    padding-top: 50px;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}
h1.hl, h2.hl, h3.hl, h4.hl, h5.hl, h6.hl {
    color: #eaeaea;
    font-weight: 300;
    text-transform: uppercase;
}
h1.hl small, h2.hl small, h3.hl small, h4.hl small, h5.hl small, h6.hl small {
    text-transform: none;
}

/* ===== Navbar ===== */

.navbar-brand {
    padding: 0;
    padding-top: 10px;
}

.navbar-toggle {
    background: #B5B5B5;
    border-color: #8C8C8C !important;
}

.navbar-inverse {
  background-color: #FFF;
  border: none;
}

.navbar>.container .navbar-brand {
    margin-right: 10px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  	color: #333;
    background-color: #FFF !important;
}

.navbar-inverse .navbar-brand {
	color: #EEEEEE;
}

.navbar-inverse .navbar-nav > li > a {
	color: #777;
    font: 13px/18px 'Open Sans',arial,sans-serif;
}

.navbar-nav > li > .dropdown-menu {
	margin-top: 18px;
	margin-right: -12px;
	width: 300px;
	height: 160px;
	padding: 0;
	background: #FFF;
	border: 1px solid #909090;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #333;
	-webkit-transition: color 100ms linear;
	-moz-transition: color 100ms linear;
	-o-transition: color 100ms linear;
	transition: color 100ms linear;
}

.navbar-inverse {
    text-transform: uppercase;
    border-bottom: 1px solid #DDD;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
	border-top-color: #EEEEEE;
	border-bottom-color: #EEEEEE;
}

.navbar-inverse .navbar-nav > .open > a .caret,
.navbar-inverse .navbar-nav > .open > a:hover .caret,
.navbar-inverse .navbar-nav > .open > a:focus .caret {
	border-top-color: #eaeaea;
	border-bottom-color: #eaeaea;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	color: #FFF;
	background-color: #63AC3C;
}

.dropdown-menu {
    background-color: #EEEEEE;
    border: 1px solid #D6D6D6;
    border-top-color: #EEEEEE;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.dropdown-menu > li > a {
  color: #000;
  padding: 10px 20px;
  font-size: 12px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #333;
  background-color: #eaeaea;
}


/* ===== Recaptcha ===== */
#recaptcha_challenge_image {
    max-width: 100%;
    max-height: 100%;
}
#recaptcha_image {
    width: 100% !important;
}
#recaptcha_response_field {
    width:100% !important;
}
.recaptcha_input_area {
    padding-right: 7px !important;
}
#recaptcha_area {
    width: 100%;
}
#recaptcha_response_field {
    border: 1px solid #ddd !important;
    padding: 4px;
}
.recaptcha_image_cell {
    width: 60%;
}

#recaptcha-div {
    margin-bottom: 0.5em;
    background: white;
    border-radius: 4px;
}

.recaptchatable {
    width: 100%;
}

/* ===== Showcase ===== */

#wrap {
    background: url(../img/bg3.jpg);
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg3.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg3.jpg', sizingMethod='scale')";
    background-position: center;
    border-bottom: 1px solid #eee;
    color: #fff;
}
#wrap h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 48px;
    margin-top: 70px;
    text-transform: uppercase;
    margin-left: 70px;
    text-shadow: 1px 1px 3px #666;
    filter: Shadow(Color=#666666, Direction=45, Strength=3);
}
.showcase {
    position: relative;
    max-width: 438px;
    margin: 0 auto;
}
.list {
    margin: 50px 0 50px 50px;
}
.list ul {
	padding: 0;
}
.list i {
	font-size: 28px;
}
.list li {
	list-style-type: none;
	margin: 10px 0;
}
.list span.li-bg {
	background: rgba(0, 0, 0, 0.25);
	padding: 5px 10px;
}
.list span {
	font-size: 28px;
	margin-left: 20px;
	font-weight: 100;
}
.first {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
}
.second {
	-webkit-animation-duration: 1.3s;
	-moz-animation-duration: 1.3s;
}
.third {
	-webkit-animation-duration: 1.6s;
	-moz-animation-duration: 1.6s;
}
.fourth {
	-webkit-animation-duration: 1.9s;
	-moz-animation-duration: 1.9s;
}



/* ===== Profiles ===== */

/* Avatar */

.avatar {
	position: relative;
}
.avatar-bubble,
.avatar:hover .avatar-bubble {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
.avatar-bubble {
	position: absolute;
	bottom: 11px;
	left: 11px;
	right: 11px;
	width: inherit;
	padding: 15px;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-weight: 300;
	opacity: 0;
}
.avatar:hover .avatar-bubble {
	opacity: 1;
}
.avatar-bubble a {
	display: block;
	color: #eee;
}
.avatar-bubble a:hover {
	text-decoration: none;
	color: #fff;
}

/* Profile menu */

.user-menu > ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.user-menu > ul > li {
	border-bottom: 1px solid #EEE;
	border-right: 1px solid #EEE;
}
.user-menu > ul > li:last-child {
	border-bottom: 0;
}
.user-menu > ul > li > a {
	display: block;
	padding: 10px;
}
.user-menu > ul > li > a:hover {
	text-decoration: none;
	background: #f5f5f5;
}
.user-menu > ul > li > a.active {
	background: #f5f5f5;
}
.user-menu > ul > li > a > i.sign {
	display: inline-block;
	margin-right: 10px;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	color: #FFF;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
}
.user-menu > ul > li > a > i.fa-chevron-right {
	line-height: 40px;
	color: #eaeaea;
	display: none;
}
.user-menu > ul > li > a:hover > i.fa-chevron-right {
	display: inline-block;
}
.user-menu > ul > li > a.active:hover > i.fa-chevron-right {
	display: none;
}

/* User status */

.user-status {
	margin-bottom: 20px;
}
.user-status > p > a {
	color: #333;
}

/* Other */

a.sign-out-inline:hover {
	text-decoration: none;
}

/* Modal window */

.modal-content {
	border-radius: 0;
}
.modal-header {
	background: #f5f5f5;
}
.modal-header > img,
.dialog-new > img {
	height: 50px;
	width: 50px;
	margin: 0 15px 15px 0;
	float: left;
	overflow: hidden;
}

/* Inbox */

.pm-search {
	background: #F5F5F5;
	border-top: 1px solid #DDD;
	padding: 20px;
	margin-bottom: 15px;
}
.pm-list > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.pm-list > ul > li:first-child {
	border-top: 1px solid #EEE;
}
.pm-list > ul > li {
	padding: 15px;
	border-bottom: 1px solid #EEE;
}
.pm-list > ul > li:hover {
	background: #f5f5f5;
}
.pm-list > ul > li > p > img {
	height: 50px;
	width: 50px;
	float: left;
	margin-right: 15px;
	overflow: hidden;
}
.pm-list > ul > li > p {
	float: left;
	overflow: hidden;
	width: 50%;
	margin-bottom: 0;
}
.pm-list > ul > li > p > a.inbox-dialog {
	color: #999;
}
.pm-list > ul > li > p > a.inbox-dialog:hover {
	color: #999;
	text-decoration: none;
}
.dialog {
	height: 400px;
	overflow: auto;
}
.dialog-new {
	background: #F5F5F5;
	border-top: 1px solid #DDD;
	padding: 20px;
}
.dialog-new > form {
	width: 80%;
	float: left;
}

/* ===== Blog ===== */

.blog {
	line-height: 1.8;
}
.img-blog {
	padding: 10px;
	border: 1px solid #ddd;
	margin: 10px;
	width: 350px;
}
.recent-blogs ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.recent-blogs ul li {
	padding: 7px 0;
	border-bottom: 1px dotted #ddd;
}
.blog-months ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.blog-months ul li .badge {
	background: #FFF;
	color: #666;
	border: 1px solid #ddd;
}
.new-comment {
	padding: 20px 10px 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px dashed #ddd;
	margin: 20px 0;
}
.new-comment:hover {
	border-bottom-style: solid;
}
.new-comment img {
	max-height: 64px;
	width: auto;
	float: right;
}
.comment {
	margin: 10px 0;
	border-bottom: 1px dotted #ddd;
}

#comments .rating > h3 {
	display: none;
}

#comments .rating {
	border-top: 1px solid #ddd;
	padding-top: 9px;
	margin: 0;
	margin-bottom: 20px;

}
/* ===== About Us block ===== */

img.img-about {
	width: 40%;
	padding: 10px;
	border: 1px solid #eee;
	float: left;
	margin: 0 20px 20px 0;
}

/* ===== Media objects ===== */

.media-object {
  height: 64px;
  width: 64px;
}

img.media-object{
    margin-right:10px;
}
.media-heading a{
  color: #333;
}
.media-heading a:hover{
  color: #333;
  text-decoration: none;
}
.read-more {
	float:right;
	margin-top: 10px;
}

/* ===== Recent Works ===== */

.thumbnail {
	position: relative;
    font-size: 14px;
}

.thumbnail .visit {
	position: absolute;
	opacity: 0;
	width: 100%;
	text-align: center;
	top: 80px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
.thumbnail:hover .visit {
	opacity: 1;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
.thumbnail .visit a {
	color: #FFF;
	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px 20px;
}
.thumbnail .visit a:hover {
	color: #FFF;
	text-decoration: none;
}

/* ===== Steps ===== */

.step {
	text-align: center;
	width: 50%;
	margin: 0 auto;
}
.step i {
	color: #dedede;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
}
.step h4 {
	text-transform: uppercase;
}
.step .arrow {
	position: absolute;
	top: 0;
	right: -10%;
    color: #dedede;
    font-size: 100px;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
}
.step:hover i {
	color: #FFA973;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
}
.step:hover .arrow {
	color: #99E0FF;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
}

/* ===== 404 error page ===== */

.not-found {
	background: #eee;
    background-image: url(../img/falling-leafs.png), -webkit-linear-gradient(top, #eee, #fff);
    background-image: url(../img/falling-leafs.png), -moz-linear-gradient(top, #eee, #fff);
}
.not-found .digits {
	color: #999;
	font-size: 250px;
	font-weight: bold;
	text-align: center;
}
.not-found .digits i {
	font-size: 200px;
	margin: 0 10px;
}
.not-found h1 {
	text-align: center;
	color: #666;
}
.not-found h2 {
	text-align: center;
	color: #999;
}
.not-found form {
	text-align: center;
	margin: 30px 0;
}

/* ===== Footer ===== */

footer {
    width: 100%;
	margin-top: 60px;
	background: #093E54;
    color: #FFF;
    position: absolute;
    overflow: hidden;
}
footer a {
	color: #B5E655;
}
footer a:hover {
	color: #81D685;
	text-decoration: none;
}
footer .headline {
	margin-bottom: 20px;
}
footer .headline h3{
	text-transform: uppercase;
	color: #FFF;
}
.legal {
	padding: 40px 0;
}
.legal a {
	color: #B5E655;
	text-decoration: none;
}
.social ul {
    background: #3E7A8C;
    color: white;
    font-size: 24px;
    margin: 0;
	padding: 0;
}

.social li {
    float: left;
    display: block;
    list-style-type: none;
    width: 28px;
    height: 28px;
    margin: 0 5px 5px 0;
    text-align: center;
    line-height: 28px;
}

.social li:hover {
    background: none;
}

.social li a {
    color: #FFF;
}

.social li:hover a {
    transition: color 0.1s;
    -webkit-transition: color 0.1s;
    -moz-transition: color 0.1s;
    -o-transition: color 0.1s;
    color: #B5E655;
}

footer .hl-btn-default {
	color: #fff;
	background: none;
}
footer .hl-btn-default:hover {
	color: #3E7A8C;
	background: #fff;
	font-weight: bold;
	border: 1px solid #fff;
}
footer .form-control {
	border: white;
}
footer .form-control:focus {
	border: white;
}
footer .sbtn {
	margin-bottom: 5px;
}

/* Login Header*/

li.account {
	padding: 10px 20px;
	overflow: hidden;
	height: 100%;
}
li.account .avatar {
	width: 100px;
	height: 100px;
	float: left;
	margin: 0 20px 0 0;
	background: url(../img/face1.jpg);
	background-size: cover;
	background-position: center;
}
li.account p{
	overflow: hidden;
	font-size: 14px;
	text-transform: none;
	word-wrap: break-word;
}

#cogs-menu,
#profile-menu {
    display: none;
    text-transform: initial;
}

#profile-menu > .dropdown-toggle {
    padding: 0;
}

#profile-menu .dropdown-footer {
    position: absolute;
    bottom: 20px;
    border-top: 1px solid #CCC;
    width: 100%;
    margin: -20px;
    padding: 10px;
    background: #DDD;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

#profile-menu > .dropdown-toggle:hover, #profile-menu > .dropdown-toggle:focus {
    background:none;
}

.display-none {
    display: none !important;
}

.display-block {
    display: block !important;
}

/* ===== Login box ===== */

.form-box {
	padding: 10px 15px 20px;
	border: 1px solid #DDD;
	background: #F5F5F5;
}
.form-box h4 {
	text-transform: uppercase;
	color: #666;
}
.form-box hr {
	border-bottom: 1px solid #dedede;
}
.login-social ul {
    font-size: 20px;
    margin: 0;
	padding: 0;
}
.login-social li {
    float: left;
    display: block;
    list-style-type: none;
    width: 40px;
    height: 40px;
    margin: 20px 5px 20px 0;
    text-align: center;
    line-height: 40px;
}
.login-social li#twitter {
	background: #1dcaff;
}
.login-social li#facebook {
	background: #3B5998;
}
.login-social li#google {
	background: #dd4b39;
}
.login-social li#twitter:hover,
.login-social li#facebook:hover,
.login-social li#google:hover {
    background: none;
}
.login-social li#twitter:hover a {
	color: #1dcaff;
}
.login-social li#facebook:hover a {
	color: #3B5998;
}
.login-social li#google:hover a {
	color: #dd4b39;
}
.login-social li a {
    color: #fff;
	padding: 10px;
}
.login-social li, .login-social li:hover {
    transition: background 0.3s;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
}
.login-social li a, .login-social li:hover a:hover{
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
}
/* ===== Registration form popover ===== */

.signup .popover {
	min-width: 200px;
}

#signup{
    margin-bottom: 10px;
}

/* ===== Site search ===== */

.navbar-nav li#search {
	background: #00B4FF;
	background: linear-gradient(top, #00B4FF, #009DE0);
	background: -webkit-linear-gradient(top, #00B4FF, #009DE0);
	background: -moz-linear-gradient(top, #00B4FF, #009DE0);
	position: relative;
}
.navbar-nav li#search .search-box {
	position: absolute;
	right: 0;
	bottom: -70px;
	width: 250px;
	padding: 10px;
	background: #eaeaea;
	background: rgba(0, 0, 0, 0.65);
	display: none;
}
.navbar-nav li#search i.margin-2 {
	margin-left: 2px;
}

/* ===== Pagination ===== */

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #00B4FF;
  border-color: #00B4FF;
}

/* Helper Classes */

.top-zero {
	margin-top: 0;
}
.bottom-15 {
	margin-bottom: 15px;
}
.ui-icon {
	color: #666;
}
.tab-1 {
	margin-right: 15px;
}
.tab-2 {
	margin-right: 30px;
}
.tab-3 {
	margin-right: 45px;
}
.tab-3 {
	margin-right: 60px;
}

/* Text colors */

.text-green {
	color: #72a53b;
}
.text-blue {
	color: #00B4FF;
}
.text-red {
	color: #E74C3C;
}
.text-turquoise {
	color: #1ABC9C;
}
.text-amethyst {
	color: #9B59B6;
}

/* Background colors */

.bg-green {
	background-color: #72a53b;
}
.bg-blue {
	background-color: #00B4FF;
}
.bg-red {
	background-color: #E74C3C;
}
.bg-turquoise {
	background-color: #1ABC9C;
}
.bg-amethyst {
	background-color: #9B59B6;
}

/* ===== Scroll to Top ===== */

.scrolltotop {
	height: 48px;
	width: 48px;
	border-color: #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	color: #999;
	color: rgba(0, 0, 0, 0.3);
	font-size: 18px;
	line-height: 38px;
	border-radius: 3px;
	text-align: center;
    background: rgba(255, 255, 255, 0.5);
}
/* ===== Resource edit page changes ===== */

#contact-table .icon-button{
    float:left;
    background-color: transparent;
    border: 0;
}

#contact-table .icon-button{
    float:left;
    background-color: transparent;
    border: 0;
    text-decoration: none;
}

#txt-abstract{
    height: 155px;
}

span.remove{
    position: absolute;
    left: 0;
    height: 100% !important;
    background: #EEE;
    top: 0;
}

.form-control{
    margin-bottom:8px;
}

.no-padding{
    padding:0;
}

.icon-remove{
    font-size: 17px;
    top: 3px;
    left: 6px;
    color: rgb(217, 83, 79);
    cursor:pointer;
}

.icon-add{
    font-size: 17px;
    top: 3px;
    left: 1px;
    color: #5cb85c;
    cursor:pointer;
}

.icon-add:hover{
    color: #47a447;
}

.icon-remove:hover{
    color: rgb(168, 69, 66);
}

#panel-left{
    padding-right:8px;
    padding-left:0;
    margin-bottom: 10px;
}

#panel-right{
    padding-left:8px;
    padding-right:0;
    margin-bottom: 10px;
}
#add-keyword-wrapper{
    width: 200px;
    display: inline-flex;
}


#relatedResourcesTab{
    overflow:hidden;
}

#comments{
    padding-bottom: 15px;
    margin-top: 20px;
}

.info-group table td{
    padding-left:15px;
}

#resourceSpecificTab{
    overflow-x:hidden;
}

#variables .custom-well {
	height: 180px;
	overflow: auto;
	background-color:#FFF;
}

#variables .custom-well > strong{
	font-size:18px;
}

#variables {
	max-height: 600px;
	overflow:auto;
	border-radius: 0;
}

#netcdf-header-info {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    width: 100%;
	padding: 10px;
}

#resourceSpecificTab input.form-control[type='radio'], #resourceSpecificTab input.form-control[type='checkbox'] {
	box-shadow: none;
}

.custom-table th {
	padding-right: 40px;
}

.custom-table th, .custom-table td {
	vertical-align: top;
	padding-bottom: 8px;
}

#txt-title{
    font-size: 27px;
    height: auto;
}

#txt-abstract{
    height: 155px;
}

span.remove {
	position: absolute;
	left: 0;
	top: 0;
	height: calc(100% - 2px) !important;
	background: #EEE;
	background-position-y: 7px !important;
	margin: 1px;
}

.form-control{
    margin-bottom:8px;
}

.no-padding{
    padding:0;
}

.icon-remove{
    font-size: 17px;
    top: 3px;
    left: 6px;
    color: rgb(217, 83, 79);
    cursor:pointer;
}

.icon-add{
    font-size: 17px;
    top: 3px;
    left: 1px;
    color: #5cb85c;
    cursor:pointer;
}

.icon-add:hover{
    color: #47a447;
}

.icon-remove:hover{
    color: rgb(168, 69, 66);
}

#panel-left{
    padding-right:8px;
    padding-left:0;
    margin-bottom: 10px;
}

#panel-right{
    padding-left:8px;
    padding-right:0;
    margin-bottom: 10px;
}
#add-keyword-wrapper{
    width: 200px;
    display: inline-flex;
}


/* ===== Resource UI changes ===== */
html, body{
    height:100%;
    /*background:#F4F4F4;*/
}

a[data-toggle='tab']{
    /*display: inline-block !important;*/
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#btn-public.active {
    color: #FFF;
    background: #5cb85c;
    border-color: #20833F;
}

#btn-private.active {
    color: #FFF;
    background: #d9534f;
    border-color: #8C3C3A;
}

#btn-discoverable.active {
    color: #FFF;
    background: #f0ad4e;
    border-color: #CB7904;
}

#btn-private {
    -webkit-border-radius: 0;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius: 0;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#btn-discoverable {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0 -1px;
}

#btn-public {
    -webkit-border-radius: 4px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius: 4px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}



#status-btn-group {
    margin-left: 10px;
    top: -5px;
}

.btn-success {
    border-color: #20833F;
}

.btn-danger{
    border-color: #8C3C3A;
}

.btn{
    box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset;
}

#id_user-wrapper{
	width: 60%;
	padding: 1px;
	border: 1px solid #CCC;
	height: 34px;
	float: left;
	-webkit-border-radius: 3px;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius: 3px;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	border-radius: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#permission-panel #id_user-autocomplete {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0 4px;
}

#permission-panel .panel-body{
    padding: 15px 0;
}

span.hilight {
	background: #EEE;
	margin-left: 16px;
	width: calc(100% - 16px);
	height: 100%;
}

#form-sharing{
    margin-top: -6px;
    margin-left: 5px;
    margin-right: 5px;
}

.file-icon {
	margin-right: 5px;
	font-size: 20px;
	line-height: 1.5em;
	color: #8c8c8c;
	float: left;
	top: 4px;
	left: 2px;
}

table.table-plain {
    margin-bottom: 10px;
    width:100%;
}

table.table-plain td{
    padding-right: 10px;
}


.tab-elements > .panel-tabs > .nav-tabs{
    margin-bottom: 0;
    border:0;
}


.tab-elements .nav-tabs li{
    padding:0;
}
.panel-tabs > .nav-tabs > li > a{
    color:#555;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}

#coverageTab{
    overflow-x:hidden;
}

#coverageTab{
    overflow-x:hidden;
}
.tab-elements > .tabs-body {
    min-height: 150px;
    border: 1px solid #ddd;
    padding: 10px;
    overflow: auto;
}

.panel-tabs table>tbody>tr>th{
    border:0;
}

.division-title {
    clear:left;
    font-size: 20px;
    font-weight: 500;
    margin-left: 7px;
    background-color: #FFF !important;

}

.page-title {
    font-weight: 500;
    margin: 30px 0;
    margin-top: 10px;
    width: calc(100% - 100px);
}

.label-file-name{
    font-weight: bold;
}

.label-file-size{
    font-size:12px;
    margin-bottom: 0;
}

.table-plain > tbody > tr{
    /*border-bottom: 1px solid #ddd;*/
}

.table-plain > tbody > tr:last-child{
    border:none;
}


body > .container{
    /*Subtract the height of the footer*/
    min-height: calc(100% - 307px);
    padding-top: 20px;
}

.icon-button {
    font-size: 22px;
    cursor: pointer;
    float: right;
    margin: 0 4px;
    padding: 5px;
    background-color: transparent;
    width: auto !important;
}

.icon-button:hover{
    text-decoration: none;
}

#btnMyResources.btn-resource-add {
	color: #84B85C;;
}

#btnMyResources.btn-resource-remove {
	color: #D9534F;
}

.custom-btn-toolbar .icon-button, .custom-btn-toolbar .icon-button:focus {
	border: 0;
	outline: 0;
}

.lined-wrapper {
    border-top: 1px solid rgb(204, 204, 204);
    margin-bottom: 5px;
}

#success-alert, #error-alert{
    position: fixed;
    z-index: 999;
    margin-right: auto;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 60px;
}

.custom-alert {
    position: fixed;
    background-color: lightgreen;
    padding: 0 10px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #16E716;
    text-shadow: 1px -1px #BEFFBE;
}

.custom-alert-icon {
    font-size: 24px;
    color: #337133;
    top: 5px;
    margin-right: 10px;
}

.custom-well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.cc-image {
	width: 88px;
	height: 31px;
}

#permission-panel .custom-well {
	background: #F7F7F7;
	margin-top: 30px;
}

.info-icon {
	color: #FFFFFF;
	margin-top: 4px;
	margin-left: -4px;
	position: absolute;
    right: 25px;
    top: 13px;
}

.info-icon:hover{
    color: #CCC;
}

#permission-panel .form-control{
    margin-bottom:0;
}

#permission-panel .custom-well .form-group{
    width:100%;
}

.btn-update-list{
    margin-top:4px;
    margin-right:4px;
    margin-bottom:4px;
    width: 100%;
}

.btn-add-access {
	height: 34px;
	top: 0;
	border-radius: 0;
	margin: 0 2px;
}

.btn-default {
	background-color: #eee;
	background-image: -webkit-linear-gradient(#fcfcfc, #eee);
	background-image: linear-gradient(#fcfcfc, #eee);
}

.btn-default:not(.active) {
    text-shadow: 1px 1px #FFF;
}

.btn-primary {
	background-color: #eee;
	background-image: -webkit-linear-gradient(#7AB2E2, #428BCA);
	background-image: linear-gradient(#7AB2E2, #428BCA);
	border-color: #428BCA;
	color: #FFF;
}

.btn-success {
	background-color: #eee;
	background-image: -webkit-linear-gradient(#74E274, #5CB85C);
	background-image: linear-gradient(#74E274, #5CB85C);
	border-color: #20833F;
	color: #FFF;
}

.btn-add-access:focus,#btn-discoverable:focus, #btn-public:focus, #btn-private:focus {
	outline: none;
}

.access-panel-title{
    color: #FFF;
    background-color: #337ab7;
    margin: -20px;
    border: 1px solid #337ab7;
    padding: 10px;
    padding-right: 30px;
    height:52px;
    margin-bottom: 10px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.button-label{
    font-family: Lato, sans-serif;
}

.btn-remove{
    color:#d9534f;
}

.btn-edit, .btn-share{
    color: #428BD2;
}

.btn-download{
    color:#428bca;
}

.content-block {
	display: table;
	width: 100%;
}

#comment, .comment-reply-form {
	width: 100%;
}

.content-block h3, #comments h3 {
	padding-bottom: 9px;
	border-bottom: 1px solid #eee;
}

.sharing-public{
    border: 1px solid #6E6E6E;
    padding: 3px 6px;
    background: #5CB85C;
    color: #FFF;
    margin: 3px;
    border-radius: 15px
}

.sharing-private{
    border: 1px solid #6E6E6E;
    padding: 3px 6px;
    background: #D9534F;
    color: #FFF;
    margin: 3px;
    border-radius: 3px;
}
.citation-label {
    float:left;
    font-weight: bold;
}

#citation-text {
    display: inline-block;
    width: 100%;
    min-height: 30px;
    background: #EEE;
    border: 1px solid #cccccc;
    border-radius: 0px;
    padding: 4px;
}

#citation-text a, .rights-url a{
    word-break: break-word;
}

#btn-download-all, #btn-add-file, #btn-select-irods-file {
    margin-bottom:5px;
    max-width:100%;
}

#btn-download-all > span {
    height:16px;
}

#btn-download-all span {
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
}

div#sharing-status {
    height: 34px;
	margin-top: 20px;
}

.info-group {
	width: calc(100% - 110px);
}

.tag-list {
    min-height:46px !important;
    margin-top:10px;
    list-style: none;
    padding: 10px 10px 5px 10px !important;
}

.tag {
    display: inline-block;
    margin-bottom: 4px;
    color: #111111;
    background-color: #f6f6f6;
    padding: 1px 10px;
    border: 1px solid #B0B0B0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
    /*cursor:pointer;*/
}

.tag-list li {
    display: inline-block;
    margin-right: 5px;
}

a.tag:hover {
    text-decoration: none;
    cursor:default;
	color: #111;
}

.custom-well{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.tab-elements {
    overflow-x:auto;
    overflow-y:hidden;
    margin-top: 20px;
    border:0;
}


.tab-elements .table:not(.table-striped) {
    width:auto;
}

.tab-elements .table td, .tab-elements .table th {
    border:0;
}

.tab-elements .nav-tabs>li>a {
    border: 1px solid #ddd;
}

.tab-elements .nav-tabs > li.active > a {
    border-bottom-color: transparent;
}
/* ===== Responsive CSS ===== */

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: #333;
}

@media (max-width: 1200px) { /* Adjusting for large devices */

@media (max-width: 768px) { /* Adjusting for mobile */

	/* Index page background */

	#wrap h1 {
		font-size: 32px;
		margin: 70px 0 0 0;
		text-align: center;
		font-weight: 300;
	}
	.list {
		margin: 50px 0;
	}
	.list i {
		font-size: 24px;
	}
	.list li {
		margin: 20px 0;
	}
	.list span {
		font-size: 20px;
		font-weight: 300;
	}

	/* Registration Steps */

	.step {
		text-align: left;
		width: auto;
		margin: 0 0 15px 0;
	}
	.step i {
		float: left;
		margin-right: 15px;
	}
	.step .arrow {
		display: none;
	}
	.step a.sbtn {
		margin-left: 65px;
	}

	/* Registration form popover */

	.signup .popover {
		display: none;
	}

	/* 404 */

	.not-found .digits {
		font-size: 140px;
	}
	.not-found .digits i {
		font-size: 100px;
	}
	.not-found h1 {
		font-size: 30px;
		line-height: 42px;
	}
	.not-found h2 {
		font-size: 18px;
	}

	/* Pricing page */

	.pricing .head {
		padding: 20px;
	}
	.pricing .head .arrow {
		border: 0;
	}
	.pricing .item {
		margin: 20px 0;
	}
	.pricing .item:hover {
		margin: 20px 0;
	}

	/* Image Carousel */

	a.carousel-arrow  {
		top: 50px;
		bottom: auto;
		height: 35px;
		width: 35px;
		border-radius: 0;
		color: #666;
		font-size: 18px;
		line-height: 35px;
	}
	a.carousel-arrow-prev {
		left: 50%;
		margin-left: -37px;
	}
	a.carousel-arrow-next {
		left: 50%;
	}

	/* Navbar dropdown */

	.dropdown-menu .divider {
	  height: 1px;
	  margin: 9px 0;
	  overflow: hidden;
	  background-color: #999;
	}
}

/*
 * Side navigation for UI elements
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar {
  margin-bottom: 50px;
}
.bs-sidebar.affix {
  position: static;
}

/* Show and affix the side nav for ui elements when space allows it */
@media (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 293px;
  }
  .bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 70px;
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 360px;
  }
}}

.resource-search {
	width: 100%;
	position: relative;
	height: 43px;
	border: 1px solid lightgrey;
	margin-bottom: 3px;
}

.resource-search input {
    padding: 0 5px;
	width: 100%;
	position: absolute;
	height: 100%;
	border: none;
	background: transparent;
}

.resource-search ul {
	margin: 7px 0 0;
	padding-left: 2px;
}

.resource-search li {
	background: lightgrey;
	padding: 4px;
	padding-right: 8px;
	border-radius: 12px;
	margin-left: 3px;

}
.resource-search li::before {
	content: attr(data-label);
	background-color: grey;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 3px;
	padding-left: 6px;
	margin-right: 6px;
	color: white;
}

.resource-search-items ul {
	position: absolute;
	top: 0;
}
.resource-search-items li {
	display: inline-block;
}

ul.resource-search-options {
	margin: 40px 0 0;
	padding-left: 2px;
	border: 1px solid lightgrey;
	border-top: none;
	background-color: white;

	list-style: none;
}
.resource-search-options li {
	display: block;
	margin: 2px auto;
}
.resource-search-options li.selected {
	background-color: #aab;
	color: white;
}

/* New access panel style */
div.user-scope .user-username-content {
    color: rgba(0,0,0,0.54);
}

td.user-roles, td.user-actions {
    padding-top: 16px !important;
    color: #428bca;
}

td.user-roles {
	width: 30%;
}
td.user-roles .dropdown{
    cursor: pointer;
	color: #333;
}

td.user-roles .caret {
    border-top: 4px solid #428bca;
}

td.user-actions span {
    cursor: pointer;
}

td.user-actions .btn-remove-row {
	color:#d9534f;
}

td.user-actions > span:hover {
    cursor: pointer;
    color: #777;
}

.access-table tr:last-child {
    border-bottom: 1px solid #ddd;
}

.access-table tr.hide-actions .remove-user-form, .access-table tr.hide-actions .caret {
	display:none;
}

.access-table tr.hide-actions .user-roles {
	pointer-events: none;
}

#manage-access .custom-well > .input-group {
    width: 100%;
}

#manage-access .custom-well > .input-group > input {
    width: 70%;
}

#manage-access form .dropdown {
    display:inline;
    border-radius:0;
	float: left;
	margin-left: 2px;
}

#roles_list{
    border-radius: 0;
	width: 100px;
}

.access-table tbody > tr {
    display: table-row !important;
}

#templateRow {
	display:none !important;
}

.user-roles button {
	border: none;
	background: none;
	cursor: pointer;
	width: 100%;
	text-align: left;
	padding-left: 20px;
}

.user-roles li a {
	color: #333;
	padding: 10px 20px;
	font-size: 14px;
	display: block;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	white-space: nowrap;
}

.user-roles li:not(.loading):not(.active) a:hover {
	background-color: #DDD;
	-webkit-transition: background-color 200ms linear;
	-moz-transition: background-color 200ms linear;
	-o-transition: background-color 200ms linear;
	transition: background-color 200ms linear;
}

.user-roles li.active {
	pointer-events: none;
	cursor: default;
}

.user-roles li.disabled a, #list-roles li.disabled a {
	color: #aaa;
	text-shadow: 0 1px 0 #FFF;
	pointer-events: none;
}

.user-roles li.active a {
	font-weight: bold;
}

.user-roles .dropdown-menu {
	background-color:#FFF;
}

.user-roles .role-dropdown {
	padding: 0;
}

.user-roles li.loading, .access-table tr.loading {
	animation: grayScaleChange 1s; /* animation-name followed by duration in seconds*/
	/* you could also use milliseconds (ms) or something like 2.5s */
	-webkit-animation: grayScaleChange 1s; /* Chrome and Safari */
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
	pointer-events: none;
}

.user-roles.no-caret .caret{
	display:none;
}

button.loading {
	animation: greenScaleChange 2s; /* animation-name followed by duration in seconds*/
	/* you could also use milliseconds (ms) or something like 2.5s */
	-webkit-animation: greenScaleChange 2s; /* Chrome and Safari */
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
	pointer-events: none;
}


@keyframes greenScaleChange {
	0% {
		background: #5cb85c;
	}

	50% {
		background: #236F23;
	}

	100% {
		background: #5cb85c;
	}
}

@-webkit-keyframes greenScaleChange /* Safari and Chrome - necessary duplicate */
{
	0% {
		background: #5cb85c;
	}

	50% {
		background: #236F23;
	}

	100% {
		background: #5cb85c;
	}
}


@keyframes grayScaleChange {
	0% {
		background: #FFF;
	}

	50% {
		background: #EEE;
	}

	100% {
		background: #FFF;
	}
}

@-webkit-keyframes grayScaleChange /* Safari and Chrome - necessary duplicate */
{
	0% {
		background: #FFF;
	}

	50% {
		background: #FFF;
	}

	100% {
		background: #FFF;
	}
}

.first-modal {
	height: 400px;
	overflow: auto;
}

.modal {
	overflow-y: auto;
}

.list-separator {
	color: #333;
	pointer-events: none;
}

.list-separator:hover {
	text-decoration: none;
	pointer-events: none;
}

.user-icon:before {
    content: "\e008";
    font-family: "Glyphicons Halflings";
    float: left;
    font-size: 36px;
    color: #2D9EB3;
    border: 2px solid #ddd;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
}

.dropdown-user-icon:before {
    content: "\e008";
    font-family: "Glyphicons Halflings";
    float: left;
    font-size: 72px;
    color: #2D9EB3;
    border: 2px solid #ddd;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
}


#div-invite-people .label-danger {
	font-size: 12px;
}

#list-roles > li > a {
	font-size: 14px;
	cursor: pointer;
}

.glyphicon-info-sign {
    top: 2px;
}

/*  =============== Coverage Tab - Google map css ================ */
#coverageMap {
	height:350px;
	border:1px solid #DDD;
}

#id_name {
    max-width: 467px;
}

.invalid-input {
	border-color: #F00 !important;
}

.invalid-input:focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 102, 102, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 102, 102, 0.6);
}

#resetZoomBtn {
    width: 28px;
    text-align: center;
    padding: 8px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(111, 111, 111, 0.5);
    background-color: #FFF;
    float: right;
    right: 11px;
    top: -120px;
    color: #666;
}

#resetZoomBtn:hover {
    cursor:pointer;
    color: #353535;
}

#resetZoomBtn::before {
    margin-left: -1px;
}


/*			User profile revamp css			*/
.profile-pic {
    width: 150px;
    height: 150px;
    margin-right: 30px;
}

.profile-pic:before {
    font-size: 130px;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    border: 7px solid #DDD;
    border-radius: 50%;
    color: #2D9EB3;
}

.profile-pic-thumbnail {
    width: 40px;
    height: 40px;
    margin-right:10px;
    margin-bottom: 10px;
    float: left;
}

.dropdown-profile-pic-thumbnail {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.profile-info-wrapper {
    padding-top: 10px;
}

.profile-header {
    margin: 40px 0;
}

#btn-edit-profile {
    border: 1px solid #adadad;
    border-radius: 3px;
    color: #428bca;
}

#btn-edit-profile:hover {
    box-shadow: 0 0 5px #B2B2B2;
    -moz-box-shadow: 0 0 5px #B2B2B2;
    -webkit-box-shadow: 0 0 5px #B2B2B2;
}

.round-image {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.full-width-tabs {
    margin-left: -2000px;
    margin-right: -2000px;
    padding-left: 2000px;
    padding-right: 2000px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.full-width-tabs-container .panel-heading {
    color: #757575;
    text-shadow: 0 1px 0 #fff;
}

.full-width-tabs-container .nav-tabs > li > a {
    background: #FFF;
    color:#757575;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/* Layout pending back end functionality */
/*#social > div > div > ul > li {*/
    /*border: 1px solid #0A91AB;*/
    /*background: #FFF;*/
    /*-webkit-border-radius: 2px;*/
    /*-moz-border-radius: 2px;*/
    /*border-radius: 2px;*/
/*}*/

/*#social > div > div > ul > li:hover {*/
    /*transition: background 0.1s ;*/
    /*-webkit-transition: background 0.1s;*/
    /*-moz-transition: background 0.1s;*/
    /*background:#0A91AB;*/
/*}*/

div.affiliation {
    border-top: 1px solid #ddd;
}

.list-affiliations li {
    overflow: auto;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding-top: 15px;
}

.list-affiliations li:first-child {
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
}

.activity-block {
    margin-right: 0;
    margin-left: 0;
    color: #555;
}

#overview .activity-block {
    float: left;
    padding-top: 10px;
    width: 100%;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

.activity-info {
    margin-bottom: 5px;
}

.activity-info > span.title {
    font-size: 16px;
}

.activity-info h5 {
	margin: 2px 0;
}
.metadata-wrapper {
    margin-left: 50px;
    margin-bottom: 5px;
}

.metadata-wrapper > h5 {
    margin: 2px 0;
}

.activity-description {
    float: left;
    border-left: 3px solid #CCC;
    max-height: 50px;
    overflow: hidden;
    margin-bottom: 5px;
    margin-top: 10px;
}

.contribution .activity-description {
    margin-left: 15px;
}

#overview .activity-block:first-child {
    border-top: 0;
    margin-top: 0;
    padding-top:0;
}

.show-more-btn {
    width: 50px;
    margin-left: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
    color: #AAA;
    border: 1px solid #ddd;
    font-size: 12px;
    cursor: pointer;
    float: left;
}

.abstract-block {
    color: #757575;
    border-left: 3px solid #CCC;
    padding-left: 5px;
      margin-top: 10px;
}

table.overview tr > td:first-child {
    padding-right: 10px;
}

.icon-resource-type {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 0 0 4px 4px;
    background-color: #FFF;
}

.icon-resource-type > span {
    color: #757575;
	text-shadow: 0 1px 0 #fff;
}

.icon-resource-type, .contribution {
    box-shadow: 1px 1px 5px #E8E8E8;
    -moz-box-shadow: 1px 1px 5px #E8E8E8;
    -webkit-box-shadow: 1px 1px 5px #E8E8E8;
}

.icon-resource-type {
	padding: 20px 10px;
}

.icon-resource-type > .glyphicon{
    font-size: 18px;
    color: #35AAC0;
    top: 3px;
}

.icon-resource-type-wrapper {
    float: right;
    margin-top: -12px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.table-res-type-icon {
    background-color: #FFF;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.table-user-contributions tbody > tr > td {
    border: 0;
    cursor:pointer;
}

.table-user-contributions tbody > tr.active {
    border-left: 4px solid #0A91AB;
    pointer-events: none;
}

.table-user-contributions tbody > tr.active td:first-child {
    font-weight:bold;
}

.contribution {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px 0;
}

h4.title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 7px;
}

#badge-generic .badge {
    background-color:#1f77b4;
}

#badge-geographic .badge {
    background-color: #6A8593;
}

#badge-his .badge {
    background-color: #2ca02c;
}

#badge-model-program .badge {
    background-color: #4A5BB9;
}

#badge-model-instance .badge {
    background-color: #CFDD40;
}

#badge-swat .badge {
    background-color: #FF9F0D;
}

#badge-multidimensional .badge {
    background-color: #7247BC;
}

#badge-time-series .badge {
    background-color: #129D90;
}

#badge-geographic-feature .badge {
    background-color: #795548;
}

#badge-web-app .badge {
    background-color: rgb(242, 67, 55);
}

#color-scheme {
    float: right;
    padding: 5px 0 0 0;
}

.YellowGreenBlue-colormap-band-1 {
    background-color:rgb(1,70,54);
}
.YellowGreenBlue-colormap-band-1-fill {
    fill:rgb(1,70,54);
}
.YellowGreenBlue-colormap-band-2 {
    background-color:rgb(1,108,89);
}
.YellowGreenBlue-colormap-band-2-fill {
    fill:rgb(1,108,89);
}
.YellowGreenBlue-colormap-band-3 {
    background-color:rgb(2,129,138);
}
.YellowGreenBlue-colormap-band-3-fill {
    fill:rgb(2,129,138);
}
.YellowGreenBlue-colormap-band-4 {
    background-color:rgb(54,144,192);
}
.YellowGreenBlue-colormap-band-4-fill {
    fill:rgb(54,144,192);
}
.YellowGreenBlue-colormap-band-5 {
    background-color:rgb(103,169,207);
}
.YellowGreenBlue-colormap-band-5-fill {
    fill:rgb(103,169,207);
}
.YellowGreenBlue-colormap-band-6 {
    color: red;
    background-color:rgb(166,189,219);
}
.YellowGreenBlue-colormap-band-6-fill {
    fill:rgb(166,189,219);
}
.YellowGreenBlue-colormap-band-7 {
    color: red;
    background-color:rgb(208,209,230);
}
.YellowGreenBlue-colormap-band-7-fill {
    fill:rgb(208,209,230);
}
.YellowGreenBlue-colormap-band-8 {
    color: red;
    background-color:rgb(236,226,240);
}
.YellowGreenBlue-colormap-band-8-fill {
    fill:rgb(236,226,240);
}
.YellowGreenBlue-colormap-band-9 {
    color: red;
    background-color:rgb(255,247,251);
}
.YellowGreenBlue-colormap-band-9-fill {
    fill:rgb(255,247,251);
}

/*-------- My resources page revamp ---------*/

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#item-selectors_filter {
	display: none;
}

#item-selectors {
    display: none;
    font-size: 14px;
}

.dataTables_scroll {
    border: 1px solid #ddd;
}

#item-selectors tbody td {
	border-bottom: 1px solid #EEE;
}

.dataTables_scrollHeadInner thead th, .dataTables_scrollBody {
    border-bottom: 0 !important;
}

.dataTables_scrollHeadInner tr:first-child th:first-child {
	padding-left: 10px;
}

.dataTables_scrollBody {
    border-top: 1px solid #DDD;
}

#item-selectors tr > td:first-child {
	max-width: 90px;
	min-width: 90px;
	padding-right: 0;
}

.dropdown.dropdown-lg {
	position: static !important;
}

.dropdown.dropdown-lg .dropdown-menu {
	left: -251px;
	width: 284px;
}

.btn-clear-search {
	position: absolute;
	left: -25px;
	color: #A8A8A8;
	font-size: 16px;
	background: #FFF;
	top: 10px;
}

.search-icon {
	position: absolute;
	top: 10px;
	left: 8px;
	color: #A8A8A8;
}

#input-author, #input-subject {
	padding-right: 25px;
}

#resource-search-input {
	padding-left: 25px;
	padding-right: 30px;
}

.btn-clear-search-inline {
	color: #A8A8A8;
	float: right;
	top: -25px;
	right: 8px;
}

#resource-actions-container {
	cursor: default;
}

#resource-actions-container > span {
	font-size: 18px;
	cursor: pointer;
	margin: 4px 10px;
}

#resource-actions-container > span.glyphicon-tags {
	color: #0A91AB;
}

#resource-actions-container > span.glyphicon-share {
	color: #0A91AB;
}

#resource-actions-container > span.glyphicon-star {
	color: rgb(255, 163, 0);
}

#resource-actions-container > span.glyphicon-trash {
	color: rgb(202, 0, 0);
}

#search-container {
	margin-bottom: 10px;
}

/*Waiting on firefox support for background-clip:text*/
/*.btn-inline-favorite, .btn-inline-label {*/
	/*padding-top: 3px;*/
	/*margin-left: 8px;*/
	/*margin-right: 8px;*/
	/*font-size: 16px;*/
	/*cursor: pointer;*/
	/*background-color: #888888;*/
	/*color: transparent;*/
	/*text-shadow: 0 2px 3px rgba(255, 255, 255, 0.5);*/
	/*-webkit-background-clip: text;*/
	/*-moz-background-clip: text;*/
	/*background-clip: text;*/
/*}*/

.btn-inline-favorite, .btn-inline-label {
	padding-top: 3px;
	margin-left: 8px;
	margin-right: 8px;
	font-size: 16px;
	cursor: pointer;
	color: #AAA;
}

.btn-inline-label:hover, .has-labels {
	color: #0A91AB;
}

.btn-inline-favorite.isfavorite {
	color: rgb(255, 163, 0);
}

.btn-inline-favorite:hover {
	color: rgb(255, 163, 0);
}

.facet-list .list-group-item {
	border: 0;
	border-radius: 0;
	padding: 0 10px;
	text-align: left;
}

.facet-list .list-group-item:hover {
	background: #DDD;
}

.facet-list .panel-body {
	padding: 0;
}

.facet-list label.checkbox {
	font-weight: normal;
	border-radius: 0;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.facet-list .badge {
	  margin-top: 5px;
}

#facets .panel-heading {
	  text-align: left;
}

#facets .panel {
	margin-top: 20px;
}

#facets {
	text-align: center;
}

#facets h4.panel-title {
	color: #696969;
	text-shadow: 0 1px 0 #fff;
}

#facets .list-group {
	margin: 0;
}

.list-labels li {
	padding: 0 10px;
	background: none;
	border: 0;
}

.list-labels .list-group-item {
	padding: 10px;
    border-radius: 0;
}

.list-labels li:hover {
	background:#DDD;
}

.list-labels li > label {
	font-weight: normal;
}

.list-labels {
	margin-left: -10px;
	margin-bottom: 0;
}

.no-labels-found {
    font-style: italic;
    font-size: 14px;
    pointer-events: none;
}

#toolbar-labels-dropdown {
	font-size: 14px;
	padding: 0;
	background: #FFF;
}

#modalManageLabels .glyphicon-remove {
	color: rgb(217, 83, 79);
	cursor: pointer;
	float: right;
}

#modalManageLabels .glyphicon-remove:hover {
	color: rgb(168, 69, 66);
}

.inline-dropdown {
	position: relative;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	border: 0;
	left: 80px;
	top: -25px;
}

.inline-dropdown > .panel-body {
	background: #FFF;
	border: 1px solid #ddd;
	padding: 0 15px;
	min-width: 200px;
	max-height: 170px;
	overflow: auto;
}

.inline-dropdown ul, .list-labels {
	list-style-type: none;
}

.dataTables_wrapper {
    max-width: 100%;
}

.all-rows-selector {

}

.resource-type-text {
	display:none;
}

.row-selector {
	margin-right: 8px !important;
}

.hidden-form {
	display: none;
}

.label-public {
    color: #5cb85c;
}

.label-discoverable {
    color: #f0ad4e;
}

.label-private {
    color: #d9534f;
}

/*  Home page revamp */
#home-page-carousel {
	height: 400px;
    margin-bottom: 60px;
    overflow: hidden;
	border: 0;
}

.carousel-control, .carousel-inner {
	height: 100%;
}

.carousel-inner {
	background: #6D6D6D;
}

.carousel-inner > .item {
	text-align: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

.carousel-inner .item-caption {
	display: table-cell;
    color: #FFF;
    text-shadow: 1px 1px #4E4E4E;
    vertical-align: middle;
    background: rgba(0,0,0,0.25);
    padding: 0 95px;
}

.carousel-inner .caption-wrapper {
    width: 100%;
    height: 100%;
    display: table;
}

#table-features td {
    padding: 8px 0;
}

.home-panel-info {
	min-height: 300px;
	margin: 15px 0;
}

.checkmark {
	color: #81D685;
	font-size: 18px;
	margin-left: 5px;
	margin-right: 20px;
}

.img-devices {
	max-height: 100px;
	margin: auto;
}

.screen-sizes {
    background: url(../img/graypattern.jpg);
	background-color: #BBB;
	padding: 15px 0;
	margin:25px 0;
    margin-bottom: -60px;
	text-align: center;
}

.screen-sizes h2 {
    font-family: 'webfont_light', Helvetica, Arial, sans-serif;
    color: #777;
    text-shadow: 0 1px rgba(255, 255, 255, 0.6);
}

.btn-signup {
    margin: 20px;
}

.nav-bar-profile-pic-thumbnail {
    width: 40px;
    height: 40px;
}

.nav-bar-profile-pic-thumbnail::before {
	content: "\e008";
	font-family: "Glyphicons Halflings";
	float: left;
	font-size: 30px;
	color: #2D9EB3;
	border: 1px solid #9C9C9C;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	line-height: 22px;
	text-align: center;
	margin-top: 10px;
	margin-left: 6px;
}

.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 90%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #FFF;
    border-width: 10px;
    margin-left: -10px;
}

.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #909090;
    border-width: 11px;
    margin-left: -11px;
}

#signout-menu {
    float: right;
}

#profile-menu .profile-pic-thumbnail {
	margin: 0;
	margin-top: 5px;
	cursor: default;
}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}

.steps-container {
    text-align: center;
    margin-top: -40px;
}

.step-wrapper {
    padding: 20px;
    margin-top: 40px;
}

.step-item {
	border-top: 1px solid #D6D6D6;
    padding: 10px;
	color: #4BB5C1;
}

.step-item:hover {
	background: #FFF;
}

.step-item h4 {
	color: #555 !important;
}

.step-number {
    border: 1px solid #A9A9A9;
    width: 30px;
    height: 30px;
    background: #FFF;
    border-radius: 50%;
    padding-top: 4px;
    color: #000;
    margin: auto;
    margin-top: -25px;
}

.home-page-block {
    margin-bottom: 60px;
}

div.description.active {
    display: block;
}

.step-description {
    text-align: center;
    color: #666;
    line-height:20px;
}

.description-container {
    height: 150px;
}

.table-display {
    display: table;
    width: 100%
}

.table-cell-display {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.home-page-block-title {
    color: #4BB5C1;
}

.img-step {
    width: 150px;
    height: 150px;
    margin: auto;
}

.availability-description {
    height:100px;
}

