.editable-form textarea{
    line-height: 18px;
}
.text-center{
  text-align: center;
}
/* header */
.page-tip{
  margin-bottom: 0;
}
li.account{
    min-width: 0;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-top-left-radius: 0;
}
.nav .dropdown-menu > li.open > a{
    background-color: #515151;
    color: #fff;
}

/* gallery */
@media(max-width: 767px){
    .gallery .col-xs-4{
        width: 33.332%;
    }
}
@media(min-width: 768px){
    .gallery .col-sm-3{
        width: 24.999%;
    }
}

/* blog */
.img-blog-detail{
    border: 1px solid #DDDDDD;
    padding: 10px;
    margin-bottom: 20px;
}

/* accounts */
.account-form input{

}

.account-form input[type=checkbox] {
    width: auto;
    max-width: auto;
}
.account-form .form-group-checkbox label {
    margin: auto 15px;
}

fieldset[disabled].form-group input {
    background-color: #eee;
}

/*========================================
          MEZZANINE GENERIC
==========================================*/

.rating {
  margin:20px 0;
}
.rating span, .rating form {
  display: inline-block;
}
.rating ul {
  padding-left: 0;
  list-style: none;
}
.rating li {
  display: inline-block;
  margin: 0 5px;
}
.comment .rating {
  margin-top: 5px;
}
.comment-author {
  border: 1px solid #DDD;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 15px;
  margin-bottom: 30px;
  background-color: #FEFFEE;
}

/* forms */
.mezzanine-form{
  margin-top: 10px;
}
.form-content iframe{
  border: 0;
  width: 100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*========================================
            MEZZANINE FORMS CSS
==========================================
  These rules mirror the rules for .form-control included with
  Bootstrap. They are needed because we can not directly apply
  CSS classes to the form fields when rendering them in the template.
  They also cover special cases for date and date/time inputs.
*/
.form-group > input[type="text"],
.form-group > input[type="password"],
.form-group > input[type="datetime"],
.form-group > input[type="datetime-local"],
.form-group > input[type="date"],
.form-group > input[type="month"],
.form-group > input[type="time"],
.form-group > input[type="week"],
.form-group > input[type="number"],
.form-group > input[type="email"],
.form-group > input[type="url"],
.form-group > input[type="search"],
.form-group > input[type="tel"],
.form-group > input[type="color"],
.form-group > select,
.form-group > textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-group > input[type="text"]:focus,
.form-group > input[type="password"]:focus,
.form-group > input[type="datetime"]:focus,
.form-group > input[type="datetime-local"]:focus,
.form-group > input[type="date"]:focus,
.form-group > input[type="month"]:focus,
.form-group > input[type="time"]:focus,
.form-group > input[type="week"]:focus,
.form-group > input[type="number"]:focus,
.form-group > input[type="email"]:focus,
.form-group > input[type="url"]:focus,
.form-group > input[type="search"]:focus,
.form-group > input[type="tel"]:focus,
.form-group > input[type="color"]:focus,
.form-group > select:focus,
.form-group > textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-group > textarea {
  height: auto;
  max-width: 100%;
  /*max-height: 100px;*/
}

.has-error > input[type="text"],
.has-error > input[type="password"],
.has-error > input[type="datetime"],
.has-error > input[type="datetime-local"],
.has-error > input[type="date"],
.has-error > input[type="month"],
.has-error > input[type="time"],
.has-error > input[type="week"],
.has-error > input[type="number"],
.has-error > input[type="email"],
.has-error > input[type="url"],
.has-error > input[type="search"],
.has-error > input[type="tel"],
.has-error > input[type="color"],
.has-error > select,
.has-error > textarea {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error > input[type="text"]:focus,
.has-error > input[type="password"]:focus,
.has-error > input[type="datetime"]:focus,
.has-error > input[type="datetime-local"]:focus,
.has-error > input[type="date"]:focus,
.has-error > input[type="month"]:focus,
.has-error > input[type="time"]:focus,
.has-error > input[type="week"]:focus,
.has-error > input[type="number"]:focus,
.has-error > input[type="email"]:focus,
.has-error > input[type="url"]:focus,
.has-error > input[type="search"]:focus,
.has-error > input[type="tel"]:focus,
.has-error > input[type="color"]:focus,
.has-error > select:focus,
.has-error > textarea:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.multiplechoicefield > ul, .choicefield > ul{
  margin: 0;
  padding: 0;
}
.multiplechoicefield > ul > li, .choicefield > ul > li{
  list-style: none;
  display: inline-block;
}
.multiplechoicefield > ul label, .choicefield > ul label {
  display: inline-block;
  padding-right: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}
.datefield, .datetimefield {
  max-width: 450px;
}
.datefield > select {
  display: inline-block;
  width: 30%;
  margin-right: 2%;
}
.datefield > label, .datefield > .help-block,
.datetimefield > label, .datetimefield > .help-block {
  display: block;
}
.datetimefield > select {
  display: inline-block;
  margin-right: 2%;
  width: 22%;
}
.datetimefield > input[type="text"] {
  display: inline-block;
  width: 25%;
}
.form-actions {
  background-color: #F8F8F8;
  border-top: 1px solid #E7E7E7;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
}
/* We apply the clearfix hack to .form-actions because we often
float the buttons inside it. This prevents collapsing. */
.form-actions:before,
.form-actions:after {
  display: table;
  content: " ";
}

.form-actions:after {
  clear: both;
}
