{% extends "pages/genericresource.html" %}
{% load geoanalytics_tags pages_tags mezzanine_tags crispy_forms_tags%}

{% block extra_content %}

    {% if res_add_metadata %}
        <h4>Extended metadata terms</h4>
        <div class="row">
            <div class="col-md-12">{# <img src="/placeholder.png"></div> #}
                <table class="table">
                {% for attr, val in res_add_metadata.items %}
                    <tr><th>{{ attr }}</th><td>{{ val }}</td></tr>
                {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}

{% endblock %}
