{# This template is used as the landing page for Geographic Raster Resource #}

{% extends "pages/genericresource.html" %}
{% load geoanalytics_tags pages_tags mezzanine_tags crispy_forms_tags %}

{% block extended_metadata %}
    {% if extended_metadata_exists %}
        <div class="row">
            <div class="col-md-12">
                <div>
                    {% if originalCoverage %}
                        <h4><strong>Spatial Reference:</strong></h4>
                        <hr style="margin-top: 0px;margin-bottom: 2px">
                        {% if originalCoverage.projection %}
                            <div class="row">
                                <div class="col-sm-4"><strong>Coordinate Reference System:</strong></div>
                                <div class="col-sm-8">{{ originalCoverage.projection}}</div>
                            </div>
                        {% endif %}
                        {% if originalCoverage.units %}
                            <div class="row">
                                <div class="col-sm-4"><strong>Coordinate Reference System Unit:</strong></div>
                                <div class="col-sm-8">{{ originalCoverage.units}}</div>
                            </div>
                        {%  endif %}
                        <div class="row">
                            <div class="col-sm-4"><strong>Extent:</strong></div>
                        </div>
                        {% if originalCoverage.northlimit %}
                            <div class="row">
                                <div class="col-sm-4" style="text-indent:40px"><strong>North</strong></div>
                                <div class="col-sm-8">{{ originalCoverage.northlimit }}</div>
                            </div>
                        {% endif %}
                        {% if originalCoverage.westlimit %}
                            <div class="row">
                                <div class="col-sm-4" style="text-indent:40px"><strong>West</strong></div>
                                <div class="col-sm-8">{{ originalCoverage.westlimit}}</div>
                            </div>
                        {% endif %}
                        {% if originalCoverage.southlimit %}
                            <div class="row">
                                <div class="col-sm-4" style="text-indent:40px"><strong>South</strong></div>
                                <div class="col-sm-8">{{ originalCoverage.southlimit }}</div>
                            </div>
                        {% endif %}
                        {% if originalCoverage.eastlimit %}
                            <div class="row">
                                <div class="col-sm-4"style="text-indent:40px"><strong>East</strong></div>
                                <div class="col-sm-8">{{ originalCoverage.eastlimit }}</div>
                            </div>
                        {% endif %}


                    <hr>
                    {% endif %}
                </div>

                <div>
                    {% if cellInformation %}
                        <h4><strong>Cell Information:</strong></h4>
                        <hr style="margin-top: 0px;margin-bottom: 2px">
                        <div class="row">
                            <div class="col-sm-4"><strong>Rows:</strong></div>
                            <div class="col-sm-8">{{ cellInformation.rows }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><strong>Columns:</strong></div>
                            <div class="col-sm-8">{{ cellInformation.columns }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><strong>CellSizeXValue:</strong></div>
                            <div class="col-sm-8">{{ cellInformation.cellSizeXValue }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><strong>CellSizeYValue:</strong></div>
                            <div class="col-sm-8">{{ cellInformation.cellSizeYValue }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"><strong>CellDataType:</strong></div>
                            <div class="col-sm-8">{{ cellInformation.cellDataType }}</div>
                        </div>
                        {% if cellInformation.noDataValue %}
                            <div class="row">
                                <div class="col-sm-4"><strong>NoDataValue:</strong></div>
                                <div class="col-sm-8">{{ cellInformation.noDataValue }}</div>
                            </div>
                        {% endif %}
                    <hr style="border:0">
                    {% endif %}
                </div>

                <div>
                    {% if bandInformation %}
                        <h4><strong>Band Information:</strong></h4>
                        <hr style="margin-top: 0px;margin-bottom: 2px">
                        {% for band in bandInformation %}
                            <div class="row">
                                <div class="col-sm-4"><strong>BandName:</strong></div>
                                <div class="col-sm-8">{{ band.name }}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"><strong>VariableName:</strong></div>
                                <div class="col-sm-8">{{ band.variableName }}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"><strong>VariableUnit:</strong></div>
                                <div class="col-sm-8">{{ band.variableUnit }}</div>
                            </div>
                            {% if band.method %}
                                <div class="row">
                                    <div class="col-sm-4"><strong>Method:</strong></div>
                                    <div class="col-sm-8">{{ band.method }}</div>
                                </div>
                            {% endif %}
                            {% if band.comment %}
                                <div class="row">
                                    <div class="col-sm-4"><strong>Comment:</strong></div>
                                    <div class="col-sm-8">{{ band.comment }}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block extra_js %}
    {{ block.super }}
    {# resource specific js can go here #}
{% endblock %}