{# This template is used as the landing page for Geographic Raster Resource #}

{% extends "pages/genericresource.html" %}
{% load geoanalytics_tags pages_tags mezzanine_tags crispy_forms_tags %}

{% block extended_metadata %}
    {% if extended_metadata_exists %}
        <div class="row">

        {% if originalCoverage %}
            <div class="col-xs-12 col-sm-6" style="margin-bottom:40px;">
                <legend>Spatial Reference</legend>
                <table class="custom-table">
                    <tbody>

                    {% if originalCoverage.projection %}
                        <tr>
                            <th class="text-muted">Coordinate Reference System</th>
                            <td>{{ originalCoverage.projection }}</td>
                        </tr>
                    {% endif %}
                    {% if originalCoverage.units %}
                        <tr>
                            <th class="text-muted">Coordinate Reference System Unit</th>
                            <td>{{ originalCoverage.units }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>

                <h4>Extent</h4>

                <table class="custom-table">
                    <tbody>
                    {% if originalCoverage.northlimit %}
                        <tr>
                            <th class="text-muted">North</th>
                            <td>{{ originalCoverage.northlimit }}</td>
                        </tr>
                    {% endif %}
                    {% if originalCoverage.westlimit %}
                        <tr>
                            <th class="text-muted">West</th>
                            <td>{{ originalCoverage.westlimit }}</td>
                        </tr>
                    {% endif %}
                    {% if originalCoverage.southlimit %}
                        <tr>
                            <th class="text-muted">South</th>
                            <td>{{ originalCoverage.southlimit }}</td>
                        </tr>
                    {% endif %}
                    {% if originalCoverage.eastlimit %}
                        <tr>
                            <th class="text-muted">East</th>
                            <td>{{ originalCoverage.eastlimit }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if cellInformation %}
             <div class="col-xs-12 col-sm-6" style="margin-bottom:40px;">
                <legend>Cell Information</legend>
                <table class="custom-table">
                    <tbody>
                    <tr>
                        <th class="text-muted">Rows</th>
                        <td>{{ cellInformation.rows }}</td>
                    </tr>

                    <tr>
                        <th class="text-muted">Columns</th>
                        <td>{{ cellInformation.columns }}</td>
                    </tr>

                    <tr>
                        <th class="text-muted">CellSizeXValue</th>
                        <td{{ cellInformation.cellSizeXValue }}></td>
                    </tr>

                    <tr>
                        <th class="text-muted">CellSizeYValue</th>
                        <td>{{ cellInformation.cellSizeYValue }}</td>
                    </tr>

                    <tr>
                        <th class="text-muted">CellDataType</th>
                        <td>{{ cellInformation.cellDataType }}</td>
                    </tr>

                    {% if cellInformation.noDataValue %}
                        <tr>
                            <th class="text-muted">NoDataValue</th>
                            <td>{{ cellInformation.noDataValue }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if bandInformation %}
            <div class="col-sm-12 pull-left" style="margin-bottom:40px;">
                <legend>Band Information</legend>
                <div id="variables" class="well clearfix">
                    <div class="row">
                        {% for band in bandInformation %}
                            <div class="col-xs-12 col-sm-6">
                                <div class="custom-well">
                                    <strong>{{ band.name }}</strong>
                                    <table class="custom-table">
                                        <tbody>
                                            <tr><th class="text-muted">VariableName</th><td>{{ band.variableName }}</td></tr>

                                            <tr><th class="text-muted">VariableUnit</th><td>{{ band.variableUnit }}</td></tr>

                                            {% if band.method %}
                                                <tr><th class="text-muted">Method</th><td>{{ band.method }}</td></tr>
                                            {% endif %}

                                            {% if band.comment %}
                                                <tr><th class="text-muted">Comment</th><td>{{ band.comment }}</td></tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}
{% block extra_js %}
    {{ block.super }}
    {# resource specific js can go here #}
{% endblock %}