### Local Configuration Variables ###
HS_PATH: /home/hydro/hydroshare
HOST_SSL_DIR: /home/hydro/hs-certs
HS_DATABASE: pg.development.sql
HS_LOG_FILES: /home/hydro/hydroshare/log
HS_SERVICE_UID: 1000
HS_SERVICE_GID: 1000

### Deployment Options ###
USE_NGINX: true
USE_SSL: false
USE_SECURITY: false
USE_HTTP_AUTH: false

### SSL Configuration Variables ###
SSL_CERT_DIR: /home/hydro/hydroshare/nginx/cert-files
SSL_CERT_FILE: hydrodev-vb.example.org.cert
SSL_KEY_FILE: hydrodev-vb.example.org.key

### NGINX Build Variables ###

### Hostname to which Nginx will respond.
FQDN_OR_IP: localhost

### Where to find Nginx configuration
NGINX_DIR: /home/hydro/hydroshare/nginx

### Mount point in host operating system (outside docker)
### This is mounted from here into the Nginx container
IRODS_LOCAL_MOUNT: /irods

### Mount points inside docker Nginx container
### These give Nginx direct access to iRODS vaults
### All ROOTs must be children of DOCKER_MAP ###
IRODS_DOCKER_MAP: /irods
IRODS_DATA_ROOT: /irods/data/iRODS/Vault/home/wwwHydroProxy
IRODS_USER_ROOT: /irods/user/iRODS/Vault/home/localHydroProxy
IRODS_CACHE_ROOT: /irods/cache

### Nginx worker process must be able to read iRODS files.
### These used to build the nginx docker container.
SENDFILE_IRODS_USER: irods
SENDFILE_IRODS_GROUP: irods
SENDFILE_IRODS_USER_ID: 998
SENDFILE_IRODS_GROUP_ID: 998

### URIs in Nginx that activate reverse proxy service
### These must agree with URIs in local_settings.py
IRODS_DATA_URI: irods-data
IRODS_USER_URI: irods-user
IRODS_CACHE_URI: irods-cache

### REQUIRES BLANK LINE AFTER LAST VARIABLE DEFINITION ###

