### Local Configuration Variables ###
HS_PATH: /home/hydro/hydroshare
HS_DATABASE: pg.development.sql
HS_LOG_FILES: /home/hydro/hydroshare/log

### REQUIRES BLANK LINE AFTER LAST VARIABLE DEFINITION ###
