{% extends "pages/page.html" %}

{% load hydroshare_tags %}

{% block main %}

    <div class="collaborate-header">
        <div class="container">
            <div class="col-sm-12">
                <div class="collaborate-nav">
                    <a href="{% url "Collaborate" %}" class="collaborate-nav-item active">Find Groups</a>
                    <a href="{% url "MyGroups" %}" class="collaborate-nav-item">My Groups</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Find groups</h3>
                <hr class="solid">
                <div class="input-group group-search">
                    <input id="txt-search-groups" type="text" class="form-control" placeholder="Search by group name...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>
                </div>
            </div>
        </div>
        <div class="row group-thumbnails">
            {% if groups %}
            {% for group in groups %}
                {% if group.gaccess.public or group.gaccess.discoverable %}
                    <div class="col-sm-6 col-md-4 group-container">
                        <div class="group-thumbnail contribution">
                            {% if group.gaccess.picture and group.gaccess.picture.url %}
                                <div class="group-preview-image" style="background-image: url({{ group.gaccess.picture.url }})"></div>
                            {% else %}
                                <div class="group-preview-image group-preview-image-default" style="background-image: url({{ STATIC_URL }}img/home-page/step4.png)"></div>
                            {% endif %}
                            <div class="group-caption">
                                <h3 class="group-name">{{ group.name }}</h3>
                                <small class="text-muted group-keywords">{{ group.gaccess.purpose }}</small>

                                <p class="group-description">{{ group.gaccess.description }}</p>

                                <div class="text-center group-thumbnail-footer">
                                    {% if group.gaccess.public %}
                                        <div class="users-joined height-fix">
                                            <div class="link-members"><a class="text-muted" href="#" data-toggle="modal" data-target="#modal-members-list-{{ group.id }}">MEMBERS</a></div>
                                            {% for member in group.gaccess.members|slice:":5" %}
                                                {% if  member.userprofile.picture and member.userprofile.picture.url %}
                                                    <div style="background-image: url('{{ member.userprofile.picture.url }}');"
                                                         class="round-image profile-pic-thumbnail"
                                                         title="{{ member|best_name }}">
                                                    </div>
                                                {% else %}
                                                    <div class="profile-pic-thumbnail-small round-image"
                                                         title="{{ member|best_name }}"></div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% if group.gaccess.members|length > 5 %}
                                            <div>
                                                <small class="text-muted">and {{ group.gaccess.members|length|add:"-5" }} others have joined</small>
                                            </div>
                                        {% endif %}

                                        <!-- Members List Modal -->
                                        <div class="modal fade" id="modal-members-list-{{ group.id }}" tabindex="-1" role="dialog"
                                             aria-labelledby="Invite">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close"><span aria-hidden="true">&times;</span>
                                                        </button>
                                                        <h4 class="modal-title">Members</h4>
                                                    </div>

                                                    <div class="modal-body">
                                                        <table class="table access-table members-table"
                                                               style="text-align: left;">
                                                            <tbody>
                                                            {% for u in group.gaccess.members %}
                                                                <tr id="row-id-{{ u.pk }}"
                                                                    {% if owners|length == 1 or not is_owner_user %}class="hide-actions"{% endif %}>
                                                                    <td>
                                                                        <div class="user-scope">
                                                                            {% if u.userprofile.picture %}
                                                                                <div style="background-image: url('{{ u.userprofile.picture.url }}');"
                                                                                     class="profile-pic-thumbnail round-image"></div>
                                                                            {% else %}
                                                                                <div class="profile-pic-thumbnail round-image user-icon"></div>
                                                                            {% endif %}

                                                                            <a data-col="name"
                                                                               class="user-name">{{ u|contact|safe }}</a>
                                                                            {% if u.pk == current_user.pk %}
                                                                                <span class="text-muted you-flag">(You)</span>
                                                                            {% endif %}
                                                                            <br>
                                                                            <span data-col="user-name" class="user-username-content">{{ u.username }}</span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    {% endif %}

                                    {% if group.is_user_member %}
                                        <div class="text-center">
                                            <h4 class="flag-joined"><span class="glyphicon glyphicon-ok"></span> You have joined this group.</h4>
                                        </div>
                                    {% elif group.join_request_waiting_owner_action %}
                                        <h4 class="text-muted">Request Sent</h4>

                                    {% elif group.join_request_waiting_user_action %}
                                        {#  TODO: MAKE BOTH OF THIS AJAX #}
                                        <div>
                                            <span class="text-muted">You have been invited to join this group!</span>
                                            <div class="height-fix">
                                                <form class="act-on-request height-fix"
                                                      action="/hsapi/_internal/act-on-group-membership-request/{{ group.join_request.id }}/accept/"
                                                      method="POST">
                                                    {% csrf_token %}
                                                    <a class="btn btn-primary btn-act-on-request" data-user-action="Accept">Accept</a>
                                                </form>

                                                <form class="act-on-request height-fix"
                                                      action="/hsapi/_internal/act-on-group-membership-request/{{ group.join_request.id }}/reject/"
                                                      method="POST">
                                                    {% csrf_token %}
                                                    <a class="btn btn-default btn-act-on-request">
                                                        Decline
                                                    </a>
                                                </form>
                                            </div>
                                        </div>
                                    {% else %}
                                        <form id="join-{{ group.id }}" method="post"
                                              action="/hsapi/_internal/make-group-membership-request/{{ group.id }}/">
                                            {% csrf_token %}
                                            <a href="#"
                                               data-form-id="join-{{ group.id }}"
                                               class="btn btn-primary btn-ask-to-join"
                                               role="button">Ask to join</a>
                                        </form>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
                {% else %}
               <div class="col-sm-12"><i>No groups have been created yet. Check back later.</i></div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script>
        // Makes all group preview containers have the same height.
        function fixViewPort() {
            var row = $('.group-thumbnails');
            $.each(row, function () {
                var maxh = 0;
                $.each($(this).find('div[class^="col-"]'), function () {
                    if ($(this).height() > maxh)
                        maxh = $(this).height();
                });
                if (maxh) {
                    $.each($(this).find('div[class^="col-"]'), function () {
                        $(this).height(maxh);
                    });
                }
            });
        }

        function request_join_group_ajax_submit() {
            var target = $(this);
            var dataFormID = $(this).attr("data-form-id");
            var form = $("#" + dataFormID);
            var datastring = form.serialize();
            var url = form.attr('action');
            $.ajax({
                type: "POST",
                url: url,
                dataType: 'html',
                data: datastring,
                success: function (result) {
                    var container = target.parent().parent();
                    target.parent().remove();
                    container.append('<h4 class="text-muted">Request Sent</h4>');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("error");
                }
            });
            //don't submit the form
            return false;
        }

        function act_on_request_ajax_submit() {
            var target = $(this);
            var form = $(this).closest("form");
            var datastring = form.serialize();
            var url = form.attr('action');
            $.ajax({
                type: "POST",
                url: url,
                dataType: 'html',
                data: datastring,
                success: function (result) {
                    var container = target.parent().parent().parent().parent();
                    target.parent().parent().parent().remove();
                    if (target.attr("data-user-action") == "Accept") {
                        container.append('<div class="text-center"><h4 class="flag-joined"><span class="glyphicon glyphicon-ok"></span> You have joined this group.</h4></div>');
                    }
                    else {
                        container.append('<div class="text-center"><h4 class="flag-declined"><span class="glyphicon glyphicon-remove"></span> You have declined to join this group.</h4></div>');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("error");
                }
            });
            //don't submit the form
            return false;
        }

        $(document).ready(function () {
            $(".btn-ask-to-join").click(request_join_group_ajax_submit);
            $(".btn-act-on-request").click(act_on_request_ajax_submit);
            $("#txt-search-groups").keyup(function () {
                var searchString = $("#txt-search-groups").val().toLowerCase();
                $(".group-container").show();
                var groups = $(".group-container");
                for (var i = 0; i < groups.length; i++) {
                    var groupName = $(groups[i]).find(".group-name").text().toLowerCase();
                    if (groupName.indexOf(searchString) < 0) {
                        $(groups[i]).hide();
                    }
                }
            });
            fixViewPort();
        });
    </script>
{% endblock %}