{% extends "pages/page.html" %}

{% load mezzanine_tags pages_tags hydroshare_tags %}

{% block title %}

    Create resource

{% endblock %}

{% block main %}

    <h2>Select a resource type and upload files as needed to create a new resource</h2>

    <ul>
    <li>Files you upload here will be grouped together into a "Resource"</li>
    <li>File size is limited to 10 GB per file</li>
    </ul>

<form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data" action="/hsapi/_internal/create-resource/do/">
    {% csrf_token %}
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Select a resource type</label>
        <div class="col-sm-10">
            <select class="form-control" name="resource-type" id="resource-type">
                <option value="GenericResource">Generic Resource</option>
                <option value="TimeSeriesResource">Time Series Resource</option>
{#                <option value="InstResource">RHESSys Instance Resource</option>#}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="title" id="title" placeholder="Untitled resource">
        </div>
    </div>
    <h3>Add your files here:</h3>
    <table class="table" id="file-list">
    <tbody id="files">
        <tr>
            <td><input type="file" name="files" id="" multiple/></td>
        </tr>
    </tbody>
    </table>

    <h2 style="color:red">{{ file_size_error }}</h2>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Create Resource</button>
        </div>
    </div>
</form>

{% endblock %}