{% extends "pages/page.html" %}

{% load hydroshare_tags thumbnail %}

{% block meta_title %}Find Groups{% endblock %}

{% block extra_css %}
<link href="{% static 'css/collaborate.css' %}" rel="stylesheet" />
{% endblock %}

{% block main %}
{% include 'includes/groups-nav.html' with active='find_groups' %}

<div class="container has-space-bottom-2x">
    <div class="row">
        <div class="col-sm-12">
            {% if request.user.is_authenticated %}
            <h2 class="page-title">Find Groups</h2>
            <a class="btn btn-success" data-toggle="modal" data-target="#create-group-modal"><i class="fa fa-plus"></i>
                Create Group</a>
            <br><br>
            {% else %}
            <h2 class="page-title">Find Public Groups</h2>
            {% endif %}

            <div class="group-search input-group">
                <span class="glyphicon glyphicon-search search-icon"></span>
                <input id="txt-search-groups" type="text" class="form-control" placeholder="Search by group name...">
            </div>
            <p id="id-Group-Search-Result-Msg"></p>
        </div>
    </div>

    <div class="group-thumbnails">
        {% if groups %}
        {% for group in groups %}
        {% if group.gaccess.public or group.gaccess.discoverable %}
        <div class="group-container word-break-normal">
            <div class="group-thumbnail contribution">
                <div class="flex flex-sm-column justify-space-between gap-1 group-thumbnail-header">
                    {% if group.gaccess.picture and group.gaccess.picture.url %}
                        {% thumbnail group.gaccess.picture "x150" crop="center" as im %}
                        <div class="group-image-wrapper medium">
                            <div class="group-image" style="background-image: url({{ im.url }})"></div>
                        </div>
                        {% endthumbnail %}
                    {% else %}
                        <div class="group-image-wrapper medium">
                            <div class="group-image group-preview-image-default"
                                style="background-image: url({{ STATIC_URL }}img/home-page/step4.png)">
                            </div>
                        </div>
                    {% endif %}

                    <div class="flex flex-column gap-1 align-flex-end">
                        <span>
                            {% if group.gaccess.public and group.gaccess.discoverable %}
                            <img src="{% static 'img/public.png' %}" alt="Public Group" title="Public Group"><span
                                class="small">Public Group</span>
                            {% elif not group.gaccess.public and group.gaccess.discoverable %}
                            <img src="{% static 'img/discoverable.png' %}" alt="Discoverable Group" title="Discoverable Group"><span
                                class="small">Discoverable Group</span>
                            {% endif %}
                        </span>
                    </div>
                </div>

                <div class="group-caption">
                    <h3 class="group-name"><a href="/group/{{ group.id }}">{{ group.name }}</a></h3>
                    {% if group.gaccess.purpose %}
                    <div class="group-purpose word-break-normal text-muted">
                        <p>{{ group.gaccess.purpose|linebreaks}}</p>
                    </div>
                    {% endif %}

                    {% if group.gaccess.description %}
                    <h5 class="is-marginless has-space-top">About this group:</h5>
                    <div class="group-description has-space-bottom word-break-normal">
                        <p>{{ group.gaccess.description|linebreaks }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        {% if request.user.is_authenticated %}
        <div class="col-sm-12"><i>No groups have been created yet.</i>
        </div>
        {% else %}
        <div class="col-sm-12"><i>No public groups have been created yet.</i>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>

{% if request.user.is_authenticated %}
{% include "includes/create-group-modal.html" %}
{% include "includes/group_explanation_modal.html" %}
{% endif %}
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/bootstrap-toolkit.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/group-actions.js' %}"></script>
<script type="text/javascript" src="{% static 'js/collaborate.js' %}"></script>
{% endblock %}