{% extends 'pages/page.html' %}

{% load ratings_tags pages_tags keyword_tags hydroshare_tags crispy_forms_tags %}

{% block extra_head %}
    <link href="{{ STATIC_URL }}css/site_base_irods.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.dataTables.min.css">
    <link href="{{ STATIC_URL }}css/toolresource.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/hs-file-icons.css" rel="stylesheet"/>
{% endblock %}

{% block main %}
    {% keywords_for page as kws %}
    {% set_page_permissions page %}
    <input type="hidden" id="supported-file-types" value="{{ cm.get_supported_upload_file_types }}">
    <input type="hidden" id="allow-multiple-file-upload" value={{ cm.allow_multiple_file_upload }}>
    <input type="hidden" id="file-count" value={{ cm.files.all.count }}>
    <input type="hidden" id="resource-mode" value="{% if resource_edit_mode %}Edit{% else %}View{% endif %}" >
    <input type="hidden" id="resource-type" value="{{ cm|resource_type }}" >
    <input type="hidden" id="spatial-coverage-type" value="{{ spatial_coverage.type }}" >
    <input type="hidden" id="current-user-id" value="{{ request.user.id }}" >
    <input type="hidden" id="keywords-string" value="{{ keywords_string }}">
    <input type="hidden" id="short-id" value="{{ cm.short_id }}">
    <input type="hidden" id="static-url" value="{{ STATIC_URL }}">
    {% if page.perms.change and resource_edit_mode %}
    {% csrf_token %}
    {% endif %}

    <div class="container" onload="loadScroll()" onunload="saveScroll()">
        {% block error %}
            {%  if validation_error %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong>Validation Error: {{ validation_error }}</strong>
                 </div>
            {%  endif %}
            {% if resource_creation_error %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>{{ resource_creation_error }}</strong>
                </div>
            {% endif %}
        {% endblock %}

        {%  if task_id and download_path %}
            <input type="hidden" id="task_id" name="task_id" value="{{ task_id }}">
            <input type="hidden" id="download_path" name="download_path" value="{{ download_path }}">
            <div class="col-sm-12">
                <div id='download-status-info' class="alert alert-success">
                    Please wait for the download to be prepared<span id="loading">.</span>
                </div>
            </div>
        {% endif %}

        {# ======= Title ======= #}
        {% include "resource-landing-page/title-section.html" %}

        {# ======= Top-right buttons ======= #}
        {% include "resource-landing-page/top-right-buttons.html" with resource_is_mine=resource_is_mine show_manage_access=show_manage_access %}

        {# ======= Title and header content ======= #}
        {% include "resource-landing-page/resource-header.html" %}

        {# ======= Abstract ======= #}
        {% include "resource-landing-page/abstract.html" %}

        {# ======= Subject ======= #}
        {% include "resource-landing-page/subject.html" %}

        {# ======= Coverage ======= #}
        {% if spatial_coverage.north or spatial_coverage.northlimit or temporal_coverage or resource_edit_mode %}
            {% include "resource-landing-page/coverage.html" %}
        {% endif %}

        {% block content_block %}
        {# ======= Content (code moved here because django does not render blocks inside included templates) ======= #}
        {% if cm.resource_type != "ToolResource" %}
            {# POPUP MENU - Right clicking items #}
            <ul id="right-click-menu" class="dropdown-menu fb-dropdown selection-menu">
                {% if cm.resource_type == "ModelProgramResource" or cm.resource_type == "MODFLOWModelInstanceResource" or cm.resource_type == "SWATModelInstanceResource" or cm.resource_type == "ModelInstanceResource" or cm.resource_type == "CompositeResource" %}
                    <li id="btn-open" data-menu-name="open" data-fb-action="open">
                        <span class="fa fa-folder-open icon-blue"></span>
                        <span>Open</span>
                    </li>

                    <li id="open-separator" role="separator" class="divider"></li>
                {% endif %}

                {% if page.perms.change and resource_edit_mode %}
                    {% if cm.resource_type == "CompositeResource" %}
                        <li id="btn-cut" data-menu-name="cut" data-fb-action="cut">
                            <span class="fa fa-scissors icon-blue"></span>
                            <span>Cut</span>
                        </li>
                        <li data-menu-name="paste" data-fb-action="paste">
                            <span class="fa fa-clipboard icon-blue"></span>
                            <span>Paste</span>
                        </li>
                    {% endif %}

                    {% if cm.resource_type == "TimeSeriesResource" or cm.resource_type == "CompositeResource" %}
                        <li data-menu-name="rename" data-toggle="modal" data-fb-action="rename" data-target="#rename-dialog">
                            <span class="glyphicon glyphicon-pencil icon-blue"></span>
                            <span>Rename</span>
                        </li>
                    {% endif %}

                    <li data-menu-name="delete" class="fb-files-remove"
                        data-fb-action="delete" data-toggle="modal"
                        data-target="#confirm-delete-dialog">
                        <span class="glyphicon glyphicon-trash icon-button btn-remove"></span>
                        <span>Delete</span>
                    </li>

                    <li id="zip-separator" role="separator" class="divider"></li>

                    <li id="btn-zip" data-menu-name="zip" data-toggle="modal" data-fb-action="zip"
                        data-target="#zip-folder-dialog">
                        <span class="glyphicon glyphicon-compressed icon-blue"></span>
                        <span>Zip folder...</span>
                    </li>

                    <li id="btn-unzip" data-menu-name="unzip" data-fb-action="unzip">
                        <span class="fa fa-file-archive-o icon-blue"></span>
                        <span>Unzip here</span>
                    </li>

                    <li role="separator" class="divider"></li>
                {% endif %}

                <li id="btn-download" data-menu-name="download" data-fb-action="download">
                    <span class="glyphicon glyphicon-download icon-blue"></span>
                    <span>Download</span>
                </li>
                <li data-menu-name="download" data-fb-action="downloadZipped" data-zipped="true">
                    <span class="fa fa-download icon-blue"></span>
                    <span>Download zipped</span>
                </li>
                <li id="btn-get-link" data-menu-name="get-link"
                    data-fb-action="getLink" data-toggle="modal"
                    data-target="#get-file-url-dialog">
                    <span class="fa fa-link icon-blue"></span>
                    <span>Get file URL</span>
                </li>
                <li data-fb-action="getRefUrl"
                    data-toggle="modal" data-target="#redirect-referenced-url-dialog">
                    <span class="fa fa-external-link icon-blue"></span>
                    <span>Open referenced URL</span>
                </li>
                {% if page.perms.change and resource_edit_mode and cm.resource_type == "CompositeResource" %}
                    <li data-fb-action="updateRefUrl"
                        data-toggle="modal" data-target="#edit-referenced-url-dialog">
                        <span class="glyphicon glyphicon-pencil icon-blue"></span>
                        <span>Edit referenced URL</span>
                    </li>
                {% endif %}
                <li id="content-type-separator" role="separator" class="divider"></li>
                {% if page.perms.change and resource_edit_mode and cm.resource_type == "CompositeResource"%}
                    {# ADD METADATA TO A FILE #}
                    <li id="btn-set-generic-file-type" data-fb-action="setGenericFileType">
                        <i class="fa fa-plus icon-green" aria-hidden="true"></i>
                        <span>Add metadata</span>
                    </li>
                    {# ADD METADATA TO A FOLDER #}
                    <li data-fb-action="setFileSetFileType">
                        <i class="fa fa-plus icon-green" aria-hidden="true"></i>
                        <span>Add metadata</span>
                    </li>
                    <li data-fb-action="subMenuSetContentType"
                        class="dropdown-submenu submenu-trigger">
                        <span tabindex="-1" class="">
                            <i class="fa fa-exchange icon-blue" aria-hidden="true"></i>
                            Set content type
                            <span class="caret"></span>
                        </span>
                        <ul class="dropdown-menu">
                            <li id="btn-set-geo-file-type" data-menu-name="setgeorasterfiletype"
                                data-toggle="tooltip" data-placement="right" data-fb-action="setGeoRasterFileType"
                                title="Convert GeoTiff files to a geographic raster dataset to which you can add metadata">
                                <img src="{{ STATIC_URL }}img/resource-icons/geographicraster48x48.png"
                                 alt="Geographic Raster Resource Icon" class="resource-type-icon"/>
                                <span>Geographic Raster</span>
                            </li>
                            <li id="btn-set-netcdf-file-type" data-menu-name="setnetcdffiletype"
                                data-toggle="tooltip" data-placement="right" data-fb-action="setNetCDFFileType"
                                title="Convert NetCDF files to a multidimensional dataset to which you can add metadata">
                                <img src="{{ STATIC_URL }}img/resource-icons/multidimensional48x48.png"
                                 alt="Multidimensional Resource Icon" class="resource-type-icon"/>
                                <span>Multidimensional</span>
                            </li>
                            <li id="btn-set-geofeature-file-type" data-menu-name="setgeofeaturefiletype"
                                data-toggle="tooltip" data-placement="right" data-fb-action="setGeoFeatureFileType"
                                title="Convert a shapefile to a geographic feature dataset to which you can add metadata">
                                <img src="{{ STATIC_URL }}img/resource-icons/geographicfeature48x48.png"
                                 alt="Geographic Feature Resource Icon" class="resource-type-icon"/>
                                <span>Geographic Feature</span>
                            </li>
                            <li id="btn-set-refts-file-type" data-menu-name="setreftsfiletype" data-toggle="tooltip"
                                data-placement="right" data-fb-action="setRefTimeseriesFileType"
                                title="Convert to a referenced time series dataset with metadata">
                                <img src="{{ STATIC_URL }}img/resource-icons/timeseries48x48.png"
                                 alt="Time Series Resource Icon" class="resource-type-icon"/>
                                <span>Referenced Time Series</span>
                            </li>
                            <li id="btn-set-timeseris-file-type" data-menu-name="settimeseriesfiletype"
                                data-toggle="tooltip" data-placement="right" data-fb-action="setTimeseriesFileType"
                                title="Convert to a time series dataset to which you can add metadata">
                                <img src="{{ STATIC_URL }}img/resource-icons/timeseries48x48.png"
                                 alt="Time Series Resource Icon" class="resource-type-icon"/>
                                <span>Time Series</span>
                            </li>
                        </ul>
                    </li>
                    <li data-fb-action="removeAggregation"
                        data-toggle="modal"
                        data-target="#remove-aggregation-dialog"
                        data-placement="right">
                        <span data-toggle="tooltip" data-placement="right"
                              title="Remove the content type association and delete content-level metadata">
                            <i class="fa fa-minus-circle btn-remove" aria-hidden="true"></i>
                            <span>Remove content type</span>
                        </span>
                    </li>
                {%  endif %}
                {% if relevant_tools %}
                    <li role="separator" class="divider"></li>
                    {% for tool in relevant_tools.tool_list %}
                        {% if tool.openwithlist %}
                            {% if tool.agg_types %}
                                <li class="btn-open-with" data-menu-name="web-app" agg-types="{{ tool.agg_types }}" url_aggregation="{% url 'tracking-applaunch' %}?url={{tool.url_aggregation|urlencode}};name={{tool.title}}">
                                    <img class="file-options-webapp-icon" src="{{ tool.icon_url }}">
                                     {% if tool.title|length > 20 %}
                                        <span>{{ tool.title|slice:":21"|add:"..." }}</span>
                                    {% else %}
                                        <span>{{ tool.title }}</span>
                                    {% endif %}
                                </li>
                            {% endif %}
                            {% if tool.file_extensions %}
                                <li class="btn-open-with" data-menu-name="web-app" file-extensions="{{ tool.file_extensions }}" url_file="{% url 'tracking-applaunch' %}?url={{tool.url_file|urlencode}};name={{tool.title}}">
                                    <img class="file-options-webapp-icon" src="{{ tool.icon_url }}">
                                     {% if tool.title|length > 20 %}
                                        <span>{{ tool.title|slice:":21"|add:"..." }}</span>
                                    {% else %}
                                        <span>{{ tool.title }}</span>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>

            {# POPUP MENU - Right clicking empty space in file browser #}
            <ul id="right-click-container-menu" class="dropdown-menu fb-dropdown selection-menu">
                {% if page.perms.change and resource_edit_mode %}
                    {% if cm.resource_type == "ModelProgramResource" or cm.resource_type == "MODFLOWModelInstanceResource" or cm.resource_type == "SWATModelInstanceResource" or cm.resource_type == "ModelInstanceResource" or cm.resource_type == "CompositeResource" %}
                        <li id="btn-new-folder" data-menu-name="new-folder" data-toggle="modal"
                            data-fb-action="createFolder"
                            data-target="#create-folder-dialog">
                            <span class="fa fa-folder icon-blue"></span>
                            <span>New folder</span>
                        </li>
                        <li id="menu-add-reference" data-menu-name="add-reference" data-toggle="modal"
                            data-fb-action="createFolder"
                            data-target="#add-reference-url-dialog">
                            <span class="fa fa-external-link icon-blue"></span>
                            <span>Add content from the web</span>
                        </li>
                        <li data-menu-name="paste" data-fb-action="paste">
                            <span class="fa fa-clipboard icon-blue"></span>
                            <span>Paste</span>
                        </li>
                        <li role="separator" class="divider"></li>
                    {% endif %}
                {% endif %}

                <li data-menu-name="refresh">
                    <span class="fa fa-refresh icon-blue"></span>
                    <span>Refresh</span>
                </li>

                <li data-menu-name="select-all">
                    <span class="fa fa-th-large icon-blue"></span>
                    <span>Select all</span>
                </li>
                {% if page.perms.change and resource_edit_mode and cm.resource_type == "CompositeResource"%}
                    <li role="separator" class="divider"></li>
                    <li data-menu-name="paste">
                        <span class="fa fa-clipboard icon-blue"></span>
                        <span>Paste</span>
                    </li>
                {% endif %}
            </ul>

            <div class="col-xs-12 content-block">
                <h3>Content</h3>
                {% if page.perms.change and resource_edit_mode and cm.get_supported_upload_file_types != "()" %}
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="flex">
                            <i class="glyphicon glyphicon-info-sign" style="margin-right: 20px;"></i>
                            <em>
                                If you upload a readme.txt or readme.md file at the root level in your
                                resource, it will be rendered automatically on the page. Markdown
                                formatting is allowed in readme.md.<br><strong><a
                                    href="https://daringfireball.net/projects/markdown/basics"
                                    target="_blank">Learn more about Markdown</a></strong>
                            </em>
                        </div>
                    </div>
                {% endif %}

                <div id="ref_file_note" class="alert alert-warning space-top" role="alert"
                        {% if not show_web_reference_note %} hidden {% endif %}>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="flex">
                        <i class="glyphicon glyphicon-info-sign" style="margin-right: 20px;"></i>
                        <em>
                            This resource contains links to external content. Linked content is
                            NOT stored in HydroShare, and we can't guarantee its availability, quality, or
                            security.
                        </em>
                    </div>
                </div>

                {% if page.perms.change and resource_edit_mode and cm.get_supported_upload_file_types != "()" %}
                    <div id="fb-alerts">
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                            <div class="flex">
                                <i class="glyphicon glyphicon-info-sign" style="margin-right: 20px;"></i>
                                <em>
                                    <strong>Uploading</strong>
                                    <ul>
                                        <li><span id="file-types"></span></li>
                                        <li><span id="file-multiple"></span></li>
                                        {% block upload_message %}{% endblock %}
                                    </ul>
                                </em>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if page.perms.change and resource_edit_mode %}
                    {% if file_type_error %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button id="validation-error-close" type="button" class="close"
                                    data-dismiss="alert"
                                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>Uploaded File Type Validation Error: {{ file_type_error }}</strong>
                        </div>
                    {% endif %}
                {% endif %}
                {% if show_content_files %}
                    {# ======= Modal window begins =======#}
                    <div class="modal fade" id="confirm-delete-dialog" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Confirm files deletion</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="warnings-list">
                                        <div>Consider saving a copy of the files before you delete it if it is
                                            important to you.
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                                    </button>
                                    <button id="btn-confirm-delete" type="button" class="btn btn-danger"
                                            data-dismiss="modal">Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# ======= Modal window ends =======#}

                    <div id="hs-file-browser" data-res-id="{{ cm.short_id }}" data-current-path=""
                         {% if page.perms.change and resource_edit_mode %}data-mode="edit"{% endif %}
                         data-supported-files="{{ cm.get_supported_upload_file_types }}"
                         data-allow-multiple-files="{{ cm.allow_multiple_file_upload }}"
                         {% if cm.raccess.require_download_agreement %}
                             data-agreement="true"
                         {% endif %}
                         data-initial-file-count="{{ cm.files.all.count }}"
                         class="file-browser">

                        <div class="file-browser-container">
                            <div id="fb-inner-controls">
                                <div id="fb-inner-buttons">
                                    <div class="flex">
                                        {# FOLDER NAVIGATION #}
                                        {% if cm.resource_type == "ModelProgramResource" or cm.resource_type == "MODFLOWModelInstanceResource" or cm.resource_type == "SWATModelInstanceResource" or cm.resource_type == "ModelInstanceResource" or cm.resource_type == "CompositeResource" %}
                                            <div>
                                                <button id="fb-move-back"
                                                        class="btn btn-default fb-control-round disabled"
                                                        title="Click to go back"><span
                                                        class="glyphicon glyphicon-arrow-left"></span>
                                                </button>

                                                <button id="fb-move-forward"
                                                        class="btn btn-default fb-control-round disabled"
                                                        title="Click to go forward"><span
                                                        class="glyphicon glyphicon-arrow-right"></span>
                                                </button>

                                                <button id="fb-move-up"
                                                        class="btn btn-default fb-control-squared disabled"
                                                        title="Click to go to parent directory"><span
                                                        class="fa fa-level-up"></span></button>
                                            </div>
                                        {% endif %}

                                        {# SORT AND VIEW CONTROLS #}
                                        <div>
                                            <div id="btn-group-view" class="btn-group" role="group">
                                                <button data-view="list" data-toggle="tooltip"
                                                        data-placement="auto"
                                                        title='List'
                                                        type="button"
                                                        class="btn btn-default"><i class='fa fa-list'
                                                                                   aria-hidden='true'></i>
                                                </button>

                                                <button data-view="grid" data-toggle="tooltip"
                                                        data-placement="auto" type="button"
                                                        title='Grid'
                                                        class="btn btn-default active"><i
                                                        class='fa fa-th' aria-hidden='true'></i>
                                                </button>
                                            </div>

                                            <div id="fb-sort" class="btn-group">
                                                <button type="button"
                                                        class="btn btn-default dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <span class="glyphicon glyphicon-sort"></span>&nbsp;<span>Sort by</span>&nbsp;<span
                                                        class="caret"></span>
                                                </button>

                                                <ul class="dropdown-menu text-left">
                                                    <li data-method="type" class="active"><a>Type</a></li>
                                                    <li data-method="name"><a>Name</a></li>
                                                    <li data-method="size"><a>Size</a></li>
                                                    <li role="separator" class="divider"></li>
                                                    <li data-order="asc" class="active"><a><i
                                                            class="fa fa-sort-amount-asc"></i>&nbsp;&nbsp;Ascending</a>
                                                    </li>
                                                    <li data-order="desc"><a><i
                                                            class="fa fa-sort-amount-desc"></i>&nbsp;&nbsp;Descending</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        {# SEARCH FOR CURRENT DIRECTORY #}
                                        <div class="text-center fb-search-directory">
                                            <div class="input-group file-browser-search">
                                                <span class="glyphicon glyphicon-search search-icon"></span>
                                                <span id="btn-clear-search-input"
                                                      class="glyphicon glyphicon-remove-sign btn-clear-search"
                                                      data-toggle="tooltip"
                                                      data-placement="auto"
                                                      title="Clear search"></span>
                                                <input type="text" id="txtDirSearch"
                                                       class="form-control fb-input-search"
                                                       placeholder="Search current directory">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div id="fb-file-operations-controls" class="col-xs-12 col-sm-12">
                                            {% if page.perms.change and resource_edit_mode and cm.get_supported_upload_file_types != "()" %}
                                                <a type="button"
                                                   class="btn btn-success btn-xs dz-clickable upload-toggle">
                                                    <i class="fa fa-plus"></i> Add files
                                                </a>

                                                <div id="irods-group" class="btn-group">
                                                    <button type="button"
                                                            class="btn btn-default btn-xs dropdown-toggle fb-space-right"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            title="Add files from an iRODS server"
                                                            aria-expanded="false">
                                                        <span>iRODS</span>&nbsp;<span class="caret"></span>
                                                    </button>

                                                    <ul class="dropdown-menu text-left">
                                                        <li id="btn-signin-irods" data-toggle="modal"
                                                            data-target="#irodsSignin">
                                                            <a>
                                                                <span class="glyphicon glyphicon-log-in icon-blue"></span>&nbsp;&nbsp;Log
                                                                in to iRODS
                                                            </a>
                                                        </li>

                                                        <li id="btn-select-irods-file" class="dz-clickable hidden"
                                                            data-toggle="modal" data-target="#irodsContent">
                                                            <a>
                                                                <i class="fa fa-plus icon-green"></i>&nbsp;&nbsp;Add
                                                                files from iRODS...
                                                            </a>
                                                        </li>

                                                        <li role="separator" class="divider hidden"></li>
                                                        <li id="btn-signout-irods" class="hidden">
                                                            <a>
                                                                <span class="glyphicon glyphicon-log-out btn-remove"></span>&nbsp;&nbsp;Log
                                                                out of iRODS
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            {% endif %}

                                            {% if page.perms.change and resource_edit_mode %}
                                                {% if cm.resource_type == "ModelProgramResource" or cm.resource_type == "MODFLOWModelInstanceResource" or cm.resource_type == "SWATModelInstanceResource" or cm.resource_type == "ModelInstanceResource" or cm.resource_type == "CompositeResource" %}
                                                    <button id="fb-create-folder" class="disabled"
                                                            data-fb-action="createFolder" data-toggle="modal"
                                                            data-target="#create-folder-dialog"
                                                            title="Create new folder">
                                                        <span class="fa fa-folder icon-blue"></span>
                                                    </button>
                                                    {% if cm.resource_type == "CompositeResource" %}
                                                    <button id="fb-add-reference" class="fb-space-right"
                                                            data-fb-action="createFolder"
                                                            data-toggle="modal"
                                                            data-target="#add-reference-url-dialog"
                                                        title="Add content from the web">
                                                    <span class="fa fa-external-link icon-blue"></span>
                                                    </button>
                                                    {% endif %}
                                                    <button id="fb-cut" data-fb-action="cut"
                                                            class="disabled"
                                                            title="Cut">
                                                        <span class="fa fa-scissors icon-blue"></span>
                                                    </button>
                                                    <button id="fb-paste" data-fb-action="paste"
                                                            class="disabled fb-space-right"
                                                            title="Paste">
                                                        <span class="fa fa-clipboard icon-blue"></span>
                                                    </button>
                                                {% endif %}

                                                {% if cm.resource_type != "ToolResource" and cm.resource_type != "RasterResource"  and cm.resource_type != "RefTimeSeriesResource"  and cm.resource_type != "GeographicFeatureResource" %}
                                                    <button id="fb-rename" data-fb-action="rename"
                                                            class="disabled fb-space-right"
                                                            title="Rename" data-toggle="modal"
                                                            data-target="#rename-dialog">
                                                        <span class="glyphicon glyphicon-pencil icon-blue"></span>
                                                    </button>
                                                {% endif %}

                                                {% if cm.resource_type == "ModelProgramResource" or cm.resource_type == "MODFLOWModelInstanceResource" or cm.resource_type == "SWATModelInstanceResource" or cm.resource_type == "ModelInstanceResource" or cm.resource_type == "CompositeResource" %}
                                                    <button id="fb-zip" data-fb-action="zip"
                                                            class="disabled"
                                                            title="Zip folder" data-toggle="modal"
                                                            data-target="#zip-folder-dialog">
                                                        <span class="glyphicon glyphicon-compressed icon-blue"></span>
                                                    </button>

                                                    <button id="fb-unzip" data-fb-action="unzip"
                                                            class="disabled fb-space-right"
                                                            title="Unzip here">
                                                        <span class="fa fa-file-archive-o icon-blue"></span>
                                                    </button>
                                                {% endif %}
                                            {% endif %}

                                            {% if page.perms.change and resource_edit_mode %}
                                                <button id="fb-delete" data-fb-action="delete"
                                                        class="disabled fb-space-right"
                                                        title="Delete" data-toggle="modal"
                                                        data-target="#confirm-delete-dialog">
                                                    <span class="glyphicon glyphicon-trash btn-remove"></span>
                                                </button>
                                            {% endif %}

                                            <button id="fb-select-all"
                                                    title="Select all">
                                                <span class="fa fa-th-large icon-blue"></span>
                                            </button>

                                            <button id="fb-refresh" class="fb-space-right"
                                                    title="Refresh">
                                                <span class="fa fa-refresh icon-blue"></span>
                                            </button>

                                            <button id="fb-get-link" data-toggle="modal" data-fb-action="getLink"
                                                    class="disabled" data-target="#get-file-url-dialog"
                                                    title="Get file URL">
                                                <span class="fa fa-link icon-blue"></span>
                                            </button>

                                            <button id="fb-download"
                                                    class="disabled" data-fb-action="download"
                                                    title="Download">

                                                <span class="glyphicon glyphicon-download icon-blue"></span>
                                            </button>

                                            <button class="disabled" data-fb-action="downloadZipped"
                                                    title="Download zipped">
                                                <span class="fa fa-download icon-blue"></span>
                                            </button>

                                            {% if user_zone_account_exist %}
                                                <a id="rep-res-bag" type="button"
                                                   title="Copy Resource Bag to iRODS User Zone"
                                                   data-target="#rep-resource-to-irods-dialog"
                                                   data-toggle="modal"
                                                   data-placement="auto">
                                                    <span class="hs-icon-irods icon-blue"></span>
                                                </a>
                                            {% endif %}

                                            {% for b in cm.bags.all %}
                                                <a id="btn-download-all" type="button"
                                                   title="Download all content as Zipped BagIt Archive"
                                                        {% if cm.raccess.require_download_agreement %}
                                                   data-target="#license-agree-dialog-bag" data-toggle="modal"
                                                   data-placement="auto"
                                                   {% else %}href="{{ cm.bag_url }}"{% endif %}>
                                                    <span class="fa fa-briefcase icon-blue"></span>
                                                </a>
                                                <a class="small" target="_blank"
                                                   href="https://en.wikipedia.org/wiki/BagIt">Learn more</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="file-browser-breadcrumb height-fix">
                                    <ol id="fb-bread-crumbs" class="breadcrumb">

                                    </ol>
                                </div>
                            </div>
                            <div class="fb-content-wrapper">
                                <div class="fb-dropzone-wrapper{% if cm.resource_type == "CompositeResource" %} ui-resizable{% endif %}">
                                    <form id="hsDropzone"
                                          class="files-container h-100 ui-widget-content {% if page.perms.change and resource_edit_mode %}dropzone{% endif %}"
                                          action="/hsapi/_internal/{{ cm.short_id }}/add-files-to-resource/"
                                          method="POST">
                                        {% csrf_token %}

                                        <div id="flag-uploading" class="hidden">
                                            <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                                            <small class="uploading-message">
                                                <strong>Uploading files to:</strong>&nbsp;
                                                <span id="root-path">contents</span><span id="upload-folder-path"></span>
                                                <strong>&nbsp;&nbsp;Progress:&nbsp;</strong>
                                                <span id="upload-progress"></span>
                                            </small>
                                        </div>

                                        <div class="fb-drag-flag">
                                            <span class="fa fa-plus-square fa-5x"></span>
                                        </div>

                                        <ul id="fb-files-container" class="selectable fb-view-grid height-fix">
                                            <li class="fb-loading-spinner">
                                                <i class="fa fa-spinner fa-pulse fa-2x fa-fw icon-blue"></i>
                                            </li>
                                        </ul>
                                    </form>

                                    {% if page.perms.change and resource_edit_mode and cm.get_supported_upload_file_types != "()" %}
                                        <div class="fb-upload-caption ">
                                            <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;&nbsp;Upload files
                                            smaller than 1GB in size by dragging & dropping, or click <a
                                                class="dz-clickable upload-toggle">here</a> to select them.
                                        </div>
                                    {% endif %}
                                </div>
                                {% if cm.resource_type == "CompositeResource" %}
                                <div id="fb-metadata-helper">
                                    <i class="fa fa-caret-square-o-right fb-metadata-collapse" aria-hidden="true"
                                       data-fb-action="hide"
                                       data-toggle="tooltip" data-placement="left" title="Hide"></i>
                                    <i class="fa fa-caret-square-o-left fb-metadata-collapse hidden" aria-hidden="true"
                                       data-fb-action="show"
                                       data-toggle="tooltip" data-placement="left" title="Show"></i>

                                    <span class="ui-icon ui-icon-grip-dotted-vertical"></span>
                                </div>
                                <div id="fb-metadata" class="fb-metadata h-100">
                                    {% if cm.resource_type == "CompositeResource" %}
                                        <div id="fileTypeMetaData">
                                            <div id="#fb-metadata-default" class="text-center text-muted"
                                                 role="alert">
                                                <div>Select a file to see file type metadata.</div>
                                                <hr>
                                                <span class="fa-stack fa-lg text-center">
                                                    <i class="fa fa-file-o fa-stack-2x" aria-hidden="true"></i>
                                                    <i class="fa fa-mouse-pointer fa-stack-1x" aria-hidden="true"
                                                       style="top: 14px;"></i>
                                                </span>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>

                            {% if page.perms.change and resource_edit_mode %}
                                <form id="fb-delete-files-form" class="hidden"
                                      action="/hsapi/_internal/{{ cm.short_id }}/delete-multiple-files/"
                                      method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="file_ids" value=""/>
                                </form>
                            {% endif %}
                        </div>
                    </div>

                    <div id="fb-download-help" class="alert alert-warning hidden" role="alert">
                        <div class="flex">
                            <i class="glyphicon glyphicon-info-sign" style="margin-right: 20px;"></i>
                            <em>
                                <p><strong>Downloading LargeFiles</strong></p>
                                <p>To learn how to download files larger than 1 GB see <a
                                        href="https://help.hydroshare.org/creating-and-managing-resources/uploading-large-files-into-hydroshare/"
                                        target="_blank">Uploading/Downloading large files to/from HydroShare</a>.</p>
                            </em>
                        </div>
                    </div>

                    <div class="files" id="previews"></div>
                    {% block download_bag %}
                        {% if user_zone_account_exist %}
                            <div>
                                <div id='rep-alert-success' class="alert alert-success alert-dismissible"
                                     role="alert" style="display:none">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <span id="rep-status-success"></span>
                                </div>
                                <div id='rep-alert-error' class="alert alert-danger alert-dismissible" role="alert"
                                     style="display:none">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <span id="rep-status-error"></span>
                                </div>
                            </div>
                        {% endif %}
                    {% endblock %} {#  download_bag #}

                    {# ======= Readme ======= #}
                    {% if readme %}
                        {% include "resource-landing-page/readme-file.html" %}
                    {% endif %}
                {% else %}
                    <i class="glyphicon glyphicon-eye-close text-danger no-access-icon"></i>&nbsp;
                    <span>You do not have permission to see these content files. Please contact the Authors if you wish to obtain access.</span>
                {% endif %}
            </div>
        {% endif %}
        {% endblock %} {# content_block #}

        {# ======= Resource Specific ======= #}

        {% if site or extended_metadata_exists or res_add_metadata or resource_edit_mode %}
            {#  Resource specific metadata can't be edited for HIS Referenced Time Series #}
            {% if cm.resource_type != "RefTimeSeriesResource" or not resource_edit_mode %}
                {% if cm.resource_type != "CompositeResource" and cm.resource_type != "CollectionResource" %}
                    <div class="col-xs-12 content-block">
                        <h3>Resource Specific</h3>
                        <div id="resourceSpecificTab">
                            <div class="row">
                                {% if not resource_edit_mode %}
                                    {% block extended_metadata %}{% endblock %}
                                {% else %}
                                    {% crispy metadata_form  %}
                                {% endif %}

                                {# add extra section for resource landing page #}
                                {% block extra_section %}{% endblock %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}

        {# ======= Additional Metadata ======= #}
        {% include "resource-landing-page/additional-metadata.html" %}

        {# ======= References ======= #}
        {% include "resource-landing-page/references.html" %}

        {# ======= Credits ======= #}
        {% include "resource-landing-page/credits.html" %}

        {# ======= Citation ======= #}
        {% if resource_edit_mode %}
            {% include "resource-landing-page/citation.html" with resource_mode="edit" %}
        {% else %}
            {% include "resource-landing-page/citation.html" with resource_mode="view" %}
        {% endif %}

        {# ======= Comments ======= #}
        {% include "resource-landing-page/comments.html" %}

        {%  block modal %}
            {% include "resource-landing-page/modals.html" %}
            {% include "includes/author-preview.html" %}
            {% include "resource-landing-page/coordinates_picker.html" %}
        {%  endblock %}
        </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/coverageMap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=drawing&v=3{% if maps_key %}&key={{ maps_key }}{% endif %}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/dropzone.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/hs-file-icons.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/hs_file_browser.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/resourceLandingAjax.js"></script>
    <script type="text/javascript" charset="utf8" src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/copyToClipboard.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/generic-resource.js"></script>

    {% if relevant_tools %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/toolresource.js"></script>
    {% endif %}
{% endblock %}

