{% extends 'pages/page.html' %}

{% load geoanalytics_tags pages_tags mezzanine_tags comment_tags %}

{% block main %}

        <div class="col-md-8">
            <h2>Hydroshare Support</h2>
            Hello scientists, engineers, and researchers of all sorts.  This page tells you about some of the features of HydroShare.  Browse the topics below and click on a question to drop down to the answer.
        </div>
    
  <div class="container">
    <div class="row">
        <div class="col-md-8">
            <!-- Nav tabs category -->
            <ul class="nav nav-tabs faq-cat-tabs">
                <li class="active"><a href="#faq-cat-1" data-toggle="tab">Introduction to Hydroshare</a></li>
                <li><a href="#faq-cat-2" data-toggle="tab">Get Started Using Hydroshare</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content faq-cat-content">
                <div class="tab-pane active in fade" id="faq-cat-1">
                    <div class="panel-group" id="accordion-cat-1">
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
                                    <h4 class="panel-title">
                                        What is HydroShare?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    The Consortium of Universities for the Advancement of Hydrologic Science, Inc. (CUAHSI) is an organization representing more than 130 U.S. universities and international water-science-related organizations and is sponsored by the National Science Foundation to provide infrastructure and services to advance the development of hydrologic science and education in the United States. The CUAHSI HydroShare is being developed as an online, collaborative environment for the sharing of hydrologic data and models. It enables people to easily share, discover and access data and models, retrieve them to their desktop or perform analysis seamlessly in a high performance computing environment, thereby enhancing research, education and application of hydrologic knowledge.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-2">
                                    <h4 class="panel-title">
                                        Why use HydroShare?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p><strong>Save your data online safely and share them to get feedback from other people.</strong> HydroShare provides convenient data uploading function and save data safely online. It also has access control ability to provide user with multiple ways of sharing their data and the corresponding metadata. Besides, the system provides the function of commenting on the shared data and models, so as to help user get constructive feedback from other people.</p>
                                    <p><strong>Get credit of your data and models when cited by others.</strong> Each data or model uploaded in the HydroShare system is assigned citation information. What’s more, in the near future the system will provide a DOI for the data or models which are approved and published in the HydroShare system.</p>
                                    <p><strong>Easy access to hydrologic data and models shared by other users or third part organizations.</strong>  HydroShare provides powerful searching functions to help the user find  the data and models they are looking for.  These data and models will be from other users or third party organization such as USGS, CUAHSI HydroServer, Earth Exchange, etc.</p>
                                    <p><strong>Collaborate with other people for hydrological research.</strong> HydroShare provides the social media functionality to enhance collaboration for hydrologic research. User will be able to create or join the groups they have interests in. And the group will provide functions for collaborations among group members to share data and models, participate in discussions, and add group blogs.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-3">
                                    <h4 class="panel-title">
                                        What is HydroShare's development status?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Hydroshare is in active development. The current release is <span id="release_no"></span>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="faq-cat-2">
                    <div class="panel-group" id="accordion-cat-2">
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                    <h4 class="panel-title">
                                        What is a resource?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-2-sub-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    In HydroShare, we define a resource as digital content which includes the science data files or model files and their corresponding metadata information. HydroShare supports multiple resource types including Generic, Geographic Raster, Model Progam, Model Instance, SWAT Model Instance, Multidimensional (NetCDF), Time Series, Web App, and Geographic Feature (ESRI Shapefiles). 
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                    <h4 class="panel-title">
                                        How do I create a resource?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-2-sub-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ol>
                                        <li><a href="{% url 'login' %}">Sign in</a> to HydroShare.</li>
					<li>Click on "My Resources" in the navigation bar at the top of the page.</li>
                                        <li>Click on "+Create new" at the top of the page.</li>
                                        <li>Select your resource type from the dropdown menu.</li>
                                        <li>Enter a Title.</li>
                                        <li>Optionally Add your data files stored on your local computer to add to your resource. </li>
					<li>Optionally Add your data files stored stored in your iRODS datagrid to your resource. </li>
                                        <li>Click the "Create Resource" button.</li>
                                        <li>A new page will appear where you can add or edit Metadata, Content, Sharing, Comments, and Add files. </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-3">
                                    <h4 class="panel-title">
                                        How do I view, download, edit, or delete a resource?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-2-sub-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ol>
                                        <li><a href="{% url 'login' %}">Sign in</a> to HydroShare.</li>
                                        <li>Click on "My resources" in the navigation bar at the top of the page.</li>
                                        <li>Click one or more of the checkboxes "Owned by me, "Editable by me," "Shared with me," and/or "Favorites" on the top of the page.</li>
					<li>Optionally enter search criteria in the Search box.</li>
                                        <li>Click on resource Title to take you to that resource page.</li>
                                        <li>A new page will appear where you can Share, Delete, and Download a resource as well as perform various options on it. </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-4">
                                    <h4 class="panel-title">
                                        How do I comment on or rate a resource?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-2-sub-4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ol>
                                        <li><a href="{% url 'login' %}">Sign in</a> to HydroShare.</li>
                                        <li>Click on "My resources" in the navigation bar at the top of the page.</li>
                                        <li>Select the Title of the resource you would like to rate or comment on.</li>
                                        <li>A new page will appear where you can comment on or rate a resource as well as perform various options on it. You may also rate a comment by clicking the "+1" next to the comment.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

    {% block extra_js %}
        <script type="text/javascript">
            $(document).ready(function () {
                var url = 'https://api.github.com/repos/hydroshare/hydroshare/releases/latest';
                $.get(url).done(function (data) {
                  var version = data.tag_name;
                  $('#release_no').html(version);
                });
            });
        </script>
    {% endblock %}
{% endblock %}
