{% extends 'pages/page.html' %}

{% block main %}
    <h2>Description of HydroShare Resource Types and Metadata Terms</h2>
    <h3>Generic Resource Type Description</h3>
    <p>A generic resource is an arbitrary collection of files that are logically grouped together as a resource.
        There may be any number of files, and files may be of any type.
        The generic resource type should be used for creating resources for which a formal content data model has not been specified in HydroShare.
        Generic resources are treated the same way as other resource types in terms of sharing and access control;
        however, no value added tools are provided given that HydroShare cannot anticipate what the contents of generic resources will be.
    </p>

    <h3> Time Series Resource Type Description</h3>
    <p>The time series is a sequence of individual data values that are ordered in time to record the
        changing trend of a certain phenomenon. As time series are widely used for hydrologic research
        and because they are also the primary granule of data sharing within the CUAHSI HIS,
        the time series will be an important resource type in the HydroShare system. Currently,
        we define a time series resource such that it can contain only one time series.
        To define the entities and attributes of a time series, we adopt the definition of a time series as
        specified by Version 2.0 of the Observations Data Model (ODM2) – see description of a time series result in
        ODM2 <a href="https://github.com/UCHIC/ODM2/blob/master/doc/ODM2Docs/ext_results_timeseries.md">here</a>
    </p>
    <p> ODM2 does not limit the types of time series that can be supported.  Any time series supported by the
        ODM2 information model will be valid for input as a time series resource in HydroShare. The specific
        implementation of ODM2 that will be used for storing time series in HydroShare is described in more detail
        in a subsequent section, but, in general, ODM2 describes a time series via the following entities:
        <ul>
            <li><strong>Site/SamplingFeature:</strong> The location at which the time series was observed or generated</li>
            <li><strong>Person/Organization:</strong> The person and organization responsible for creating the time series</li>
            <li><strong>Method:</strong> The procedure used to create the time series</li>
            <li><strong>Variable/Units:</strong> The phenomenon that the time series represents and the units in which the values are recorded</li>
            <li><strong>Action:</strong> The specific action or event that created the time series</li>
            <li><strong>ProcessingLevel:</strong> level of processing or quality control to which the time series has been subjected</li>
            <li><strong>Offset:</strong> The X, Y, and Z location of the time series measurements if offset from the site location</li>
            <li><strong>DataValues:</strong> The data values, their recorded dates/times,  and their value-level attributes</li>
        </ul>
    </p>
    <h3>Reference Time Series Resource Type Description</h3>
    <div>[TODO:Describe reference time series resource type here]</div>
    <div>[TODO:Describe reference time series resource type metadata terms here]</div>

    <h3>Multidimensional (NetCDF) Resource Type Description</h3>
    <p>Multidimensional space-time data is one of the major data types used for hydrological modeling. For example, the
        precipitation or surface air temperature data that have two dimensions in space and one dimension in time.
        As <a href='http://www.unidata.ucar.edu/software/netcdf/' >Network Common Data Form</a> (NetCDF)
        is widely used in hydrological and other geoscience modeling because it contains self-describing metadata and
        supports the creation of array-oriented datasets which may include three spatial dimensions, a time dimension
        and other user defined dimensions , we choose NetCDF as the file format to support the sharing of
        the multidimensional space-time data in HydroShare.
    </p>
    <p> Currently, we define the multidimensional (NetCDF) resource such that it includes only one NetCDF file with
        ".nc" extension. Any multidimensional space-time data supported by the NetCDF format will be valid for input as
        a multidimensional (NetCDF) resource in HydroShare. To describe the multidimensional space-time data in NetCDF format,
        we will use the following entities:
        <ul>
            <li><strong>Spatial Reference:</strong> The coordinate reference system and spatial extent information
                defined in the NetCDF file.</li>
            <li><strong>Variable:</strong> The variables defined in the NetCDF file representing the multidimensional space-time
                data.</li>
        </ul>
    </p>


    <h3>Geographic Raster Resource Type Description</h3>
    <p> Geographic raster data are commonly used for representing and managing imagry, digital elevation, and other phenomena
        which is widely used in hydrological research. The raster can have a single or multiple bands (or layers) of data.
        A band is represented by a single matrix of cell organized into rows and columns where each contains a value
        representing information. We choose the <a href="http://trac.osgeo.org/geotiff/">GeoTIFF</a> file format to represent the
        geographic raster data in HydroShare. The GeoTIFF refers to TIFF files which have geographic data embeded as
        tags within the TIFF file. The geographic data can then be used to position the image in the correct location and
        geometry on the screen of a geographic information display.
    </p>
    <p> Currently, we define the geographic raster resource such that it includes only one geographic raster in GeoTIFF format which includes a
        single or multiple bands. Any raster data in GeoTIFF format will be valid for input as
        a geographic raster resource in HydroShare. To describe the geographic raster data, we will use the following entities:
        <ul>
            <li><strong>Spatial Reference:</strong> The coordinate reference system and spatial extent information
                defined in GeoTIFF file.</li>
            <li>
                <strong>Band Information:</strong>The information to describe the  phenomenon represented in each band of the geographic raster data.</li>
            <li>
                <strong>Cell Information:</strong>The information to describe the cell attributes of the band.</li>

        </ul>
    </p>

    <h3>Model Program Resource Type Description</h3>
    <div>[TODO:Describe model program resource type here]</div>
    <div>[TODO:Describe model program resource type metadata terms here]</div>

    <h3>Model Instance Resource Type Description</h3>
    <div>[TODO:Describe model instance resource type here]</div>
    <div>[TODO:Describe model instance resource type metadata terms here]</div>

    <h3>Tools Resource Type Description</h3>
    <div>[TODO:Describe tools resource type here]</div>
    <div>[TODO:Describe tools resource type metadata terms here]</div>
{% endblock %}