{% extends 'pages/page.html' %}

{% block main %}
    <h2>Description of HydroShare Resource Types and Metadata Terms</h2>
    <h3>Generic Resource Type Description</h3>
    <p>A generic resource is an arbitrary collection of files that are logically grouped together as a resource.
        There may be any number of files, and files may be of any type.
        The generic resource type should be used for creating resources for which a formal content data model has not been specified in HydroShare.
        Generic resources are treated the same way as other resource types in terms of sharing and access control;
        however, no value added tools are provided given that HydroShare cannot anticipate what the contents of generic resources will be.
    </p>

    <h3> Time Series Resource Type Description</h3>
    <p>The time series is a sequence of individual data values that are ordered in time to record the
        changing trend of a certain phenomenon. As time series are widely used for hydrologic research
        and because they are also the primary granule of data sharing within the CUAHSI HIS,
        the time series will be an important resource type in the HydroShare system. Currently,
        we define a time series resource such that it can contain only one time series.
        To define the entities and attributes of a time series, we adopt the definition of a time series as
        specified by Version 2.0 of the Observations Data Model (ODM2) – see description of a time series result in
        ODM2 <a href="https://github.com/UCHIC/ODM2/blob/master/doc/ODM2Docs/ext_results_timeseries.md">here</a>
    </p>
    <p> ODM2 does not limit the types of time series that can be supported.  Any time series supported by the
        ODM2 information model will be valid for input as a time series resource in HydroShare. The specific
        implementation of ODM2 that will be used for storing time series in HydroShare is described in more detail
        in a subsequent section, but, in general, ODM2 describes a time series via the following entities:
        <ul>
            <li><strong>Site/SamplingFeature:</strong> The location at which the time series was observed or generated</li>
            <li><strong>Person/Organization:</strong> The person and organization responsible for creating the time series</li>
            <li><strong>Method:</strong> The procedure used to create the time series</li>
            <li><strong>Variable/Units:</strong> The phenomenon that the time series represents and the units in which the values are recorded</li>
            <li><strong>Action:</strong> The specific action or event that created the time series</li>
            <li><strong>ProcessingLevel:</strong> level of processing or quality control to which the time series has been subjected</li>
            <li><strong>Offset:</strong> The X, Y, and Z location of the time series measurements if offset from the site location</li>
            <li><strong>DataValues:</strong> The data values, their recorded dates/times,  and their value-level attributes</li>
        </ul>
    </p>
    <h3>Reference Time Series Resource Type Description</h3>
    <div>[TODO:Describe reference time series resource type here]</div>
    <div>[TODO:Describe reference time series resource type metadata terms here]</div>

    <h3>Multidimensional (NetCDF) Resource Type Description</h3>
    <p>Multidimensional space-time data is one of the major data types used for hydrological modeling. For example, the
        precipitation or surface air temperature data that have two dimensions in space and one dimension in time.
        As <a href='http://www.unidata.ucar.edu/software/netcdf/' >Network Common Data Form</a> (NetCDF)
        is widely used in hydrological and other geoscience modeling because it contains self-describing metadata and
        supports the creation of array-oriented datasets which may include three spatial dimensions, a time dimension
        and other user defined dimensions , we choose NetCDF as the file format to support the sharing of
        the multidimensional space-time data in HydroShare.
    </p>
    <p> Currently, we define the multidimensional (NetCDF) resource such that it includes only one NetCDF file with
        ".nc" extension. Any multidimensional space-time data supported by the NetCDF format will be valid for input as
        a multidimensional (NetCDF) resource in HydroShare. To describe the multidimensional space-time data in NetCDF format,
        we will use the following entities:
        <ul>
            <li><strong>Spatial Reference:</strong> The coordinate reference system and spatial extent information
                defined in the NetCDF file.</li>
            <li><strong>Variable:</strong> The variables defined in the NetCDF file representing the multidimensional space-time
                data.</li>
        </ul>
    </p>


    <h3>Geographic Raster Resource Type Description</h3>
    <p> Geographic raster data are commonly used for representing and managing imagry, digital elevation, and other phenomena
        which is widely used in hydrological research. The raster can have a single or multiple bands (or layers) of data.
        A band is represented by a single matrix of cell organized into rows and columns where each contains a value
        representing information. We choose the <a href="http://trac.osgeo.org/geotiff/">GeoTIFF</a> file format to represent the
        geographic raster data in HydroShare. The GeoTIFF refers to TIFF files which have geographic data embeded as
        tags within the TIFF file. The geographic data can then be used to position the image in the correct location and
        geometry on the screen of a geographic information display.
    </p>
    <p> Currently, we define the geographic raster resource such that it includes only one geographic raster in GeoTIFF format which includes a
        single or multiple bands. Any raster data in GeoTIFF format will be valid for input as
        a geographic raster resource in HydroShare. To describe the geographic raster data, we will use the following entities:
        <ul>
            <li><strong>Spatial Reference:</strong> The coordinate reference system and spatial extent information
                defined in GeoTIFF file.</li>
            <li>
                <strong>Band Information:</strong>The information to describe the  phenomenon represented in each band of the geographic raster data.</li>
            <li>
                <strong>Cell Information:</strong>The information to describe the cell attributes of the band.</li>

        </ul>
    </p>

    <h3>Model Program Resource Type Description</h3>
    <p> A Model Program resource type is the executable file containing the model's logic and computational engine. The Model Program resource type consists of
        the source code or compiled software for executing the model in addition to any documentation related to the model (e.g. user manual and theoretical manual).
        Beyond the Dublin Core terms, this resource type has the following metadata elements to adequately describe the model:

        <ul>
            <li><strong>dc:license:</strong> The license for the program and source code (e.g., GPL).</li>
            <li><strong>hsterms:ModelVersionNumber:</strong> Model version including a build number (e.g., SWAT2012 rev. 629).</li>
            <li><strong>hsterms:ModelProgramLanguage:</strong> Programming language used to create model (e.g., C++).</li>
            <li><strong>hsterms:SupportedOperatingSystem:</strong>Compatible operating systems (e.g., Mac OS X version 10.7 and later).</li>
            <li><strong>hsterms:ModelReleaseDate:</strong> Date that the model was released.</li>
            <li><strong>hsterms:ModelReleaseNotes:</strong>Release notes for Model Program resource.</li>
            <li><strong>hsterms:ModelWebpage:</strong> URL for Model Program resource webpage maintained by the model developers.</li>
            <li><strong>hsterms:CodeRepository:</strong> URL for project page in a code repository (e.g., Github, Bitbucket, Google Code, etc.).</li>
            <li><strong>hsterms:hasModelUserManual:</strong> Documentation that describes the use of the model.</li>
            <li><strong>hsterm:hasModelTheoreticalManual:</strong> Documentation that describes the processes represented within the model.</li>
            <li><strong>hsterms:hasSourceCode:</strong> The source code used to build the Model Program.</li>
        </ul>
    </p>

    <h3>Model Instance Resource Type Description</h3>
    <p> A Model Instance resource type is the data input and output files for a general hydrological model run for a specific time and place.
        In addition to the Dublin Core metadata elements, this resource type has specific metadata elements to describe the file content and
        the relationship between the Model Program and Model Instance resource types. These specific metadata elements are as follows:
        <ul>
            <li><strong>hsterms:ModelOutput:</strong> HydroShare Class that includes all the metadata elements related to Model Instance resource output files.</li>
                <ul>
                    <li><strong>hsterms:ModelOutput / hsterms:IncludesModelOutput:</strong> This metadata element is used to show if the output files are included with the
                        uploaded input files or not.</li>
                </ul>
            <li><strong>hsterms:ExecutedBy:</strong> HydroShare Class that includes the information about the Model Program resource that is used to execute the Model Instance resource.</li>
                <ul>
                    <li><strong>hsterms:ExecutedBy / hsterms:ModelProgramName:</strong> For this metadata element, there is a drop-down list of the available Model Program resources
                        in the HydroShare system.The user chooses the Model Program resource to be executed using the Model Instance resource files.</li>
                    <li><strong>hsterms:ExecutedBy / hsterms:ModelProgramURL:</strong></li> The URL of the choosen Model Program resource in HydroShare.</li>
                </ul>
        </ul>
    </p>

    <h3>SWAT Model Instance Resource Type Description</h3>
    <p> SWAT Model Instance resource type is a specific Model Instance resource type for a specific hydrological model (SWAT). It is an extension of the Model Instance resource type.
        The SWAT Model Instance resource type is implemented by extending the Model Instance resource type metadata resource to accommodate metadata elements
        required to specifically describe the SWAT model and its input files. These specific metadata elements are as follows:
        <ul>
            <li><strong>hsterms:ModelObjective:</strong>The objective of building this SWAT Model Instance resource. This objective could be one or more of the following control vocabularies:
                Hydrology, Water quality, BMPs, and Climate / Landuse Change. The user can also add a custom objective.</li>
            <li><strong>hsterms:SimulationType:</strong>The type of the simulation used in the SWAT Model Instance resource type. This could be one of the following controlled
                vocabularies: Normal Simulation, Sensitivity Analysis, and Auto-Calibration.</li>
            <li><strong>hsterms:ModelInput:</strong>HydroShare Class that includes all the metadata elements related to SWAT Model Instance resource input files</li>
                <ul>
                    <li><strong>hsterms:ModelInput / hsterms:warm-upPeriodType:</strong>The SWAT Model warm-up period type. Always in years.</li>
                    <li><strong>hsterms:ModelInput / hsterms:warm-upPeriodValue:</strong>The SWAT Model warm-up period value in years.</li>
                    <li><strong>hsterms:ModelInput / hsterms:rainfallTimeStepType:</strong>The time step type used within the rainfall data in the SWAT Model Instance resource input files.
                        This metadata element has control vocabularies: Daily, and Sub-hourly.</li>
                    <li><strong>hsterms:ModelInput / hsterms:rainfallTimeStepValue:</strong>The time step value used within the rainfall data in the SWAT Model Instance resource input files.</li>
                    <li><strong>hsterms:ModelInput / hsterms:routingTimeStepType:</strong>The time step type used within the model routing in the SWAT Model Instance resource input files.
                        This metadata element has control vocabularies: Daily, and Hourly.</li>
                    <li><strong>hsterms:ModelInput / hsterms:routingTimeStepValue:</strong>The time step value used within the model routing in the SWAT Model Instance resource input files.</li>
                    <li><strong>hsterms:ModelInput / hsterms:simulationTimeStepType:</strong>The time step type used for simulating the SWAT Model Instance resource. This metadata element
                        has control vocabularies: Annual, Monthly, Daily, and Hourly.</li>
                    <li><strong>hsterms:ModelInput / hsterms:simulationTimeStepValue:</strong>The time step value used for simulating the SWAT Model Instance resource.</li>
                    <li><strong>hsterms:ModelInput / hsterms:watershedArea:</strong>The watershed area in Km&sup2 in the SWAT Model Instance resource input files.</li>
                    <li><strong>hsterms:ModelInput / hsterms:numberOfSubbasins:</strong>The number of the subbasin within the watershed in the SWAT Model Instance resource input files.</li>
                    <li><strong>hsterms:ModelInput / hsterms:numberOfHRUs:</strong>The number of the Hydrologic Response Units within the watershed in the SWAT Model Instance resource input files.</li>
                    <li><strong>hsterms:ModelInput / hsterms:DEMResolution:</strong>The resolution of the Digital Elevation Model in meters in the SWAT Model Instance resouce input files.</li>
                    <li><strong>hsterms:ModelInput / hsterms:DEMSourceName:</strong>The source name for the Digitial Elevation Model data.</li>
                    <li><strong>hsterms:ModelInput / hsterms:DEMSourceURL:</strong>The source URL for the Digital Elevation Model data if applicable.</li>
                    <li><strong>hsterms:ModelInput / hsterms:landUseDataSourceName:</strong>The source name for the Landuse data.</li>
                    <li><strong>hsterms:ModelInput / hsterms:landUseDataSourceURL:</strong>The source URL for the Landuse data if applicable.</li>
                    <li><strong>hsterms:ModelInput / hsterms:soilDataSourceName:</strong>The source name for Soil data.</li>
                    <li><strong>hsterms:ModelInput / hsterms:soilDataSourceURL:</strong>The source URL for Soil data if applicable.</li>
                </ul>
            <li><strong>hsterms:ModelMethod:</strong>HydroShare class that includes all the metadata elements related to SWAT model methods used in the SWAT Model Instance resource.</li>
                <ul>
                    <li><strong>hsterms:ModeMethod / hsterms:runoffCalculationMethod:</strong>The runoff calculation method used in the SWAT Model Instance resource input files.</li>
                    <li><strong>hsterms:ModelMethod / hsterms:flowRoutingMethod:</strong>The flow routing method used in the SWAT Model Instance resource input files.</li>
                    <li><strong>hsterms:ModelMethod / hsterms:PETEstimationMethod:</strong>The Potential EvapoTranspiration estimation method used in the SWAT Instance resource input files.</li>
                </ul>
            <li><strong>hsterms:ModelParameter:</strong>The parameters used in the model. For SWAT model, there are control vocabularies: Crop rotation, Title drainage , Point source, Fertilizer,
                Tilage operation, Inlet of draining watershed, Irrigation operation. Also the user can add any other parameters.</li>
        </ul>
    </p>

    <h3>Tools Resource Type Description</h3>
{% endblock %}