{% extends "pages/page.html" %}

{% load hydroshare_tags thumbnail %}

{% block meta_title %}My Groups{% endblock %}

{% block extra_css %}
<link href="{% static 'css/collaborate.css' %}" rel="stylesheet" />
{% endblock %}

{% block main %}
{% include 'includes/groups-nav.html' with active='my_groups' %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-title">My Groups</h2>
        </div>
        <div class="col-sm-3 has-space-bottom-2x">
            <a class="btn btn-success" data-toggle="modal" data-target="#create-group-modal"><i class="fa fa-plus"></i>
                Create Group</a>

            <div class="has-space-top-2x">
                <h4><span class="glyphicon glyphicon-send"></span>&nbsp;Pending Requests</h4>
                <hr class="solid">
                {% if not my_pending_requests and not group_membership_requests %}
                <i>No pending requests.</i>
                {% endif %}
                {% if my_pending_requests %}
                {% for request in my_pending_requests %}
                <div class="request-block">
                    {% if request.invitation_to %}
                    <span>You invited </span><a>{{ request.invitation_to|contact }}</a>
                    <span> to join </span><strong><a href="/group/{{ request.group_to_join.id }}">{{request.group_to_join.name}}</a></strong>
                    {% else %}
                    <span>You asked to join <strong><a href="/group/{{ request.group_to_join.id }}">{{request.group_to_join.name }}</a></strong>
                        {% endif %}
                        <div class="text-muted">{{ request.date_requested }}</div>

                        {% if request.explanation %}
                        <div class="text-muted explanation has-space-top" title="{{ request.explanation }}">Explanation:
                            {{ request.explanation }}</div>
                        {% endif %}

                        <form id="act-on-request"
                            action="/hsapi/_internal/act-on-group-membership-request/{{ request.id }}/reject/"
                            method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default has-space-top">Cancel Request</button>
                        </form>
                </div>
                {% endfor %}
                {% endif %}

                {% if group_membership_requests %}
                {% for request in group_membership_requests %}
                <div class="request-block">
                    <form></form>
                    <div class="activity-block height-fix">
                        {% if request.request_from.userprofile.picture and request.request_from.userprofile.picture.url %}
                        {% thumbnail request.request_from.userprofile.picture "x80" crop="center" as im %}
                        <div style="background-image: url('{{ im.url }}');"
                            class="round-image profile-pic-thumbnail pull-left">
                        </div>
                        {% endthumbnail %}
                        {% else %}
                        <div class="profile-pic-thumbnail round-image user-icon"></div>
                        {% endif %}
                        <div class="metadata-wrapper">
                            <div class="shared-resource-info">
                                <a>{{ request.request_from|contact }}</a>

                                <span class="text-muted"> invites you to join </span>
                                <strong><a href="/group/{{ request.group_to_join.id }}">{{ request.group_to_join.name }}</a></strong>
                                <div class="text-muted">{{ request.date_requested }}</div>
                            </div>
                        </div>

                        <div class="flex gap-1 flex-sm-column">
                            <form class="act-on-request height-fix"
                                action="/hsapi/_internal/act-on-group-membership-request/{{ request.id }}/accept/"
                                method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success btn-act-on-request"
                                    data-user-action="Accept">Accept</button>
                            </form>

                            <form class="act-on-request height-fix"
                                action="/hsapi/_internal/act-on-group-membership-request/{{ request.id }}/reject/"
                                method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-default btn-act-on-request">
                                    Decline
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-12">
                    <div class="flex align-center justify-space-between flex-sm-column align-sm-start">
                        <h4>Groups that I am in</h4>
                        {% if inactive_groups %}
                        <a id="show-deleted-groups" href="#" data-toggle="collapse" data-target="#deleted-groups">Show
                            deleted groups</a>
                        {% endif %}
                    </div>

                    {% if groups %}
                    <hr class="solid">
                    <table class="groups-table">
                        {% for group in groups %}
                        <tr>
                            <td>
                                <div class="group-image-wrapper">
                                    {% if group.gaccess.picture and group.gaccess.picture.url %}
                                    {% thumbnail group.gaccess.picture "80x80" crop="center" as im %}
                                    <div class="group-image-small" style="background-image: url({{ im.url }})"></div>
                                    {% endthumbnail %}
                                    {% else %}
                                    <div class="group-image-small group-preview-image-default"
                                        style="background-image: url({{ STATIC_URL }}img/home-page/step4.png)"></div>
                                    {% endif %}
                                </div>
                            </td>

                            <td>
                                <h4><a href="/group/{{ group.id }}">{{ group.name }}</a></h4>
                                {% if group.gaccess.public and group.gaccess.discoverable %}
                                <img src="{% static 'img/public.png' %}" alt="Public Group" title="Public Group">
                                {% elif not group.gaccess.public and group.gaccess.discoverable %}
                                <img src="{% static 'img/discoverable.png' %}" alt="Discoverable Group"
                                    title="Discoverable Group">
                                {% else %}
                                <img src="{% static 'img/private.png' %}" alt="Private Group" title="Private Group">
                                {% endif %}
                                {% with member_count=group.member_count %}
                                <small class="text-muted">{{ member_count }} Member{% if member_count > 1 %}s{% endif %}</small>
                                {% endwith %}
                            </td>

                            <td class="text-right"><span>{% if group.is_group_owner %}Owner{% else %}Member{% endif %}</span></td>
                        </tr>

                        {% endfor %}
                    </table>
                    {% endif %}

                    {% if inactive_groups %}
                    <div id="deleted-groups" class="collapse">
                        {% if groups %}<hr>{% endif %}
                        <table class="groups-table">
                            {% for group in inactive_groups %}
                            <tr>
                                <td>
                                    <div class="group-image-wrapper">
                                        {% if group.gaccess.picture and group.gaccess.picture.url %}
                                        {% thumbnail group.gaccess.picture "80x80" crop="center" as im %}
                                        <div class="group-image-small" style="background-image: url({{ im.url }})">
                                        </div>
                                        {% endthumbnail %}
                                        {% else %}
                                        <div class="group-image-small group-preview-image-default"
                                            style="background-image: url({{ STATIC_URL }}img/home-page/step4.png)">
                                        </div>
                                        {% endif %}
                                    </div>
                                </td>

                                <td>
                                    <h4><a href="/group/{{ group.id }}" class="text-danger">{{ group.name }}</a></h4>
                                    {% if group.gaccess.public %}
                                    <img src="{% static 'img/public.png' %}" alt="Public Group" title="Public Group">
                                    {% elif group.gaccess.discoverable %}
                                    <img src="{% static 'img/discoverable.png' %}" alt="Discoverable Group"
                                        title="Discoverable Group">
                                    {% else %}
                                    <img src="{% static 'img/private.png' %}" alt="Private Group" title="Private Group">
                                    {% endif %}
                                    <small class="text-muted">{{ group.member_count }} Member{% if group.member_count > 1 %}s{% endif %}</small>
                                </td>

                                <td class="text-right"><span>{% if group.is_group_owner %}Owner{% else %}Member{% endif %}</span></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endif %}
                    {% if not groups and not inactive_groups %}
                    <i>You have not joined any groups.</i>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Create Group Modal -->
{% include "includes/create-group-modal.html" %}
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/bootstrap-formhelpers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/my-groups.js' %}"></script>
{% endblock %}