{% extends "pages/page.html" %}
{% load geoanalytics_tags pages_tags mezzanine_tags keyword_tags comment_tags hydroshare_tags %}

{# {% block title %}{{ user|best_name }}'s Resources{% endblock %}#}
{% block title %}Resources{% endblock %}

{% block main %}

<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-lg-2" id="folders">
            <ul class="nav nav-stacked">
                <li><a href="?owner={{ user.username }}&user={{ user.pk }}&edit_permission=true">Owned by me</a></li>
                <li><a href="?user={{ user.pk }}&edit_permission=true">Editable by me</a></li>
                {% if user.pk %}
                    <li><a href="?user={{ user.pk }}">Viewable by me</a></li>
                {% else %}
                    <li><a href="/my-resources">Viewable by me</a></li>
                {%  endif %}
                <li><span><a class="btn btn-success" href="/hsapi/_internal/create-resource"><i class="fa fa-plus"></i> Create new</a></span></li>
            </ul>
        </div>
        <div class="col-lg-10" id="items">
            <h2 class="page-title">My Resources</h2>
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <div class="input-group">
                        <span class="glyphicon glyphicon-search search-icon"></span>
                        <input id="resource-search-input" type="text" class="form-control" placeholder="Search"/>

                        <div class="input-group-btn">
                            <div class="btn-group" role="group">
                                <div class="dropdown dropdown-lg">
                                    <span id="btn-clear-search-input" class="glyphicon glyphicon-remove-sign btn-clear-search"></span>

                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="false"><span class="caret"></span></button>

                                    <div class="dropdown-menu dropdown-menu-left" role="menu">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="filter">Resource Type</label>
                                                <select id="input-resource-type" class="form-control pull-left">
                                                    <option value="" selected>All</option>
                                                    <option value="generic">Generic</option>
                                                    <option value="geographic raster">Geographic Raster</option>
                                                    <option value="model program">Model Program</option>
                                                    <option value="model instance resource">Model Instance</option>
                                                    <option value="swat model instance resource">Swat Model Instance</option>
                                                    <option value="multidimensional">Multidimensional (NetCDF)</option>
                                                    <option value="time series">Time Series</option>
                                                    <option value="geographic feature">Geographic Feature (ESRI Shapefiles)</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="contain">Author</label>
                                                <input id="input-author" class="form-control" type="text"/>
                                                <span id="btn-clear-author-input" class="glyphicon glyphicon-remove-sign btn-clear-search-inline"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="contain">Subject</label>
                                                <input id="input-subject" class="form-control" type="text"/>
                                                <span id="btn-clear-subject-input" class="glyphicon glyphicon-remove-sign btn-clear-search-inline"></span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>

            <!-- /input-group -->
            <table id="item-selectors">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>First author</th>
                    <th>Last modified</th>
                    <th>Subject</th>
                </tr>
                </thead>
                <tbody>
                    {# ################### #}
                    {% for res in resources %}
                        <tr>
                            <td><a href="{{ res.get_absolute_url }}">{{ res.metadata.title }}</a></td>
                            <td>{{ res|resource_type }}</td>
                            {% if res.first_creator.description %}
                                <td><a href="{{ res.first_creator.description }}">{{ res.first_creator.name  }}</a></td>
                            {% else %}
                                <td>{{ res.first_creator.name }}</td>
                            {% endif %}
                            <td>{{ res.updated|date }}, {{ res.updated|time }}</td>
                            <td>Subject {{ forloop.counter }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var resourceTable = $("#item-selectors").DataTable({
                "order": [[0, "desc"]],
                "paging": false,
                "info": false
            });

            $("#resource-search-input").keyup(function () {
                var searchString = removeQueryOccurrences($(this).val());
                applyQueryStrings();
                resourceTable.search(searchString).draw();
            });

            $("#btn-clear-author-input").click(function () {
                $("#input-author").val("");
                typeQueryStrings();
                $("#resource-search-input").keyup();
            });

            $("#btn-clear-subject-input").click(function () {
                $("#input-subject").val("");
                typeQueryStrings();
                $("#resource-search-input").keyup();
            });

            $("#btn-clear-search-input").click(function () {
                var searchInput = $("#resource-search-input");
                searchInput.val("");
                searchInput.keyup();
            });

            $('#input-author, #input-subject').keyup( function() {
                typeQueryStrings();
                resourceTable.draw();
            } );

            $("#input-resource-type").change(function(){
                typeQueryStrings();
                resourceTable.draw();
            })
        });

        //strips query inputs from a search string
        function removeQueryOccurrences(inputString) {
            // Matches occurrences of query strings. i.e.: "[author:mauriel ramirez]", "[]", etc
            var regExp = /\[([^\]|^\[]?)+\]/g;
            var occurrences = inputString.match(regExp);

            if (occurrences) {
                // Remove query occurrences from input string
                for (var i = 0; i < occurrences.length; i++) {
                    inputString = inputString.replace(occurrences[i], "");
                }
            }

            return inputString;
        }

        // Looks at the query strings in the searchbox and sets the values in the dropdown options
        function applyQueryStrings() {
            var inputString = $("#resource-search-input").val();
            // Matches occurrences of query strings. i.e.: author:mauriel
            var regExp = /\[(type|TYPE|author|AUTHOR|subject|SUBJECT):[^\]|^\[]+]/g;
            var occurrences = inputString.match(regExp);

            var inputType = "";
            var inputSubject = "";
            var inputAuthor = "";

            var collection = [];
            if (occurrences) {
                for (var item in occurrences) {
                    var content = occurrences[item].replace("[", "").replace("]", "").split(":");
                    collection.push(content);
                }
            }

            for (var item in collection) {
                if (collection[item][0].toUpperCase() == "TYPE") {
                    inputType = collection[item][1];
                }
                else if (collection[item][0].toUpperCase() == "AUTHOR") {
                    inputAuthor = collection[item][1];
                }
                else if (collection[item][0].toUpperCase() == "SUBJECT") {
                    inputSubject = collection[item][1];
                }
            }

            $("#input-author").val(inputAuthor);
            $("#input-subject").val(inputSubject);
            $("#input-resource-type").val(inputType.toLowerCase());

        }

        // Looks at the values in the dropdown options and appends the corresponding query string to the search box.
        function typeQueryStrings () {
            var searchInput = $("#resource-search-input");

            var type = $("#input-resource-type").val();
            var author = $("#input-author").val();
            var subject = $("#input-subject").val();

            var searchQuery = "";

            if (type) {
                searchQuery = searchQuery + " [type:" + type + "]";
            }

            if (author) {
                searchQuery = searchQuery + " [author:" + author + "]";
            }

            if (subject){
                searchQuery = searchQuery + " [subject:" + subject + "]";
            }

            searchQuery = searchQuery + removeQueryOccurrences(searchInput.val());
            searchQuery = searchQuery.trim();
            searchInput.val(searchQuery);
        }

        {#        Table columns             #}
        {#        0 - Title                 #}
        {#        1 - Resource Type         #}
        {#        2 - First Author          #}
        {#        3 - Last Modified         #}
        {#        4 - Subject               #}

        /* Custom filtering function which will search data for the values in the custom filter dropdown or query strings */
        $.fn.dataTable.ext.search.push (
                function (settings, data, dataIndex) {
                    var inputString = $("#resource-search-input").val();
                    // Matches occurrences of query strings. i.e.: author:mauriel
                    var regExp = /\[(type|author|subject|TYPE|AUTHOR|SUBJECT):[^\]|^\[]+]/g;
                    var occurrences = inputString.match(regExp);

                    var inputType = "";
                    var inputSubject = "";
                    var inputAuthor = "";

                    // Split the occurrences at ':' and move to an array.
                    var collection = [];
                    if (occurrences) {
                        for (var item in occurrences) {
                            var content = occurrences[item].replace("[", "").replace("]", "").split(":");
                            collection.push(content);
                        }
                    }

                    // Extract the pieces of information
                    for (var item in collection) {
                        if (collection[item][0].toUpperCase() == "TYPE") {
                            inputType = collection[item][1];
                        }
                        else if (collection[item][0].toUpperCase() == "AUTHOR") {
                            inputAuthor = collection[item][1];
                        }
                        else if (collection[item][0].toUpperCase() == "SUBJECT") {
                            inputSubject = collection[item][1];
                        }
                    }

                    // Filter the table for each value

                    if (inputType && data[1].toUpperCase().indexOf(inputType.toUpperCase()) == -1) {
                        return false;
                    }

                    if (inputSubject && data[4].toUpperCase().indexOf(inputSubject.toUpperCase()) == -1) {
                        return false;
                    }

                    if (inputAuthor && data[2].toUpperCase().indexOf(inputAuthor.toUpperCase()) == -1) {
                        return false;
                    }

                    // Default
                    return true;
                }
        );
    </script>

{% endblock %}
