{% extends "pages/page.html" %}
{% load pages_tags mezzanine_tags keyword_tags comment_tags hydroshare_tags %}
{% block title %}My Resources{% endblock %}

{% block main %}

<div class="container" id="main">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-title">My Resources</h2>
        </div>
        <div class="col-lg-2" id="facets">
            <a class="btn btn-success" href="/hsapi/_internal/create-resource"><i class="fa fa-plus"></i> Create new</a>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span class="glyphicon glyphicon glyphicon-search"></span>
                        <a data-toggle="collapse" class="accordion-toggle" data-parent="#accordion" href="#filter">&nbsp;Filter</a></h4>
                </div>
                <div id="filter" class="facet-list panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="list-group">
                            <ul class="list-group inputs-group" data-owned-count="{{ owned|length }}"
                            data-editable-count="{{ editable|length }}" data-view-count="{{ view|length }}" >
                                <li class="list-group-item">
                                    <span data-facet="owned" class="badge">0</span>
                                    <label class="checkbox noselect">
                                        <input type="checkbox" data-facet="owned" value="Owned">Owned by me</label>
                                </li>
                                <li class="list-group-item">
                                    <span data-facet="editable" class="badge">0</span>
                                    <label class="checkbox noselect">
                                        <input type="checkbox" data-facet="editable" value="Editable">Editable by me</label>
                                </li>
                                <li class="list-group-item">
                                    <span data-facet="viewable by me" class="badge">0</span>
                                    <label class="checkbox noselect">
                                        <input type="checkbox" data-facet="viewable by me" value="View">Viewable by me</label>
                                </li>
                                <li class="list-group-item">
                                    <span data-facet="favorites" class="badge">0</span>
                                    <label class="checkbox noselect">
                                        <input type="checkbox" data-facet="favorites" value="Favorites">Favorites</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span class="glyphicon glyphicon-tags"></span>
                        <a data-toggle="collapse" class="accordion-toggle" data-parent="#accordion" href="#labels">&nbsp;&nbsp;Labels</a></h4>
                </div>
                <div id="labels" class="facet-list panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="list-group">
                            <ul id="user-labels-left" class="list-group inputs-group">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10" id="items">
            <div class="row">

                <div class="col-sm-8 col-xs-12 pull-right">
                    <div id="search-container" class="input-group">
                        <span class="glyphicon glyphicon-search search-icon"></span>
                        <input id="resource-search-input" type="text" class="form-control" placeholder="Search"/>

                        <div class="input-group-btn">
                            <div class="btn-group" role="group">
                                <div class="dropdown dropdown-lg">
                                    <span id="btn-clear-search-input" class="glyphicon glyphicon-remove-sign btn-clear-search"></span>

                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="false"><span class="caret"></span></button>

                                    <div class="dropdown-menu dropdown-menu-left" role="menu">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="filter">Resource Type</label>
                                                <select id="input-resource-type" class="form-control pull-left">
                                                    <option value="" selected>All</option>
                                                    <option value="collection resource">Collection</option>
                                                    <option value="composite resource">Composite Resource</option>
                                                    <option value="generic">Generic</option>
                                                    <option value="geographic feature">Geographic Feature (ESRI Shapefiles)</option>
                                                    <option value="geographic raster">Geographic Raster</option>
                                                    <option value="his referenced time series">HIS Referenced Time Series</option>
                                                    <option value="model instance resource">Model Instance</option>
                                                    <option value="model program">Model Program</option>
                                                    <option value="modflow model instance resource">MODFLOW Model Instance</option>
                                                    <option value="multidimensional">Multidimensional (NetCDF)</option>
                                                    <option value="script resource">Script Resource</option>
                                                    <option value="swat model instance resource">Swat Model Instance</option>
                                                    <option value="time series">Time Series</option>
                                                    <option value="web app resource">Web App</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="contain">Author</label>
                                                <input id="input-author" class="form-control" type="text"/>
                                                <span id="btn-clear-author-input" class="glyphicon glyphicon-remove-sign btn-clear-search-inline"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="contain">Subject</label>
                                                <input id="input-subject" class="form-control" type="text"/>
                                                <span id="btn-clear-subject-input" class="glyphicon glyphicon-remove-sign btn-clear-search-inline"></span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                <div class="col-sm-4 col-xs-12 pull-left">
                    <div id="resource-actions-container" class="noselect">
                        <span id="btn-label" class="glyphicon glyphicon-tags dropdown-toggle"
                              data-toggle="dropdown" aria-expanded="false" title="Label"></span>

                        <span id="btn-favorite" class="glyphicon  glyphicon-star" data-toggle="tooltip" data-placement="bottom" title="Favorite"></span>

                        <div id="toolbar-labels-dropdown" class="dropdown-menu" role="menu">
                            <div class="panel-body" role="form">
                                <strong>Label as:</strong>
                                <ul class="list-group list-labels">
                                    <li class="divider persist"></li>
                                    <li class="list-group-item persist" data-toggle="modal" data-target="#modalCreateLabel">
                                        <span style="color:#5cb85c" class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;&nbsp;Create New Label</li>
                                    <li class="list-group-item persist" data-toggle="modal" data-target="#modalManageLabels">
                                        <span style="color:#0A91AB" class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;&nbsp;&nbsp;Manage Labels</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /input-group -->
            <table id="item-selectors" class="table-hover table-striped resource-custom-table">
                <thead>
                <tr>
                    <th><input class="all-rows-selector" type="checkbox"></th>
                    <th>Type</th>
                    <th>Title</th>
                    <th>First Author</th>
                    <th>Date Created</th>
                    <th>Last modified</th>
                    <th>Subject</th>{# Used in table processing #}
                    <th>Authors</th>{# Used in table processing #}
                    <th>Permission Level</th>{# Used in table processing #}
                    <th>Labels</th>{# Used in table processing #}
                    <th>Favorite</th>{# Used in table processing #}
                    <th>Last modified</th>{# Used in table processing #}
                    <th>Sharing Status</th>{# Used in table processing #}
                    <th>Date Created</th>{# Used in table processing #}
                </tr>
                </thead>
                <tbody>
                    {% for res in collection %}
                        <tr data-tr-index="{{ forloop.counter0 }}">
                            {# Selection controls #}
                            <td>
                                <input class="row-selector" type="checkbox">
                                {% if res.is_favorite %}
                                    <span data-form-id="form-favorite-{{ res.short_id }}" data-form-type="toggle-favorite"
                                          class="glyphicon glyphicon-star btn-inline-favorite isfavorite"></span>

                                    <form class="hidden-form" data-id="form-favorite-{{ res.short_id }}"
                                          action="/hsapi/_internal/{{ res.short_id }}/label-resource-action/"
                                          method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="DELETE">
                                        <input type="hidden" name="label_type" value="FAVORITE">
                                    </form>
                                {% else %}
                                    <span data-form-id="form-favorite-{{ res.short_id }}" data-form-type="toggle-favorite"
                                          class="glyphicon glyphicon-star btn-inline-favorite"></span>

                                    <form class="hidden-form" data-id="form-favorite-{{ res.short_id }}"
                                          action="/hsapi/_internal/{{ res.short_id }}/label-resource-action/"
                                          method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="CREATE">
                                        <input type="hidden" name="label_type" value="FAVORITE">
                                    </form>
                                {% endif %}

                                <span class="glyphicon glyphicon-tag btn-inline-label" data-toggle="dropdown" aria-expanded="false"></span>

                                <div class="dropdown-menu inline-dropdown" role="menu">
                                    <div class="panel-body" role="form">
                                        <ul data-resource-id="{{ res.short_id }}" class="list-group list-labels">
                                        </ul>
                                    </div>
                                </div>
                            </td>
                            {# Type #}
                            <td>
                                <span class="resource-type-text">{{ res|resource_type }}</span>
                                {% if res|resource_type == "Generic" %}
                                    <img src="{{ STATIC_URL }}img/resource-icons/generic48x48.png"
                                         alt="{{ res|resource_type }}" title="{{ res|resource_type }}" class="table-res-type-icon"/>
                                {% elif res|resource_type == "Geographic Raster" %}
                                    <img src="{{ STATIC_URL }}img/resource-icons/geographicraster48x48.png"
                                         alt="{{ res|resource_type }}" title="{{ res|resource_type }}" class="table-res-type-icon"/>
                                {% elif res|resource_type == "Model Program Resource" %}
                                    <img src="{{ STATIC_URL }}img/resource-icons/modelprogram48x48.png"
                                         alt="{{ res|resource_type }}" title="{{ res|resource_type }}" class="table-res-type-icon"/>
                                {% elif res|resource_type == "Model Instance Resource" %}
                                    <img src="{{ STATIC_URL }}img/resource-icons/modelinstance48x48.png"
                                         alt="{{ res|resource_type }}" title="{{ res|resource_type }}" class="table-res-type-icon"/>
                                {% elif res|resource_type == "SWAT Model Instance Resource" %}
                                    <img src="{{ STATIC_URL }}img/resource-icons/swat48x48.png"
                                         alt="{{ res|resource_type }}" title="{{ res|resource_type }}" class="table-res-type-icon"/>
                                {% elif res|resource_type == "Multidimensional (NetCDF)" %}
                                    <img src="{{ STATIC_URL }}img/resource-icons/multidimensional48x48.png"
                                         alt="{{ res|resource_type }}" title="{{ res|resource_type }}" class="table-res-type-icon"/>
                                {% elif res|resource_type == "Time Series" %}
                                    <img src="{{ STATIC_URL }}img/resource-icons/timeseries48x48.png"
                                         alt="{{ res|resource_type }}" title="{{ res|resource_type }}" class="table-res-type-icon"/>
                                {% elif res|resource_type == "Geographic Feature (ESRI Shapefiles)" %}
                                    <img src="{{ STATIC_URL }}img/resource-icons/geographicfeature48x48.png"
                                         alt="{{ res|resource_type }}" title="{{ res|resource_type }}" class="table-res-type-icon"/>
                                {% elif res|resource_type == "Web App Resource" %}
                                    <img src="{{ STATIC_URL }}img/resource-icons/webapp48x48.png"
                                         alt="{{ res|resource_type }}" title="{{ res|resource_type }}" class="table-res-type-icon"/>
                                {% elif res|resource_type == "HIS Referenced Time Series" %}
                                    <img src="{{ STATIC_URL }}img/resource-icons/his48x48.png"
                                         alt="{{ res|resource_type }}" title="{{ res|resource_type }}" class="table-res-type-icon"/>
                                {% elif res|resource_type == "Script Resource" %}
                                    <img src="{{ STATIC_URL }}img/resource-icons/script48x48.png"
                                         alt="{{ res|resource_type }}" title="{{ res|resource_type }}" class="table-res-type-icon"/>
                                {% elif res|resource_type == "Collection Resource" %}
                                    <img src="{{ STATIC_URL }}img/resource-icons/collection48x48.png"
                                         alt="{{ res|resource_type }}" title="{{ res|resource_type }}"
                                         class="table-res-type-icon"/>
                                {% elif res|resource_type == "MODFLOW Model Instance Resource" %}
                                    <img src="{{ STATIC_URL }}img/resource-icons/modflow48x48.png"
                                         alt="{{ res|resource_type }}" title="{{ res|resource_type }}"
                                         class="table-res-type-icon"/>
                                {% elif res|resource_type == "Composite Resource" %}
                                    <img src="{{ STATIC_URL }}img/resource-icons/composite48x48.png"
                                         alt="{{ res|resource_type }}" title="{{ res|resource_type }}"
                                         class="table-res-type-icon"/>
                                {% endif %}

                                {#  Sharing Status icons #}
                                <div class="access-icon-wrapper">
                                    {% if res.raccess.published %}
                                        <img src="{{ STATIC_URL }}img/published.png"
                                             alt="Published Resource" title="Published"/>
                                    {% elif res.raccess.public %}
                                        <img src="{{ STATIC_URL }}img/public.png"
                                             alt="Public Resource" title="Public"/>
                                    {% elif res.raccess.discoverable %}
                                        <img src="{{ STATIC_URL }}img/discoverable.png"
                                             alt="Discoverable Resource" title="Discoverable"/>
                                    {% else %}
                                        <img src="{{ STATIC_URL }}img/private.png"
                                             alt="Private Resource" title="Private"/>
                                    {% endif %}

                                    {% if res.raccess.published %}
                                        {% if "pending" in cm.doi or "failure" in cm.doi %}
                                            <img src="{{ STATIC_URL }}img/pending.png" alt="Pending Publication"
                                                 title="Pending Publication. Note that the DOI will not be available until it has been registered and activated."/>
                                        {% endif %}
                                    {% else %}
                                        {% if res.raccess.shareable %}
                                            <img src="{{ STATIC_URL }}img/shareable.png" alt="Sharable Resource"
                                                 title="Shareable"/>
                                        {% else %}
                                            <img src="{{ STATIC_URL }}img/non-shareable.png" alt="Non Sharable Resource"
                                                 title="Not Shareable"/>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </td>
                            {# Title #}
                            <td>
                                <strong><a href="{{ res.get_absolute_url }}">{{ res.metadata.title }}</a></strong>
                            </td>
                            {# First Author #}
                            {% if res.first_creator.description %}
                                <td>
                                    <a href="{{ res.first_creator.description }}">{{ res.first_creator.name }}</a>
                                </td>
                            {% else %}
                                <td>{{ res.first_creator.name }}</td>
                            {% endif %}
                            {# Date Created #}
                            <td>{{ res.created|date:"m/d/Y" }}, {{ res.created|time }}</td>
                            {# Last Modified #}
                            <td>{{ res.updated|date:"m/d/Y" }}, {{ res.updated|time }}</td>
                            <td>
                                {% for kw in res.metadata.subjects.all %}
                                   {% if forloop.counter0 > 0 %},{% endif %}{{ kw.value}}
                                {% endfor %}
                            </td>
                            <td>
                                {% for creator in res.metadata.creators.all %}
                                    {% if forloop.counter0 != 0 %}<span> · </span>{% endif %}
                                    {% if creator.description %}
                                        <a href="{{ creator.description }}">{{ creator.name }}</a>
                                    {% else %}
                                        <span>{{ creator.name }}</span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            {% if res.owned %}
                                <td>Owned</td>
                            {% elif res.editable %}
                                <td>Editable</td>
                            {% elif res.viewable %}
                                <td>Viewable</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td class="col-labels">
                                {% for label in res.labels %}
                                    {% if forloop.counter0 > 0 %},{% endif %}{{ label }}
                                {% endfor %}
                            </td>
                            <td class="col-is-favorite">
                                {% if res.is_favorite %}
                                    Favorite
                                {% endif %}
                            </td>
                            <td>{{ res.updated|date:"Y/m/d H:i:s" }}</td>
                            <td>
                                {% if res.raccess.published %}
                                    Published
                                {% elif res.raccess.public %}
                                    Public
                                {% elif res.raccess.discoverable %}
                                    Discoverable
                                {% else %}
                                    Private
                                {% endif %}
                            </td>
                            <td>{{ res.created|date:"Y/m/d H:i:s" }}</td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include "includes/legend.html" %}

        </div>
    </div>
</div>

    <!-- Create Label Modal -->
    <div class="modal fade" id="modalCreateLabel" tabindex="-1" role="dialog" aria-labelledby="Create New Label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create New Label</h4>
                </div>
                <div class="modal-body">
                    <form data-id="form-create-label" action="/hsapi/_internal/label-resource-action/"
                          method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="txtLabelName">New Label Name:</label>
                            <input id="txtLabelName" name="label" type="text" class="form-control">
                            <input type="hidden" name="label_type" value="SAVEDLABEL">
                            <input type="hidden" name="action" value="CREATE">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button data-form-id="form-create-label" data-form-type="create-label" id="btn-create-label" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>

    {#    To be used for querying the tabla in javascrip    t#}
    <input id="currentUserName" value="{{ user|best_name }}" style="display:none">
    <span id="csrf">{% csrf_token %}</span>

    <!-- Manage Labels Modal -->
    <div class="modal fade" id="modalManageLabels" tabindex="-1" role="dialog" aria-labelledby="Manage Labels">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Manage Labels</h4>
                </div>
                <div class="modal-body">
                    <table id="table-user-labels" class="table">
                        <thead>
                            <tr><th>Label</th><th></th></tr>
                        </thead>
                        <tbody>
                            {% if user.ulabels.saved_labels %}
                                {% for label in user.ulabels.saved_labels %}
                                <tr>
                                    <td class="user-label" data-label="{{ label }}">{{ label }}</td>
                                    <td>
                                        <form class="hidden-form" data-id="form-delete-label-{{ label }}"
                                              action="/hsapi/_internal/label-resource-action/"
                                              method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="label" value="{{ label }}">
                                            <input type="hidden" name="label_type" value="SAVEDLABEL">
                                            <input type="hidden" name="action" value="DELETE">
                                        </form>
                                        <span data-label="{{ label }}" data-form-type="delete-label" class="btn-label-remove glyphicon glyphicon-remove" data-form-id="form-delete-label-{{ label }}"></span>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr class="no-items-found"><td>No labels found.</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Resource Modal -->
    <div class="modal fade" id="delete-resource-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="delete-resource-title">Delete Resource</h4>
                </div>
                <div class="modal-body">
                    <strong>THIS IS A PERMANENT ACTION. </strong>
                    <ul>
                        <li>This will delete the resource file.</li>
                        <li>A copy of your resource file will not be retained by Hydroshare.</li>
                        <li>We highly recommend that you download the latest copy of your resource file before
                            confirming this action.
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a type="button" class="btn btn-danger"
                       href="/hsapi/_internal/{{ cm.short_id }}/delete-resource/">Delete</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>
    <script>
        var ACTIONS_COL = 0;
        var RESOURCE_TYPE_COL = 1;
        var TITLE_COL = 2;
        var OWNER_COL = 3;
        var DATE_CREATED_COL = 4;
        var LAST_MODIFIED_COL = 5;
        var SUBJECT_COL = 6;
        var AUTHORS_COL = 7;
        var PERM_LEVEL_COL = 8;
        var LABELS_COL = 9;
        var FAVORITE_COL = 10;
        var LAST_MODIF_SORT_COL = 11;
        var SHARING_STATUS_COL = 12;
        var DATE_CREATED_SORT_COL = 13;
        var ACCESS_GRANTOR_COL = 14;

        var colDefs = [
            {
                "targets": [RESOURCE_TYPE_COL],     // Resource type
                "width": "100px"
            },
            {
                "targets": [ACTIONS_COL],     // Actions
                "orderable": false,
                "searchable": false,
                "width": "70px"
            },
            {
                "targets": [LAST_MODIFIED_COL],     // Last modified
                "iDataSort": LAST_MODIF_SORT_COL
            },
            {
                "targets": [DATE_CREATED_COL],     // Created
                "iDataSort": DATE_CREATED_SORT_COL
            },
            {
                "targets": [SUBJECT_COL],     // Subject
                "visible": false,
                "searchable": true
            },
            {
                "targets": [AUTHORS_COL],     // Authors
                "visible": false,
                "searchable": true
            },
            {
                "targets": [PERM_LEVEL_COL],     // Permission level
                "visible": false,
                "searchable": true
            },
            {
                "targets": [LABELS_COL],     // Labels
                "visible": false,
                "searchable": true
            },
            {
                "targets": [FAVORITE_COL],     // Favorite
                "visible": false,
                "searchable": true
            },
            {
                "targets": [LAST_MODIF_SORT_COL],     // Last modified (for sorting)
                "visible": false,
                "searchable": true
            },
            {
                "targets": [DATE_CREATED_SORT_COL],     // Date Created (for sorting)
                "visible": false,
                "searchable": true
            },
            {
                "targets": [SHARING_STATUS_COL],     // Sharing status
                "visible": false,
                "searchable": false
            }
        ];
        // TODO: fix the following references
{#        $(document).ready(function () {#}
{#            start_resource_table();#}
{#            $.fn.dataTable.ext.search.push(hs_resource_table_custom_search);#}
{#        });#}
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/hs_resource_table.js"></script>
{% endblock %}
