{% extends "pages/page.html" %}

{% load mezzanine_tags static blog_tags accounts_tags %}

{% block main %}
    <h2>Sign Up</h2>
    {% if user.is_anonymous %}
        <div class="col-sm-6">
            <!-- signup -->
            <div class="front-signup js-front-signup" style="padding-top: 1.5em;">
                {% signup_form as form %}
                {% include "accounts/account_signup.html" with form=form %}
            </div>
            <!-- signup -->
        </div>
    {% endif %}
{% endblock %}