{% block main %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title Assistant</title>
        <link rel="shortcut icon" href="/">
    </head>
    <body>
    <div id="topics-app">
        <h2>Edit Topics</h2>
        <template>
            <ul>
                <li v-for="number in numbers">
                    <span v-show="!number.edit" v-on:click="toggleEdit(this, number)">{% templatetag openvariable %} number.val[1] {% templatetag closevariable %}</span>
                    <input type="text" v-model="number.val[1]" v-show="number.edit"
                           v-on:blur="saveEdit('{{ csrf_token }}', this, number)">
                </li>
            </ul>
        </template>
    </div>
    <button>add</button>

    </body>
    </html>
{% endblock %}

{% block extra_js %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.3.0.2.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select-1.6.3.min.css"/>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vue-2.6.10-dev.js"></script>

    <script type="application/javascript">
        // contents here are required by topics.js
        const topics_from_page = JSON.parse("{{ topics_json }}");
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/topics.js"></script>

{% endblock %}
