.modelprogram .table{
    padding: 1px;
    width: 100%;
    background-color: transparent;
    border-width: 0px;
}

.modelprogram td:first-child{
    font-weight: bold;
    width: 1%;
    padding: 4px 20px 4px 4px ;
    white-space: nowrap;
}

.modelprogram td:first-child + td{
    alignment: left ;
}

.modelprogram tr:nth-child(even){
    background-color: #f8f8f8;
}

.modelprogram tr:nth-child(odd){
    background-color: #f0f0f0;
}
