{% load i18n %}
{% block main %}
    <p>{% trans "Dear " %}{{ user.first_name }}</p>
    <p>{% trans "HydroShare has received a request to reset your HydroShare user password. Please click on the link below to validate this email address" %}</p>
    <p><a href="{{ request.scheme }}://{{ request.get_host }}{{ reset_url }}">{{ request.scheme }}://{{ request.get_host }}{{ reset_url}}</a></p>
    <p>{% trans "If you didn't request for your password to be reset, please ignore this email." %}</p>
    <p>{% trans "The HydroShare Team" %}</p>
{% endblock %}