{% load i18n %}
{% block main %}
    <p>{% trans "Dear " %}{{ user.first_name }}</p>
    <p>{% trans "CommonsShare has received a request to reset your CommonsShare user password. Please click on the link below to reset password." %}</p>
    <p><a href="{{ request.scheme }}://{{ request.get_host }}{{ reset_url }}">{{ request.scheme }}://{{ request.get_host }}{{ reset_url}}</a></p>
    <p>{% trans "If you didn't request for your password to be reset, please ignore this email." %}</p>
    <p>{% trans "The CommonsShare Team" %}</p>
{% endblock %}