<style>
table, th, td {
  border: 1px solid black;
  vertical-align: top;
}
thead {
  position: sticky;
  top:0;
}
.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
#Cancel {
  border: none;
  color: white;
  background-color: red; 
  padding: 6px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 4px 2px;
  cursor: pointer;
}
#Approve {
  border: none;
  color: white;
  background-color: green; 
  padding: 6px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 4px 2px;
  cursor: pointer;
}
#Decline {
  border: none;
  color: white;
  background-color: red; 
  padding: 6px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 4px 2px;
  cursor: pointer;
}
#Delete {
  border: none;
  color: white;
  background-color: red; 
  padding: 6px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 4px 2px;
  cursor: pointer;
}
#Remove {
  border: none;
  color: white;
  background-color: red; 
  padding: 6px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
<div>
{% if status != "" %}
    <p><em> {{ status }} </em></p> 
{% else %} 
    <h2> Invite groups into <em>{{ community.name }}</em></h2>
    {{ message }}
    <table
         class = "table-wrapper-scroll-y my-custom-scrollbar"
         data-pagination="true"
         data-search="true">
      <thead
         position: sticky;
         top:0>
        <tr>
          <th> Group Name </th>
          <th> Invite </th>
        </tr>
      </thead>
      <tbody> 
    {% for g in groups %}
    <tr>
    <td> {{ g.name }} </td> 
    <td> <button type="button" id="invite" 
            onclick="community_invite_group({{ uid }}, {{ cid }}, {{ g.id }})" > 
    Invite </button> 
    </td>
    </td>
    </tr>
    {% endfor %}
      </tbody>
    </table>
{% endif %}
</div>
