<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 
<script language='JavaScript'> 

function loader() { 
    // const axios = require('axios');
    url = '/access/_internal/community/invite/' 
        + {{ uid }} + '/' + {{ cid }} + '/';
    container = document.getElementById("community_invite");
    // Make a request for a user with a given ID
    axios.get(url, {'responseType': 'text'} )
      .then(function (response) {
        container.innerHTML = response.data; 
      }).catch(function (error) {
        alert(error);
        container.innerHtml = error; 
      });
} 

$(document).ready(loader); 

function community_invite_group(uid, cid, gid) { 
    url = '/access/_internal/community/invite/' 
        + uid + '/' + cid + '/invite/' + gid + '/';
    // Make a request for a user with a given ID
    axios.get(url, {'responseType': 'text'} )
      .then(function (response) {
        container = document.getElementById("community_invite");
        container.innerHTML = response.data; 
      }).catch(function (error) {
        container.innerHtml = error; 
      });
} 
</script> 

<div id='community_invite'>
<em>Please wait for the invitation table to be loaded...</em>
</div> 
