<html>
<body>
<h2> Debug past community requests </h2>
<table
     class = "table-wrapper-scroll-y my-custom-scrollbar"
     data-pagination="true"
     data-search="true">
  <thead>
    <tr>
      <th> Group Name (ID) </th>
      <th> Group Owner </th>
      <th> Community Name (ID) </th>
      <th> Community Owner </th>
      <th> Date of Request </th>
      <th> Date of Response </th>
      <th> Approved </th>
      <th> Redeemed </th>
    </tr>
  </thead>
  <tbody>
{% for i in gcall %}
<tr>
<td> {{ i.group.name }} ( {{ i.group.id }} )  </td>
<td> {{ i.group_owner.username }} </td>
<td> {{ i.community.name }} ( {{ i.community.id }} ) </td>
<td> {{ i.community_owner.username }} </td>
<td> {{ i.when_requested }} </td>
<td> {{ i.when_responded }} </td>
<td> {{ i.approved }} </td>
<td> {{ i.redeemed }} </td>
</tr>
{% endfor %}
  </tbody>
</table>
<html>
