<div id="group-communities" class="flex gap-2">
  <div class="group-communities--sidebar">
    <div class="alert alert-info">
      <p>Want your Group to join a HydroShare Community? Click the button below to request that your group be added.</p>
      <button class="btn btn-primary has-space-top" data-toggle="modal" data-target="#communities-modal">Ask to join a Community</button>
    </div>
  </div>

  <div class="group-communities--content flex-grow-1 flex flex-column gap-2">
    <!-- PENDING INVITATIONS -->
    <div v-if="isGroupOwner && pending.length">
      <h4 class="heading">Pending Community Membership Requests</h4>
      <div v-for="community of pending" class="group-community-card panel panel-default">
        <div class="panel-body flex gap-1 align-center">
          <div class="group-image-wrapper group-image-wrapper-medium">
              <div class="group-image group-preview-image-default"
                  style="background-image: url({{ STATIC_URL }}img/home-page/step4.png)"></div>
          </div>
          <div class="community-card--info flex-grow-1">
            <a class="community-card--heading" :href="'/community/' + community.id">${ community.name }</a>
            <p v-if="community.purpose">${ community.purpose }</p>
            <div class="checkbox">
              <label :for="'auto-share-' + community.id">
                <input type="checkbox" :id="'auto-share-' + community.id">
                <div class="text-muted">Automatically share public and and published resources with this Community</div>
              </label>
            </div>
          </div>
          <div class="community-card--actions">
            <button class="btn btn-primary" @click="join(community.id)" :disabled="isJoining[community.id]">Join Community</button>
          </div>
        </div>
      </div>
    </div>

    <!-- JOINED COMMUNITIES -->
    <div>
      <h4 class="heading">This Group is a member of the following Communities</h4> 
      <template v-if="joined.length">
        <div v-for="community of joined" class="group-community-card panel panel-default">
          <div class="panel-body flex gap-1 align-center">
            <div class="group-image-wrapper group-image-wrapper-medium has-space-right">
                <div class="group-image group-preview-image-default"
                    style="background-image: url({{ STATIC_URL }}img/home-page/step4.png)"></div>
            </div>
            <div class="community-card--info flex-grow-1">
              <a class="community-card--heading" :href="'/community/' + community.id">${ community.name }</a>
              <p v-if="community.purpose">${ community.purpose }</p>
              <div class="checkbox">
                <label :for="'auto-share-' + community.id">
                  <input type="checkbox" :id="'auto-share-' + community.id">
                  <div class="text-muted">Automatically share public and and published resources with this Community</div>
                </label>
              </div>
            </div>
            <div class="community-card--actions">
              <button class="btn btn-default" @click="targetCommunity = community" :disabled="isLeaving[community.id]" 
                data-toggle="modal" data-target="#leave-community-modal">Leave Community</button>
            </div>
          </div>
        </div>
      </template>
      <p v-else>This Group is not a member of any Communities yet.</p>
    </div>
  </div>

  <!-- Leave Community Modal -->
  <div class="modal fade" id="leave-community-modal" tabindex="-1" role="dialog"
        aria-labelledby="leaveCommunityLabel">
      <div class="modal-dialog" role="document">
          <div class="modal-content" v-if="targetCommunity">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"
                          aria-label="Close"><span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="leaveCommunityLabel">Leave Community</h4>
              </div>
              <div class="modal-body">
                  Are you sure you want the group to leave this community?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">
                      Close
                  </button>
                  <button class="btn btn-danger"
                          @click="leave(targetCommunity.id)" :disabled="isLeaving[targetCommunity.id]"
                          value="clear">Leave Community
                  </button>
              </div>
          </div>
      </div>
  </div>

  {% include "hs_access_control/communities-modal.html" %}
</div>


<script type="text/javascript">

  const GROUP_ID = {{ gid }}
  const IS_GROUP_OWNER = "{{ profile_user.is_group_owner }}" === "True"

  const JOINED = {{ communities.joined|safe }};
  const PENDING = {{ communities.pending|safe }};
  const COMMUNITIES_CAN_JOIN = {{ communities.available_to_join|safe }};
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/hs-vue/group-communities-app.js"></script>
