<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 
<script language='JavaScript'> 

function loader() { 
    // const axios = require('axios');
    url = '/access/_internal/group/respond/' 
        + {{ uid }} + '/' + {{ gid }} + '/';
    container = document.getElementById("group_approval");
    // Make a request for a user with a given ID
    axios.get(url, {'responseType': 'text'} )
      .then(function (response) {
        container.innerHTML = response.data; 
      })
      .catch(function (error) {
        alert(error);
        container.innerHtml = error; 
      });
} 

$(document).ready(loader); 

function group_approve_community_request(uid, gid, cid) { 
    url = '/access/_internal/group/respond/' 
        + uid + '/' + gid + '/approve/' + cid + '/';
    // Make a request for a user with a given ID
    axios.get(url, {'responseType': 'text'} )
      .then(function (response) {
        container = document.getElementById("group_approval");
        container.innerHTML = response.data; 
      })
      .catch(function (error) {
        container.innerHtml = error; 
      });
} 

function group_decline_community_request(uid, gid, cid) { 
    url = '/access/_internal/group/respond/' 
        + uid + '/' + gid + '/decline/' + cid + '/';
    // Make a request for a user with a given ID
    container = document.getElementById("group_approval");
    axios.get(url, {'responseType': 'text'} )
      .then(function (response) {
        container.innerHTML = response.data; 
      })
      .catch(function (error) {
        container.innerHtml = error; 
      });
} 
</script> 

<div id='group_approval'>
<em>Please wait for the group approval table to be loaded</em>
</div> 
