// :root {

// }
@use '@fortawesome/fontawesome-free/css/all.min.css';
@use '@cznethub/cznet-vue-core/styles';
@use 'leaflet/dist/leaflet.css';

html {
  font-size: 16px;
}

body {
  font-size: 14px;
  font-size: 1.4rem;
}

#main-container {
  height: 100%;

  & > .v-sheet {
    height: 100%;
    min-height: 50rem;
  }
}

.v-container {
  max-width: 1800px;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

// .has-background-dark--gradient {
//   background: linear-gradient(180deg, #0D0F15 0%, #1A1D27 100%);
// }


p {
  max-width: 70rem;
}

.v-messages {
  font-size: 1rem !important;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.03125em !important;
  font-family: "Roboto", sans-serif !important;
  margin-top: 0;

  .v-messages__message {
    line-height: 1.5rem;
  }
}

mark {
  background-color: transparent;
  font-weight: bold;
  color: inherit;
}