{% extends "pages/create-resource.html" %}

{#{% load geoanalytics_tags mezzanine_tags pages_tags hydroshare_tags staticfiles%}#}

{% load mezzanine_tags pages_tags hydroshare_tags staticfiles%}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}" />
{% endblock %}

{% block title %}

    Create a RHESSys Model Instance Resource

{% endblock %}

{% block main %}

    <h2>Create a RHESSys Model Instance Resource</h2>

    <br>

    <h2>Upload files to create a new Resource:</h2>


 <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data" action="/hsapi/_internal/create-model-instance/">
     {% csrf_token %}



    <h3>Add your files here:</h3>

    <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data" action="/hsapi/_internal/create-resource/">
    {% csrf_token %}

    <table class="table" id="file-list">
    <tbody id="files">
        <tr>
            <td><input type="file" name="files" id="" multiple/></td>
        </tr>
    </tbody>
    </table>

        <div>
            <br>
            <ul>
              <li>All of the files you upload here will be grouped together into a "Resource"</li>
              <li>File size is limited to 4 GB per file</li>
              <li>Upload resource output files if they are available</li>
              <li>Once you've added all of your files, you can describe your Resource using the form below</li>
              <li>Files are private, until you choose to share them</li>
            </ul>
        </div>
    </section>

        <br>
        <br>



        <div id="uploaded_files">

            <table id="uploaded_files_table">

            </table>

        </div>

        <br>
        <br>
        <br>

 <h2>Describe your Resource with metadata:</h2>

    <p>Use this form to create metadata for your Resource. Be as descriptive as you can since all of this information
        will show up when your Resource is displayed. You can edit this information later.
    </p>

  <h3> General Metadata: </h3>

                                    {# DUBLIN CORE METADATA #}
     <!--title-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Title*</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="title" id="title" placeholder="Title">
    </div>
  </div>

     <!--description-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
        <textarea class="form-control" name="abstract" id="abstract" cols="30" rows="10" placeholder="Abstract"></textarea>
    </div>
  </div>

     <!--creators-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Creators*</label>
    <div class="col-sm-10" id="creators_group">
      <input type="text" class="form-control" name="creators" id="creators" placeholder="Creators" >
    </div>
  </div>

     <!--contributors-->
   <div class="form-group">
    <label for="" class="col-sm-2 control-label">Contributors*</label>
    <div class="col-sm-10" id="contributors_group">
      <input type="text" class="form-control" name="contributors" id="contributors" placeholder="Contributors" >
    </div>
   </div>

     <!--subject keywords-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Subject Keywords</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="keywords" name='keywords' placeholder="Keywords">
    </div>
  </div>

                                   {# MODEL PROGRAM METADATA #}
    <br>
    <hr/>
    <br>

  <h3>  Model Instance Metadata: </h3>

     <!--Spatial coverage-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Spatial Coverage</label>
    <div class="col-sm-10">
        <label><input type="radio" name="spatial_coverage_type" id="spatial_coverage_type" value="point" /> Point</label>

        <label><input type="radio" name="spatial_coverage_type" id="spatial_coverage_type" value="box" /> Box</label>
    </div>
    <br>
    <br>
    <div class="col-sm-offset-2 col-sm-10">
        <p>Note: Apply one of the following formats for spatial coverage: </p>
        <ul>
          <li>Point: "Name for the place, East, North, Elevation, Units, Zunits, Projection."
              <br> Example: "USGS02032640, -78.425, 38.1633, 111.252, degree, meter, NAD83"</li>
          <li>Box: "Name for the place, Northlimit, Eastlimit, Southlimit, Westlimit, Uplimit, Downlimit, Units, Zunits, Projection."
              <br> Example: "State of Virginia, 39.5, -75.125, 36.5, -83.75, 1746.199, 289.56, degree, meter, NAD83"</li>
        </ul>
    </div>

    <div class="col-sm-offset-2 col-sm-10">
      <input type="text" class="form-control" name="spatial_coverage" id="spatial_coverage" placeholder="Spatial Coverage Data">
    </div>
  </div>

    <!--Temporal coverage-->

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Temporal Coverage</label>
    <div class="col-sm-offset-2 col-sm-10">
        <p>Note: Apply the following format for temporal coverage: </p>
        <ul>
          <li>Name for the time interval, Starting date, Ending date<br>
          Example:"Summer Season, 2014-06-15T14:20-05:00, 2014-09-15T14:20-05:00"</li>
        </ul>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="text" class="form-control" name="temporal_coverage" id="temporal_coverage" placeholder="Temporal Coverage Data">
    </div>
  </div>

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Includes Output Files?</label>
    <div class="col-sm-10">

      <label><input type="radio" name="includes_output" id="includes_output" value="yes" /> Yes</label>

      <label><input type="radio" name="includes_output" id="includes_output" value="no" /> No</label>

    </div>
  </div>

    <!--Model Program resource used for Execution-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Model Program Resource</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="executed_by" id="executed_by" placeholder="Model Program resource used for execution">
    </div>
  </div>

  <br>


  <br>
 <hr/>
 <br>

 <h3>  RHESSys Model Instance Metadata: </h3>
 <!--Spatial coverage resolution-->

 <div class="form-group">
    <label for="" class="col-sm-2 control-label">Time Step</label>
    <div class="col-sm-10">

      <label><input type="radio" name="time_step" id="time_step" value="hourly" />Hourly</label>

      <label><input type="radio" name="time_step" id="time_step" value="daily" />Daily</label>

    </div>
 </div>

 <div class="form-group">
   <label for="" class="col-sm-2 control-label">Spatial Resolution</label>
   <div class="col-sm-10">
     <input type="text" class="form-control" name="spatial_resolution" id="spatial_resolution" placeholder="Spatial coverage resolution in meters">
   </div>
 </div>

 <div class="form-group">
   <label for="" class="col-sm-2 control-label">Watershed Area</label>
   <div class="col-sm-10">
     <input type="text" class="form-control" name="watershed_area" id="watershed_area" placeholder="Watershed area in square kilometers">
   </div>
 </div>

 <div class="form-group">
   <label for="" class="col-sm-2 control-label">Number of Patches</label>
   <div class="col-sm-10">
     <input type="number" min="0" class="form-control" name="number_patches" id="number_patches" placeholder="Number of patches">
   </div>
 </div>

 <div class="form-group">
    <label for="" class="col-sm-2 control-label">Lateral Redistribution Method</label>
    <div class="col-sm-10">

      <label><input type="radio" name="lateral_redistribution_method" id="lateral_redistribution_method" value="explicit routing" />Explicit Routing</label>

      <label><input type="radio" name="lateral_redistribution_method" id="lateral_redistribution_method" value="TOPMODEL" />TOPMODEL</label>

    </div>
 </div>

 <div class="form-group">
    <label for="" class="col-sm-2 control-label">Includes Roads?</label>
    <div class="col-sm-10">

      <label><input type="radio" name="includes_roads" id="includes_roads" value="yes" /> Yes</label>

      <label><input type="radio" name="includes_roads" id="includes_roads" value="no" /> No</label>

    </div>
 </div>

 <div class="form-group">
    <label for="" class="col-sm-2 control-label">Uses In-stream Routing?</label>
    <div class="col-sm-10">

      <label><input type="radio" name="uses_in_stream_routing" id="uses_in_stream_routing" value="yes" /> Yes</label>

      <label><input type="radio" name="uses_in_stream_routing" id="uses_in_stream_routing" value="no" /> No</label>

    </div>
 </div>

 <div class="form-group">
    <label for="" class="col-sm-2 control-label">Spun up for Hydrology?</label>
    <div class="col-sm-10">

      <label><input type="radio" name="spun_up_hydrology" id="spun_up_hydrology" value="yes" /> Yes</label>

      <label><input type="radio" name="spun_up_hydrology" id="spun_up_hydrology" value="no" /> No</label>

    </div>
 </div>

 <div class="form-group">
    <label for="" class="col-sm-2 control-label">Spun up for Carbon and Nitrogen?</label>
    <div class="col-sm-10">

      <label><input type="radio" name="spun_up_carbon_nitrogen" id="spun_up_carbon_nitrogen" value="yes" /> Yes</label>

      <label><input type="radio" name="spun_up_carbon_nitrogen" id="spun_up_carbon_nitrogen" value="no" /> No</label>

    </div>
 </div>

 <div class="form-group">
    <label for="" class="col-sm-2 control-label">Calibrated for Hydrology?</label>
    <div class="col-sm-10">

      <label><input type="radio" name="hydrology_calibrated" id="hydrology_calibrated" value="yes" /> Yes</label>

      <label><input type="radio" name="hydrology_calibrated" id="hydrology_calibrated" value="no" /> No</label>

    </div>
 </div>

 <div class="form-group">
    <label for="" class="col-sm-2 control-label">Calibrated for Carbon and Nitrogen?</label>
    <div class="col-sm-10">

      <label><input type="radio" name="carbon_nitrogen_calibrated" id="carbon_nitrogen_calibrated" value="yes" /> Yes</label>

      <label><input type="radio" name="carbon_nitrogen_calibrated" id="carbon_nitrogen_calibrated" value="no" /> No</label>

    </div>
 </div>

  <br>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Create Resource</button>
    </div>
  </div>

</form>

{% endblock %}