{% extends "pages/create-resource.html" %}

{#{% load geoanalytics_tags mezzanine_tags pages_tags hydroshare_tags staticfiles%}#}

{% load mezzanine_tags pages_tags hydroshare_tags staticfiles%}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}" />
{% endblock %}

{% block title %}

    Create a Model Instance Resource

{% endblock %}

{% block main %}


 <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data" action="/hsapi/_internal/create-model-instance/">
     {% csrf_token %}

 <h2>Describe your Resource with metadata:</h2>

    <p>Use this form to create metadata for your Resource. Be as descriptive as you can since all of this information
        will show up when your Resource is displayed. You can edit this information later.
    </p>

  <h3> General Metadata: </h3>

                                    {# DUBLIN CORE METADATA #}
     <!--title-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Title*</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="title" id="title" placeholder="Title">
    </div>
  </div>



     <!--creators-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Creators</label>
    <div class="col-sm-10" id="creators_group">
      <input type="text" class="form-control" name="creators" id="creators" placeholder="Creators" >
    </div>
  </div>

     <!--contributors-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Contributors</label>
    <div class="col-sm-10" id="contributors_group">
      <input type="text" class="form-control" name="contributors" id="contributors" placeholder="Contributors" >
    </div>
   </div>

    <!--description-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Abstract</label>
    <div class="col-sm-10">
        <textarea class="form-control" name="abstract" id="abstract" cols="30" rows="10" placeholder="Abstract"></textarea>
    </div>
  </div>
     <!--subject keywords-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Subject Keywords</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="keywords" name='keywords' placeholder="Keywords">
    </div>
  </div>

                                   {# MODEL INSTANCE METADATA #}
    <br>
    <hr/>
    <br>

  <h3>  Model Instance Metadata: </h3>

     <!--Spatial coverage-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Spatial Coverage</label>
    <div class="col-sm-10">
        <label><input type="radio" name="spatial_coverage_type" id="spatial_coverage_type" value="point" /> Point</label>

        <label><input type="radio" name="spatial_coverage_type" id="spatial_coverage_type" value="box" /> Box</label>
    </div>
    <br>
    <br>
    <div class="col-sm-offset-2 col-sm-10">
        <p>Note: Apply one of the following formats for spatial coverage: </p>
        <ul>
          <li>Point: "Name for the place, East, North, Elevation, Units, Zunits, Projection."
              <br> Example: "USGS02032640, -78.425, 38.1633, 111.252, degree, meter, NAD83"</li>
          <li>Box: "Name for the place, Northlimit, Eastlimit, Southlimit, Westlimit, Uplimit, Downlimit, Units, Zunits, Projection."
              <br> Example: "State of Virginia, 39.5, -75.125, 36.5, -83.75, 1746.199, 289.56, degree, meter, NAD83"</li>
        </ul>
    </div>

    <div class="col-sm-offset-2 col-sm-10">
      <input type="text" class="form-control" name="spatial_coverage" id="spatial_coverage" placeholder="Spatial Coverage Data">
    </div>
  </div>

    <!--Temporal coverage-->

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Temporal Coverage</label>
    <div class="col-sm-offset-2 col-sm-10">
        <p>Note: Apply the following format for temporal coverage: </p>
        <ul>
          <li>Name for the time interval, Starting date, Ending date<br>
          Example:"Summer Season, 2014-06-15T14:20-05:00, 2014-09-15T14:20-05:00"</li>
        </ul>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="text" class="form-control" name="temporal_coverage" id="temporal_coverage" placeholder="Temporal Coverage Data">
    </div>
  </div>

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Includes Output Files?</label>
    <div class="col-sm-10">

      <label><input type="radio" name="includes_output" id="includes_output" value="yes" /> Yes</label>

      <label><input type="radio" name="includes_output" id="includes_output" value="no" /> No</label>

    </div>
  </div>

    <!--Model Program resource used for Execution-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Model Program Resource</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="executed_by" id="executed_by" placeholder="Model Program resource used for execution">
    </div>
  </div>

  <br>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Create Resource</button>
    </div>
  </div>

 </form>

{% endblock %}