{% extends "pages/create-resource.html" %}

{#{% load geoanalytics_tags mezzanine_tags pages_tags hydroshare_tags staticfiles%}#}

{% load mezzanine_tags pages_tags hydroshare_tags staticfiles%}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}" />
{% endblock %}

{% block title %}

    Create a SWAT Model Instance Resource

{% endblock %}

{% block main %}

    <h2>Create a SWAT Model Instance Resource</h2>

    <br>

    <h2>Upload files to create a new Resource:</h2>


 <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data" action="/hsapi/_internal/create-model-instance/">
     {% csrf_token %}



    <h3>Add your files here:</h3>

    <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data" action="/hsapi/_internal/create-resource/">
    {% csrf_token %}

    <table class="table" id="file-list">
    <tbody id="files">
        <tr>
            <td><input type="file" name="files" id="" multiple/></td>
        </tr>
    </tbody>
    </table>

        <div>
            <br>
            <ul>
              <li>All of the files you upload here will be grouped together into a "Resource"</li>
              <li>File size is limited to 4 GB per file</li>
              <li>Upload resource output files if they are available</li>
              <li>Once you've added all of your files, you can describe your Resource using the form below</li>
              <li>Files are private, until you choose to share them</li>
            </ul>
        </div>
    </section>

        <br>
        <br>



        <div id="uploaded_files">

            <table id="uploaded_files_table">

            </table>

        </div>

        <br>
        <br>
        <br>

 <h2>Describe your Resource with metadata:</h2>

    <p>Use this form to create metadata for your Resource. Be as descriptive as you can since all of this information
        will show up when your Resource is displayed. You can edit this information later.
    </p>

  <h3> General Metadata: </h3>

                                    {# DUBLIN CORE METADATA #}
     <!--title-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Title*</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="title" id="title" placeholder="Title">
    </div>
  </div>

     <!--description-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
        <textarea class="form-control" name="abstract" id="abstract" cols="30" rows="10" placeholder="Abstract"></textarea>
    </div>
  </div>

     <!--creators-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Creators*</label>
    <div class="col-sm-10" id="creators_group">
      <input type="text" class="form-control" name="creators" id="creators" placeholder="Creators" >
    </div>
  </div>

     <!--contributors-->
   <div class="form-group">
    <label for="" class="col-sm-2 control-label">Contributors*</label>
    <div class="col-sm-10" id="contributors_group">
      <input type="text" class="form-control" name="contributors" id="contributors" placeholder="Contributors" >
    </div>
   </div>

     <!--subject keywords-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Subject Keywords</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="keywords" name='keywords' placeholder="Keywords">
    </div>
  </div>

                                   {# MODEL PROGRAM METADATA #}
    <br>
    <hr/>
    <br>

  <h3>  Model Instance Metadata: </h3>

     <!--Spatial coverage-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Spatial Coverage</label>
    <div class="col-sm-10">
        <label><input type="radio" name="spatial_coverage_type" id="spatial_coverage_type" value="point" /> Point</label>

        <label><input type="radio" name="spatial_coverage_type" id="spatial_coverage_type" value="box" /> Box</label>
    </div>
    <br>
    <br>
    <div class="col-sm-offset-2 col-sm-10">
        <p>Note: Apply one of the following formats for spatial coverage: </p>
        <ul>
          <li>Point: "Name for the place, East, North, Elevation, Units, Zunits, Projection."
              <br> Example: "USGS02032640, -78.425, 38.1633, 111.252, degree, meter, NAD83"</li>
          <li>Box: "Name for the place, Northlimit, Eastlimit, Southlimit, Westlimit, Uplimit, Downlimit, Units, Zunits, Projection."
              <br> Example: "State of Virginia, 39.5, -75.125, 36.5, -83.75, 1746.199, 289.56, degree, meter, NAD83"</li>
        </ul>
    </div>

    <div class="col-sm-offset-2 col-sm-10">
      <input type="text" class="form-control" name="spatial_coverage" id="spatial_coverage" placeholder="Spatial Coverage Data">
    </div>
  </div>

    <!--Temporal coverage-->

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Temporal Coverage</label>
    <div class="col-sm-offset-2 col-sm-10">
        <p>Note: Apply the following format for temporal coverage: </p>
        <ul>
          <li>Name for the time interval, Starting date, Ending date<br>
          Example:"Summer Season, 2014-06-15T14:20-05:00, 2014-09-15T14:20-05:00"</li>
        </ul>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="text" class="form-control" name="temporal_coverage" id="temporal_coverage" placeholder="Temporal Coverage Data">
    </div>
  </div>

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Includes Output Files?</label>
    <div class="col-sm-10">

      <label><input type="radio" name="includes_output" id="includes_output" value="yes" /> Yes</label>

      <label><input type="radio" name="includes_output" id="includes_output" value="no" /> No</label>

    </div>
  </div>

    <!--Model Program resource used for Execution-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Model Program Resource</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="executed_by" id="executed_by" placeholder="Model Program resource used for execution">
    </div>
  </div>

  <br>


  <br>
 <hr/>
 <br>

 <h3>  SWAT Model Instance Metadata: </h3>
 <!--Spatial coverage resolution-->
 <div class="form-group">
   <label for="" class="col-sm-2 control-label">Spatial Resolution</label>
   <div class="col-sm-10">
     <input type="text" class="form-control" name="spatial_resolution" id="spatial_resolution" placeholder="Spatial coverage resolution">
   </div>
 </div>

 <div class="form-group">
   <label for="" class="col-sm-2 control-label">Calibration</label>
   <div class="col-sm-10">
     <input type="text" class="form-control" name="calibration" id="calibration" placeholder="Calibrated Parameters">
   </div>
 </div>

 <div class="form-group">
   <label for="" class="col-sm-2 control-label">Sensitivity</label>
   <div class="col-sm-10">
     <input type="text" class="form-control" name="sensitivity" id="sensitivity" placeholder="Sensitivity analysis methods used">
   </div>
 </div>


 <div class="form-group">
    <label for="" class="col-sm-2 control-label">Spatial Maps</label>
    <div class="col-sm-10">

      <label><input type="radio" name="spatial_maps" id="spatial_maps" value="available" />Available</label>

      <label><input type="radio" name="spatial_maps" id="spatial_maps" value="notavailable" />Not Available</label>

    </div>
  </div>

 <div class="form-group">
    <label for="" class="col-sm-2 control-label">Time Series</label>
    <div class="col-sm-10">

      <label><input type="radio" name="time_series" id="time_series" value="available" />Available</label>

      <label><input type="radio" name="time_series" id="time_series" value="notavailable" />Not Available</label>

    </div>
  </div>


 <h4>  SWAT Parameters </h4>

 <div class="form-group">
    <label for="" class="col-sm-2 control-label">Crop Rotation</label>
    <div class="col-sm-10">

      <label><input type="radio" name="includes_output1" id="includes_output1" value="applied" />Applied</label>

      <label><input type="radio" name="includes_output1" id="includes_output1" value="notapplied" />Not Applied</label>

    </div>
  </div>

 <div class="form-group">
    <label for="" class="col-sm-2 control-label">Tile Drainage</label>
    <div class="col-sm-10">

      <label><input type="radio" name="includes_output2" id="includes_output2" value="applied" />Applied</label>

      <label><input type="radio" name="includes_output2" id="includes_output2" value="notapplied" />Not Applied</label>

    </div>
  </div>

 <div class="form-group">
    <label for="" class="col-sm-2 control-label">Irrigation</label>
    <div class="col-sm-10">

      <label><input type="radio" name="includes_output3" id="includes_output3" value="applied" />Applied</label>

      <label><input type="radio" name="includes_output3" id="includes_output3" value="notapplied" />Not Applied</label>

    </div>
  </div>

 <div class="form-group">
    <label for="" class="col-sm-2 control-label">Fertilization</label>
    <div class="col-sm-10">

      <label><input type="radio" name="includes_output4" id="includes_output4" value="applied" />Applied</label>

      <label><input type="radio" name="includes_output4" id="includes_output4" value="notapplied" />Not Applied</label>

    </div>
  </div>



  <br>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Create Resource</button>
    </div>
  </div>

</form>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript">


    function deleteRow(r) {
            $(r).remove();
    }

    var f = null;

    var myfiles = {};

    $(function() {
        var fileCount = 1;





        $("#add-row").click(function() {
            fileCount++;

            $("#files").append(
                '<tr id="file' + fileCount + '">' +
                    '<td><input class="form-control" type="file" name="file' + fileCount + '"/></td>' +
                    '<td><button class="btn btn-danger btn-block deleter" onClick=\'deleteRow("#file' + fileCount + '")\'>Delete</button></td>' +
                '</tr>'
            );
            return false;
        });



        // ---------------------
        // Select Files Function
        //----------------------


        $("#fileBrowse").change(function(evt){
            console.log(evt);
            console.log(evt.target.files);
            alert('File Selected');

            // Parse the files
            files = evt.target.files;
            for (var i= 0; i<files.length; i++){
                ParseMetadataFile(files[i]);
            }

            // Add them to the template
            handleFileSelect(evt);
        });

        // Setup the dnd listeners.
        var dropZone = document.getElementById('drop_zone');
        dropZone.addEventListener('dragover', handleDragOver, false);
        dropZone.addEventListener('drop', fileDrop, false);

        var control = document.getElementById('my-files');
        control.addEventListener("change", function(evt) {



        // When the control has changed, there are new files
        var i = 0,
            files = control.files,
            len = files.length;


        for (; i < len; i++) {

            ext =  files[i].name.split('.').pop();
            console.log("Filename: " + files[i].name);
            console.log("Type: " + files[i].type);
            console.log("Size: " + files[i].size + " bytes");
            console.log("Extension: " + ext);

            if (ext == 'meta'){
                console.log('I can parse this file!');

                var f = evt.target.files[i];
                if (f) {
                    var r = new FileReader();
                    r.onload = function(e) {
	                    var contents = e.target.result;
{#                        alert( "Got the file.n"#}
{#                              +"name: " + f.name + "\n"#}
{#                              +"type: " + f.type + "\n"#}
{#                              +"size: " + f.size + " bytes \n"#}
{#                              + contents.substr(1, contents.indexOf("n")));#}

                        // call view to get data
                        $.ajax({
                                type:"POST",
                                url:'/hsapi/_internal/parse-metadata/',
                                data: { name: f.name,
                                        size: f.size,
                                        type: f.type,
                                        content: contents},

                                success: function(response){

                                    console.log(response);

                                    var data = response['data'];


                                    // set field data
                                    document.getElementById('title').value = data['content']['resource'][0]['title'];
                                    document.getElementById('abstract').value = data['content']['resource'][0]['abstract'];
                                    document.getElementById('keywords').value = data['content']['resource'][0]['subject'];

                                    // create breakline object
                                    var break_line = document.createElement("br");

                                    // add creator fields
                                    var creators = data['content']['creator'];
                                    var l = creators.length;

                                    if (l > 0){
                                        var creator_txt = creators[0]["name"];
                                        document.getElementById('creators').value = creator_txt;
                                    }
                                    for (var i = 1; i < l; i++) {
{#                                        var creator_txt = creators[i]["name"];#}

                                        {#  Create creator new field         #}
                                        var f = document.createElement("input");
                                        f.setAttribute('type',"text");
                                        f.setAttribute('class',"form-control");
                                        f.setAttribute('name',"creators");
                                        f.setAttribute('value',creators[i]["name"]);


                                        document.getElementById("creators_group").appendChild(break_line);
                                        document.getElementById("creators_group").appendChild(f);
                                        {#  Should this also contain other creator metadata? #}
                                    }

                                    // add contributor fields
                                    var contrib = data['content']['contributor'];
                                    console.log(contrib);
                                    l = contrib.length;
                                    console.log(l);
                                    if (l > 0){
                                        var contrib_txt = contrib[0]["name"];
                                        document.getElementById('contributors').value = contrib_txt;
                                    }
                                    for (var i = 1; i < l; i++){
                                        f = document.createElement("input");
                                        f.setAttribute('type',"text");
                                        f.setAttribute('class',"form-control");
                                        f.setAttribute('name',"contributors");
                                        f.setAttribute('value',contrib[i]["name"]);
                                        document.getElementById("contributors_group").appendChild(break_line);
                                        document.getElementById("contributors_group").appendChild(f);
                                        {#  Should this also contain other creator metadata? #}
                                    }



                                    document.getElementById('spatial_coverage').value = data['content']['instance'][0]['spatial_coverage'];
                                    document.getElementById('temporal_coverage').value = data['content']['instance'][0]['temporal_coverage'];
                                    document.getElementById('includes_output').value = data['content']['instance'][0]['includes_output'];
                                    document.getElementById('executed_by').value = data['content']['instance'][0]['executed_by'];

                                },
                                error: function(response){
                                    console.log('POST Error');
                                    console.log(response);
                                }
                        });
                    }
                    r.readAsText(f);

                } else {
                    alert("Failed to load file");
                }


            }
        }
    }, false);

        function fileDrop(evt){

            // get the files that were dropped
            evt.stopPropagation();
            evt.preventDefault();

            var files = evt.dataTransfer.files; // FileList object.

            // Parse the files
{#            files = evt.target.files;#}
            console.log(files[i]);
            for (var i= 0; i<files.length; i++){

                ParseMetadataFile(files[i]);
            }

            // Add them to the template
{#            handleFileSelect(evt);#}
            createFileElement(files[0]);
        }


        function createFileElement(f){

            // save this file
            myfiles[f.name] = f;

            // create a select list
            var selections = ['spatial coverage','temporal coverage','includes output','executed by','other'];
            var select_list = document.createElement('select');
            select_list.id = 'mySelect';
            for (var i =0; i < selections.length; i++){
                var option = document.createElement('option');
                option.value = selections[i];
                option.text = selections[i];
                select_list.appendChild(option);
            }

            // add new fields for each file
//            var filelist = document.getElementById('filelist');
//
//            var li = document.createElement("li");
//            var value = [];
//            value.push('<strong>', f.name, '</strong> (', f.type || 'n/a', ') - ',
//                            f.size, ' bytes, last modified: ',
//                          f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
//                          '</li>');
//            li.innerHTML = value.join('');
//            console.log(li);
//
//            // create breakline object
//            var break_line = document.createElement("br");
//
//            filelist.appendChild(break_line);
//            filelist.appendChild(li);

            var table = document.getElementById('uploaded_files_table');
            var row = table.insertRow(table.rows.length);


            var text = document.createTextNode(f.name);
            //var element.appendChild(select_list);

            var cell_filename = row.insertCell(0);
            cell_filename.style.paddingLeft = '10px';
            cell_filename.style.paddingRight = '10px';
            cell_filename.style.fontWeight = 'bold';
            cell_filename.appendChild(text);

            var cell_type = row.insertCell(1);
            cell_type.style.paddingLeft = '10px';
            cell_type.style.paddingRight = '10px';
            var type = f.type || 'n/a';
            cell_type.appendChild(document.createTextNode( 'type: ' + type));

            var cell_size = row.insertCell(2);
            cell_size.style.paddingLeft = '10px';
            cell_size.style.paddingRight = '10px';
            cell_size.appendChild(document.createTextNode( 'size: ' + f.size + ' bytes'));

            var cell_date = row.insertCell(3);
            cell_date.style.paddingLeft = '10px';
            cell_date.style.paddingRight = '10px';
            var date = f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a';
            cell_date.appendChild(document.createTextNode( 'last modified: ' +date));

            var cell_list = row.insertCell(4);
            cell_list.appendChild(select_list);


        }

        function handleFileSelect(evt) {


            evt.stopPropagation();
            evt.preventDefault();

            var files = evt.dataTransfer.files; // FileList object.

            // files is a FileList of File objects. List some properties.
            var output = [];
            for (var i = 0, f; f = files[i]; i++) {
              output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                          f.size, ' bytes, last modified: ',
                          f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
                          '</li>');
            }
            document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
          }

          function handleDragOver(evt) {
            evt.stopPropagation();
            evt.preventDefault();
            evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
        }


        $("eula_selector").change(function(){
{#        eula_selector.addEventListener("change", function(evt) {#}


            // get selected value
            var selected_name = this.options[this.selectedIndex].value;
            console.log(selected_name);


            eula.value = selected_name;




}, false);
    });


        function ParseMetadataFile(f) {



            ext =  f.name.split('.').pop();
            console.log("Filename: " + f.name);
            console.log("Type: " + f.type);
            console.log("Size: " + f.size + " bytes");
            console.log("Extension: " + ext);

            if (ext == 'meta'){
                console.log('I can parse this file!');

                if (f) {
                    var r = new FileReader();
                    r.onload = function(e) {
	                    var contents = e.target.result;

                        $.ajax({
                                type:"POST",
                                url:'/hsapi/_internal/parse-metadata/',
                                data: { name: f.name,
                                        size: f.size,
                                        type: f.type,
                                        content: contents},

                                success: function(response){

                                    console.log(response);

                                    var data = response['data'];


                                    // set field data
                                    document.getElementById('title').value = data['content']['resource'][0]['title'];
                                    document.getElementById('abstract').value = data['content']['resource'][0]['abstract'];
                                    document.getElementById('keywords').value = data['content']['resource'][0]['subject'];

                                    // create breakline object
                                    var break_line = document.createElement("br");

                                    // add creator fields
                                    var creators = data['content']['creator'];
                                    var l = creators.length;

                                    if (l > 0){
                                        var creator_txt = creators[0]["name"];
                                        document.getElementById('creators').value = creator_txt;
                                    }
                                    for (var i = 1; i < l; i++) {
{#                                        var creator_txt = creators[i]["name"];#}

                                        {#  Create creator new field         #}
                                        var f = document.createElement("input");
                                        f.setAttribute('type',"text");
                                        f.setAttribute('class',"form-control");
                                        f.setAttribute('name',"creators");
                                        f.setAttribute('value',creators[i]["name"]);


                                        document.getElementById("creators_group").appendChild(break_line);
                                        document.getElementById("creators_group").appendChild(f);
                                        {#  Should this also contain other creator metadata? #}
                                    }

                                    // add contributor fields
                                    var contrib = data['content']['contributor'];
                                    console.log(contrib);
                                    l = contrib.length;
                                    console.log(l);
                                    if (l > 0){
                                        var contrib_txt = contrib[0]["name"];
                                        document.getElementById('contributors').value = contrib_txt;
                                    }
                                    for (var i = 1; i < l; i++){
                                        f = document.createElement("input");
                                        f.setAttribute('type',"text");
                                        f.setAttribute('class',"form-control");
                                        f.setAttribute('name',"contributors");
                                        f.setAttribute('value',contrib[i]["name"]);
                                        document.getElementById("contributors_group").appendChild(break_line);
                                        document.getElementById("contributors_group").appendChild(f);
                                        {#  Should this also contain other creator metadata? #}
                                    }




                                    document.getElementById('spatial_coverage').value = data['content']['instance'][0]['spatial_coverage'];
                                    document.getElementById('temporal_coverage').value = data['content']['instance'][0]['temporal_coverage'];
                                    document.getElementById('includes_output').value = data['content']['instance'][0]['includes_output'];
                                    document.getElementById('executed_by').value = data['content']['instance'][0]['executed_by'];


                                },
                                error: function(response){
                                    console.log('POST Error');
                                    console.log(response);
                                }
                        });
                    }
                    r.readAsText(f);

                } else {
                    alert("Failed to load file");
                }


            }
        }



    </script>
{% endblock %}