{% extends "pages/create-resource.html" %}

{#{% load geoanalytics_tags mezzanine_tags pages_tags hydroshare_tags staticfiles%}#}

{% load mezzanine_tags pages_tags hydroshare_tags staticfiles%}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}" />
{% endblock %}

{% block title %}

    Create a UEB Snow Model Instance Resource

{% endblock %}

{% block main %}

    <h2>Create a UEB Snow Model Instance Resource</h2>

    <br>

    <h2>Upload files to create a new Resource:</h2>


 <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data" action="/hsapi/_internal/create-model-instance/">
     {% csrf_token %}



    <h3>Add your files here:</h3>

    <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data" action="/hsapi/_internal/create-resource/">
    {% csrf_token %}

    <table class="table" id="file-list">
    <tbody id="files">
        <tr>
            <td><input type="file" name="files" id="" multiple/></td>
        </tr>
    </tbody>
    </table>

        <div>
            <br>
            <ul>
              <li>All of the files you upload here will be grouped together into a "Resource"</li>
              <li>File size is limited to 4 GB per file</li>
              <li>Upload resource output files if they are available</li>
              <li>Once you've added all of your files, you can describe your Resource using the form below</li>
              <li>Files are private, until you choose to share them</li>
            </ul>
        </div>
    </section>

        <br>
        <br>



        <div id="uploaded_files">

            <table id="uploaded_files_table">

            </table>

        </div>

        <br>
        <br>
        <br>

 <h2>Describe your Resource with metadata:</h2>

    <p>Use this form to create metadata for your Resource. Be as descriptive as you can since all of this information
        will show up when your Resource is displayed. You can edit this information later.
    </p>

  <h3> General Metadata: </h3>

                                    {# DUBLIN CORE METADATA #}
     <!--title-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Title*</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="title" id="title" placeholder="Title">
    </div>
  </div>

     <!--description-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
        <textarea class="form-control" name="abstract" id="abstract" cols="30" rows="10" placeholder="Abstract"></textarea>
    </div>
  </div>

     <!--creators-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Creators*</label>
    <div class="col-sm-10" id="creators_group">
      <input type="text" class="form-control" name="creators" id="creators" placeholder="Creators" >
    </div>
  </div>

     <!--contributors-->
   <div class="form-group">
    <label for="" class="col-sm-2 control-label">Contributors*</label>
    <div class="col-sm-10" id="contributors_group">
      <input type="text" class="form-control" name="contributors" id="contributors" placeholder="Contributors" >
    </div>
   </div>

     <!--subject keywords-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Subject Keywords</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="keywords" name='keywords' placeholder="Keywords">
    </div>
  </div>

                                   {# MODEL PROGRAM METADATA #}
    <br>
    <hr/>
    <br>

  <h3>  Model Instance Metadata: </h3>

     <!--Spatial coverage-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Spatial Coverage</label>
    <div class="col-sm-10">
        <label><input type="radio" name="spatial_coverage_type" id="spatial_coverage_type" value="point" /> Point</label>

        <label><input type="radio" name="spatial_coverage_type" id="spatial_coverage_type" value="box" /> Box</label>
    </div>
    <br>
    <br>
    <div class="col-sm-offset-2 col-sm-10">
        <p>Note: Apply one of the following formats for spatial coverage: </p>
        <ul>
          <li>Point: "Name for the place, East, North, Elevation, Units, Zunits, Projection."
              <br> Example: "USGS02032640, -78.425, 38.1633, 111.252, degree, meter, NAD83"</li>
          <li>Box: "Name for the place, Northlimit, Eastlimit, Southlimit, Westlimit, Uplimit, Downlimit, Units, Zunits, Projection."
              <br> Example: "State of Virginia, 39.5, -75.125, 36.5, -83.75, 1746.199, 289.56, degree, meter, NAD83"</li>
        </ul>
    </div>

    <div class="col-sm-offset-2 col-sm-10">
      <input type="text" class="form-control" name="spatial_coverage" id="spatial_coverage" placeholder="Spatial Coverage Data">
    </div>
  </div>

    <!--Temporal coverage-->

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Temporal Coverage</label>
    <div class="col-sm-offset-2 col-sm-10">
        <p>Note: Apply the following format for temporal coverage: </p>
        <ul>
          <li>Name for the time interval, Starting date, Ending date<br>
          Example:"Summer Season, 2014-06-15T14:20-05:00, 2014-09-15T14:20-05:00"</li>
        </ul>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="text" class="form-control" name="temporal_coverage" id="temporal_coverage" placeholder="Temporal Coverage Data">
    </div>
  </div>

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Includes Output Files?</label>
    <div class="col-sm-10">

      <label><input type="radio" name="includes_output" id="includes_output" value="yes" /> Yes</label>

      <label><input type="radio" name="includes_output" id="includes_output" value="no" /> No</label>

    </div>
  </div>

    <!--Model Program resource used for Execution-->
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Model Program Resource</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="executed_by" id="executed_by" placeholder="Model Program resource used for execution">
    </div>
  </div>

  <br>


  <br>
 <hr/>
 <br>

 <h3>  UEB Snow Model Instance Metadata: </h3>
 <!--Spatial coverage resolution-->
 <br>

 <div class="form-group">
    <label for="" class="col-sm-2 control-label">Time Step</label>
    <div class="col-sm-10">

      <input type="text" class="form-control" name="model_time_step" id="model_time_step" placeholder="time step used for modeling">

    </div>
 </div>

 <div class="form-group">
    <label for="" class="col-sm-2 control-label">Output Variables</label>
    <div class="col-sm-10">

      <input type="text" class="form-control" name="output_variables" id="output_variables" placeholder="For example: total outflow (m/hr), total outflow from snow melt (m/hr), outflow from rain (m/hr)">

    </div>
 </div>


 <br>

 <h4>  Spatial Resolution </h4>

 <div class="form-group">
   <label for="" class="col-sm-2 control-label"> Number of Rows</label>
   <div class="col-sm-10">
     <input type="number" class="form-control" name="number_rows" id="number_rows" placeholder="Number of rows">
   </div>
 </div>

 <div class="form-group">
   <label for="" class="col-sm-2 control-label"> Number of Columns</label>
   <div class="col-sm-10">
     <input type="number" class="form-control" name="number_columns" id="number_columns" placeholder="Number of columns">
   </div>
 </div>

 <div class="form-group">
   <label for="" class="col-sm-2 control-label"> Number of Active Cells</label>
   <div class="col-sm-10">
     <input type="number" class="form-control" name="number_active_cells" id="number_active_cells" placeholder="Number of active cells">
   </div>
 </div>

 <br>

 <h4>  Model Parameters </h4>

 <div class="form-group">
    <label for="" class="col-sm-2 control-label">Radiation Control</label>
    <div class="col-sm-10">

      <label><input type="radio" name="radiation_control" id="radiation_control" value="from ta" />From ta</label>

      <label><input type="radio" name="radiation_control" id="radiation_control" value="input qsi" />Input qsi</label>

      <label><input type="radio" name="radiation_control" id="radiation_control" value="input qsi and qli" />Input qsi and qli</label>

      <label><input type="radio" name="radiation_control" id="radiation_control" value="input qnet" />Input qnet</label>

    </div>

    <div class="form-group">
    <label for="" class="col-sm-2 control-label">Albedo Reading Control</label>
    <div class="col-sm-10">

      <label><input type="radio" name="albedo_control" id="albedo_control" value="computed" />Albedo is computed internally</label>

      <label><input type="radio" name="albedo_control" id="albedo_control" value="read" />Albedo is read</label>

    </div>

  <br>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Create Resource</button>
    </div>
  </div>

</form>

{% endblock %}


<h4>  State Variables </h4>

 <div class="form-group">
   <label for="" class="col-sm-2 control-label"> Energy Content (U)</label>
   <div class="col-sm-10">
     <input type="text" class="form-control" name="energy_content" id="energy_content" placeholder="Energy content">
   </div>
 </div>

 <div class="form-group">
   <label for="" class="col-sm-2 control-label"> Water Equivalence (W)</label>
   <div class="col-sm-10">
     <input type="text" class="form-control" name="water_equivalence" id="water_equivalence" placeholder="Water equivalence">
   </div>
 </div>

<br>

<div class="form-group">
    <label for="" class="col-sm-2 control-label">Model Options</label>
    <div class="col-sm-10">

      <label><input type="radio" name="model_options" id="model_options" value="gradient" />Gradient</label>

      <label><input type="radio" name="model_options" id="model_options" value="force restore" />Force Restore</label>

      <label><input type="radio" name="model_options" id="model_options" value="modified force restore" />Modified Force Restore</label>

    </div>

 <div class="form-group">
    <label for="" class="col-sm-2 control-label">Surface Energy Balance</label>
    <div class="col-sm-10">

      <label><input type="radio" name="surface_energy_balance" id="surface_energy_balance" value="without Forest Canopy" />Without Forest Canopy</label>

      <label><input type="radio" name="surface_energy_balance" id="surface_energy_balance" value="with Forest Canopy" />With Forest Canopy</label>

    </div>
 </div>
 </div>



 <br>

 <h4>  Site Variables </h4>

 <div class="form-group">
   <label for="" class="col-sm-2 control-label"> Forest Cover Fraction</label>
   <div class="col-sm-10">
     <input type="text" class="form-control" name="forest_cover_fraction" id="forest_cover_fraction" placeholder="A number between 0 and 1">
   </div>
 </div>

 <div class="form-group">
   <label for="" class="col-sm-2 control-label"> Drift Factor</label>
   <div class="col-sm-10">
     <input type="text" class="form-control" name="drift_factor" id="drift_factor" placeholder="A number that precipitation in the form of snow is multiplied by to account for drift accumulations">
   </div>
 </div>

 <div class="form-group">
   <label for="" class="col-sm-2 control-label"> Atmospheric Pressure</label>
   <div class="col-sm-10">
     <input type="text" class="form-control" name="atmospheric_pressure" id="atmospheric_pressure" placeholder="Atmospheric pressure in Pa">
   </div>
 </div>

 <div class="form-group">
   <label for="" class="col-sm-2 control-label"> Ground Heat Flux</label>
   <div class="col-sm-10">
     <input type="text" class="form-control" name="ground_heat_flux" id="ground_heat_flux" placeholder="Ground heat flux in kJ/m2/hr">
   </div>
 </div>

 <div class="form-group">
   <label for="" class="col-sm-2 control-label"> Albedo Extinction Depth</label>
   <div class="col-sm-10">
     <input type="text" class="form-control" name="albedo_extinction_depth" id="albedo_extinction_depth" placeholder="Albedo extinction depth in meters">
   </div>
 </div>

 <div class="form-group">
   <label for="" class="col-sm-2 control-label"> Slope</label>
   <div class="col-sm-10">
     <input type="text" class="form-control" name="slope" id="slope" placeholder="Slope in degrees">
   </div>
 </div>

 <div class="form-group">
   <label for="" class="col-sm-2 control-label"> Aspect</label>
   <div class="col-sm-10">
     <input type="text" class="form-control" name="aspect" id="aspect" placeholder="Aspect in degrees clockwise from north">
   </div>
 </div>


