{# This template is used as the landing page for Generic Model Instance resource type #}

{% extends "pages/genericresource.html" %}
{% load geoanalytics_tags pages_tags mezzanine_tags crispy_forms_tags %}
{% load staticfiles  %}

{% block extended_metadata %}
    {% if extended_metadata_exists %}
        {% if model_output %}
            <legend>Model Output</legend>
            <table class="custom-table">
                <tbody>
                    <tr>
                        <th class="text-muted">Includes output files? </th>
                        <td>{% if model_output.includes_output == True %}Yes{% else %}No{% endif %}</td>
                    </tr>
                </tbody>
            </table>
            <hr style="border:0">
        {% endif %}
        {% if executed_by.model_program_fk %}
            <legend>Executed By</legend>
            <table class="custom-table">
                <tbody>
                    <tr>
                        <th class="text-muted">Name </th>
                        <td>{{ executed_by.model_program_fk.title }}</td>
                    </tr>
                    <tr>
                        <th class="text-muted">Version </th>
                        <td>
                            {% if executed_by.model_program_fk.metadata.program.modelVersion.strip %}
                                {{ executed_by.model_program_fk.metadata.program.modelVersion }}
                            {% else %}
                                <i>Not Provided</i>
                            {% endif %}
                        </td>
                    </tr>
                     <tr>
                        <th class="text-muted">Resource URI </th>
                         <td>{% if request.is_secure %}
                             <a id="permalink"
                                href="https://{{ request.get_host }}/resource/{{ executed_by.model_program_fk.short_id }}/"
                                target="_blank">https://{{ request.get_host }}/resource/{{ executed_by.model_program_fk.short_id }}</a>
                         {% else %}
                             <a id="permalink"
                                href="http://{{ request.get_host }}/resource/{{ executed_by.model_program_fk.short_id }}/"
                                target="_blank">http://{{ request.get_host }}/resource/{{ executed_by.model_program_fk.short_id }}</a>
                         {% endif %}</td>
                     </tr>
                </tbody>
            </table>
            <hr style="border:0">
        {% else %}
            <legend>Executed By</legend>
            <table class="custom-table">
                <tbody>
                    <tr>
                        <th class="text-muted">Name </th>
                        <td><i>Unspecified</i></td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
    {% endif %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-multiselect.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/model_instance.css" %}" />
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static "js/bootstrap-multiselect.js"%}"></script>
    <script src="{% static "js/model_instance.js"%}"></script>
{% endblock %}