{% if not metadata_form %}
    {% if fundingagencies %}
        <div class="col-sm-12 content-block">
            <h3>Credits</h3>
            <h5>This resource was created using funding from the following sources:</h5>
            <table class="table hs-table table-striped funding-agencies-table">
                <tbody>
                <tr class="header-row">
                    <th>Agency Name</th>
                    <th>Award Title</th>
                    <th>Award Number</th>
                </tr>

                {% for agency in fundingagencies %}
                    <tr data-index="{{ forloop.counter0 }}">
                        <td>
                            <strong>
                            {% if agency.agency_url %}
                                <a href="{{ agency.agency_url }}" target="_blank">{{ agency.agency_name }}</a>
                            {% else %}
                                <span>{{ agency.agency_name }}</span>
                            {% endif %}
                            </strong>
                        </td>
                        <td>{{ agency.award_title }}</td>
                        <td>{{ agency.award_number }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% else %}
    <div class="col-sm-12 content-block">
        <h3>Credits</h3>
        {% if fundingagnency_formset.initial %}
        <h5>This resource was created using funding from the following sources:</h5>
            {% endif %}

        {% if fundingagnency_formset.initial|length > 0%}
            <table class="table hs-table table-striped funding-agencies-table">
                <tbody>
                <tr class="header-row">
                    <th><strong>Agency Name</strong></th>
                    <th>Award Title</th>
                    <th>Award Number</th>
                    <th></th>
                </tr>

                {% for agency in fundingagnency_formset.initial %}
                    <tr data-index="{{ forloop.counter0 }}">
                        <td>
                            {% if agency.agency_url %}
                                <strong><a href="{{ agency.agency_url }}" target="_blank">{{ agency.agency_name }}</a></strong>
                            {% else %}
                                <strong><span>{{ agency.agency_name }}</span></strong>
                            {% endif %}
                        </td>
                        <td>{{ agency.award_title }}</td>
                        <td>{{ agency.award_number }}</td>
                        <td>
                            <a data-toggle="modal" data-placement="auto" title="Edit"
                               class="glyphicon glyphicon-pencil icon-button icon-blue"
                               data-target="#edit-funding-agency-{{ agency.id }}"></a>
                            <a data-toggle="modal" data-placement="auto" title="Remove"
                               class="glyphicon glyphicon-trash icon-button btn-remove"
                               data-target="#delete-funding-agency-{{ agency.id }}"></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <a id="btn-add-funding-agency" type="button" class="btn btn-success row-selector" data-toggle="modal"
           data-target="#add-funding-agency">
            <span class="glyphicon glyphicon-plus"><span class="button-label"> Add Funding Agency</span></span>
        </a>
    </div>
{% endif %}

<script type="text/javascript">
    $(document).ready(function () {

        function errorLabel(message) {
            return "<div class='label label-danger error-label'>" + message + "</div>";
        }

        function flagUnique(index, awardNumber, agencyName, awardTitle, agencyURL) {
            var awardNumbers;
            var awardTitles;
            var agencyNames;
            var agencyURLs;

            var entriesTable = $(".funding-agencies-table");

            if (index) {
                // Get the list of field values currently in use, excluding the one we are editing
                agencyNames = entriesTable.find("tr:not([data-index='" + index + "']) td:nth-child(1)");
                awardTitles = entriesTable.find("tr:not([data-index='" + index + "']) td:nth-child(2)");
                awardNumbers = entriesTable.find("tr:not([data-index='" + index + "']) td:nth-child(3)");
                agencyURLs = entriesTable.find("tr:not([data-index='" + index + "']) td:nth-child(1) a");
            }
            else {
                // Get the list of field values currently in use (when adding new funding agency)
                agencyNames = entriesTable.find("tr td:nth-child(1)");
                awardTitles = entriesTable.find("tr td:nth-child(2)");
                awardNumbers = entriesTable.find("tr td:nth-child(3)");
                agencyURLs = entriesTable.find("tr td:nth-child(1) a");
            }

            // Verify that entry is unique
            for (var i = 0; i < awardNumbers.length; i++) {
                awardNumbers[i] = $(awardNumbers[i]).text().trim();
                agencyNames[i] = $(agencyNames[i]).text().trim();
                awardTitles[i] = $(awardTitles[i]).text().trim();
                agencyURLs[i] = ($(agencyURLs[i]).attr("href") != null ? $(agencyURLs[i]).attr("href") :  "" );
                if (awardNumbers[i] == awardNumber  && agencyNames[i] == agencyName && awardTitles[i] == awardTitle && agencyURLs[i] == agencyURL) {
                    return false;
                }
            }

            return true;
        }

        function validateFundingAgency() {
            $(this).closest("form").find(".modal-body").find(".error-label").remove();

            var awardNumber = $(this).closest("form").find("input[name='award_number']").val();
            var agencyName = $(this).closest("form").find("input[name='agency_name']").val();
            var awardTitle = $(this).closest("form").find("input[name='award_title']").val();
            var agencyURL = $(this).closest("form").find("input[name='agency_url']").val();

            var index = $(this).attr("data-index");

            if (!flagUnique(index, awardNumber, agencyName, awardTitle, agencyURL)) {
                $(this).closest("form").find(".modal-body").append(errorLabel("This entry already exists."));
                return false;
            }
        }

        $(".btn-save-funding-agency").click(validateFundingAgency);

    });

</script>