{% load hydroshare_tags %}

<div class="col-sm-12 content-block">
    <span id="citation" class="page-anchor"></span>
    <h3>Data Services</h3>
    <div class="data-services-description">
        <em>
            The following Open Geospatial Consortium Web Services are available for this resource. The links below can be copied and pasted into Geographic Information Systems software programs to access geospatial data included within this resource.
        </em>
    </div>
    <br>

    {%  if data_services_urls.wms_url %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Web Map Service</h4>
            <div class="flex">
                <div id="wms-text" class="data-services-link">{{ data_services_urls.wms_url|urlize }}</div>

                <button class="btn btn-default clipboard-copy" data-target="wms-text"
                        type="button">
                    <i class="fa fa-clipboard" aria-hidden="true"></i>&nbsp;Copy
                </button>
            </div>
            <br>
        </div>
    </div>
    {% endif %}

    {%  if data_services_urls.wfs_url %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Web Feature Service</h4>
            <div class="flex">
                <div id="wfs-text" class="data-services-link">{{ data_services_urls.wfs_url|urlize }}</div>

                <button class="btn btn-default clipboard-copy" data-target="wfs-text"
                        type="button">
                    <i class="fa fa-clipboard" aria-hidden="true"></i>&nbsp;Copy
                </button>
            </div>
            <br>
        </div>
    </div>
    {% endif %}

    {%  if data_services_urls.wcs_url %}
    <div class="row">
        <div class="col-xs-12">
            <h4>Web Coverage Service</h4>
            <div class="flex">
                <div id="wcs-text" class="data-services-link">{{ data_services_urls.wcs_url|urlize }}</div>

                <button class="btn btn-default clipboard-copy" data-target="wcs-text"
                        type="button">
                    <i class="fa fa-clipboard" aria-hidden="true"></i>&nbsp;Copy
                </button>
            </div>
            <br>
        </div>
    </div>
    {% endif %}

</div>
