<table id="table-stats" class="info-table">
    <tr>
        {% if cm.raccess.published %}
            <td><strong>Sharing Status: </strong></td>
            <td>Published</td>
        {% elif cm.raccess.public %}
            <td><strong>Sharing Status: </strong></td>
            <td>Public</td>
        {% elif cm.raccess.discoverable %}
            <td><strong>Sharing Status: </strong></td>
            <td>Discoverable</td>
        {% else %}
            <td><strong>Sharing Status: </strong></td>
            <td>Private</td>
        {% endif %}
    </tr>
    {% if cm.raccess.published %}
        {% if "pending" in cm.doi or "failure" in cm.doi %}
            <tr>
                <td><strong>Publication Status: </strong></td>
                <td>
                    <div>Pending publication</div>
                    <div class="small text-muted">
                        Note that the DOI will not be available until it has been registered and activated.
                    </div>
                </td>
            </tr>
        {% endif %}
    {% endif %}
    <tr>
        <td><strong>Views:</strong></td>
        <td>{{ cm.view_count }}</td>
    </tr>
    <tr>
        <td><strong>Downloads:</strong></td>
        <td>{{ cm.download_count }}</td>
    </tr>
    <tr>
        {% include "resource-landing-page/ratings.html" %}
    </tr>
    <tr>
        <td><strong>Comments:</strong></td>
        <td>
            <a href="#comments">{{ cm.comments_count }} comments</a>
        </td>
    </tr>
</table>