<div class="modal fade" id="manage-access">
    <div class="modal-dialog">
        <div class="modal-content" :style="{'pointer-events': isProcessing ? 'none' : 'auto' }">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Manage access</h4>
            </div>

            <div class="modal-body">
                <div class="alert alert-info" role="alert">
                    <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="collapse"
                             data-target="#usage-info">&nbsp;</span>
                        Use this window to share your resource with specific HydroShare users. You can give other
                        users the ability to view or edit this resource. You can also add additional owners who
                        will have full permissions.</p>
                    <br>

                    <div id="usage-info" class="collapse">
                        <ul>
                            <li>
                                <p><strong>Owners</strong> can perform all operations on a resource and set whether
                                    a resource is Public,
                                    Discoverable, or Private and Shareable. Resources that are Public have all their
                                    content
                                    visible to all users. Resources that are Discoverable have only their metadata
                                    public.
                                    Resources that are private are only accessible to specific users or groups that
                                    they have been shared with.</p>
                            </li>
                            <li>
                                <p><strong>Editors</strong> can edit resource metadata and add and delete resource
                                    content files. If the resource
                                    is Shareable editors can use manage access to extend editing or viewing access
                                    to other users.</p>
                            </li>
                            <li><p><strong>Viewers</strong> can view resource metadata and download resource content
                                files. If the resource is
                                Shareable viewers can use manage access to extend viewing access to other users.</p>
                            </li>
                        </ul>
                    </div>
                    <div data-toggle="collapse" data-target="#usage-info"
                       class="btn-show-more btn btn-default btn-xs">Show More</div>
                    <br>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Who has access</h3>
                    </div>
                    <div class="panel-body panel-access ">
                        <table class="table access-table" :style="{'pointer-events': isProcessing ? 'none' : 'auto' }">
                            <tbody>
                                {% include "includes/access-row.html" %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Give access</h3>
                    </div>
                    <div id="div-invite-people" class="panel-body">
                        <div id="invite-flag" class="btn-group space-bottom" role="group"
                             aria-label="Share with users or groups">
                            <button type="button"
                                    :class="{btn: true, 'btn-primary': isInviteUsers, 'btn-default': !isInviteUsers}"
                                    @click="isInviteUsers = true"
                                    data-value="users">Users</button>
                            <button type="button"
                                    :class="{btn: true, 'btn-primary': !isInviteUsers, 'btn-default': isInviteUsers}"
                                    @click="isInviteUsers = false"
                                    data-value="groups">Groups</button>
                        </div>

                        <form id="add-access-form"
                              :action="'/hsapi/_internal/' + resShortId + '/share-resource-with-' + (isInviteUsers ? 'user' : 'group') + '/'"
                              method="POST">
                            {% csrf_token %}

                            <div class="row">
                                <div v-show="isInviteUsers" class="add-view-user-form col-xs-12">
                                    {{ add_view_invite_user_form.user }}
                                </div>

                                <div v-show="!isInviteUsers" class="add-view-group-form col-xs-12">
                                    {{ add_view_group_form.group }}
                                </div>

                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="dropdown custom-dropdown">
                                                <button class="btn btn-default dropdown-toggle" type="button"
                                                        id="roles_list" data-toggle="dropdown"
                                                        aria-haspopup="true">
                                                    <span id="selected_role" data-role="view">${accessStr[selectedAccess]}</span>
                                                    <span class="caret"></span>
                                                </button>

                                                <ul id="list-roles" class="dropdown-menu" aria-labelledby="roles_list">
                                                    <li :class="{ disabled: selfAccessLevel === 'None' }"
                                                        @click="selectedAccess = 'view'">
                                                        <a data-role="view">Can view</a>
                                                    </li>

                                                    <li :class="{ disabled: selfAccessLevel !== 'owner' && selfAccessLevel !== 'edit' }"
                                                        @click="selectedAccess = 'edit'">
                                                        <a data-role="edit">Can edit</a>
                                                    </li>

                                                    <li v-if="isInviteUsers"
                                                        :class="{ disabled: selfAccessLevel !== 'owner' }"
                                                        @click="selectedAccess = 'owner'">
                                                        <a data-role="owner">Is owner</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-xs-6">
                                            <a id="btn-confirm-add-access"
                                               @click="grantAccess"
                                               class="btn btn-add-access btn-success glyphicon glyphicon-plus"><span
                                                    class="button-label">&nbsp;Add</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br>
                        <span v-if="error" class='label label-danger space-top'>
                            <strong>Error: </strong>${ error }
                        </span>
                    </div>
                </div>

                <div id="sharing-status">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Sharing status</h3>
                        </div>
                        <div class="panel-body">
                            <div v-if="selfAccessLevel === 'owner'"
                                 class="alert alert-info" role="alert"><i class="fa fa-lock" aria-hidden="true"></i>
                                You are the owner of this resource.
                            </div>
                            <div v-if="selfAccessLevel === 'edit'"
                                 class="alert alert-info" role="alert">You have been given specific permission to
                                {% if cm.raccess.published %} view{% else %} edit{% endif %} this resource.
                            </div>
                            <div v-if="selfAccessLevel === 'view'"
                                 class="alert alert-info" role="alert">You have been given specific permission to
                                view this resource.
                            </div>

                            {% if can_change_resource_flags %}
                                {# -------- PUBLIC -------- #}
                                <form id="form-change-access" class="disabled"
                                      action="/hsapi/_internal/{{ cm.short_id }}/set-resource-flag/"
                                      method="POST">
                                    <div class="btn-group" role="group">
                                        {% csrf_token %}
                                        <input name="flag" type="hidden" value=""/>
                                        <input name="resource-mode" type="hidden" value="{{ resource_mode }}">

                                        <button {% if not cm.can_be_public_or_discoverable or cm.raccess.public %}disabled {% endif %}
                                                id="btn-public" data-toggle="tooltip" data-placement="auto"
                                                data-flag="make_public"
                                                title='Can be viewed and downloaded by anyone.' type="button"
                                                class="btn btn-default {% if cm.raccess.public %}active{% endif %}">
                                            Public
                                        </button>

                                        {# -------- DISCOVERABLE -------- #}
                                        <button {% if not cm.can_be_public_or_discoverable %}disabled {% endif %}
                                                id="btn-discoverable" data-toggle="tooltip" data-placement="auto"
                                                data-flag="make_discoverable"
                                                type="button" title='Metadata is public but data are protected.'
                                                class="btn btn-default {% if cm.raccess.discoverable and not cm.raccess.public %}active{% endif %}">
                                            Discoverable
                                        </button>

                                        {# -------- PRIVATE -------- #}
                                        <button {% if not cm.raccess.public and not cm.raccess.discoverable %}disabled {% endif %}
                                                id="btn-private" data-toggle="tooltip" data-placement="auto"
                                                data-flag="make_private"
                                                title='Can be viewed and downloaded only by designated users or research groups.'
                                                type="button"
                                                class="btn btn-default {% if not cm.raccess.public and not cm.raccess.discoverable %}active{% endif %}">
                                            Private
                                        </button>
                                    </div>
                                </form>

                                {% if self_access_level == 'owner' and cm.resource_type == "NetcdfResource" and not cm.raccess.public %}
                                    <div class="label-public">Note that making the resource public may take a little extra time
                                        to update
                                        Hyrax server in order to provide OPeNDAP service for this resource.
                                    </div>
                                {% endif %}

                                {% if self_access_level == 'owner' %}
                                    <div id="shareable-container">
                                        {#   Shareable flag    #}
                                        <form action="/hsapi/_internal/{{ cm.short_id }}/set-resource-flag/"
                                              method="POST">
                                            {% csrf_token %}

                                            <div class="checkbox">
                                                <label>
                                                    <input id="btn-shareable" type="checkbox"
                                                           {% if cm.raccess.shareable %}checked{% endif %}>
                                                    Shareable
                                                </label>
                                            </div>
                                            <p id="shareable-description" class="text-muted small">
                                                {% if cm.raccess.shareable %}
                                                    Uncheck the box to prevent others from sharing the resource
                                                    without the owner's permission.
                                                {% else %}
                                                    Check this box to allow others to share the resource without the
                                                    owner's permission.
                                                {% endif %}
                                            </p>

                                            <input name="flag" type="hidden"
                                                   {% if cm.raccess.shareable %}value="make_not_shareable"
                                                   {% else %}value="make_shareable"{% endif %}/>
                                        </form>
                                    </div>
                                    <br>
                                {% endif %}
                            {% endif %}
                         </div>
                    </div>
                </div>

                <div>
                    {# ======= Change quota holder ======= #}
                    {% include "resource-landing-page/quota.html" %}
                </div>
            </div>

            <div class="modal-footer">
                <a type="button" data-dismiss="modal" class="btn btn-default">Close</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}js/hs-vue/manage-access.js"></script>