<div class="col-sm-12 content-block">
    <h3>Storage</h3>
    <p>The size of this resource is XXX MB.</p>
</div>
{% if is_owner_user %}
    <div class="col-sm-12 content-block">
        <h5>The quota holder of this resource is:
            {% include "includes/profile-link.html" with user=quota_holder %}
            {% include "includes/profile-card.html" %}
        </h5>
    </div>
    {% if metadata_form and owners|length > 1 %}
        <div class="col-sm-12 content-block">
            <a id="btn-change-quota-holder" type="button" class="btn btn-info row-selector" data-toggle="modal"
               data-target="#change_quota_holder">
                <i class="fa fa-pie-chart" aria-hidden="true"></i> Change Quota Holder</span></span>
            </a>
        </div>
    {% endif %}
{% endif %}