{% load hydroshare_tags crispy_forms_tags %}

{% if not resource_edit_mode %}
    {% if show_relations_section or belongs_to_collections %}
        <div class="col-xs-12 content-block">
            <h3>Related Resources</h3>
        </div>
    {% endif %}
    {% if show_relations_section %}
        <div class="col-xs-12 content-block">
            <table class="table hs-table info-table">
                {% for relation in relations %}
                    {% if relation.type|lower != "haspart" and relation.type|lower != "ispartof" %}
                        <tr style="padding-bottom: 20px">
                            <td class="dataset-label" style="min-width: 100px;">
                                {{ relation.type_description }}
                            </td>
                            <td class="dataset-details">{{ relation.value|urlize }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% else %}
    <div class="col-xs-12 content-block">
        <br>
        <h3>Related Resources
            <a id="add-relation" class="btn btn-success btn-xs" data-toggle="modal" title="Add Relation

Click this button to add a relationship to another resource, external website, or document. You can express the type of relationship and then enter a URL to the resource or website. If the related resource does not have a URL, you can paste in a full text citation."
            data-target="#add-relation-dialog">
                <i class="fa fa-plus"></i>
            </a>
        </h3>

        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="flex">
                <i class="glyphicon glyphicon-info-sign" style="margin-right: 20px;"></i>
                <em style="padding-right:20px;">
                    If this resource is related to other documents, datasets, publications etc., you can record those relationships here as related resources. 
                    For example, if the citation for this resource appears in the references of a published paper, from the drop down you can select the relationship “this resource is referenced by” and provide the citation or DOI for the paper. 
                    A URL will be converted to an active link.
                </em>
            </div>
        </div>

        {% if relations %}
        <table class="table hs-table info-table">
            <tbody>
            {% for relation in relations %}
                {% if  relation.type|lower != "haspart" and relation.type|lower != "ispartof" and relation.type|lower != "relation" %}
                    <tr>
                        <td scope="row" class="dataset-label" style="min-width: 100px;">
                            {{ relation.type_description }}
                        </td>
                        <td class="dataset-details">{{ relation.value|urlize }}</td>
                        {% if relation.type not in relation.NOT_USER_EDITABLE %}
                            <td style="min-width: 120px;">
                                <span data-toggle="modal" data-placement="auto" title="Edit"
                                   class="glyphicon glyphicon-pencil icon-blue icon-button table-icon"
                                   data-target="#edit-relation-dialog_{{ relation.id }}">
                                </span>
                                <span data-toggle="modal" data-placement="auto" title="Remove"
                                   class="glyphicon glyphicon-trash table-icon icon-button btn-remove"
                                   data-target="#delete-relation-element-dialog{{ relation.id }}"></span>
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p class="small text-muted">Add associated journal publications, dissertations, etc. here.</p>
        {% endif %}
    </div>
{% endif %}

{% if belongs_to_collections %}
    <div class="col-xs-12 content-block">
        <legend>This resource belongs to the following collections:</legend>
        <table id="collected-by-table" class="table-hover table-striped resource-custom-table" width="100%">
            <thead>
            <tr>
                <th>Title</th>
                <th>Owners</th>
                <th>Sharing Status</th>
                <th>My Permission</th>
            </tr>
            </thead>
            <tbody>
            {% for res in belongs_to_collections %}
                {% with res|user_permission:request.user.pk as res_permission %}
                <tr id="{{ res.short_id }}">
                    <td>
                        {% if res_permission|lower == "none" %}
                            <strong>{{ res.metadata.title }}</strong>
                        {% else %}
                            <strong><a href="{{ res.absolute_url }}"
                                       target="_blank">{{ res.metadata.title }}</a></strong>
                        {% endif %}
                    </td>
                    <td>
                        {% for owner in res.raccess.owners.all %}
                            {% if forloop.counter0 > 0 %} · {% endif %}
                            {% if owner.first_name %}
                                <a href='/user/{{ owner.pk }}/'
                                   target="_blank">{{ owner.first_name }} {{ owner.last_name }}</a>
                            {% else %}
                                <a href='/user/{{ owner.pk }}/'
                                   target="_blank">{{ owner.username }}</a>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if res.raccess.published %}
                            <strong class="label-public">&nbsp;Published</strong>
                        {% elif res.raccess.public %}
                            <strong class="label-public">&nbsp;Public</strong>
                        {% elif res.raccess.discoverable %}
                            <strong class="label-discoverable">
                                &nbsp;Discoverable</strong>
                        {% else %}
                            <strong class="label-private">&nbsp;Private</strong>
                        {% endif %}
                        {% if res.raccess.published %}
                            {% if "pending" in cm.doi or "failure" in cm.doi %}
                                &#8210; Note that the DOI will not be available
                                until
                                it has been registered and activated.{% endif %}
                        {% else %}
                            &{% if res.raccess.shareable %}
                            <strong style="color:#5cb85c">&nbsp;Shareable</strong>
                        {% else %}<strong style="color:#d9534f">&nbsp;Not
                                Shareable</strong>{% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if res_permission|lower == "none" %}
                            <strong class="label-private">{{ res_permission }}</strong>
                        {% elif res_permission|lower == "open access" %}
                            <strong class="label-public">{{ res_permission }}</strong>
                        {% else %}
                            {{ res_permission }}
                        {% endif %}
                    </td>
                </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}