{% load hydroshare_tags %}

<div class="container">
    <div class="row">
        <div id="left-header" class="col-sm-12 col-md-6 res-header">
            <table class="info-table">
                <tr>
                    <th>Authors:</th>

                    <td class="authors-wrapper" v-if="res_mode === 'View'">
                        {#                            {% for author in creators %}#}
                        {#                                {% include "includes/author-link.html" with author=author %}#}
                        {#                            {% endfor %}#}
                        <a v-for="(author, index) in authors" data-toggle="modal"
                           @click="selectAuthor(author, index)"
                           class="author-preview"
                           data-target="#view-author-modal" href="#">
                            <template v-if="author.name">
                                ${ author.name }
                            </template>

                            <template v-else>
                                ${ author.organization }
                            </template>
                        </a>
                    </td>

                    <td v-else>
                        <a type="button" id="btn-add-new-author"
                           class="btn btn-success btn-xs" data-toggle="modal"
                           data-target="#add-author-modal" title="Add Author">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>

                        <span class="authors-wrapper sortable">
                            <span v-for="(author, index) in authors">
                                <a data-toggle="modal" class="author-preview" :title="'Edit ' + author.name"
                                   @click="selectAuthor(author, index)" data-target="#edit-author-modal" href="#">
                                    <template v-if="author.name">${ author.name }</template>
                                    <template v-else>${ author.organization }</template>
                                </a>
{#                                        <a title="Edit {{ author.name }}"#}
{#                                           class="author-modal-trigger" data-id="{{ author.id }}"#}
{#                                           data-name="{{ author.name }}" data-order="{{ author.order }}"#}
{#                                           data-description="{{ author.description|default:"" }}"#}
{#                                           data-organization="{{ author.organization|default:"" }}"#}
{#                                           data-email="{{ author.email|default:"" }}"#}
{#                                           data-address="{{ author.address|default:"" }}"#}
{#                                           data-phone="{{ author.phone|default:"" }}"#}
{#                                           data-homepage="{{ author.homepage|default:"" }}"#}
{#                                                {% for name, link in author.identifiers.items %}#}
{#                                           data-{{ name }}="{{ link }}"#}
{#                                                {% endfor %}>#}
{#                                            {% if author.name %}#}
{#                                                {{ author.name }}#}
{#                                            {% else %}#}
{#                                                {{ author.organization }}#}
{#                                            {% endif %}#}
{#                                        </a>#}

{#                                        <form class="hidden-form"#}
{#                                              action="/hsapi/_internal/{{ cm.short_id }}/creator/{{ author.id }}/update-metadata/"#}
{#                                              enctype="multipart/form-data">#}
{#                                            {% csrf_token %}#}
{#                                            <input name="resource-mode" type="hidden" value="edit">#}
{##}
{#                                            <input name="creator-{{ author.order|add:"- 1" }}-name"#}
{#                                                   value="{{ author.name|default:"" }}">#}
{##}
{#                                            <input name="creator-{{ author.order|add:"- 1" }}-description"#}
{#                                                   value="{{ author.description|default:"" }}">#}
{##}
{#                                            <input name="creator-{{ author.order|add:"- 1" }}-organization"#}
{#                                                   type="text" value="{{ author.organization|default:"" }}">#}
{##}
{#                                            <input name="creator-{{ author.order|add:"- 1" }}-email"#}
{#                                                   value="{{ author.email|default:"" }}">#}
{##}
{#                                            <input name="creator-{{ author.order|add:"- 1" }}-address"#}
{#                                                   value="{{ author.address|default:"" }}">#}
{##}
{#                                            <input name="creator-{{ author.order|add:"- 1" }}-phone"#}
{#                                                   type="text" value="{{ author.phone|default:"" }}">#}
{##}
{#                                            <input name="creator-{{ author.order|add:"- 1" }}-homepage"#}
{#                                                   type="url" value="{{ author.homepage|default:"" }}">#}
{##}
{#                                            <input class="input-order"#}
{#                                                   name="creator-{{ author.order|add:"- 1" }}-order"#}
{#                                                   type="number" value="{{ author.order|default:"" }}">#}
{#                                        </form>#}
                                 </span>
                        </span>
                        <span data-toggle="tooltip" data-placement="auto"
                              title='Drag and drop Authors to rearrange.'
                              class="glyphicon glyphicon-info-sign text-muted"></span>
                    </td>
                </tr>
                <tr>
                    <th>Owners:</th>
                    <td class="owners-wrapper">
                        <template v-for="owner in owners">
                            <profile-link
                                :user="owner"
                                v-bind:key="owner.id"
                                v-on:load-card="onLoadOwnerCard($event)">
                            </profile-link>
                        </template>

                        <profile-card :user="userCardSelected" :position="cardPosition"></profile-card>
                    </td>
                </tr>
                <tr>
                    <th>Resource type:</th>
                    <td>{{ cm|resource_type }}</td>
                </tr>
                <tr>
                    <th>Storage:</th>
                    <td>The size of this resource is {{ cm.size|filesizeformat }}</td>
                </tr>
                <tr>
                    <th>Created:</th>
                    <td>{{ cm.created|date:"M d, Y" }} at {{ cm.created|time }}</td>
                </tr>
                <tr>
                    <th>Last updated:</th>
                    <td> {{ cm.last_updated|date:"M d, Y" }} at {{ cm.last_updated|time }}
                        <profile-link v-on:load-card="onLoadOwnerCard($event)" :user="lastChanagedBy"></profile-link>
                        <profile-card :user="lastChanagedBy" :position="cardPosition"></profile-card>
                    </td>
                </tr>
                {% if cm.raccess.published %}
                <tr>
                    <th>DOI:</th>
                    <td>10.4211/hs.{{ cm.short_id }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>Citation:</th>
                    <td><a href="#citation">See how to cite this resource</a></td>
                </tr>
                {% if cm.resource_type == "CompositeResource" and cm.aggregation_types %}
                <tr>
                    <th>Content types:</th>
                    <td>
                        {% for ct in cm.aggregation_types %}
                            <span class="label label-info agg-{{ ct|display_name_to_class }}">{{ ct }}</span>&nbsp;
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
            </table>

            <div v-if="res_mode === 'Edit' && can_change"
                 class="modal fade" id="add-author-modal" tabindex="-1" role="dialog"
                 aria-labelledby="add-creator" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="add-creator"> Add Author </h4>
                        </div>

                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-5 text-center">
                                    <div class="radio-inline center-radio-inline text-center">
                                        <label>
                                            <div>Person</div>
                                            <input type="radio" checked name="add_author_user_type" value="person">
                                        </label>
                                    </div>
                                </div>

                                <div class="col-sm-2 text-center or-separator">
                                    <span class="text-muted">- Or -</span>
                                </div>

                                <div class="col-sm-5 text-center">
                                    <div class="radio-inline center-radio-inline text-center">
                                        <label>
                                            <div>Organization</div>
                                            <input type="radio" name="add_author_user_type" value="organization">
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <hr>
                                </div>
                            </div>
                        </div>

                        {# Person #}
                        <div data-hs-user-type="person">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-5 text-center">
                                        <div class="radio-inline center-radio-inline text-center">
                                            <label>
                                                <div>Existing HydroShare User</div>
                                                <input type="radio" checked name="add_author_person" value="hs_user">
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-2 text-center or-separator">
                                        <span class="text-muted">- Or -</span>
                                    </div>

                                    <div class="col-sm-5 text-center">
                                        <div class="radio-inline center-radio-inline text-center">
                                            <label>
                                                <div>Other</div>
                                                <input type="radio" name="add_author_person" value="other_person">
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            {#  Existing HydroShare User  #}
                            <div data-hs-person-type="hs_user">
                                <div class="modal-body">
                                    {{ add_view_hs_user_form.user }}
                                </div>

                                <form action="/hsapi/_internal/{{ cm.short_id }}/creator/add-metadata/" method="POST"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input name="resource-mode" type="hidden" value="edit">

                                    <div class="modal-body" style="display:none;">
                                        <input maxlength="100" name="name" type="text">
                                        <input name="description" type="url">
                                        <input name="organization" type="text">
                                        <input name="email" type="email">
                                        <input maxlength="250" name="address" type="text">
                                        <input maxlength="25" name="phone" type="text">
                                        <input maxlength="200" name="homepage" type="url">
                                        <div id="identifiers"></div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <button id="btn-add-author" type="button" class="btn btn-primary">
                                            Save Changes
                                        </button>
                                    </div>
                                </form>
                            </div>

                            {# Other Person #}
                            {% with "person-type-other-person" as div_id %}
                                <div data-hs-person-type="other_person" style="display:none;">
                                    <form action="/hsapi/_internal/{{ cm.short_id }}/creator/add-metadata/" method="POST"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input name="resource-mode" type="hidden" value="edit">
                                        <div class="modal-body">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                {% csrf_token %}
                                                <fieldset>
                                                    <div id="{{ div_id }}_name" class="control-group">
                                                        <label for="{{ div_id }}_input_name"
                                                               class="control-label requiredField" >Name<span
                                                                class="asteriskField">*</span>
                                                        </label>

                                                        <div class="controls">
                                                            <input class="form-control input-sm textinput textInput"
                                                                   id="{{ div_id }}_input_name" maxlength="100" name="name"
                                                                   required="required" type="text"
                                                                   placeholder="e.g. 'Smith, John Arnold'">
                                                        </div>
                                                    </div>

                                                    <div id="{{ div_id }}_organization" class="control-group">
                                                        <label for="{{ div_id }}_input_organization"
                                                               class="control-label">Organization</label>
                                                        <div class="controls">
                                                            <input class="form-control input-sm textinput textInput"
                                                                   id="{{ div_id }}_input_organization" maxlength="200"
                                                                   name="organization" type="text">
                                                        </div>
                                                    </div>
                                                    <div id="{{ div_id }}_email" class="control-group">
                                                        <label for="{{ div_id }}_input_email"
                                                               class="control-label">Email</label>

                                                        <div class="controls">
                                                            <input class="form-control input-sm emailinput"
                                                                   id="{{ div_id }}_input_email" maxlength="75" name="email"
                                                                   type="email">
                                                        </div>
                                                    </div>
                                                    <div id="{{ div_id }}_address" class="control-group">
                                                        <label for="{{ div_id }}_input_address"
                                                               class="control-label">Address</label>
                                                        <div class="controls">
                                                            <input class="form-control input-sm textinput textInput"
                                                                   id="{{ div_id }}_input_address" maxlength="250"
                                                                   name="address"
                                                                   type="text">
                                                        </div>
                                                    </div>
                                                    <div id="{{ div_id }}_phone" class="control-group">
                                                        <label for="{{ div_id }}_input_phone"
                                                               class="control-label">Phone</label>
                                                        <div class="controls">
                                                            <input class="form-control input-sm textinput textInput"
                                                                   id="{{ div_id }}_input_phone" maxlength="25" name="phone"
                                                                   type="text">
                                                        </div>
                                                    </div>
                                                    <div id="{{ div_id }}_homepage" class="control-group">
                                                        <label for="{{ div_id }}_input_homepage"
                                                               class="control-label">Homepage</label>
                                                        <div class="controls">
                                                            <input class="form-control input-sm urlinput"
                                                                   id="{{ div_id }}_input_homepage" maxlength="200"
                                                                   name="homepage"
                                                                   type="url">
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <label class="control-label">Author Identifiers</label>
                                                <div class="modal-identifiers-container height-fix">
                                                    {% include "includes/identifiers-form.html" %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary btn-disable-after-valid">Save Changes</button>
                                        </div>
                                    </form>
                                </div>
                            {% endwith %}
                        </div>

                        {#  Organization  #}
                        <div data-hs-user-type="organization" style="display:none">
                            {#  Other Organization  #}
                            {% with "org-type-other-org" as div_id %}
                            <div data-hs-org-type="other_organization">
                                <form action="/hsapi/_internal/{{ cm.short_id }}/creator/add-metadata/" method="POST"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input name="resource-mode" type="hidden" value="edit">
                                    <div class="modal-body">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {% csrf_token %}
                                            <fieldset>
                                                <div id="{{ div_id }}_name" class="control-group" style="display:none">
                                                    <label for="{{ div_id }}_input_name" class="control-label">Name</label>

                                                    <div class="controls">
                                                        <input class="form-control input-sm textinput textInput"
                                                               id="{{ div_id }}_input_name" maxlength="100" name="name"
                                                               type="text" placeholder="e.g. 'U.S. Army Corps of Engineers'">
                                                    </div>
                                                </div>
                                                <div id="{{ div_id }}_organization" class="control-group">
                                                    <label for="{{ div_id }}_input_organizatio"
                                                           class="control-label requiredField">Organization Name<span
                                                            class="asteriskField">*</span>
                                                    </label>
                                                    <div class="controls">
                                                        <input class="form-control input-sm textinput textInput"
                                                               id="{{ div_id }}_input_organizatio" maxlength="200"
                                                               name="organization" type="text"
                                                               placeholder="e.g. 'U.S. Army Corps of Engineers'"
                                                               required="required">
                                                    </div>
                                                </div>
                                                <div id="{{ div_id }}_email" class="control-group">
                                                    <label for="{{ div_id }}_input_email" class="control-label">Email</label>
                                                    <div class="controls">
                                                        <input class="form-control input-sm emailinput"
                                                               id="{{ div_id }}_input_email" maxlength="75" name="email"
                                                               type="email">
                                                    </div>
                                                </div>
                                                <div id="{{ div_id }}_address" class="control-group">
                                                    <label for="{{ div_id }}_input_address"
                                                           class="control-label">Address</label>
                                                    <div class="controls">
                                                        <input class="form-control input-sm textinput textInput"
                                                               id="{{ div_id }}_input_address" maxlength="250" name="address"
                                                               type="text">
                                                    </div>
                                                </div>
                                                <div id="{{ div_id }}_phone" class="control-group">
                                                    <label for="{{ div_id }}_input_phone" class="control-label">Phone</label>
                                                    <div class="controls">
                                                        <input class="form-control input-sm textinput textInput"
                                                               id="{{ div_id }}_input_phone" maxlength="25" name="phone"
                                                               type="text">
                                                    </div>
                                                </div>
                                                <div id="{{ div_id }}_homepage" class="control-group">
                                                    <label for="{{ div_id }}_input_homepage"
                                                           class="control-label">Homepage</label>
                                                    <div class="controls">
                                                        <input class="form-control input-sm urlinput"
                                                               id="{{ div_id }}_input_homepage" maxlength="200"
                                                               name="homepage" type="url">
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-primary btn-disable-after-valid">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="res_mode === 'Edit' && can_change" class="modal fade" id="edit-author-modal"
                 tabindex="-1" role="dialog" aria-labelledby="edit-creator" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">×
                            </button>
                            <h4 class="modal-title" id="edit-creator"> Edit Author</h4>
                        </div>

                        <div v-if="authors.length > 1" class="modal-body modal-body--delete">
                            <span title="Remove"
                                  data-toggle="collapse" data-target="#confirm-delete-author"
                                  class="glyphicon glyphicon-trash icon-button table-icon btn-remove"></span>

                            <div id="confirm-delete-author" class="collapse row" style="margin-top: 35px;">
                                <div class="col-xs-6">
                                    <strong>Are you sure you want to delete this metadata element?</strong>
                                </div>
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-default space-top"
                                            data-dismiss="modal">Cancel
                                    </button>
                                    <a @click="deleteAuthor()"
                                       type="button" class="btn btn-danger">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>

                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input name="resource-mode" type="hidden" value="edit">

                            <div class="modal-body">
                                <div class="form-group">
                                    <fieldset>
                                        {# NAME #}
                                        <div v-if="isAuthorRequired" class="control-group control-group--name">
                                            <label for="creator-name" class="control-label requiredField">Name<span
                                                class="asteriskField">*</span></label>

                                            <div class="controls">
                                                <input v-model="selectedAuthor.author.name"
                                                       :required="isAuthorRequired ? 'required' : 'false'"
                                                       id="creator-name"
                                                       class="form-control input-sm textinput textInput"
                                                       maxlength="100">
                                            </div>
                                        </div>

                                        {# PROFILE URL #}
                                        <div v-if="isAuthorRequired" class="control-group control-group--description">
                                            <label for="creator-description" class="control-label">HydroShare User
                                                Identifier (URL)</label>

                                            <div class="controls">
                                                <input v-model="selectedAuthor.author.profileUrl" id="creator-description"
                                                       class="form-control input-sm urlinput"
                                                       maxlength="200" type="url" readonly>
                                            </div>
                                        </div>

                                        {# ORGANIZATION #}
                                        <div class="control-group control-group--organization">
                                            <label for="creator-organization" class="control-label">Organization
                                                <span v-if="!isAuthorRequired" class="asteriskField">*</span></label>

                                            <div class="controls">
                                                <input v-model="selectedAuthor.author.organization" id="creator-organization"
                                                       :class="{requiredField: !isAuthorRequired}"
                                                       :required="isAuthorRequired ? false : 'required'"
                                                       type="text" maxlength="200"
                                                       class="form-control input-sm textinput textInput">
                                            </div>
                                        </div>

                                        {# EMAIL #}
                                        <div class="control-group control-group--email">
                                            <label for="creator-email" class="control-label">Email</label>

                                            <div class="controls">
                                                <input v-model="selectedAuthor.author.email" id="creator-email"
                                                       class="form-control input-sm emailinput"
                                                       maxlength="75" type="email">
                                            </div>
                                        </div>

                                        {# ADDRESS #}
                                        <div class="control-group control-group--address">
                                            <label for="creator-address" class="control-label">Address</label>

                                            <div class="controls">
                                                <input v-model="selectedAuthor.author.address" id="creator-address"
                                                       class="form-control input-sm textinput textInput"
                                                       maxlength="250" type="text">
                                            </div>
                                        </div>

                                        {# PHONE #}
                                        <div class="control-group control-group--phone">
                                            <label for="creator-phone" class="control-label">Phone</label>

                                            <div class="controls">
                                                <input v-model="selectedAuthor.author.phone" id="creator-phone"
                                                       class="form-control input-sm textinput textInput"
                                                       maxlength="25" type="text">
                                            </div>
                                        </div>

                                        {# HOMEPAGE #}
                                        <div class="control-group control-group--homepage">
                                            <label for="creator-homepage" class="control-label">Homepage</label>

                                            <div class="controls">
                                                <input v-model="selectedAuthor.author.homepage" id="creator-homepage"
                                                       class="form-control input-sm urlinput"
                                                       maxlength="200" type="url">
                                            </div>
                                        </div>
                                    </fieldset>

                                    {# AUTHOR IDENTIFIERS #}
                                    <label class="control-label">Author Identifiers</label>
                                    <div class="modal-identifiers-container height-fix">
                                        {% include "includes/identifiers-form.html" with identifiers=author.identifiers %}
                                    </div>
                                </div>
                            </div>

                            {# Hidden in replacement for drag and drop, but still needed for form submission here #}
                            <input class="hidden-form input-order" type="number">

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button @click="updateAuthor()"
                                        type="button"
{#                                        type="submit"#}
                                        class="btn btn-primary">Save changes
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 res-header">
            {% include "resource-landing-page/highlights.html" %}
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}js/hs-vue/left-header-app.js"></script>
