<div class="col-xs-12 content-block" id="app-keyword">
    <h3>Subject Keywords</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            {% if resource_edit_mode %}
                {% csrf_token %}
            {% endif %}

            <div class="tags">
                {% if resource_edit_mode %}
                    {% if czo_user %}
                        <div id="cv-add-keyword-wrapper" class="input-group"
                             @keyup.enter="addKeyword('{{ cm.short_id }}')">
                            {# https://github.com/alexurquhart/vue-bootstrap-typeahead #}
                            <vue-bootstrap-typeahead
                                    :data="{{ odm2_terms }}"
                                    v-model="newKeyword"
                                    {# Undocumented https://github.com/alexurquhart/vue-bootstrap-typeahead/issues/19 #}
                                    ref="newKeyword"
                                    input-class="typeahead-search-input"
                                    @hit=addKeyword('{{ cm.short_id }}')
                                    placeholder="Examples: Hydrologic_modeling, USU, land use">
                            </vue-bootstrap-typeahead>
                            <span class="input-group-btn">
                                <button @click="addKeyword('{{ cm.short_id }}')"
                                        class="btn btn-success cv-add-button" type="button">Add</button>
                            </span>
                        </div>
                    {% else %}
                        <div id="cv-add-keyword-wrapper" class="input-group">
                            <input v-model="newKeyword" id="txt-keyword" type="text" class="form-control"
                                   ref="newKeyword"
                                   @keyup.enter="addKeyword('{{ cm.short_id }}')"
                                   placeholder="Examples: Hydrologic_modeling, USU, land use">
                            <span class="input-group-btn">
                                <button @click="addKeyword('{{ cm.short_id }}')"
                                        class="btn btn-success" type="button">Add</button>
                            </span>
                        </div>
                    {% endif %}
                {% endif %}
                <div id="subj-inline-error" style="display:none">
                    <p class="text-danger small" v-if="showIsDuplicate"> Duplicate. Keyword not added.</p>
                    <div v-if="error" class='alert alert-danger has-space-top small'>
                        <strong>Error: </strong>
                        <span v-html="error"></span>
                    </div>
                </div>
                <ul id="lst-tags" class="custom-well tag-list" style="display:none">
                    <li class="small text-muted" v-if="!resKeywords.length">No subject keywords have been added.</li>
                    <li v-else v-for="k in resKeywords">
                        {% if resource_edit_mode %}
                            {% if cm.raccess.published %}
                                <span v-if="resKeywords.length" class="tag">
                                    ${ k }<span v-if="resKeywords.length > 1"
                                        @click="removeKeyword('{{ cm.short_id }}', k )"
                                        class="glyphicon glyphicon-remove-circle icon-remove"></span>
                                </span>
                            {% else %}
                                <span v-if="resKeywords.length" class="tag">
                                    ${ k }<span
                                        @click="removeKeyword('{{ cm.short_id }}', k )"
                                        class="glyphicon glyphicon-remove-circle icon-remove"></span>
                                </span>
                            {% endif %}
                        {% else %}
                            <a class='tag' target="_blank"
                               :href="'/search/?subject=' + safeJS(k)">${ k }</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        {% if not cm.raccess.published %}
            <div v-if="resMode === 'Edit'" class="col-xs-12 col-sm-6">
                <div class="alert alert-warning group-title flex" role="alert">
                    <i class="glyphicon glyphicon-info-sign" style="margin-right: 20px;"></i>
                    <em style="padding-right:20px;">
                        Deleting all keywords will set the resource sharing status to <strong>private</strong>.
                    </em>
                </div>
            </div>
       {% endif %}
    </div>
</div>
{% block extra_css %}
    {# typeahead is used in title.html #}
    <link href="{% static 'css/vue-bootstrap-typeahead.0.2.6.css' %}" rel="stylesheet">
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/vue-bootstrap-typeahead.0.2.6.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/hs-vue/subject-keywords-app.js' %}"></script>
{% endblock %}

