<script>
  resKeywords = [{% for k in keywords %}{% if k %}"{{ k }}"{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}];
</script>

<div class="col-xs-12 content-block" id="app-keyword">
    <h3>Subject Keywords</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            {% if resource_edit_mode %}
                {% csrf_token %}
            {% endif %}
            <div class="tags">
                {% if resource_edit_mode %}
                    <div id="add-keyword-wrapper" class="input-group">
                        <input v-model="newKeyword" id="txt-keyword" type="text" class="form-control"
                               @keyup.enter="addButton('{{ cm.short_id }}')"
                               placeholder="Examples: Hydrologic_modeling, USU, land use">
                        <span class="input-group-btn">
                            <button @click="addButton('{{ cm.short_id }}')" id="btn-add-keyword"
                                    class="btn btn-success" type="button">Add</button>
                        </span>
                    </div>
                {% endif %}

                <ul id="lst-tags" class="custom-well tag-list hidden">
                    <li v-for="k in resKeywords">
                        {% if resource_edit_mode %}
                          {# TODO: prevent raw delimeters from being rendered before Vue.js is executed              #}
                            <span class="tag">${ k }<span
                                    @click="removeKeyword('{{ cm.short_id }}', k )"
                                    class="glyphicon glyphicon-remove-circle icon-remove"></span></span>
                        {% else %}
                            <a class='tag' target="_blank"
                               :href="'/search/?q=&selected_facets=subject_exact:' + k">${ k }</a>
                        {% endif %}
                    </li>
                </ul>

            </div>
            <div>
                <p class="text-danger small" id="id-keywords-msg"> Duplicate. Keyword not added.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
                <span class="alert alert-warning group-title" role="alert">
                    <div class="flex">
                        <i class="glyphicon glyphicon-info-sign" style="margin-right: 20px;"></i>
                        <em style="padding-right:20px;">
                            Deleting all keywords will set the resource sharing status to <strong>private</strong>.
                        </em>
                    </div>
                </span>
        </div>
    </div>
</div>
