{% load hydroshare_tags %}

{# ======= Resource Submitted for Minimum Metadata Check Pre Publication =======#}
{% if cm.raccess.review_pending and resource_edit_mode %}
    <div class="col-xs-12">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span><strong>This resource is under review</strong> for appropriate
                <a href="https://help.hydroshare.org/publishing-in-hydroshare/minimum-metadata-requirements-for-publishing-in-hydroshare/" target="_blank">minimum metadata</a>
                and to ensure that it adheres to
                <a href="https://help.hydroshare.org/publishing-in-hydroshare/terms-of-use-and-community-guidelines/" target="_blank">community guidelines</a>.
                The review process will likely be complete within 1 business day, but not exceed 2 business days.
                During this time, you can edit some of the metadata elements for published resources, but you cannot change the following:
            </span>
            <ul>
                <li>Title</li>
                <li>Authors</li>
                <li>Content files</li>
            </ul>
        </div>
    </div>
{% endif %}

{# ======= Published resource edit notification =======#}
{% if cm.raccess.published and resource_edit_mode %}
    <div class="col-xs-12">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>This resource has been formally published. </strong>
            <span>You can edit some of the metadata elements for published resources, but you cannot change the following:</span>
            <ul>
                <li>Title</li>
                <li>Authors</li>
                {% if not current_user.is_superuser %}
                    <li>Content files</li>
                {% endif %}
            </ul>
            <span>Changing any of the above requires that you create a new version of the resource.</span>
        </div>
    </div>
{% endif %}

{# ======= Resource new version just created notification =======#}
{% if just_created and is_version_of %}
    <div class="col-xs-12">
        <div class="alert {% if just_created %}alert-success{% else %}alert-warning{% endif %} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Congratulations! </strong>
            <span>Your new version has been created. A link to the older version has been added below the resource title. To modify this
                new version or change the sharing status, click the Edit button. To share this new version with individual HydroShare users,
                click the Manage Access button. Note that this new version is created as a private resource by default. If you want the new
                version to be discoverable, you need to make it public or discoverable or publish it. </span>
        </div>
    </div>
{% endif %}

{# ======= Resource copy just created notification =======#}
{% if just_created and just_copied %}
    <div class="col-xs-12">
        <div class="alert {% if just_created %}alert-success{% else %}alert-warning{% endif %} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Congratulations! </strong>
            <span>Your new copy of the resource has been created. A <i>Derived From</i> Source metadata element has been added to this resource in
                the <i>Related Resources</i> tab below that links to the original resource. Please respect the terms of the license of the original resource
                and recognize the original authors as authors or contributors as appropriate in this derived resource.
                Note that this new copy is created as a private resource by default. If you want the new
                resource to be discoverable, you need to make it public or discoverable or publish it. </span>
        </div>
    </div>
{% endif %}

{# ======= Missing fields notification =======#}
{% if page.perms.change and not is_replaced_by %}
    {% if missing_metadata_elements_for_discoverable or title|stringformat:"s" == "Untitled resource" or not cm.has_required_content_files %}
        <div class="col-xs-12">
            <div id="missing-metadata-or-file" class="alert {% if just_created %}alert-success{% else %}alert-warning{% endif %} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                {% if missing_metadata_elements_for_discoverable %}
                    {% if just_created %}
                        This is the landing page for the {{ cm.display_name|lower }} you just created. Add files in the content area below and enter metadata where needed.
                    {% endif %}
                    <span>We recommend following these minimum metadata requirements before making your {{ cm.display_name|lower }} public or discoverable:</span>
                    <ul>
                        {% for element in missing_metadata_elements_for_discoverable %}
                            <li>{{ element }}</li>
                        {% endfor %}
                        {% if title|stringformat:"s" == "Untitled resource" %}
                           <li>Title: needs to be changed</li>
                        {% endif %}
                        {% if recommended_missing_elements %}
                            {% for element in recommended_missing_elements %}
                                <li>{{ element }}</li>
                            {% endfor %}
                    {%  endif %}
                    </ul>
                {%  endif %}
                {%  if not cm.has_required_content_files %}
                         <br>
                        <span>You must {% if missing_metadata_elements_for_discoverable %}also {% endif %}add content files to your resource before it can be published, public or discoverable.</span>
                {% endif %}
                {% if cm.resource_type != 'ToolResource' %}
                <br>
                    <span>Publishing a {{ cm.display_name|lower }} requires meeting
                        <a href="https://help.hydroshare.org/publishing-in-hydroshare/minimum-metadata-requirements-for-publishing-in-hydroshare/" target="_blank">minimum metadata standards</a>
                        and adherence to
                        <a href="https://help.hydroshare.org/publishing-in-hydroshare/terms-of-use-and-community-guidelines/" target="_blank">community guidelines</a>.
                    </span>
                {% endif %}
                {%  if cm.resource_type|lower == "collectionresource" %}
                    {% if not cm.has_resources%}
                        <br>
                        <span>A collection must contain at least one resource before it can be published, public or discoverable.</span>
                    {% endif %}
                {% endif %}

                {% if not resource_edit_mode %}
                    <hr>
                    <span class="glyphicon glyphicon-question-sign"></span>
                    <small> Click on the edit button ( <span class="glyphicon glyphicon-pencil"></span> ) below to edit this {{ cm.display_name|lower }}.</small>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endif %}

{# ======= Missing file level metadata notification =======#}
{% if cm.resource_type == "CompositeResource" %}
    {% if file_type_missing_metadata %}
        <div class="col-sm-12">
            <div id="missing-metadata-file-type" class="alert {% if just_created %}alert-success{% else %}alert-warning{% endif %} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>

                <span>The following aggregation level metadata are still required to
                      make this resource public or discoverable:</span>
                {% for item in file_type_missing_metadata %}
                    <ul>
                        <li>Aggregation name: {{ item.file_path }}
                            <ul>
                                {% for element in item.missing_elements %}
                                    <li>{{ element }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                {% endfor %}

                {% if not resource_edit_mode %}
                    <hr>
                    <span class="glyphicon glyphicon-question-sign"></span>
                    <small> Click on the edit button ( <span class="glyphicon glyphicon-pencil"></span> ) below to edit this resource.</small>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div id="checking-for-paths" class="col-sm-12">
        <p class="alert alert-warning">Checking for non-preferred file/folder path names (may take a long time depending on the number of files/folders) ...</p>
    </div>
    <div id="non-preferred-paths">
        <div class="col-sm-12">
            <div id="non-preferred-paths" class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <p>This resource contains some files/folders that have non-preferred characters in their name.
                <a href="#" data-toggle="modal" data-target="#non-preferred-paths-dialog">Show non-conforming files/folders.</a>
            </p>
            </div>
        </div>
        <div class="modal fade" id="non-preferred-paths-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">File/Folders with non preferred characters</h4>
                        <p>
                         The following files/folders contain non-preferred characters in their name.
                         This may result in problems and you are encouraged to change the name to follow the
                         <a href="https://help.hydroshare.org/hydroshare-resources/special-characters-in-file-folder-names/" target="_blank">HydroShare preferred character set.</a>
                        </p>
                    </div>
                    <div class="modal-body">
                    {# non preferred paths are populated here by JS code #}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{# ======= ResourceFile Repair notification =======#}
{% if resource_edit_mode and notify_on_repair and recently_repaired %}
    <div class="col-sm-12">
        <div id="missing-metadata-file-type" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>

            <span>
                Within the last week, the files contained in this resource were found to be corrupt and were repaired. 
                For more information please contact <a href="mailto:help@cuahsi.org?subject=Corrupt Resource Files">help@cuahsi.org</a>
            </span>
        </div>
    </div>
{% endif %}

{# ======= Title ======= #}
<div class="col-xs-12">
    {% if not resource_edit_mode %}
        <div class="flex align-center">
            <h2 id="resource-title">{{ title|escape }}</h2>

            {% if tool_homepage_url %}
                <span id="apps-url">
                    <a class='btn btn-primary' href="{{ tool_homepage_url }}" target="_blank">Open Web App</a>
                </span>
            {% endif %}
            <span id="apps-dropdown" v-if="openWithTools.length">
                <div v-if="!isLoading" class="btn-group">
                    <button class="btn btn-primary dropdown-toggle"
                            type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Open with... <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li v-for="tool in openWithTools" :title="tool.title">
                            <a :href="getResAppUrl(tool)"
                               target="_blank">
                                <img class="dropdown-user-webapp-icon" :src="tool.icon_url"/>
                                <span>${tool.title}</span>
                            </a>
                        </li>
                        <li v-if="isLoading" style="display: flex;justify-content: center;">
                            <i class="fa fa-spinner fa-pulse fa-2x fa-fw icon-blue"></i>
                        </li>
                     </ul>
                </div>
                <a v-if="openWithTools.length" data-toggle="tooltip" data-placement="auto"
                  href="https://www.youtube.com/watch?v=rw4RERFchns" target="_blank"
                  title='How to: Use Open With Function'
                  class="fa fa-youtube-play icon-red has-space-left no-decoration icon-guide">
                </a>
            </span>
            <script type="text/javascript" src="{% static 'js/hs-vue/relevant-tools.js' %}"></script>
        </div>
        <hr>
    {% else %}
        {# ======= Communities ======= #}
        <div class="modal fade" id="title-modal" tabindex="-1" role="dialog" aria-labelledby="Title Assistant">
            <div class="modal-dialog" role="document">
                <div id="title-assistant" class="modal-content">
                    <div class="modal-body">
                        <div>
                            <textarea id="resource-title" class="title-builder-output" v-model="title" disabled rows="3"
                                      placeholder="start selecting items to build title">
                            </textarea>
                            <select id="czselect" class="cz-select" v-model="regionSelected" @change="updateTitle()">
                                <option disabled value="">Select Critical Zone Region</option>
                                <option>BCCZO</option>
                                <option>CCZO</option>
                                <option>CJCZO</option>
                                <option>CRBCZO</option>
                                <option>ERCZO</option>
                                <option>LCZO</option>
                                <option>RCCZO</option>
                                <option>SSCZO</option>
                                <option>SSHCZO</option>
                                <option>IMLCZO</option>
                                <option>Cross-CZO</option>
                            </select>
                            <mover :all-items="topics.itemsList" :right-items="topics.selectedItems"
                                   title-left="Available Topics" title-right="Selected Topics"
                                   moved-item-location="bottom" v-on:item-moved="itemMoved" v-cloak>
                            </mover>
                            <a style="cursor:help" title="To add Topics make a request to CriticalZoneOrg@gmail.com"
                               href="mailto:CriticalZoneOrg@gmail.com?subject=New%20HydroShare%20Topic">To add a new topic, email the admin</a><br/>
                            <input class="title-builder-input" id="resource-subtopic" v-model="subtopic"
                                   v-on:keyup="updateTitle()" size="51"
                                   maxlength="50" placeholder="Optional Custom Text"/><br/>
                            <input class="title-builder-input" id="title-location" v-model="location"
                                   v-on:keyup="updateTitle()" size="51"
                                   maxlength="50" placeholder="Location" v-on:keyup="updateTitle()"/><br/>
                            <input type="text" size="8" maxlength="4" class="title-builder-input" id="start-year"
                                   v-model="startYear" v-on:keyup="updateDate()" placeholder="Start Year"/>
                            <input type="text" size="8" maxlength="7" class="title-builder-input" id="end-year"
                                   v-model="endYear" v-on:keyup="updateEndDate()" placeholder="End Year"/>
                            <input type="checkbox" id="end-date-ongoing" name="end-date-ongoing" v-model="yearOngoing"
                                   true-value="Ongoing" false-value="" @change="checkOngoing()">&nbsp;Ongoing
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span class="inline-error">{% templatetag openvariable %}
                                errmsg {% templatetag closevariable %}</span>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" v-on:click="saveTitle()" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <script type="application/javascript">
            // contents here are required by topics.js
            const topics_from_page = JSON.parse("{{ topics_json }}");
        </script>
        <script src="{% static 'js/dual-listbox.js' %}"></script>


        {% if not cm.raccess.published_or_review_pending %}
            <form action="/hsapi/_internal/{{ cm.short_id }}/title/{{ cm.metadata.title.id }}/update-metadata/"
                  id="id-title" method="post">
                {% csrf_token %}
                <fieldset>
                    <div id="div_id_value" class="control-group">
                        <div class="controls">
                            <input class="form-control input-sm textinput textInput" id="txt-title"
                                    {% if czo_user %} onfocus="titleClick()" {% endif %}
                                   maxlength="300" name="value" type="text" value="{{ cm.metadata.title }}"/>
                        </div>
                    </div>
                    <div>
                        <button type="button" id="title-save-button" class="btn btn-primary pull-right btn-form-submit"
                                style="display: none;">
                            Save changes
                        </button>
                    </div>
                </fieldset>
            </form>
        {% else %}
             <div class="flex">
                <h2 id="resource-title">{{ title }}</h2>
             </div>
        {% endif %}
    {% endif %}
</div>

{% if is_replaced_by %}
    <div class="col-xs-12">
        <div class="clear-fix">
            <i>A newer version of this resource {{ is_replaced_by|urlize }} is available that replaces this version.</i>
        </div>
    </div>
{% endif %}

{% if is_version_of %}
    {% if user.is_authenticated %}
        {# right side toolbar buttons will be displayed after the resource version text #}
        <div class="col-xs-12">
    {% else %}
        {# need to add space to the bottom as the right side toolbar buttons won't be displayed for unauthenticated user #}
        <div class="col-xs-12 has-space-bottom">
    {% endif %}
        <div class="clear-fix">
            <i>An older version of this resource {{ is_version_of|urlize }} is available.</i>
        </div>
    </div>
{% endif %}

{% if cm.resource_type == "ToolResource" and cm.metadata.approved %}
    <div class="col-xs-12">
        <div id="app-approved" class="flex" style="align-items: center">
            <img src="{% static 'img/approved_app.png' %}">
            <span>This App Connector has been approved by HydroShare admin.</span>
        </div>
    </div>
{% endif %}

{% block extra_js %}
    <link rel="stylesheet" href="{% static 'css/title-builder.css' %}">
    <link rel="stylesheet" href="{% static 'css/vue-mover.css' %}">

    <style>
        [v-cloak] {
            display: none
        }

        .title-builder-input {
            margin-top: 1em;
        }
        .path-align {
          word-wrap: break-word;
          white-space: normal !important;
        }
    </style>

    {#        vue-mover uses Sortable.min.js#}
    <script src="{% static 'js/non_preferred_paths_in_resource.js' %}"></script>
    <script src="{% static 'js/Sortable.min.js' %}"></script>
    <script src="{% static 'js/vue-mover.js' %}"></script>
{% endblock %}
