{% load mezzanine_tags rating_tags i18n future %}
<h3>{% trans "Ratings" %}</h3>
<span id="rating-{{ rating_object.id }}">
    {% if rating_sum %}
        {% if you_rated %}
            {% if rating_sum > 1 %}
                You and 1 others&nbsp;
            {% else %}
                You&nbsp;
            {% endif %}
        {% else %}
            {{ rating_sum }} others
        {% endif %}
    {% else %}
        Be the first one to&nbsp;
    {% endif %}

    {% if not rated or request.user.is_authenticated %}
        <form class="form-inline" role="form" method="post" action="/rating/">
        {% nevercache %}
            {% csrf_token %}
        {% endnevercache %}
        {{ rating_form.content_type }}
        {{ rating_form.object_pk }}
        {{ rating_form.timestamp }}
        {{ rating_form.security_hash }}
        <input value="1" name="value" type="hidden"/>
        <input type="submit" class="btn btn-default btn-sm" value={% if you_rated %} "Withdraw +1" {% else %} "+1" {% endif %}/>
        </form>
        &nbsp;this.
    {% endif %}
</span>