{% load mezzanine_tags rating_tags i18n %}

<th>+1 Votes:</th>
<td>
    <span id="rating-{{ rating_object.id }}">
    {% if rating_sum > 0 %}
        {% if you_rated %}
            {% if rating_sum == 1 %}
                <span>You +1 this</span>
            {% elif rating_sum == 2 %}
                <span>You and 1 other +1 this</span>
            {% else %}
                <span class="label label-success">You and {{ rating_sum|add:-1 }}  others +1 this.</span>
            {% endif %}
        {% else %}
            {% if rating_sum == 1 %}
                <span>1 other +1 this</span>
            {% else %}
                <span>{{ rating_sum }} others +1 this</span>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if rating_sum <= 0 %}
        Be the first one to&nbsp;
    {% endif %}
    {% if request.user.is_authenticated %}
        <form class="form-inline" role="form" method="post" action="/rating/" style="display:inline;">
            {% nevercache %}
                {% csrf_token %}
            {% endnevercache %}
            {{ rating_form.content_type }}
            {{ rating_form.object_pk }}
            {{ rating_form.timestamp }}
            {{ rating_form.security_hash }}
            <input value="1" name="value" type="hidden"/>
            <input type="submit" class="btn {% if you_rated %}btn-default{% else %}btn-success{% endif %} btn-xs"
                   value={% if you_rated %} "Withdraw +1" {% else %} "+1" {% endif %}/>
        </form>
        {% if rating_sum <= 0 %}
            &nbsp;this.
        {% endif %}
    {% elif rating_sum <= 0 %}
        +1 this.
    {% endif %}

    {% if not request.user.is_authenticated %}
        &nbsp;(<a href="{% url 'login' %}">You need to be logged in to rate this.</a>)
    {% endif %}
</span>
</td>

