{% extends 'pages/page.html' %}

{% load pages_tags mezzanine_tags comment_tags keyword_tags hydroshare_tags crispy_forms_tags staticfiles %}

{% block main %}
{% with page.get_content_model as cm %}

{% keywords_for page as kws %}
{% set_page_permissions page %}


<h2>General Resource Details</h2>

<div class="btn-toolbar" style="padding-bottom: 0.5em;">
    {% if page.perms.change %}
    <a class="btn btn-primary" id="share" href="#sharing">Share</a>
    {% endif %}

    {% if page.perms.delete %}
    <button class="btn btn-danger" id="delete"  data-toggle="modal" data-target="#delete-resource-dialog">Delete</button>
    {% endif %}
</div>

<div class="row">
    <div class="col-md-12">{# <img src="/placeholder.png"></div>#}

        <table class="table">
            <tr><th>Resource Type</th><td>{{ resource_type }}</td></tr>
            <tr><th>Owner</th><td>{{ cm.user|contact|safe }}</td></tr>
            <tr><th>Added on</th><td>{{ cm.created|date }}</td></tr>
            <tr><th>Last updated by</th><td>{% if cm.last_changed_by %}{{ cm.last_changed_by|contact|safe }}{% endif %}</td></tr>
            <tr><th>Updated on</th><td>{{ cm.updated|date }}</td></tr>
            <tr><th>Keywords</th><td>{{ kws|join:', ' }}</td></tr>
            <tr><th>Size</th><td>{{ cm.bags.first.bag.size|filesizeformat }}</td></tr>
            <tr><th>Permalink</th><td><a id="permalink" href="http://{{ request.get_host }}/r/{{ cm.short_id }}/">http://{{ request.get_host }}/r/{{ cm.short_id }}/</a></td></tr>
            {% if cm.doi %}
            <tr><th>DOI</th><td><a id="permalink" href="http://{{ request.get_host }}/r/doi/{{ cm.doi }}/">{{ cm.doi }}</a></td></tr>
            {% elif page.perms.change %}
            {% comment %}<tr><th>DOI</th><td><button class='btn btn-danger' data-toggle="modal" data-target="#submit-for-publication-dialog">Submit for publication</button></td></tr>{% endcomment %}
            {% endif %}

        </table>

    </div>
</div>

        <h2>Model Program Details</h2>
        <div class='row'>
         <div class="col-md-12">
             <table class="table">
                 {% for k,v in program_metadata.items %}
                    <tr>
                        <th width="22%">{{ k }}</th>

                        {% if 'Rights' in k %}

                            <td> <div style="width:100%;height:8%;overflow-y:auto;background-color: #f0f0f0"> {{ v }}</div></td>

                        {% else %}

                            <td>{{ v }}</td>

                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

       <table class="table table-striped">
        {% for f in cm.files.all %}
        <tr>
            {% for k,v in program_files.items %}
                {% if v == f.resource_file.url %}
                    <td>{{  k }}</td>
                    {{ break }}
                {% endif %}
            {%  endfor %}


            <td>{% if preview %}<a class="btn btn-info btn-block" href="{{ preview }}">Preview</a>{% endif %}</td>
            <td><a class="btn btn-primary btn-block" href="{{ f.resource_file.url }}">Download ({{ f.resource_file.size|filesizeformat }})</a></td>
            {% if page.perms.change %}
                <div class="modal fade" id="delete-resource-file" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="submit-for-publication-title">Confirm resource file deletion</h4>
                      </div>
                      <div class="modal-body">
                          <strong>THIS IS A PERMANENT ACTION.</strong> This will delete the resource file. A copy of your
                            resource file will not be retained by Hydroshare.  We recommend highly that you download the latest copy
                            of your resource file before confirming this action.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <a type="button" class="btn btn-danger" href="/hsapi/_internal/{{ cm.short_id }}/delete-resource-file/{{ f.pk }}/">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
                <td><a class="btn btn-danger btn-block" data-toggle="modal" data-target="#delete-resource-file">Delete</a></td>
            {% endif %}
        </tr>
        {% endfor %}

        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <div class="btn-group">
                      <a type="button" class="btn btn-primary" href="{{ bag.bag.url }}">Export all</a>
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                          {% for b in cm.bags.all %}
                            <li><a href="{{ b.bag.url }}" style="color:black;">{{ b.timestamp|date }}, {{ b.timestamp|time }} ({{ b.bag.size|filesizeformat }})</a></li>
                          {% endfor %}
                      </ul>
                    </div>
                </td>
                {% if page.perms.change %}
                <td><button class="btn btn-success btn-block"  data-toggle="modal" data-target="#add-file-dialog" multiple="multiple">Add file</button></td>
                {% endif %}
            </tr>
        </tfoot>
    </table>



{#<h4>Download files</h4>#}
{#<div class='row'>#}
{#{% if page.genericresource.resource_file %}#}
{#    <a class='btn btn-lg btn-primary' href='{{page.genericresource.resource_file.url}}'>{{ page.genericresource.resource_file.name }}</a>#}
{#{% elif page.genericresource.resource_url %}#}
{#    <a class='btn btn-lg btn-primary' href='{{page.genericresource.resource_url}}'>Resource URL links to off-site</a>#}
{#{% endif %}#}
{#</div>#}
{##}
{#<hr/>#}
{#<div class='row'>#}
{#    <ul class='list-group'>#}
{#        {% editable page.genericresource.discoverable %}#}
{#        <li class='list-group-item'><b>Creator:</b> {{ page.genericresource.creator }}</li>#}
{#        {% endeditable %}#}
{#        <li class='list-group-item'><b>Created on</b> {{ page.created|date:"SHORT_DATETIME_FORMAT" }}</li>#}
{#        <li class='list-group-item'><b>Last modified by:</b> {{ page.genericresource.last_changed_by.username }}</li>#}
{#        <li class='list-group-item'><b>Modified on</b> {{ page.updated|date:"SHORT_DATETIME_FORMAT" }}</li>#}
{#        {% editable page.genericresource.public %}#}
{#        <li class='list-group-item'><b>Publicly viewable:</b> {{ page.genericresource.public|yesno }}</li>#}
{#        {% endeditable %}#}
{#        {% editable page.genericresource.frozen %}#}
{#        <li class='list-group-item'><b>Published:</b> {{ page.genericresource.published_and_frozen|yesno }}</li>#}
{#        {% endeditable %}#}
{#        {% editable page.genericresource.do_not_distribute %}#}
{#        <li class='list-group-item'><b>Do Not Distribute:</b> {{ page.genericresource.do_not_distribute|yesno }}</li>#}
{#        {% endeditable %}#}
{#        {% editable page.genericresource.discoverable %}#}
{#        <li class='list-group-item'><b>Discoverable:</b> {{ page.genericresource.discoverable|yesno }}</li>#}
{#        {% endeditable %}#}
{#    </ul>#}
{#    <h5>Owners</h5>#}
{#    <div class='list-group'>#}
{#        {% editable page.genericresource.owners %}#}
{#        {% for owner in page.genericresource.owners.all %}#}
{#        <a class='list-group-item' href='mailto:{{ page.genericresource.owner.email }}'>#}
{#             {% if owner.first_name %}#}
{#                {{ owner.first_name }} {{ page.genericresource.owner.last_name }}#}
{#             {% else %}#}
{#                {{ owner.username }}#}
{#             {% endif %}#}
{#	</a>#}
{#        {% endfor %}#}
{#        {% endeditable %}#}
{#    </div>#}
{#</div>#}
{##}
{#<h4>Dublin Core Metadata</h4>#}
{#<table class="table table-striped">#}
{#{% for m in page.genericresource.dublin_metadata.all %}#}
{#<tr>#}
{#<td>{{m.term_name}}</td>#}
{#<td>{{m.qualifier}}</td>#}
{#<td>{{m.content}}</td>#}
{#</tr>#}
{#{% endfor %}#}
{#</table>#}
{##}
{#<h4>Keywords</h4>#}
{##}
{#<ul class='list-group'>#}
{#    {% editable page.keywords %}#}
{#    {% for keyword in page.keywords.all %}#}
{#    <li class='list-group-item'>{{ keyword }}</li>#}
{#    {% endfor %}#}
{#    {% endeditable %}#}
{#</ul>#}
{##}
{#    {% include 'pages/includes/page_permissions_editor.html' %}#}
{##}

{% endwith %}
{% endblock %}