{# This template is used as the landing page for Model Program resource #}

{% extends "pages/genericresource.html" %}
{% load geoanalytics_tags pages_tags mezzanine_tags crispy_forms_tags %}
{% load staticfiles  %}

{% block extended_metadata %}
    {% if extended_metadata_exists %}
        <div class="row">
            <div class="col-md-12">
                {# Add the view mode html code below #}
                <div>
                    {% if mpmetadata %}
                        <hr>

{#                        <b>HERE</b>#}
{##}
{#                        {% for f in mpmetadata %}#}
{#                            {{f.label}}{{f}}{{f.help_text|safe}}#}
{#                        {%endfor%}#}



{#                        get_form_attributes();#}

{#                        <div id="program_id" hidden="true">{{ mpmetadata.id }}</div>#}

{#                        <b>{{ mphelptext.modelCodeRepository}} </b>#}
{#                        {{ mphelptext.modelSoftware }}#}

                        {########################}
                        {#     UPLOADED DATA    #}
                        {########################}
                        <div class="row" id="mp">
                            <div class="col-sm-4">
                                <a class="mpElement" href="#" data-content="{{ mphelptext.modelSoftware}}" data-toggle="popover" data-trigger="hover"> Software </a>
                            </div>

                            <div class="col-sm-8">
                                <table>
                                    {% for path in mpmetadata.get_software_list %}
                                        <tr>
                                            <td>
                                                <a id="permalink"
                                                   href="http://{{ request.get_host }}/resource/{{ path }}"
                                                   target="_blank">{{ path }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>


                        <div class="row" id="mp">
                            <div class="col-sm-4">
                                <a class="mpElement" href="#" data-content="{{ mphelptext.modelDocumentation }}"
                                   data-toggle="popover" data-trigger="hover">Documentation:</a>
                            </div>
                            <div class="col-sm-8">
                            <table>
                                    {% for path in mpmetadata.get_documentation_list %}
                                        <tr>
                                            <td>
                                                <a id="permalink"
                                                   href="http://{{ request.get_host }}/resource/{{ path }}"
                                                   target="_blank">{{ path }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                            </table>
                            </div>
                            {#                            <div class="col-sm-8">{{ mpmetadata.modelDocumentation }}</div>#}
                        </div>



                        <div class="row" id="mp">
                            <div class="col-sm-4">
                                <a class="mpElement" href="#" data-content="{{ mphelptext.modelReleaseNotes}}" data-toggle="popover" data-trigger="hover">Release Notes:</a>
                            </div>
                            <div class="col-sm-8">
                                <table>
                                    {% for path in mpmetadata.get_releasenotes_list %}
                                        <tr>
                                            <td>
                                                <a id="permalink"
                                                   href="http://{{ request.get_host }}/resource/{{ path }}"
                                                   target="_blank">{{ path }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>

                        <hr>

                        {########################}
                        {#   MODEL  METADATA  #}
                        {########################}
                        <div class="row" id="mp">
                            <div class="col-sm-4">
                                <a class="mpElement" href="#" data-content="{{ mphelptext.modelReleaseDate}}" data-toggle="popover" data-trigger="hover">Date Released:</a>
                            </div>

                            <div class="col-sm-8">{{ mpmetadata.modelReleaseDate |date:"SHORT_DATE_FORMAT" }}</div>
                        </div>

                        <div class="row" id="mp">
                            <div class="col-sm-4">
                                <a class="mpElement" href="#" data-content="{{ mphelptext.modelWebsite}}" data-toggle="popover" data-trigger="hover">Website:</a>
                            </div>
                            <div class="col-sm-8"><a href="{{ mpmetadata.modelWebsite }}" target="_blank">{{ mpmetadata.modelWebsite }}</a></div>
                        </div>

                        <hr>

                        {########################}
                        {#  SOFTWARE  METADATA  #}
                        {########################}

                        <div class="row" id="mp">
                            <div class="col-sm-4">
                                <a class="mpElement" href="#" data-content="{{ mphelptext.modelVersion}}" data-toggle="popover" data-trigger="hover">Software Version:</a>
                            </div>
                            <div class="col-sm-8">{{ mpmetadata.modelVersion }}</div>
                        </div>

                        <div class="row" id="mp">
                            <div class="col-sm-4">
                                <a class="mpElement" href="#" data-content="{{ mphelptext.modelProgramLanguage}}" data-toggle="popover" data-trigger="hover">Software Language:</a>
                            </div>
                            <div class="col-sm-8">{{ mpmetadata.modelProgramLanguage }}</div>
                        </div>
                        <div class="row" id="mp">
                            <div class="col-sm-4">
                                <a class="mpElement" href="#" data-content="{{ mphelptext.modelCodeRepository}}" data-toggle="popover" data-trigger="hover">Software Repository:</a>
                            </div>
                            <div class="col-sm-8"><a target="_blank" href="{{ mpmetadata.modelCodeRepository }}">{{ mpmetadata.modelCodeRepository }}</a></div>
                        </div>
                        <div class="row" id="mp">
                            <div class="col-sm-4">
                                <a class="mpElement" href="#" data-content="{{ mphelptext.modelOperatingSystem}}" data-toggle="popover" data-trigger="hover">Supported Operating Systems:</a>
                            </div>
                            <div class="col-sm-8">{{ mpmetadata.modelOperatingSystem }}</div>
                        </div>

                        <hr>
                    {% endif %}
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-multiselect.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/model_program.css" %}" />
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static "js/bootstrap-multiselect.js"%}"></script>
    <script src="{% static "js/model_program.js"%}"></script>
{% endblock %}





