{# This template is used as the landing page for Model Program resource #}

{% extends "pages/genericresource.html" %}
{% load geoanalytics_tags pages_tags mezzanine_tags crispy_forms_tags %}
{% load staticfiles  %}

{% block extended_metadata %}
    {% if extended_metadata_exists %}
        <div class="row">
            <div class="col-md-12">
                {# Add the view mode html code below #}
                {% if mpmetadata %}
                    {########################}
                    {#       DATA FILES     #}
                    {########################}
                    <legend>Data files</legend>
                    <table class="custom-table">
                        <tbody>
                            {% for name, path in mpmetadata.get_engine_list.items %}
                                <tr>
                                    {% if forloop.counter0 > 0 %}
                                        <th></th>
                                    {% else %}
                                        <th class="text-muted">Computational Engine</th>
                                    {% endif %}
                                    <td><a id="permalink"
                                           href="http://{{ request.get_host }}/resource/{{ path }}"
                                           target="_blank">{{ name }}</a></td>
                                </tr>
                            {% endfor %}

                            {% for name, path in mpmetadata.get_software_list.items %}
                                <tr>
                                    {% if forloop.counter0 > 0 %}
                                        <th></th>
                                    {% else %}
                                        <th class="text-muted">Software</th>
                                    {% endif %}
                                    <td><a id="permalink"
                                           href="http://{{ request.get_host }}/resource/{{ path }}"
                                           target="_blank">{{ name }}</a></td>
                                </tr>
                            {% endfor %}

                            {% for name, path in mpmetadata.get_documentation_list.items %}
                                <tr>
                                    {% if forloop.counter0 > 0 %}
                                        <th></th>
                                    {% else %}
                                        <th class="text-muted">Documentation</th>
                                    {% endif %}
                                    <td><a id="permalink"
                                           href="http://{{ request.get_host }}/resource/{{ path }}"
                                           target="_blank">{{ name }}</a></td>
                                </tr>
                            {% endfor %}


                            {% for name, path in mpmetadata.get_releasenotes_list.items %}
                                <tr>
                                    {% if forloop.counter0 > 0 %}
                                        <th></th>
                                    {% else %}
                                        <th class="text-muted">Release Notes</th>
                                    {% endif %}
                                    <td>
                                        <a id="permalink"
                                           href="http://{{ request.get_host }}/resource/{{ path }}"
                                           target="_blank">{{ name }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <hr style="border:0">

                    {########################}
                    {#   MODEL  METADATA  #}
                    {########################}
                    <legend>General</legend>
                    <table class="custom-table">
                        <tbody>
                            <tr>
                                <th class="text-muted">Release Date </th>
                                <td>{{ mpmetadata.modelReleaseDate |date:"SHORT_DATE_FORMAT" }}</td>
                            </tr>
                            <tr>
                                <th class="text-muted">Website </th>
                                <td><a href="{{ mpmetadata.modelWebsite }}" target="_blank">{{ mpmetadata.modelWebsite }}</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <hr style="border:0"/>

                    {########################}
                    {#  SOFTWARE  METADATA  #}
                    {########################}
                    <legend>Software</legend>
                    <table class="custom-table">
                        <tbody>
                            <tr><th class="text-muted">Version </th><td>{{ mpmetadata.modelVersion }}</td></tr>
                            <tr><th class="text-muted">Language </th><td>{{ mpmetadata.modelProgramLanguage }}</td></tr>
                            <tr><th class="text-muted">Software Repository </th><td><a target="_blank" href="{{ mpmetadata.modelCodeRepository }}">{{ mpmetadata.modelCodeRepository }}</a></td></tr>
                            <tr><th class="text-muted">Operating System </th><td>{{ mpmetadata.modelOperatingSystem }}</td></tr>
                        </tbody>
                    </table>
                    <hr style="border:0"/>

                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-multiselect.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/model_program.css" %}" />
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static "js/bootstrap-multiselect.js"%}"></script>
    <script src="{% static "js/model_program.js"%}"></script>
{% endblock %}





