{# This template is used as the landing page for Model Program resource #}

{% extends "pages/genericresource.html" %}
{% load geoanalytics_tags pages_tags mezzanine_tags crispy_forms_tags %}
{% load staticfiles  %}

{% block extended_metadata %}
    {% if extended_metadata_exists %}
        <div class="row">
            <div class="col-md-12">
                {# Add the view mode html code below #}
                <div>
                    {% if mpmetadata %}
                        <hr>


                        {########################}
                        {#       DATA FILES     #}
                        {########################}
                        <div class="row" id="mp">
                            <div class="col-sm-4">
                                <p class="mpElement"> Computational Engine </p>
                            </div>

                            <div class="col-sm-8">
                                <table>
                                    {% for name, path in mpmetadata.get_engine_list.items %}
                                        <tr>
                                            <td>
                                                <a id="permalink"
                                                   href="http://{{ request.get_host }}/resource/{{ path }}"
                                                   target="_blank">{{ name }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>

                        <div class="row" id="mp">
                            <div class="col-sm-4">
                                <p class="mpElement"> Software </p>
                            </div>

                            <div class="col-sm-8">
                                <table>
                                    {% for name, path in mpmetadata.get_software_list.items %}
                                        <tr>
                                            <td>
                                                <a id="permalink"
                                                   href="http://{{ request.get_host }}/resource/{{ path }}"
                                                   target="_blank">{{ name }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>


                        <div class="row" id="mp">
                            <div class="col-sm-4">
                                <p class="mpElement">Documentation:</p>
                            </div>
                            <div class="col-sm-8">
                            <table>
                                    {% for name, path in mpmetadata.get_documentation_list.items %}
                                        <tr>
                                            <td>
                                                <a id="permalink"
                                                   href="http://{{ request.get_host }}/resource/{{ path }}"
                                                   target="_blank">{{ name }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                            </table>
                            </div>
                        </div>


                        <div class="row" id="mp">
                            <div class="col-sm-4">
                                <p class="mpElement">Release Notes:</p>
                            </div>
                            <div class="col-sm-8">
                                <table>
                                    {% for name, path in mpmetadata.get_releasenotes_list.items %}
                                        <tr>
                                            <td>
                                                <a id="permalink"
                                                   href="http://{{ request.get_host }}/resource/{{ path }}"
                                                   target="_blank">{{ name }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>

                        <hr>



                        {########################}
                        {#   MODEL  METADATA  #}
                        {########################}
                        <div class="row" id="mp">
                            <div class="col-sm-4">
                                <p class="mpElement">Release Date:</p>
                            </div>
                                <div class="col-sm-8">{{ mpmetadata.modelReleaseDate |date:"SHORT_DATE_FORMAT" }}</div>
                        </div>



                        <div class="row" id="mp">
                            <div class="col-sm-4">
                                <p class="mpElement">Website:</p>
                            </div>
                            <div class="col-sm-8"><a href="{{ mpmetadata.modelWebsite }}" target="_blank">{{ mpmetadata.modelWebsite }}</a></div>
                        </div>
                        <hr>

                        {########################}
                        {#  SOFTWARE  METADATA  #}
                        {########################}

                        <div class="row" id="mp">
                            <div class="col-sm-4">
                                <p class="mpElement">Version:</p>
                            </div>
                            <div class="col-sm-8">{{ mpmetadata.modelVersion }}</div>
                        </div>



                        <div class="row" id="mp">
                            <div class="col-sm-4">
                                <p class="mpElement">Language:</p>
                            </div>
                            <div class="col-sm-8">{{ mpmetadata.modelProgramLanguage }}</div>
                        </div>



                        <div class="row" id="mp">
                            <div class="col-sm-4">
                                <p class="mpElement" >Software Repository:</p>
                            </div>
                            <div class="col-sm-8"><a target="_blank" href="{{ mpmetadata.modelCodeRepository }}">{{ mpmetadata.modelCodeRepository }}</a></div>
                        </div>



                        <div class="row" id="mp">
                            <div class="col-sm-4">
                                <p class="mpElement">Operating System:</p>
                            </div>
                            <div class="col-sm-8">{{ mpmetadata.modelOperatingSystem }}</div>
                        </div>

                        <hr>

                    {% endif %}
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-multiselect.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/model_program.css" %}" />
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static "js/bootstrap-multiselect.js"%}"></script>
    <script src="{% static "js/model_program.js"%}"></script>
{% endblock %}





