Django==1.7.1
Fabric==1.8.0
Fiona==1.0.2
Jinja2==2.7.1
Mezzanine==3.1.10
Pygments==1.6
Shapely==1.2.18
South==0.8.4
amqp==1.4.0
amqplib==1.0.2
arrow==0.4.2
bagit==1.3.6
bleach==1.4
celery==3.1.13
certifi==0.0.8
chardet==2.0.1
django-appconf==0.6
django-celery==3.1.1
django-crispy-forms==1.4.0
django-debug-toolbar
django-extensions
django-haystack==2.0.0
django-nose
django-picklefield
django-tastypie
django-tastypie-swagger==0.1.2
django-timedeltafield==0.7.0
docutils==0.11
ecdsa==0.10
filebrowser-safe==0.3.1
future
geojson
html5lib==1.0b3
ipython
kombu
lxml
matplotlib
mimeparse
nose
numexpr
oauthlib==0.6.0
paramiko==1.12.0
protobuf==2.5.0
psycopg2
pyasn1==0.1.7
pycrypto==2.6.1
pyparsing==2.0.1
pyproj==1.9.3
pysqlite==2.6.3
python-dateutil==2.2
python-safe==1.1.2
pytz==2013.9
pyzmq==14.1.1
readline
redis
requests
requests-oauthlib
rsa==3.1.2
sh==1.09
simplejson==3.3.1
six
sqlparse==0.1.10
ssh==1.8.0
ssh-import-id==3.14
tables==3.0.0
tornado==3.1.1
uWSGI==1.9.20
urllib3==1.5
wsgiref
google.foresite-toolkit
pandas
