{% extends "pages/genericresource.html" %}
{% load geoanalytics_tags pages_tags mezzanine_tags crispy_forms_tags%}

{% block extra_content %}
    <h4> Input RHESSys instance resource parameters</h4>

    <form method="post" action="." style="padding-top:0.3em;padding-bottom: 0.5em;">
        {% csrf_token %}
        {{ form|crispy }}

        <input type="submit" class="btn btn-primary" style="margin-top: 0.5em;" value="Save model"/>
	<a class="btn btn-primary" style="margin-top: 0.5em;" id="back" href="http://{{ request.get_host }}/hs_rhessys_inst_resource/{{ cm.short_id }}/runmodel/">Run model</a>
    </form>
{% endblock %}
