{% extends "base.html" %}

{% block main %}

      <h2>List of Organizations</h2>
       {% if request.user.is_authenticated %}
 <a href="{%   url 'organization_add' %}">
                      Add New Organization </a>
    {%  endif %}
    <div class="row">
        <table class="table table-responsive">

<tbody>
<tr><th>Name</th><th>organizationType</th><th>parentOrganization</th><!--<th>specialities</th><th>Username</th>--></tr>
        {% for organization in object_list %}

            <tr>
                <td><!-- <a href="{%   url 'organization_edit' organization.pk %}">edit</a> -->
                 <a href="{%   url 'organization_detail' organization.pk %}">
                     {{ organization.name }} </a>

            </td>
            <td>{{ organization.organizationType }}</td>

            <td> {{ organization.parentOrganization.name }}</td>
           <!--
                       <td>{#  {%keywords_for organization.specialities %} #}</td><td>
           Future User Exists
           </td> -->
            </tr>

        {% endfor %}
        </tbody>
         </table>
{% endblock %}