{% extends "pages/page.html" %}

{% load mezzanine_tags pages_tags hydroshare_tags staticfiles%}

{% block title %}

    Create a Referenced HIS Time Series

{% endblock %}

{% block main %}

    <h2>Create a Referenced HIS Time Series</h2>

<form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data" action="/hsapi/_internal/create-ref-time-series/">
    {% csrf_token %}

    <p>Use this form to create metadata for your Resource. Be as descriptive as you can since all of this information
        will show up when your Resource is displayed. You can edit this information later.
    </p>

    <h3>Select the type of Reference:</h3>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
        <select class="form-control" name="reference_type" id="reference_type">
            <option selected="selected" value="rest">CUAHSI HIS REST Service</option>
            <option value="soap">CUAHSI HIS SOAP Service</option>
        </select>
    </div>
  </div>

     <h3>Link to your Time Series:</h3>
  <div class="form-group cuahsi-his cuahsi-his-1">
    <label for="" class="col-sm-2 control-label">HIS URL</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="wsdl_url" id="wsdl_url" placeholder="www.example.org.asmx?WSDL">
      <button class="btn btn-block btn-primary" type="button" id="search-sites-button" data-loading-text="Retrieving Sites...">List Sites</button>
    </div>
  </div>

  <div class="form-group rest-url">
    <label for="" class="col-sm-2 control-label">Rest Url</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="rest_url" id="verify-input" placeholder="http://example.gov/?format=waterml,1.1&sites=01646500">
      <button class="btn btn-primary" type="button" id="verify-rest-button" data-loading-text="Verifying URL...">Verify</button>
      <button class="btn disabled" type="button" id="preview-button-rest">Preview Data</button>
    </div>
  </div>

  <div class="form-group cuahsi-his cuahsi-his-2">
    <label for="" class="col-sm-2 control-label">Site from Server</label>
    <div class="col-sm-10">
        <select class="form-control" name="site" id=""></select>
        <button class="btn btn-block btn-primary" type="button" id="search-vars-button" data-loading-text="Retrieving Variables...">Update Variables</button>
    </div>
  </div>

  <div class="form-group cuahsi-his cuahsi-his-3">
    <label for="" class="col-sm-2 control-label">Variable</label>
    <div class="col-sm-10">
        <select class="form-control" name="variable" id="variable"></select>
        <button class="btn btn-block disabled" type="button" id="preview-button-soap">Preview Data</button>
    </div>
  </div>

  <div class ="form-group" id ="preview-div">
      <div class="col-sm-offset-2 col-sm-10" id="preview"></div>
  </div>

  <div class="form-group" id="fail-notice">
      <div class="col-sm-offset-2 col-sm-10">
          <h3>Invalid Data! </h3>
          <h5>This data failed to validate, which probably means that the WaterML document is not correctly formatted. This time series cannot be used to create a resource </h5>
      </div>
  </div>

 <h3>Add your metadata here:</h3>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Title*</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="title" id="" placeholder="Title">
    </div>
  </div>

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Creators*</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="creators" id="" placeholder="Creators" value="{{ user|best_name }}">
    </div>
  </div>

   <div class="form-group">
    <label for="" class="col-sm-2 control-label">Contributors*</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="contributors" id="" placeholder="Contributors" value="{{ user|best_name }}">
    </div>
   </div>

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Abstract</label>
    <div class="col-sm-10">
        <textarea class="form-control" name="abstract" id="" cols="30" rows="10" placeholder="Abstract"></textarea>
    </div>
  </div>

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Subject Keywords</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="" name='keywords' placeholder="Keywords">
    </div>
  </div>

<input type="hidden" class="form-control" name="start_date" id="start_date">

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Create Resource</button>
    </div>
  </div>

</form>

{% endblock %}

{% block extra_js %}
    <link rel="stylesheet" href="../../static/ref_ts/rickshaw/rickshaw.min.css">
    <script src=" {% static "ref_ts/rickshaw/vendor/d3.min.js" %}"></script>
    <script src=" {% static "ref_ts/rickshaw/vendor/d3.layout.min.js" %}"></script>
    <script src=" {% static "ref_ts/rickshaw/rickshaw.min.js" %}"></script>
    <script type="text/javascript">
    $(function() {
        $( "#reference_type" )
            .change(function () {
                if ($("[name='reference_type'] option:selected").text() == "CUAHSI HIS SOAP Service") {
                    $('.cuahsi-his-1').show();
                    $('#preview-div').html( '<div class="col-sm-offset-2" id="preview"></div>');
                    $('.rest-url').hide();
                }
                else if ($("[name='reference_type'] option:selected").text() == "CUAHSI HIS REST Service"){
                    $('.cuahsi-his').hide();
                    $('#preview-div').html( '<div class="col-sm-offset-2" id="preview"></div>');
                    $('.rest-url').show();
                }
                $('#preview-div').hide();
            });
        function graphVals(graph_data, units){
            $('#preview-div').html( '<div class="col-sm-offset-2" id="preview"></div>');
            $('#preview-div').show();
            var graph = new Rickshaw.Graph( {
                element: document.querySelector("#preview"),
                height: 250,
                renderer: 'line',
                series: [{
                    color: 'steelblue',
                    data: graph_data,
                    name: units,
                    padding: {top: 0.02, left: 0.02, right: 0.02, bottom: 0.02}
                }]
            });

            var x_axis = new Rickshaw.Graph.Axis.Time( { graph: graph } );
            var y_axis = new Rickshaw.Graph.Axis.Y( { graph: graph } );
            graph.render();
           // var hoverDetail = new Rickshaw.Graph.HoverDetail( {graph: graph} );

        }
        $(document).ready(function(){
            $('.cuahsi-his').hide();
            $('#preview-div').hide();
            $('#fail-notice').hide();
        });

        function removeOptions(selectbox){
            var i;
            for(i=selectbox.options.length-1;i>=0;i--)
            {
                selectbox.remove(i);
            }
        }

        function compare(a,b) {
            if (a.x < b.x)
                return -1;
            if (a.x > b.x)
                return 1;
            return 0;
        }

        var dat, {# data from getVals for graphVals #}
            u;  {# units from getVals for graphVals #}

        function getVals(ref_type) {
            if (ref_type == 'rest') {
                var service_url = document.getElementsByName('rest_url')[0].value,
                    site,
                    variable;
            }
            else {
                service_url = document.getElementsByName('wsdl_url')[0].value;
                var full_site = document.getElementsByName('site')[0].value;
                var n = full_site.indexOf(':');
                site = full_site.substr(n+2);
                var full_variable = document.getElementsByName('variable')[0].value;
                n = full_variable.indexOf(':');
                variable = full_variable.substr(n+2);
            }
            $.ajax({
                type:"GET",
                url:'/hsapi/_internal/time-series-from-service/',
                data: {ref_type: ref_type,
                    service_url: service_url,
                    site: site,
                    variable: variable},
                success: function(data, xhr, status){
                    var units = data['units'],
                            d = data['for_graph'];
                    document.getElementById('start_date').value = data['start_date'];
                    if (units==undefined){units='Data'}
                    d.sort(compare);
                    dat = d;
                    u = units;
                },
                error: function(data, stuff){
                    $('#fail-notice').show();
                    console.log(data);
                    console.log(stuff);
                }
            });
        }

        $("#search-sites-button").click(function() {
            var btn = $(this);
            btn.button('loading');
            $.ajax({
                type:"GET",
                url:'/hsapi/_internal/search-sites/',
                data: {wsdl_url: document.getElementsByName('wsdl_url')[0].value},
                success: function(data, xhr, status){
                    var select = document.getElementsByName('site')[0];
                    removeOptions(select);
                    for(var index in data) {
                        var ln = ( index + " : " + data[index]);
                        var opt = document.createElement('option');
                        opt.value = ln;
                        opt.innerHTML = ln;
                        select.appendChild(opt);
                    $('.cuahsi-his-2').show();
                    $('.cuahsi-his-3').show();
                    }
                },
                error: function(data, stuff){
                    console.log(data);
                    console.log(stuff);
                    btn.button('reset');
                    btn.html('This is NOT a valid HIS SOAP Url!');
                    btn.addClass('btn-danger');
                }
            }).always(function () {btn.button('reset')});
        });

        $("#search-vars-button").click(function(){
            var btn = $(this),
                full_site = document.getElementsByName('site')[0].value,
                    n = full_site.indexOf(':'),
                    site = full_site.substr(n+2);
            btn.button('loading');
            $.ajax({
                type:"GET",
                url:'/hsapi/_internal/search-variables/',
                data: {wsdl_url: document.getElementsByName('wsdl_url')[0].value,
                    site: site},
                success: function(data, xhr, status){
                    var select = document.getElementsByName('variable')[0];
                    removeOptions(select);
                    for(var index in data) {
                        var ln = ( index + " : " + data[index]);
                        var opt = document.createElement('option');
                        opt.value = ln;
                        opt.innerHTML = ln;
                        select.appendChild(opt);

                    }
                    var b = $('#preview-button-soap');
                    b.removeClass('disabled');
                    b.addClass('btn-primary');
                },
                error: function(data, stuff) {
                    btn.button('reset');
                    console.log(data);
                    console.log(stuff);
                }
            }).always(function () {btn.button('reset')});
        });

        $("#verify-rest-button").click(function(){
            var btn = $(this);
            btn.button('loading');
            $.ajax({
                type:"GET",
                url:'/hsapi/_internal/verify-rest-url/',
                data: {rest_url: document.getElementsByName('rest_url')[0].value},
                success: function(data, xhr, status){
                    var b = $('#verify-rest-button');
                    if (data == 200 ){
                        b.html('This is a valid HIS REST Url!');
                        b.addClass('btn-success');
                        var b2 = $('#preview-button-rest');
                        b2.addClass('btn-primary');
                        b2.removeClass('disabled');
                    }
                    else if (data == 400 || data == 404){
                        b.html('This is NOT a valid HIS REST Url!');
                        b.addClass('btn-danger');
                    }
                    getVals('rest');

                },
                error: console.log

            }).always(function () {btn.button('active')});
        });
        $('#verify-input').on('input', function(){
            var b = $('#verify-rest-button'),
            b2 = $('#preview-button-rest');
            b.html('Verify');
            b.removeClass('btn-danger');
            b.removeClass('btn-success');
            b2.removeClass('btn-primary');
            b2.addClass('disabled');
            $('#fail-notice').hide();
        });

        $('#wsdl_url').on('input', function(){
            $('#preview-div').html( '<div class="col-sm-offset-2" id="preview"></div>');
            var b = $('#preview-button-soap');
            b.addClass('disabled');
            b.removeClass('btn-primary');
            $('#fail-notice').hide();
            $("#search-sites-button").html('List Sites');
            $("#search-sites-button").removeClass('btn-danger');
            $('.cuahsi-his-2').hide();
            $('.cuahsi-his-3').hide();
        });

        $('#variable').change(function(){
            $('#fail-notice').hide();
            getVals('soap');
        });

        $('#site').change(function(){
            $('#fail-notice').hide();
        });

        $('#preview-button-soap').click(function(){
            getVals('soap');
            $(document).ajaxComplete(function(){graphVals(dat, u)});
        });
        $('#preview-button-rest').click(function(){
            graphVals(dat, u);
        });
    });
    </script>
{% endblock %}

