{% extends 'pages/page.html' %}

{% load geoanalytics_tags pages_tags mezzanine_tags keyword_tags comment_tags %}

{% block title %}{{ block.super }}
        <small class="text-right">Last modified on {{ page.updated|date:"F j, y" }} by {{ res.creator }} </small>
{% endblock %}

{% block main %}
    <div class="modal fade" id="publication-warning" role="dialog" aria-labelledby="publicationwarning" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Submit this item for permanent publication?</h4>
                </div>
                <div class="modal-body">
                    <p><em class="text-danger">You cannot undo this action!</em> Clicking "publish" will submit your
                    resource for review for publication.  If your resource is chosen for publication it will not be
                    modifiable by you or anyone else after it as assigned a DOI identifier.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger">Submit for publication</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sharing-details" role="dialog" aria-labelledby="publicationwarning" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type='button' class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Sharing options</h4>
                </div>
                <div class="modal-body">
                        <h4>Editors</h4>
                        <div class="list-group" style="max-height:150px; overflow-y:auto">
                            {% for u in res.owners.all %}
                                <div class="list-group-item"><button class="btn btn-link btn-xs">&times;</button>{{ u.username }}</div>
                            {% endfor %}
                            {% for u in edit_users %}
                                <div class="list-group-item"><button class="btn btn-link btn-xs">&times;</button>{{ u.username }}</div>
                            {% endfor %}


                            <div class="list-group-item bg-primary">
                                <input class="form-control" type="text" name="edit-user-username"
                                       id="owner-username" placeholder="Add editor by username"/>
                            </div>
                        </div>

                        <h4>Viewers</h4>
                        <div class="list-group" style="max-height:150px; overflow-y:auto">
                            {% if res.public %}
                                <div class="list-group-item"><em>Resource is publicly viewable</em></div>
                            {% else %}
                                {% for u in res.owners.all %}
                                    <div class="list-group-item"><button class="btn btn-link btn-xs">&times;</button>{{ u.username }}</div>
                                {% endfor %}
                                {% for u in view_users %}
                                    <div class="list-group-item"><button class="btn btn-link btn-xs">&times;</button>{{ u.username }}</div>
                                {% endfor %}
                                <div class="list-group-item bg-primary">
                                <input class="form-control" type="text" name="view-user-username"
                                       id="owner-username" placeholder="Add viewer by username"/>
                                </div>
                            {% endif %}

                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger">Submit for publication</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <a class="btn btn-default btn-block" href="{{ res.bags.all.first.bag.url }}">Download resource package</a>
        </div>
        <div class="col-md-6 col-xs-12 text-right">
                Permalink: <a class='btn btn-link' href="http://{{ request.get_host }}/r/{{ res.short_id }}/">
                Right-click to copy
            </a>
        </div>
    </div>

    {% block resource %}
    {% endblock %}

    <div class="row">
        <div class="col-md-12" style="padding-top: 1em;">
            {{ res.content|richtext_filters|safe }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
    <h3>Resource Details</h3>
    {% block resource_details %}
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#main-data">Data</a></li>
            <li><a data-toggle="tab" href="#generic-metadata">Generic metadata</a></li>
            <li><a data-toggle="tab" href="#type-metadata">Type specific metadata</a></li>
            <li><a data-toggle="tab" href="#settings">Permissions & Publishing</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="main-data">
                <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Resource files</div>

                    <div class="list-group">
                    {% for f in res.files.all %}
                        <div class="list-group-item"><a href="{{ f.resource_file.url }}">{{ f.resource_file.name|slice:"33:"|truncatechars:64 }}</a><a
                                class="btn btn-sm btn-link pull-right" href="#"><i class="fa fa-trash-o"></i></a></div>
                    {% empty %}
                        <div class="list-group-item"><em>No files</em></div>
                    {% endfor %}
                        <div class="list-group-item">
                            <div class="row">
                            <form class="form-inline" role="form" method="POST" enctype="multipart/form-data" action="/hsapi/_internal/add_file_to_resource/{{ res.short_id }}/">
                                {% csrf_token %}
                                <div class="form-group col-sm-8">
                                <input class='form-control' type="file" name="file" id="file-to-add"/>
                                </div>
                                <div class="form-group col-sm-4">
                                <input type="submit" class="btn btn-primary btn-block" value="Add file">
                                </div>
                            </form>
                                </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Type-specific data</div>
                        <div class="panel-body">
                            {% block main_data %}
                                <p>No main data tab defined.  Extend <code>main_data</code> in your generic resource</p>
                            {% endblock %}</div>
                        </div>
                    </div>
                </div>
            <div class="tab-pane" id="generic-metadata">{% block generic_metadata %}
                <form class="form-horizontal" role="form" action="/edit-dublincore/{{ page.slug }}/">
                    <div class="form-group"><label class="col-sm-2 control-label" for="dc-title">Title</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="Title" type="text" name="title" id="dc-title" value="{{ page.title }}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="dc-subject">Subject</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="Subject" type="text" name="subject" id="dc-subject" {% if subject in dc %}value="{{ dc.subject }}"{% endif %}/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="dc-description">Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" placeholder="Description" type="text" name="description" id="dc-description">
                                {{ res.content }}
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="dc-language">Language</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="Language" type="text" name="language" id="dc-language"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="dc-type">Type</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="Type" type="text" name="type" id="dc-type" value="{{ page.content_type }}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="dc-format">Format</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="Format" type="text" name="format" id="dc-format"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="dc-publisher">Publisher</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="Publisher" type="text" name="publisher" id="dc-publisher"/>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-2 control-label" for="dc-source">Source</label>
                        <div class="col-sm-10">
                            <input class="form-control" placeholder="Source" type="text" name="source" id="dc-source"/>
                        </div>
                    </div>
                </form>

            {% endblock %}</div>


            <div class="tab-pane" id="type-metadata">{% block type_metadata %}
                No type metadata defined.  Extend <code>type_metadata</code> in your resource.html
            {% endblock %}</div>
            <div class="tab-pane" id="settings">{% block resource_settings %}
                <div class="col-sm-6 col-md-4">
                    <h4>Data access</h4>

                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary {% if not res.public %}active{% endif %}" for=""><input type="radio" name="data-access" id="sharing-private"/> Private</label>
                        <label class="btn btn-primary {% if res.owners.exists and not res.public %}active{% endif %}" for=""><input type="radio" name="data-access" id="sharing-shared"/> Shared</label>
                        <label class="btn btn-primary {% if res.public %}active{% endif %}" for=""><input type="radio" name="data-access" id="sharing-public"/> Public</label>
                    </div>
                    <button class="btn btn-link" id="sharing" data-toggle="modal" data-target="#sharing-details">
                        <i class="fa fa-group"></i> Edit sharing...
                    </button>

                    <h4>Metadata indexing</h4>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary {% if not res.discoverable %}active{% endif %}" for=""><input type="radio" name="metadata-access" id="metadata-access-searchable"/> Searchable</label>
                        <label class="btn btn-primary {% if res.discoverable %}active{% endif %}" for=""><input type="radio" name="metadata-access" id="metadata-access-hidden"/> Hidden</label>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <h4>Publishing </h4>
                    <h5 class="text-danger">Warning: resource cannot be changed once published.</h5>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-danger {% if not res.frozen %}active{% endif %}" for=""><input type="radio" name="publishing" id="publishing-unpublished"/> Unpublished</label>
                        <label class="btn btn-danger {% if res.frozen %}active{% endif %}" for="" data-toggle='modal' data-target="#publication-warning"><input type="radio" name="publishing" id="publishing-private"/> Published</label>
                    </div>

                    <ul class="list-unstyled" style="padding-top:1em;">
                        <li><strong>State:</strong> Not published</li>
                        <li><strong>DOI:</strong> <i>Unassigned until publication</i></li>
                    </ul>
                </div>

                <div class="col-sm-6 col-md-4">
                    <h4>Stewardship</h4>

                    <form class="form-horizontal" action=".">
                        <div class="form-group">
                            <label class="col-sm-3 col-md-2 control-label" for="dc-source">Author</label>
                            <div class="col-sm-10">
                                <input class="form-control"
                                       placeholder="Added to hydroshare by"
                                       type="text"
                                       name="author"
                                       id="author"
                                        {% if res.creator %}value="{{ res.creator.username }}"{% endif %}
                                        />
                            </div>

                            <label class="col-sm-3 col-md-2 control-label" for="dc-source">Owner</label>
                            <div class="col-sm-10">
                                <input class="form-control"
                                       placeholder="Desginated steward"
                                       type="text"
                                       name="owner"
                                       id="owner"
                                        {% if res.owners.exists %}value="{{ res.owners.first.username }}"{% endif %}/>
                            </div>
                        </div>
                    </form>
                </div>
            {% endblock %}</div>
        </div>
        </div>
    </div>

        <div class="row">
        <div class="col-md-12">
        {% comments_for res %}
        </div>
        </div>

    {% endblock %}

{% endblock %}