{% for r in group_list %}
    <li><a href="/group/{{ r.candidate_group.id }}/">{{ r.candidate_group.name }}</a> (relevance {{ r.relevance }})</li>
    {% if r.keywords %} 
        based on your interests in these keywords:
        <ul> 
            {% for z in r.keywords.all %} 
                <li> {{ z.value }}
                    <button class="dismiss-button" style="background:none;border:none;padding:0;"  
                            onclick="update_groups('{{z.key}}', '{{z.value}}')">
                    <span class="glyphicon glyphicon-remove-circle"></span></button>
                </li>
            {% endfor %}
        </ul> 
    {% endif %}
{% endfor %}
