{% extends "base.html" %}

{% load pages_tags mezzanine_tags keyword_tags comment_tags hydroshare_tags %}
{% block title %}Explore{% endblock %}
{% block main %}
    <h2>Recommended resources</h2>
    <ul id='rec-res'>
        {% include "recommended_resources.html" %}
    </ul>
    <h2>Recommended users</h2>
    <ul id='rec-users'>
        {% include "recommended_users.html"  %}
    </ul>
    <h2>Recommended groups</h2>
    <ul id='rec-groups'>
        {% include "recommended_groups.html"  %}
    </ul>
{% endblock %}
{% block extra_js %}
    <script>
        var update_resources = function(key, value) {
            $.ajax({
                url: '/rec_res/',
                type: 'GET',
                data: {
                    action: 'update',
                    genre_key: key,
                    genre_value: value
                },
                success: function(data) {
                    $('#rec-res').html(data);
                },
                failure: function(data) { 
                    console.log('Got an error dude');
                }
            });
        };

        var update_users = function(key, value) {
            $.ajax({
                url: '/rec_users/',
                type: 'GET',
                data: {
                    action: 'update',
                    genre_key: key,
                    genre_value: value
                },
                success: function(data) {
                    $('#rec-users').html(data);
                },
                failure: function(data) { 
                    console.log('Got an error dude');
                }
            });
        };

        var update_groups = function(key, value) {
            $.ajax({
                url: '/rec_groups/',
                type: 'GET',
                data: {
                    action: 'update',
                    genre_key: key,
                    genre_value: value
                },
                success: function(data) {
                    $('#rec-groups').html(data);
                },
                failure: function(data) { 
                    console.log('Got an error dude');
                }
            });
        };
       
        $(document).ready(function () {
            $.ajax({
                url: '/rec_res/',
                type: 'GET',
                data: {
                    action: 'init',
                    genre_key: '',
                    genre_value: ''
                },
                success: function(data) {
                    $('#rec-res').html(data);
                },
                failure: function(data) { 
                    console.log('Got an error dude');
                }
            });

            $.ajax({
                url: '/rec_users/',
                type: 'GET',
                data: {
                    action: 'init',
                    genre_key: '',
                    genre_value: ''
                },
                success: function(data) {
                    $('#rec-users').html(data);
                },
                failure: function(data) { 
                    console.log('Got an error dude');
                }
            });

            $.ajax({
                url: '/rec_groups/',
                type: 'GET',
                data: {
                    action: 'init',
                    genre_key: '',
                    genre_value: ''
                },
                success: function(data) {
                    $('#rec-groups').html(data);
                },
                failure: function(data) { 
                    console.log('Got an error dude');
                }
            });
        });

    </script>
{% endblock %}
