
    <h2>Recommended Group</h2>
    <ul>
        {% for r in group_list %}
            <li><a href="/group/{{ r.candidate_group.id }}/">{{ r.candidate_group.name }}</a> (relevance {{ r.relevance }})</li>
            {% if r.keywords %} 
                due to keywords found in your resources, including: 
                <ul> 
                    {% for z in r.keywords.all %} 
                        <li> {{ z.key }}: {{ z.value }} </li> 
                    {% endfor %}
                </ul> 
            {% endif %}
        {% endfor %}
    </ul>}
