{# This template is used as the landing page for Composite Resource #}

{% extends "pages/genericresource.html" %}
{% load geoanalytics_tags pages_tags mezzanine_tags hydroshare_tags crispy_forms_tags %}

{% block content_block %}
{# ======= Content (code moved here because django does not render blocks inside included templates) ======= #}
{% if cm.resource_type != "ToolResource" %}
    <div class="col-sm-12 content-block">
        <h3>Content</h3>
        {% if show_content_files %}
            <div class="custom-well">
                {% if cm.files.all %}
                <tr class="table-container">
                    <table class="table-plain table-striped">
                        {# show logical files first #}
                        {% for lf in cm.logical_files %}
                            {% if lf.type_name == "GeoRasterLogicalFile" %}
                            <div style="border: #00A3D4;">
                            <tr>
                                <td>
                                    <h5><strong>Geo Raster: {{ lf.dataset_name }}</strong></h5>
                                    <p class="label-file-size">
                                        {{ lf.size|filesizeformat }}
                                    </p>
                                <td>
                                    {% if page.perms.change and resource_edit_mode %}
                                        <a href="/hsapi/_internal/{{ cm.short_id }}/GeoRaster/{{ lf.id }}/delete-file-type/">
                                            <span data-placement="auto" title="Delete"
                                                class="glyphicon glyphicon-trash icon-button btn-remove">
                                            </span>
                                        </a>
                                   {% endif %}
                                </td>
                                </td>
                            </tr>
                            </div>
                            {% for f in lf.files.all %}
                                {# show files in a logical file #}
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-file file-icon" style="margin-left:20px;"></span>
                                    <span>
                                        <span class="label-file-name" >
                                            {{ f.resource_file.name|slice:"33:" }}
                                        </span>
                                        <p class="label-file-size" style="margin-left:20px;">
                                            {{ f.size|filesizeformat }}
                                        </p>
                                   </span>
                                    <td>
                                    <a href="{{ f.url }}"><span data-toggle="tooltip"
                                                                                  data-placement="auto"
                                                                                  title="Download"
                                                                                  class="glyphicon glyphicon-download icon-button btn-download"></span></a>
                                    </td>
                                </td>
                            </tr>
                            {% endfor %}

                            <tr>
                            <td>
                                {% if lf.type_name == "GeoRasterLogicalFile" %}
                                    <span style="margin-left:20px;">
                                    <a href="#test-metadata-display-{{ lf.id }}" data-toggle="collapse">Metadata</a>
                                    <div id="test-metadata-display-{{ lf.id }}" class="collapse row" style="margin-left:7px;">
                                        {{ lf.metadata.originalCoverage.get_html |safe }}
                                        {{ lf.metadata.cellInformation.get_html |safe }}
                                        <legend class="pull-left" style="margin-left:10px;">Band Information</legend>
                                        {% for bandInfo in lf.metadata.bandInformations %}
                                            {{ bandInfo.get_html |safe }}
                                        {% endfor %}
                                    </div>
                                    </span>
                                {% else %}
                                    <strong>{{ lf.type_name }}:{{ lf.dataset_name }}</strong>
                                {%  endif %}
                            </td>
                            <td></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        {% for f in cm.non_logical_files %}
                            {# these are the files that are not part of any hydroshare file type #}
                            {% if f.resource_file or f.fed_resource_file or f.fed_resource_file_name_or_path %}
                                {#======= Modal window begins =======#}
                                {% if page.perms.change and metadata_form %}
                                    <div class="modal fade" id="delete-resource-file-{{ f.pk }}" tabindex="-1"
                                         role="dialog"
                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title">Confirm file deletion</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Consider saving a copy of the file before you delete it if
                                                    it is
                                                    important to you.
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default"
                                                            data-dismiss="modal">
                                                        Cancel
                                                    </button>
                                                    <a type="button" class="btn btn-danger"
                                                       href="/hsapi/_internal/{{ cm.short_id }}/delete-resource-file/{{ f.pk }}/">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {#======= Modal window ends =======#}
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file file-icon"></span>
                                <span>
                                    <span class="label-file-name">
                                        {{ f.resource_file.name|slice:"33:" }}
                                        {% if f.fed_resource_file %}
                                            {{ f.fed_resource_file.name|relative_irods_path }}
                                        {% endif %}
                                        {% if f.fed_resource_file_name_or_path %}
                                            {{ f.fed_resource_file_name_or_path }}
                                        {% endif %}
                                    </span>
                                    <p class="label-file-size">
                                        {% if f.resource_file %}
                                            {{ f.resource_file.size|filesizeformat }}
                                        {% elif f.fed_resource_file %}
                                            {{ f.fed_resource_file.size|filesizeformat }}
                                        {% else %}
                                            {{ f.fed_resource_file_size|filesizeformat }}
                                        {% endif %}
                                    </p>
                                </span>
                                    </td>
                                    {#                    <td>{% if preview %}<a class="btn btn-info btn-block" href="{{ preview }}">Preview</a>{% endif %}</td>#}
                                    <td>
                                        {% if page.perms.change and metadata_form %}
                                            <a href="{% if f.resource_file %} {{ f.resource_file.url }}
                                            {% elif f.fed_resource_file %} {{ f.fed_resource_file.url }}
                                            {% else %} {{ f.fed_resource_file_name_or_path }}{% endif %}"><span data-toggle="modal"
                                                                                      data-target="#delete-resource-file-{{ f.pk }}"
                                                                                      data-placement="auto"
                                                                                      title="Delete"
                                                                                      class="glyphicon glyphicon-trash icon-button btn-remove"></span></a>

                                            {% if f.extension == '.tif' or f.extension == '.zip' %}

                                                <a href="/hsapi/_internal/{{ cm.short_id }}/{{ f.pk }}/GeoRaster/set-file-type/" class="pull-right">Set Geo Raster File Type
                                                    <span class="btn-primary" data-placement="auto"></span>
                                                </a>
                                                </span>
                                            {% endif %}
                                        {% endif %}
                                        {% if f.resource_file and f.resource_file.size < 1000000000 %}
                                            <a href="{{ f.resource_file.url }}"><span data-toggle="tooltip"
                                                                                  data-placement="auto"
                                                                                  title="Download"
                                                                                  class="glyphicon glyphicon-download icon-button btn-download"></span></a>
                                        {% elif f.fed_resource_file and f.fed_resource_file.size < 1000000000 %}
                                            <a href="{{ f.fed_resource_file.url|relative_irods_path }}"><span data-toggle="tooltip"
                                                                                  data-placement="auto"
                                                                                  title="Download"
                                                                                  class="glyphicon glyphicon-download icon-button btn-download"></span></a>
                                        {# only allow download from irods user zone for files smaller than 1GB #}
                                        {% elif f.fed_resource_file_name_or_path and f.fed_resource_file_size|to_int < 1000000000 %}
                                            <a href="/django_irods/download/{{ cm.short_id }}/{{ f.fed_resource_file_name_or_path }}"><span data-toggle="tooltip"
                                                                                  data-placement="auto"
                                                                                  title="Download"
                                                                                  class="glyphicon glyphicon-download icon-button btn-download"></span></a>
                                        {% else %}
                                            <a data-toggle="modal" data-target="#large-file-download-alert">
                                                <span data-toggle="tooltip" data-placement="auto"
                                                    title="Download"
                                                    class="glyphicon glyphicon-download icon-button btn-download">
                                                </span>
                                            </a>
                                        {% endif %}
                                        {% if preview %}
                                            <a href="{{ preview }}"><span data-toggle="tooltip"
                                                                          data-placement="auto"
                                                                          title="Preview"
                                                                          class="glyphicon glyphicon-eye-open icon-button"></span></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {# Pabitra added this code for testing raster file specific metadata                                   #}
                        {% if original_coverage %}
                            <div class="col-xs-12 col-sm-6" style="margin-bottom:40px;">
                                <legend>Spatial Reference</legend>
                                <table class="custom-table">
                                    <tbody>

                                        <tr>
                                            <th class="text-muted">Coordinate Reference System</th>
                                            <td>{{ original_coverage.projection }}</td>
                                        </tr>

                                        <tr>
                                            <th class="text-muted">Coordinate Reference System Unit</th>
                                            <td>{{ original_coverage.units }}</td>
                                        </tr>

                                    </tbody>
                                </table>

                                <h4>Extent</h4>

                                <table class="custom-table">
                                    <tbody>

                                        <tr>
                                            <th class="text-muted">North</th>
                                            <td>{{ original_coverage.northlimit }}</td>
                                        </tr>

                                        <tr>
                                            <th class="text-muted">West</th>
                                            <td>{{ original_coverage.westlimit }}</td>
                                        </tr>

                                        <tr>
                                            <th class="text-muted">South</th>
                                             <td>{{ original_coverage.southlimit }}</td>
                                        </tr>

                                        <tr>
                                            <th class="text-muted">East</th>
                                            <td>{{ original_coverage.eastlimit }}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                        {% if cellInformation %}
                            {{ cellInformation.get_html }}
{#                             <div class="col-xs-12 col-sm-6" style="margin-bottom:40px;">#}
{#                                <legend>Cell Information</legend>#}
{#                                <table class="custom-table">#}
{#                                    <tbody>#}
{#                                    <tr>#}
{#                                        <th class="text-muted">Rows</th>#}
{#                                        <td>{{ cellInformation.rows }}</td>#}
{#                                    </tr>#}
{##}
{#                                    <tr>#}
{#                                        <th class="text-muted">Columns</th>#}
{#                                        <td>{{ cellInformation.columns }}</td>#}
{#                                    </tr>#}
{##}
{#                                    <tr>#}
{#                                        <th class="text-muted">CellSizeXValue</th>#}
{#                                        <td>{{ cellInformation.cellSizeXValue }}</td>#}
{#                                    </tr>#}
{##}
{#                                    <tr>#}
{#                                        <th class="text-muted">CellSizeYValue</th>#}
{#                                        <td>{{ cellInformation.cellSizeYValue }}</td>#}
{#                                    </tr>#}
{##}
{#                                    <tr>#}
{#                                        <th class="text-muted">CellDataType</th>#}
{#                                        <td>{{ cellInformation.cellDataType }}</td>#}
{#                                    </tr>#}
{##}
{#                                    </tbody>#}
{#                                </table>#}
{#                            </div>#}
                        {% endif %}
                    {% if bandInformation %}
                        <div class="col-sm-12 pull-left" style="margin-bottom:40px;">
                            <legend>Band Information</legend>
                            <div id="variables" class="well clearfix">
                                <div class="row">
                                    {% for band in bandInformation %}
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="custom-well">
                                                <strong>{{ band.name }}</strong>
                                                <table class="custom-table">
                                                    <tbody>

                                                        <tr><th class="text-muted">VariableName</th><td>{{ band.variableName }}</td></tr>

                                                        <tr><th class="text-muted">VariableUnit</th><td>{{ band.variableUnit }}</td></tr>

                                                        {% if band.noDataValue != None%}
                                                            <tr><th class="text-muted">NoDataValue</th><td>{{ band.noDataValue }}</td></tr>
                                                        {% endif %}

                                                        {% if band.maximumValue != None%}
                                                            <tr><th class="text-muted">MaximumValue</th><td>{{ band.maximumValue }}</td></tr>
                                                        {% endif %}

                                                        {% if band.minimumValue != None%}
                                                            <tr><th class="text-muted">MinimumValue</th><td>{{ band.minimumValue }}</td></tr>
                                                        {% endif %}

                                                        {% if band.method %}
                                                            <tr><th class="text-muted">Method</th><td>{{ band.method }}</td></tr>
                                                        {% endif %}

                                                        {% if band.comment %}
                                                            <tr><th class="text-muted">Comment</th><td>{{ band.comment }}</td></tr>
                                                        {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    </table>
                </div>
                {% else %}
                    <i>No files have been uploaded.</i>
                {% endif %}

                {% if page.perms.change and metadata_form %}
                    <span title="Add files smaller than 1GB in size" data-toggle="tooltip">
                        <a id="btn-add-file" type="button" class="btn btn-success row-selector" data-toggle="modal"
                            data-target="#add-file-dialog" multiple="multiple">
                            <span class="glyphicon glyphicon-plus"><span class="button-label"> Add files...</span></span>
                        </a>
                    </span>

                    <a id="btn-select-irods-file" type="button" class="btn btn-success row-selector hidden-form" data-toggle="modal" data-target="#irodsContent" >
                        <span class="glyphicon glyphicon-plus"><span class="button-label"> Add files from iRODS...</span></span>
                    </a>

                    <span id="log-into-irods">To add files from an iRODS server,
                        <a id="btn-signin-irods" type="button" class="btn-link" data-toggle="modal" data-target="#irodsSignin">log in to iRODS</a>
                    </span>
                    <span id="sign-in-info"></span>
                    <a id="btn-signout-irods" type="button" class="btn-link hidden-form">log out of iRODS</a>

                    {% if file_type_error %}
                      <div class="alert alert-danger alert-dismissible" role="alert">
                        <button id="validation-error-close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Uploaded File Type Validation Error: {{ file_type_error }}</strong>
                      </div>
                    {% endif %}
                {% endif %}

            </div>
            <!-- Buttons -->
            {% block download_bag %}
            <div>
                {% if user_zone_account_exist %}
                    <a id="rep-res-bag" type="button" class="btn btn-default row-selector" data-toggle="modal" data-target="#rep-resource-to-irods-dialog">
                        <span class="glyphicon">
                           <span title='Replicate Resource Bag to iRODS User Zone' class="button-label">Replicate Resource Bag to iRODS User Zone</span>
                        </span>
                    </a>
                {% endif %}
                {% for b in cm.bags.all %}
                    <a id="btn-download-all" type="button" class="btn btn-default row-selector" href="{{ bag_url }}">
                        <span class="glyphicon glyphicon-download-alt">
                            <span title='Download All Content as Zipped BagIt Archive' class="button-label">Download All Content as Zipped BagIt Archive</span>
                        </span>
                        <a target="_blank" href="http://en.wikipedia.org/wiki/BagIt">Learn more about the Bagit archive format</a>
                    </a>
                {% endfor %}
                {% if user_zone_account_exist %}
                    <div id='rep-alert-success' class="alert alert-success alert-dismissible" role="alert" style="display:none">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span id="rep-status-success"></span>
                    </div>
                    <div id='rep-alert-error' class="alert alert-danger alert-dismissible" role="alert" style="display:none">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span id="rep-status-error"></span>
                    </div>
                {% endif %}
            </div>
            {% endblock %} {#  download_bag #}
        {% else %}
            <i class="glyphicon glyphicon-eye-close text-danger no-access-icon"></i>&nbsp;
            <span>You do not have permission to see these content files. Please contact the Authors if you wish to obtain access.</span>
        {% endif %}
    </div>
{% endif %}
{% endblock %} {# content_block #}