{% extends "pages/page.html" %}
{% load comment_tags  %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.dataTables.min.css">
{% endblock %}

{% block main %}
    <div class="collaborate-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="collaborate-nav">
                        <a href="{% url "collaborate" %}" class="collaborate-nav-item">Find Groups</a>
                        <a href="{% url "my_groups" %}" class="collaborate-nav-item">My Groups</a>
                        <a href="{% url "community" %}" class="collaborate-nav-item active">Community</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% for community in communities_view %}
            <div class="row">
                Community {{ community.name }}
            </div>
        {% endfor %}
        <div class="row">
{#            {% if profile_user.is_group_owner or profile_user.is_group_editor %}#}
{#                {% if not group.gaccess.active %}#}
{#                    <div class="alert alert-warning alert-dismissible" role="alert">#}
{#                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span#}
{#                                aria-hidden="true">&times;</span></button>#}
{#                        Recently changed resources will be displayed here#}
{#                        <hr>#}
{#                        <span class="glyphicon glyphicon-question-sign"></span>#}
{#                    </div>#}
{#                {% endif %}#}
{#            {% endif %}#}
            <div class="col-sm-3">
                <div><a href="http://criticalzone.org"><img src="{{ STATIC_URL }}img/communities/czo-national.png" alt="CZO National"></a></div>
            </div>
            <div class="col-sm-7">
{#                <h2 class="group-title">{{ group.name }}</h2>#}
{#                <h4 class="text-muted">{{ group.gaccess.purpose|linebreaks }}</h4>#}
{#                <p>{{ group.gaccess.description|linebreaks }}</p>#}
            </div>
            <div><!-- [Modals] --></div>
        </div>
        <div class="full-width-tabs-container" id="user-profile-tabs">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs full-width-tabs" role="tablist">
                <li role="presentation">
                    <a href="#public" aria-controls="public" role="tab" data-toggle="tab">
                        <i class="glyphicon glyphicon-file"></i>&nbsp;PUBLIC</a>
                </li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <!-- PUBLIC -->
                <div role="tabpanel" class="tab-pane fade" id="public">
                        <div class="row">
                            <div class="col-lg-2" id="facets">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <span class="glyphicon glyphicon glyphicon-user"></span>
                                            <a data-toggle="collapse" class="accordion-toggle" data-parent="#accordion"
                                               href="#filter">&nbsp;Shared by</a></h4>
                                    </div>
                                    <div id="filter-shared-by" class="facet-list panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="list-group">
                                                <ul class="list-group inputs-group">
                                                    <i class="list-group-item no-items-found">No resources have been
                                                        shared with this group yet.</i>
                                                </ul>
                                            </div>

                                            <div id="grantors-list">
{#                                                {% for res in group_resources %}#}
{#                                                    <span data-grantor-id="{{ res.grantor.id }}"#}
{#                                                          data-grantor-name="{{ res.grantor|best_name }}"></span>#}
{#                                                {% endfor %}#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-10" id="items">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="search-container" class="input-group">
                                            <span class="glyphicon glyphicon-search search-icon"></span>
                                            <input id="resource-search-input" type="text" class="form-control"
                                                   placeholder="Search"/>
                                            <span id="btn-clear-search-input"
                                                  class="glyphicon glyphicon-remove-sign btn-clear-search"></span>

                                            <div class="input-group-btn">
                                                <div class="btn-group" role="group">
                                                    <div class="dropdown dropdown-lg">
                                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                                data-toggle="dropdown"
                                                                aria-expanded="false"><span class="caret"></span>
                                                        </button>

                                                        <div class="shadow-md dropdown-menu dropdown-menu-left"
                                                             role="menu">
                                                            <form class="form-horizontal" role="form">
                                                                <div class="form-group">
                                                                    <label for="filter">Resource Type</label>
                                                                    <select id="input-resource-type"
                                                                            class="form-control pull-left">
                                                                        <option value="" selected>All</option>
                                                                        <option value="collection resource">Collection
                                                                        </option>
                                                                        <option value="composite resource">Composite
                                                                        </option>
                                                                        <option value="generic">Generic</option>
                                                                        <option value="geographic feature">Geographic
                                                                            Feature (ESRI Shapefiles)
                                                                        </option>
                                                                        <option value="geographic raster">Geographic
                                                                            Raster
                                                                        </option>
                                                                        <option value="his referenced time series">HIS
                                                                            Referenced Time Series
                                                                        </option>
                                                                        <option value="model instance resource">Model
                                                                            Instance
                                                                        </option>
                                                                        <option value="model program">Model Program
                                                                        </option>
                                                                        <option value="modflow model instance resource">
                                                                            MODFLOW Model Instance
                                                                        </option>
                                                                        <option value="multidimensional">
                                                                            Multidimensional (NetCDF)
                                                                        </option>
                                                                        <option value="script resource">Script
                                                                            Resource
                                                                        </option>
                                                                        <option value="swat model instance resource">
                                                                            Swat Model Instance
                                                                        </option>
                                                                        <option value="time series">Time Series</option>
                                                                        <option value="web app resource">Web App
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="contain">Author</label>
                                                                    <input id="input-author" class="form-control"
                                                                           type="text"/>
                                                                    <span id="btn-clear-author-input"
                                                                          class="glyphicon glyphicon-remove-sign btn-clear-search-inline"></span>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="contain">Subject</label>
                                                                    <input id="input-subject" class="form-control"
                                                                           type="text"/>
                                                                    <span id="btn-clear-subject-input"
                                                                          class="glyphicon glyphicon-remove-sign btn-clear-search-inline"></span>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- /input-group -->
                                <table id="item-selectors" class="table-hover table-striped resource-custom-table">
                                    <thead>
                                    <tr>
                                        <th><input class="all-rows-selector" type="checkbox"></th>
                                        <th>Type</th>
                                        <th>Title</th>
                                        <th>First Author</th>
                                        <th>Date Created</th>
                                        <th>Last modified</th>
                                        <th>Subject</th>
                                        {# Used in table processing #}
                                        <th>Authors</th>
                                        {# Used in table processing #}
                                        <th>Permission Level</th>
                                        {# Used in table processing #}
                                        <th>Labels</th>
                                        {# Used in table processing #}
                                        <th>Favorite</th>
                                        {# Used in table processing #}
                                        <th>Last modified</th>
                                        {# Used in table processing #}
                                        <th>Sharing Status</th>
                                        {# Used in table processing #}
                                        <th>Date Created</th>
                                        {# Used in table processing #}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for res in community_resources %}
                                        <div name="temp">{{ res.resource_title }}</div>
                                        <tr class="data-row">
                                            {# Selection controls #}
                                            <td>
                                                <input class="row-selector" type="checkbox">
                                                {% if res.is_favorite %}
                                                    <span data-form-id="form-favorite-{{ res.resource_id }}"
                                                          data-form-type="toggle-favorite"
                                                          class="glyphicon glyphicon-star btn-inline-favorite isfavorite"></span>

                                                    <form class="hidden-form" data-id="form-favorite-{{ res.resource_id }}"
                                                          action="/hsapi/_internal/{{ res.resource_id }}/label-resource-action/"
                                                          method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="action" value="DELETE">
                                                        <input type="hidden" name="label_type" value="FAVORITE">
                                                    </form>
                                                {% else %}
                                                    <span data-form-id="form-favorite-{{ res.resource_id }}"
                                                          data-form-type="toggle-favorite"
                                                          class="glyphicon glyphicon-star btn-inline-favorite"></span>

                                                    <form class="hidden-form" data-id="form-favorite-{{ res.resource_id }}"
                                                          action="/hsapi/_internal/{{ res.resource_id }}/label-resource-action/"
                                                          method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="action" value="CREATE">
                                                        <input type="hidden" name="label_type" value="FAVORITE">
                                                    </form>
                                                {% endif %}

                                                <span class="glyphicon glyphicon-tag btn-inline-label"
                                                      data-toggle="dropdown" aria-expanded="false"></span>

                                                <div class="dropdown-menu inline-dropdown" role="menu">
                                                    <div class="panel-body" role="form">
                                                        <ul data-resource-id="{{ res.resource_id }}"
                                                            class="list-group list-labels">
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                            {# Type #}
                                            <td data-col="resource-type">
                                                {{ res.resource_type }}
{#                                                {% include "includes/res_type_col.html" with resource=res %}#}
                                            </td>
                                            {# Title #}
                                            <td>
                                                <strong>
                                                    {{ res.resource_title }}
{#                                                    <a href="{{ res.get_absolute_url }}">{{ res.resource_title }}</a>#}
                                                </strong>
                                            </td>
                                            {# First Author #}
{#                                            {% if res.first_creator.description %}#}
                                                <td>
{#                                                    <a href="{{ res.first_creator.description }}">{{ res.first_creator.name }}</a>#}
                                                </td>
{#                                            {% else %}#}
{#                                                <td>{{ res.first_creator.name }}</td>#}
{#                                            {% endif %}#}
                                            {# Date Created #}
{#                                            <td>{{ res.created|date:"M d, Y" }} at {{ res.created|time }}</td>#}
                                            {# Last Modified #}
{#                                            <td>{{ res.updated|date:"M d, Y" }} at {{ res.updated|time }}</td>#}
                                            <td>
                                                {% for kw in res.metadata.subjects.all %}
                                                    {% if forloop.counter0 > 0 %},{% endif %}{{ kw.value }}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for creator in res.metadata.creators.all %}
                                                    {% if forloop.counter0 != 0 %}<span> · </span>{% endif %}
                                                    {% if creator.description %}
                                                        <a href="{{ creator.description }}">{{ creator.name }}</a>
                                                    {% else %}
                                                        <span>{{ creator.name }}</span>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            {% if res.owned %}
                                                <td>Owned</td>
                                            {% elif res.editable %}
                                                <td>Editable</td>
                                            {% elif res.viewable %}
                                                <td>Viewable</td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                            <td class="col-labels">
                                                {% for label in res.labels %}
                                                    {% if forloop.counter0 > 0 %},{% endif %}{{ label }}
                                                {% endfor %}
                                            </td>
                                            <td class="col-is-favorite">
                                                {% if res.is_favorite %}
                                                    Favorite
                                                {% endif %}
                                            </td>
                                            <td>{{ res.updated|date:"U" }}</td>
                                            <td>
                                                {% if res.published %}
                                                    Published
                                                {% elif res.public %}
                                                    Public
                                                {% elif res.discoverable %}
                                                    Discoverable
                                                {% else %}
                                                    Private
                                                {% endif %}
                                            </td>
                                            <td>{{ res.created|date:"U" }}</td>
                                            <td>{{ res.grantor.id }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                {% include "includes/legend.html" %}

                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    {% if profile_user.is_group_owner or profile_user.is_group_editor or profile_user.is_group_viewer %}
        <!-- Invite to Group Modal -->
        <div class="modal fade" id="invite-dialog" tabindex="-1" role="dialog"
             aria-labelledby="Invite">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="Invite">Invite People</h4>
                    </div>
                    <form id="invite-to-group" action="/hsapi/_internal/make-group-membership-request/{{ group.id }}/">
                        <div class="modal-body">
                            <div id="div-invite-people">
                                {% csrf_token %}
                                {{ add_view_user_form.user }}
                                <form action="">
                                    <a id="btn-group-invite"
                                       class="btn btn-add-access btn-success glyphicon glyphicon-send"><span
                                            class="button-label">&nbsp;&nbsp;Send Invitation</span>
                                    </a>
                                </form>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Delete/Inactive Group Modal -->
        <div class="modal fade" id="delete-group-dialog" tabindex="-1" role="dialog"
             aria-labelledby="Delete">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="Delete">Delete Group</h4>
                    </div>
                    <form action="/hsapi/_internal/delete-user-group/{{ group.id }}">
                        <div class="modal-body">
                            <h5>Are you sure you want to delete this group? If you decide to delete it, you can restore
                                it later.</h5>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Confirm</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    {% if profile_user.is_group_owner or profile_user.is_group_editor %}
        <!-- Edit Group Modal -->
        <div class="modal fade" id="edit-group-dialog" tabindex="-1" role="dialog"
             aria-labelledby="Invite">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="/hsapi/_internal/update-user-group/{{ group.id }}" method="POST"
                          enctype="multipart/form-data">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close"><span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Edit Group Details</h4>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            <div class="row">
                                {# Group Name #}
                                <fieldset class="col-sm-12">
                                    <label>Group Name *</label>
                                    <small class="text-muted">150 characters or less</small>
                                    <input class="form-control" required="required" name="name" value="{{ group.name }}"
                                           maxlength="150">

                                </fieldset>

                                {# Purpose #}
                                <fieldset class="col-sm-12">
                                    <label>Purpose</label>
                                    <small class="text-muted">300 characters or less</small>
                                    <textarea class="form-control" name="purpose"
                                              maxlength="300">{{ group.gaccess.purpose }}</textarea>

                                </fieldset>

                                {# Group Description #}
                                <fieldset class="col-sm-12">
                                    <label>About this group *</label>
                                    <textarea class="form-control" required="required"
                                              name="description">{{ group.gaccess.description }}</textarea>
                                </fieldset>

                                {# auto approve #}
                                <fieldset class="col-sm-12">
                                    <input id="auto-approve" type="checkbox" name="auto_approve"
                                           {% if group.gaccess.auto_approve %}checked{% endif %}>
                                    <label class="checkbox-label" for="auto-approve">Auto approve membership</label>
                                </fieldset>

                                {# Picture #}
                                <div class="col-sm-12">
                                    <fieldset>
                                        <label>Add a photo</label>

                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <span id="cv-custom-upload" class="btn btn-default btn-file">
                                                    Browse&hellip; <input class="upload-picture" type="file"
                                                                          name="picture">
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" readonly>
                                        </div>
                                    </fieldset>
                                </div>

                                <br>

                                {# Privacy #}
                                <fieldset class="col-sm-12">
                                    <label>Privacy *</label>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="privacy_level" value="public"
                                                   {% if group.gaccess.public and group.gaccess.discoverable %}checked{% endif %}>Public
                                            <div class="text-muted">Other users can find the group and see who has
                                                membership.
                                            </div>
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="privacy_level" value="discoverable"
                                                   {% if not group.gaccess.public and group.gaccess.discoverable %}checked{% endif %}>Discoverable
                                            <div class="text-muted">Other users can find this group, but membership
                                                information is hidden.
                                            </div>
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="privacy_level" value="private"
                                                   {% if not group.gaccess.public and not group.gaccess.discoverable %}checked{% endif %}>Private
                                            <div class="text-muted">Other users can not find this group.</div>
                                        </label>
                                    </div>
                                </fieldset>

                                <br>
                                <fieldset class="col-sm-12">
                                    <small class="text-muted">( * ) Required fields</small>
                                </fieldset>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" charset="utf8" src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/community.js"></script>
    {#    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>#}
    <script type="text/javascript" src="{{ STATIC_URL }}js/hs_resource_table.js"></script>
{% endblock %}