{% extends "base.html" %}

{% load mezzanine_tags static blog_tags accounts_tags dashboard_tags i18n %}

{% comment %}

These data should be given fast without ajax.
The dashboard template assumes context dictionary has the following keys
timestamp
title
first author
first author id
resource id
content type
privacy;;

timestamp should go with a template tags to convert to a human readble day.
{% endcomment %}

{% block main %}
    <div>
        <div class="container dashboard_section_container">
            <!--
             style="background: #FFFFFF; border-radius: 10px; border: #F4F4F4  1px; margin-bottom: 20px; margin-top: 10px;">
             -->
            <div class="row" style="margin-left: 20px; margin-right: 2px; margin-bottom: 10px;">
                <span>
                 <h3 class="home-page-block-title" style="float: left;">Recently Visited </h3>
                    <span style="float: right">
                    <a style="margin-top: 20px; margin-right: 10px;" class="btn btn-primary"
                       href="/search">Discover</a>
                    <a style="margin-top: 20px; margin-right: 20px;" class="btn btn-primary"
                       href="/hsapi/_internal/create-resource">Create</a>
                    </span>
                </span>
            </div>
            <table class="table-hover table-striped resource-custom-table" id="recently-visited-resources"
                   style="width: 100%;">
                <thead>
                <tr>
                    <th>Accessed</th>
                    <th>Title</th>
                    <th>First Author</th>
                    <th>Type</th>
                    <th>Visibility</th>
                </tr>
                </thead>

            </table>
        </div>


        {# CUAHSI developed apps #}
        <div class="container dashboard_section_container">
          {% trans "CUAHSI-Developed Time Series Apps" as whole_title %}
          {% include "includes/apps_block_title.html" %}
            <div class="row big-app-row">
            {% trans "HydroClient" as title_name %}
            {% trans "https://data.cuahsi.org" as title_url %}
            {% trans "/static/img/hydro_client.png" as app_image %}
            {% trans "CUAHSI’s data discovery platform for time series. Explore and retrieve earth observations and time series data from federal agencies, ,academic scientists, and volunteer monitoring organizations." as app_content %}
            {% include "includes/big_image_button_app.html" %}

            {% trans "Uploader" as title_name %}
            {% trans "http://hydroserver.cuahsi.org" as title_url %}
            {% trans "/static/img/hydro_server.png" as app_image %}
            {% trans "CUAHSI’s tool for sharing time series data. Request a database, format your data, and make it discoverable in HydroClient." as app_content %}
            {% include "includes/big_image_button_app.html" %}
            </div>
        </div>


        <div class="container dashboard_section_container">
            {% trans "Community-Developed CUAHSI-Approved Apps" as whole_title %}
            {% include "includes/apps_block_title.html" %}
            <div class="row big-app-row">
            {% trans "CUAHSI JupyterHub" as title_name %}
            {% trans "https://jupyter.cuahsi.org/user/_/tree/notebooks" as title_url %}
            {% trans "/static/img/jupiterhub.png" as app_image %}
            {% trans "Use this app to launch HydroShare data in an online Python environment that uses JupyterHub software stack." as app_content %}
            {% include "includes/big_image_button_app.html" %}

            {% trans "Data Rods Explorerhydro server" as title_name %}
            {% trans "https://apps.hydroshare.org/apps/data-rods-explorer/" as title_url %}
            {% trans "/static/img/data_rods_explorer.png" as app_image %}
            {% trans "Browse several NASA-hosted data sets using a simple mapping interface that enables data visualization and download." as app_content %}
            {% include "includes/big_image_button_app.html" %}
            </div>

            <div class="row big-app-row">
                {% trans "National Water Model Viewer" as title_name %}
                {% trans "https://www.yahoo.com" as title_url %}
                {% trans "/static/img/nwm_forecasts.png" as app_image %}
                {% trans "Retrieve and preview National Water Model data. " as app_content %}
                {% include "includes/big_image_button_app.html" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_head %}
    <script type="application/ld+json">
{
    "@context": {
        "@vocab": "http://schema.org/",
        "gdx": "http://geodex.org/voc/",
        "datacite": "http://purl.org/spar/datacite/",
        "geolink": "http://schema.geolink.org/1.0/base/main#",
        "schema": "http://schema.org/"
    },
    "@type": ["Service", "Organization", "DataCatalog"],
    "@id": "https://www.hydroshare.org",
    "additionalType": "https://geodex.org/voc/ResearchRepositoryService",
    "legalName": "CUAHSI HydroShare",
    "name": "CUAHSI HydroShare",
    "url": "https://www.hydroshare.org",
    "description": "CUAHSI HydroShare is an online collaboration environment for sharing data, models, and code.",
    "category": [
        "Hydrology",
        "Hydrologic Modeling",
        "GIS"
    ],
    "provider": {
        "@id": "https://www.hydroshare.org"
    },
    "parentOrganization": {
        "@type": "Organization",
        "@id": "http://www.cuahsi.org",
        "legalName": "Consortium of Universities for the Advancement of Hydrologic Science, Inc",
        "name": "CUAHSI",
        "url": "http://www.cuahsi.org",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "150 CambridgePark Drive, Suite 203",
            "addressLocality": "Cambridge",
            "addressRegion": "MA",
            "postalCode": "02140",
            "addressCountry": "USA"
        }
    },
    "funder": {
        "@type": "Organization",
        "@id": "https://dx.doi.org/10.13039/100000141",
        "legalName": "Division of Earth Sciences",
        "alternateName": "OCE",
        "url": "https://www.nsf.gov/div/index.jsp?div=EAR",
        "identifier": {
            "@type": "PropertyValue",
            "propertyID": "http://purl.org/spar/datacite/doi",
            "value": "10.13039/100000160",
            "url": "http://doi.org/10.13039/100000160"
        },
        "parentOrganization": {
            "@type": "Organization",
            "@id": "http://dx.doi.org/10.13039/100000085",
            "legalName": "Directorate for Geosciences",
            "alternateName": "NSF-GEO",
            "url": "http://www.nsf.gov",
            "identifier": {
                "@type": "PropertyValue",
                "propertyID": "http://purl.org/spar/datacite/doi",
                "value": "10.13039/100000085",
                "url": "https://doi.org/10.13039/100000085"
            },
            "parentOrganization": {
                "@type": "Organization",
                "@id": "http://dx.doi.org/10.13039/100000001",
                "legalName": "National Science Foundation",
                "alternateName": "NSF",
                "url": "http://www.nsf.gov",
                "identifier": {
                    "@type": "PropertyValue",
                    "propertyID": "http://purl.org/spar/datacite/doi",
                    "value": "10.13039/100000001",
                    "url": "https://doi.org/10.13039/100000001"
                }
            }
        }
    },
    "publishingPrinciples": [
        {
            "@type": "DigitalDocument",
            "additionalType": "https://geodex.org/voc/Protocol-TermsOfUse",
            "name": "Terms of Use",
            "url": "https://help.hydroshare.org/about-hydroshare/policies/terms-of-use/",
            "fileFormat": "text/html"
        },
        {
            "@type": "DigitalDocument",
            "additionalType": "https://geodex.org/voc/Protocol-ResourceSubmissionPolicy",
            "name": "HydroShare Publication Agreement",
            "url": "https://help.hydroshare.org/about-hydroshare/policies/hydroshare-publication-agreement/",
            "fileFormat": "text/html"
        }
    ],
    "availableChannel": [
        {
            "@type": "ServiceChannel",
            "serviceUrl": "http://www.hydroshare.org/search",
            "providesService": {
                "@type": "Service",
                "additionalType": "https://geodex.org/voc/SearchService",
                "name": "HydroShare Discovery",
                "description": "Search hydrologic resources shared with the community.",
                "potentialAction": {
                    "@type": "SearchAction",
                    "target": "https://www.hydroshare.org/search/?q={query_string}",
                    "query-input": {
                        "@type": "PropertyValueSpecification",
                        "valueRequired": true,
                        "valueName": "query_string"
                    }
                }
            }
        },
        {
            "@type": "ServiceChannel",
            "serviceUrl": "https://www.hydroshare.org/sitemap.xml",
            "providesService": {
            "@type": "Service",
                "additionalType": "https://geodex.org/voc/SyndicationService",
                "name": "Sitemap XML",
                "description": "A Sitemap XML providing access to all of the resources for harvesting",
                "potentialAction": {
                    "@type": "ConsumeAction",
                    "target": {
                        "@type": "EntryPoint",
                        "additionalType": "https://geodex.org/voc/SitemapXML",
                        "urlTemplate": "https://www.hydroshare.org/sitemap.xml?page={page}"
                    },
                    "object": {
                        "@type": "DigitalDocument",
                        "url": "https://www.hydroshare.org/sitemap.xml",
                        "fileFormat": "application/xml"
                    }
                }
            }
        },
        {
            "@type": "ServiceChannel",
            "serviceUrl": "https://hydroshare.org/hsapi/resource",
            "providesService": {
            "@type": "Service",
                "name": "HydroShare Resources REST API",
                "description": "Programmatically search and filter HydroShare datasets via a JSON REST API",
                "potentialAction": {
                    "@type": "SearchAction",
                    "target": {
                        "@type": "EntryPoint",
                        "contentType": ["application/json"],
                        "urlTemplate": "https://hydroshare.org/hsapi/resource",
                        "description": "Programmatically search and filter HydroShare datasets via a JSON REST API",
                        "httpMethod": ["GET", "POST"]
                    }
                }
            }
        }
    ]
}
</script>
{% endblock %}



{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard.css">
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/dashboard.js"></script>
{% endblock %}
