{% extends "base.html" %}

{% load mezzanine_tags static blog_tags accounts_tags %}


{% block main %}
    <div>
        <div class="container" style="background: #FFFFFF; border-radius: 10px; border: #F4F4F4 solid 1px; margin-bottom: 20px;">
        <span>
            <h2 style="float: left;">Recently Visited </h2> <a
                style="float: right; margin-top: 20px; margin-right: 80px;" class="btn btn-primary"
                href="https://127.0.0.1/hsapi/_internal/create-resource">Upload</a>
        </span>
            <table class="table">
                <thead>
                <tr>
                    <th>Accessed</th>
                    <th>Authors</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Privacy</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Today</td>
                    <td>Doe</td>
                    <td>Hurrican Harvey Collection</td>
                    <td>Composite</td>
                    <td>public</td>
                </tr>
                <tr>
                    <td>Today</td>
                    <td>Doe</td>
                    <td>Hurrican Harvey Collection</td>
                    <td>Composite</td>
                    <td>public</td>
                </tr>
                <tr>
                    <td>Today</td>
                    <td>Doe</td>
                    <td>Hurrican Harvey Collection</td>
                    <td>Composite</td>
                    <td>public</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="container" style="background: #FFFFFF; border-radius: 10px; border: #F4F4F4 solid 1px;; ">
            <div class="row" style="margin-left: 20px;">
         <span>
            <h2 style="float: left;">CUAHSI Data Center</h2>
         </span></div>
            <div class="row" style="margin-left: 20px;">
                <div class="col-md-2">
                    <img style="width: 120px; height: 120px;"
                         src="https://www.cuahsi.org/images/made/uploads/pages/img/binary-data-sea_1_335_335auto_s_c1.jpg"
                         alt=""
                         class="img-circle"></div>
                <div class="col-md-4">
                    <blockquote>
                        <a href="https://data.cuahsi.org">Data Uploader</a>
                        <small><cite title="Source Title">Load data from your research to national repos. <i
                                class="icon-map-marker"></i></cite>
                        </small>
                    </blockquote>
                    <p>
                        <i class="icon-envelope"></i> CUAHIS data CUAHIS data CUAHIS data <br>
                        <i class="icon-globe"></i> CUAHIS data www.bootsnipp.com <br>
                        <i class="icon-gift"></i> JCUAHIS data anuary 30, 1974
                    </p>
                </div>

                <div class="col-md-2">
                    <img style="width: 120px; height: 120px;"
                         src="https://www.cuahsi.org/images/made/uploads/pages/img/binary-data-sea_1_335_335auto_s_c1.jpg"
                         alt=""
                         class="img-circle">
                </div>
                <div class="col-md-4">
                    <blockquote>
                        <p>Bruce Wayne</p>
                        <small><cite title="Source Title">Gotham, United Kingdom <i class="icon-map-marker"></i></cite>
                        </small>
                    </blockquote>
                    <p>
                        <i class="icon-envelope"></i> masterwayne@batman.com <br>
                        <i class="icon-globe"></i> www.bootsnipp.com <br>
                        <i class="icon-gift"></i> January 30, 1974
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_head %}
    <script type="application/ld+json">
{
    "@context": {
        "@vocab": "http://schema.org/",
        "gdx": "http://geodex.org/voc/",
        "datacite": "http://purl.org/spar/datacite/",
        "geolink": "http://schema.geolink.org/1.0/base/main#",
        "schema": "http://schema.org/"
    },
    "@type": ["Service", "Organization", "DataCatalog"],
    "@id": "https://www.hydroshare.org",
    "additionalType": "https://geodex.org/voc/ResearchRepositoryService",
    "legalName": "CUAHSI HydroShare",
    "name": "CUAHSI HydroShare",
    "url": "https://www.hydroshare.org",
    "description": "CUAHSI HydroShare is an online collaboration environment for sharing data, models, and code.",
    "category": [
        "Hydrology",
        "Hydrologic Modeling",
        "GIS"
    ],
    "provider": {
        "@id": "https://www.hydroshare.org"
    },
    "parentOrganization": {
        "@type": "Organization",
        "@id": "http://www.cuahsi.org",
        "legalName": "Consortium of Universities for the Advancement of Hydrologic Science, Inc",
        "name": "CUAHSI",
        "url": "http://www.cuahsi.org",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "150 CambridgePark Drive, Suite 203",
            "addressLocality": "Cambridge",
            "addressRegion": "MA",
            "postalCode": "02140",
            "addressCountry": "USA"
        }
    },
    "funder": {
        "@type": "Organization",
        "@id": "https://dx.doi.org/10.13039/100000141",
        "legalName": "Division of Earth Sciences",
        "alternateName": "OCE",
        "url": "https://www.nsf.gov/div/index.jsp?div=EAR",
        "identifier": {
            "@type": "PropertyValue",
            "propertyID": "http://purl.org/spar/datacite/doi",
            "value": "10.13039/100000160",
            "url": "http://doi.org/10.13039/100000160"
        },
        "parentOrganization": {
            "@type": "Organization",
            "@id": "http://dx.doi.org/10.13039/100000085",
            "legalName": "Directorate for Geosciences",
            "alternateName": "NSF-GEO",
            "url": "http://www.nsf.gov",
            "identifier": {
                "@type": "PropertyValue",
                "propertyID": "http://purl.org/spar/datacite/doi",
                "value": "10.13039/100000085",
                "url": "https://doi.org/10.13039/100000085"
            },
            "parentOrganization": {
                "@type": "Organization",
                "@id": "http://dx.doi.org/10.13039/100000001",
                "legalName": "National Science Foundation",
                "alternateName": "NSF",
                "url": "http://www.nsf.gov",
                "identifier": {
                    "@type": "PropertyValue",
                    "propertyID": "http://purl.org/spar/datacite/doi",
                    "value": "10.13039/100000001",
                    "url": "https://doi.org/10.13039/100000001"
                }
            }
        }
    },
    "publishingPrinciples": [
        {
            "@type": "DigitalDocument",
            "additionalType": "https://geodex.org/voc/Protocol-TermsOfUse",
            "name": "Terms of Use",
            "url": "https://help.hydroshare.org/about-hydroshare/policies/terms-of-use/",
            "fileFormat": "text/html"
        },
        {
            "@type": "DigitalDocument",
            "additionalType": "https://geodex.org/voc/Protocol-ResourceSubmissionPolicy",
            "name": "HydroShare Publication Agreement",
            "url": "https://help.hydroshare.org/about-hydroshare/policies/hydroshare-publication-agreement/",
            "fileFormat": "text/html"
        }
    ],
    "availableChannel": [
        {
            "@type": "ServiceChannel",
            "serviceUrl": "http://www.hydroshare.org/search",
            "providesService": {
                "@type": "Service",
                "additionalType": "https://geodex.org/voc/SearchService",
                "name": "HydroShare Discovery",
                "description": "Search hydrologic resources shared with the community.",
                "potentialAction": {
                    "@type": "SearchAction",
                    "target": "https://www.hydroshare.org/search/?q={query_string}",
                    "query-input": {
                        "@type": "PropertyValueSpecification",
                        "valueRequired": true,
                        "valueName": "query_string"
                    }
                }
            }
        },
        {
            "@type": "ServiceChannel",
            "serviceUrl": "https://www.hydroshare.org/sitemap.xml",
            "providesService": {
            "@type": "Service",
                "additionalType": "https://geodex.org/voc/SyndicationService",
                "name": "Sitemap XML",
                "description": "A Sitemap XML providing access to all of the resources for harvesting",
                "potentialAction": {
                    "@type": "ConsumeAction",
                    "target": {
                        "@type": "EntryPoint",
                        "additionalType": "https://geodex.org/voc/SitemapXML",
                        "urlTemplate": "https://www.hydroshare.org/sitemap.xml?page={page}"
                    },
                    "object": {
                        "@type": "DigitalDocument",
                        "url": "https://www.hydroshare.org/sitemap.xml",
                        "fileFormat": "application/xml"
                    }
                }
            }
        },
        {
            "@type": "ServiceChannel",
            "serviceUrl": "https://hydroshare.org/hsapi/resource",
            "providesService": {
            "@type": "Service",
                "name": "HydroShare Resources REST API",
                "description": "Programmatically search and filter HydroShare datasets via a JSON REST API",
                "potentialAction": {
                    "@type": "SearchAction",
                    "target": {
                        "@type": "EntryPoint",
                        "contentType": ["application/json"],
                        "urlTemplate": "https://hydroshare.org/hsapi/resource",
                        "description": "Programmatically search and filter HydroShare datasets via a JSON REST API",
                        "httpMethod": ["GET", "POST"]
                    }
                }
            }
        }
    ]
}
</script>
{% endblock %}
