{% extends "pages/page.html" %}
{% load pages_tags mezzanine_tags keyword_tags comment_tags hydroshare_tags thumbnail %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">
{% endblock %}

{% block main %}
    <div class="collaborate-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="collaborate-nav">
                        <a href="{% url "collaborate" %}" class="collaborate-nav-item">Find Groups</a>
                        <a href="{% url "my_groups" %}" class="collaborate-nav-item">My Groups</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                {#  Group Picture #}
                <div class="group-image-wrapper group-image-wrapper-medium">
                    {% if group.gaccess.picture and group.gaccess.picture.url %}
                        {% thumbnail group.gaccess.picture "x130" crop="center" as im %}
                            <div class="group-image" style="background-image: url({{ im.url }})"></div>
                        {% endthumbnail %}
                    {% else %}
                            <div class="group-image group-preview-image-default"
                                style="background-image: url({{ STATIC_URL }}img/home-page/step4.png)">
                            </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-sm-7">
                <h2 class="group-title">{{ group.name }}</h2>
                <h4 class="text-muted">{{ group.gaccess.purpose|linebreaks }}</h4>
                <p>{{ group.gaccess.description|linebreaks }}</p>
            </div>

        </div>

        <div class="full-width-tabs-container" id="user-profile-tabs">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs full-width-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#resources" aria-controls="resources" role="tab" data-toggle="tab">
                        <i class="glyphicon glyphicon-file"></i> Resources</a>
                </li>
                {% if group.gaccess.public %}
                    <li role="presentation">
                        <a href="#members" aria-controls="members" role="tab" data-toggle="tab">
                            <i class="glyphicon glyphicon-user"></i> Members</a>
                    </li>
                {% endif %}
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade" id="members">
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <table id="members-filter" class="table-user-contributions table table-hover">
                                <tbody>
                                <tr class="active c-pointer" data-filter-by="all">
                                    <td><span>All</span></td>
                                    <td><span class="badge" data-filter-by='All'>0</span></td>
                                </tr>
                                <tr class="c-pointer" data-filter-by="edit-user">
                                    <td><span>Owners</span></td>
                                    <td><span class="badge" data-filter-by='Owners'>0</span></td>
                                </tr>
                                <tr class="c-pointer" data-filter-by="pending">
                                    <td><span>Pending</span></td>
                                    <td><span class="badge" data-filter-by='Pending'>0</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            {#  All members #}
                            <table data-edit-count="{{ edit_users|length }}"
                                   data-view-count="{{ view_users|length }}"
                                   data-pending-count="{{ group.gaccess.group_membership_requests|length }}"
                                   id="all-members-table" class="table-members-list active">

                                {% for owner in group.gaccess.owners %}
                                    <tr data-filter-by="edit-user">
                                        <td>
                                            {% if  owner.userprofile.picture and owner.userprofile.picture.url %}
                                                <div style="background-image: url('{{ owner.userprofile.picture.url }}');"
                                                     class="profile-pic-thumbnail round-image pull-left">
                                                </div>
                                            {% else %}
                                                <div class="profile-pic-thumbnail-small round-image user-icon"></div>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <h4><strong><a>{{ owner|contact }}</a></strong></h4>
                                            {% if  owner.userprofile.title %}
                                                <span class="text-muted">{{ owner.userprofile.title }}</span>{% endif %}
                                        </td>
                                        <td>
                                           Owner
                                        </td>
                                    </tr>
                                {% endfor %}

                                {% for member in view_users %}
                                    <tr data-filter-by="view-user">
                                        <td>
                                            {% if member.userprofile.picture and member.userprofile.picture.url %}
                                                <div style="background-image: url('{{ member.userprofile.picture.url }}');"
                                                     class="profile-pic-thumbnail round-image pull-left">
                                                </div>
                                            {% else %}
                                                <div class="profile-pic-thumbnail-small round-image user-icon"></div>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <h4><strong><a>{{ member|contact }}</a></strong></h4>
                                            {% if  member.userprofile.title %}
                                                <span class="text-muted">{{ member.userprofile.title }}</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            Member
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade in active" id="resources">
                    <div class="row">
                        <div class="col-lg-2" id="facets">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <span class="glyphicon glyphicon glyphicon-user"></span>
                                        <a data-toggle="collapse" class="accordion-toggle"
                                           data-parent="#accordion" href="#filter-shared-by">&nbsp;Shared by</a>
                                    </h4>
                                </div>
                                <div id="filter-shared-by" class="facet-list panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="list-group">
                                            <ul class="list-group inputs-group">
                                                <i class="list-group-item no-items-found">No public resources have been
                                                    shared with this group yet.</i>
                                            </ul>
                                        </div>

                                        <div id="grantors-list">
                                            {% for res in group_resources %}
                                                <span data-grantor-id="{{ res.grantor.id }}"
                                                      data-grantor-name="{{ res.grantor|best_name }}"></span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-10" id="items">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="search-container" class="input-group">
                                        <span class="glyphicon glyphicon-search search-icon"></span>
                                        <input id="resource-search-input" type="text" class="form-control"
                                               placeholder="Search"/>
                                        <span id="btn-clear-search-input"
                                              class="glyphicon glyphicon-remove-sign btn-clear-search"></span>

                                        <div class="input-group-btn">
                                            <div class="btn-group" role="group">
                                                <div class="dropdown dropdown-lg">
                                                    <button type="button" class="btn btn-default dropdown-toggle"
                                                            data-toggle="dropdown"
                                                            aria-expanded="false"><span class="caret"></span></button>

                                                    <div class="shadow-md dropdown-menu dropdown-menu-left" role="menu">
                                                        <form class="form-horizontal" role="form">
                                                            <div class="form-group">
                                                                <label for="filter">Resource Type</label>
                                                                <select id="input-resource-type"
                                                                        class="form-control pull-left">
                                                                    <option value="" selected>All</option>
                                                                    <option value="collection resource">Collection
                                                                    </option>
                                                                    <option value="composite resource">Composite
                                                                    </option>
                                                                    <option value="generic">Generic</option>
                                                                    <option value="geographic feature">Geographic
                                                                        Feature (ESRI Shapefiles)
                                                                    </option>
                                                                    <option value="geographic raster">Geographic
                                                                        Raster
                                                                    </option>
                                                                    <option value="his referenced time series">HIS
                                                                        Referenced Time Series
                                                                    </option>
                                                                    <option value="model instance resource">Model
                                                                        Instance
                                                                    </option>
                                                                    <option value="model program">Model Program</option>
                                                                    <option value="modflow model instance resource">
                                                                        MODFLOW Model Instance
                                                                    </option>
                                                                    <option value="multidimensional">Multidimensional
                                                                        (NetCDF)
                                                                    </option>
                                                                    <option value="script resource">Script Resource
                                                                    </option>
                                                                    <option value="swat model instance resource">Swat
                                                                        Model Instance
                                                                    </option>
                                                                    <option value="time series">Time Series</option>
                                                                    <option value="web app resource">Web App</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="contain">Author</label>
                                                                <input id="input-author" class="form-control"
                                                                       type="text"/>
                                                                <span id="btn-clear-author-input"
                                                                      class="glyphicon glyphicon-remove-sign btn-clear-search-inline"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="contain">Subject</label>
                                                                <input id="input-subject" class="form-control"
                                                                       type="text"/>
                                                                <span id="btn-clear-subject-input"
                                                                      class="glyphicon glyphicon-remove-sign btn-clear-search-inline"></span>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- /input-group -->
                            <table id="item-selectors" class="table-hover table-striped resource-custom-table">
                                <thead>
                                <tr>
                                    <th><input class="all-rows-selector" type="checkbox"></th>
                                    <th>Type</th>
                                    <th>Title</th>
                                    <th>First Author</th>
                                    <th>Date Created</th>
                                    <th>Last Modified</th>
                                    <th>Subject</th>
                                    {# Used in table processing #}
                                    <th>Authors</th>
                                    {# Used in table processing #}
                                    <th>Permission Level</th>
                                    {# Used in table processing #}
                                    <th>Labels</th>
                                    {# Used in table processing #}
                                    <th>Favorite</th>
                                    {# Used in table processing #}
                                    <th>Last modified</th>
                                    {# Used in table processing #}
                                    <th>Sharing Status</th>
                                    {# Used in table processing #}
                                    <th>Date Created</th>
                                    {# Used in table processing #}
                                </tr>
                                </thead>
                                <tbody>
                                {% for res in group_resources %}
                                    <tr class="data-row">
                                        {# Selection controls #}
                                        <td>
                                            <input class="row-selector" type="checkbox">
                                            {% if res.is_favorite %}
                                                <span data-form-id="form-favorite-{{ res.short_id }}"
                                                      data-form-type="toggle-favorite"
                                                      class="glyphicon glyphicon-star btn-inline-favorite isfavorite"></span>

                                                <form class="hidden-form" data-id="form-favorite-{{ res.short_id }}"
                                                      action="/hsapi/_internal/{{ res.short_id }}/label-resource-action/"
                                                      method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="action" value="DELETE">
                                                    <input type="hidden" name="label_type" value="FAVORITE">
                                                </form>
                                            {% else %}
                                                <span data-form-id="form-favorite-{{ res.short_id }}"
                                                      data-form-type="toggle-favorite"
                                                      class="glyphicon glyphicon-star btn-inline-favorite"></span>

                                                <form class="hidden-form" data-id="form-favorite-{{ res.short_id }}"
                                                      action="/hsapi/_internal/{{ res.short_id }}/label-resource-action/"
                                                      method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="action" value="CREATE">
                                                    <input type="hidden" name="label_type" value="FAVORITE">
                                                </form>
                                            {% endif %}

                                            <span class="glyphicon glyphicon-tag btn-inline-label"
                                                  data-toggle="dropdown" aria-expanded="false"></span>

                                            <div class="dropdown-menu inline-dropdown" role="menu">
                                                <div class="panel-body" role="form">
                                                    <ul data-resource-id="{{ res.short_id }}"
                                                        class="list-group list-labels">
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                        {# Type #}
                                        <td data-col="resource-type">
                                            {% include "includes/res_type_col.html" with resource=res %}
                                        </td>
                                        {# Title #}
                                        <td>
                                            <strong>
                                                <a href="{{ res.get_absolute_url }}">{{ res.metadata.title }}</a>
                                            </strong>
                                        </td>
                                        {# First Author #}
                                        <td>{{ res|resource_first_author }}</td>
                                        {# Date Created #}
                                        <td>{{ res.created|date:"d M, Y" }} {{ res.created|time }}</td>
                                        {# Last Modified #}
                                        <td>{{ res.last_updated|date:"d M, Y" }} {{ res.last_updated|time }}</td>
                                        <td><!-- Needed for datatable to function properly --></td>
                                        <td><!-- Needed for datatable to function properly --></td>
                                        <td><!-- Needed for datatable to function properly --></td>
                                        <td><!-- Needed for datatable to function properly --></td>
                                        <td><!-- Needed for datatable to function properly --></td>
                                        <td>{{ res.last_updated|date:"U" }}</td>
                                        <td><!-- Needed for datatable to function properly --></td>
                                        <td>{{ res.created|date:"U" }}</td>
                                        <td>{{ res.grantor.id }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            {% include "includes/legend.html" %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" charset="utf8" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/group.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/hs_resource_table.js' %}"></script>
{% endblock %}
