    {% with cm=page.get_content_model %}
    {% if not cm.public %}
    <hr>
    <div class="row" id='page-permissions'>
        <h4>Permissions for this page</h4>
        <div class="col-md-6">
            {% comment %}
            <div class="panel panel-info">
                <div class="panel-heading">Groups that can view</div>
                <div class="panel-body">
                    <ul class="list-group">
                    {% for group in view_groups %}
                        <li class="list-group-item">{{ group.name }}</li>
                    {% endfor %}
                    </ul>
                    <form action="/ga_resources/view-groups/{{ page.slug }}/" method="POST">
                        {% csrf_token %}
                        <input class='form-control' type="text" name="name" id="edit-groups-name" placeholder='Add group'/>
                    </form>
                </div>
            </div>
            {% endcomment %}

            <div class="panel panel-info">
                <div class="panel-heading">Users who can view</div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% for e in view_users %}
                            <li class="list-group-item">{{ e.email }} <a class='pull-right drop-view-user' data-user='{{ e.pk }}' href="#page-permissions">&times;</a></li>
                        {% endfor %}
                    </ul>

                    <form action="/ga_resources/view-users/{{ page.slug }}/" method="POST">
                        {% csrf_token %}
                        <input class='form-control' type="text" name="name" id="edit-users-name" placeholder='Add user by email'/>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            {% comment %}
            <div class="panel panel-warning">
                <div class="panel-heading">Groups that can edit</div>
                <div class="panel-body">

                    <ul class="list-group">
                        {% for group in edit_groups %}
                            <li class="list-group-item">{{ group.name }}</li>
                        {% endfor %}
                    </ul>
                    <form action="/ga_resources/edit-groups/{{ page.slug }}/" method="POST">
                        {% csrf_token %}
                        <input class='form-control' type="text" name="name" id="edit-groups-name" placeholder='Add group'/>
                    </form>
                </div>
            </div>
            {% endcomment %}
            <div class="panel panel-warning">
                <div class="panel-heading">Users who can edit</div>
                <div class="panel-body">

                    <ul class="list-group">
                        {% for e in edit_users %}
                            <li class="list-group-item">{{ e.email }}<a class='pull-right drop-edit-user'
                                                                        data-user='{{ e.pk }}' href="#page-permissions">&times;</a></li>
                        {% endfor %}
                    </ul>
                    <form action="/ga_resources/edit-users/{{ page.slug }}/" method="POST">
                        {% csrf_token %}
                        <input class='form-control' type="text" name="name" id="edit-users-name" placeholder='Add user by email'/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function() {
            $('.drop-view-user').click(function() {
                var $me = $(this);
                $.ajax({
                    url: "/ga_resources/view-users/" + $me.data('user') + "/{{ page.slug }}/",
                    type: "DELETE",
                    success: function() {
                        $me.parent().detach();
                    }
                })
            });
            $('.drop-edit-user').click(function() {
                var $me = $(this);
                $.ajax({
                    url: "/ga_resources/edit-users/" + $me.data('user') + "/{{ page.slug }}/",
                    type: "DELETE",
                    success: function() {
                        $me.parent().detach();
                    }
                })
            });
            $('.drop-view-group').click(function() {
                var $me = $(this);
                $.ajax({
                    url: "/ga_resources/view-groups/" + $me.data('group') + "/{{ page.slug }}/",
                    type: "DELETE",
                    success: function() {
                        $me.parent().detach();
                    }
                })
            });
            $('.drop-edit-group').click(function() {
                var $me = $(this);
                $.ajax({
                    url: "/ga_resources/edit-groups/" + $me.data('group') + "/{{ page.slug }}/",
                    type: "DELETE",
                    success: function() {
                        $me.parent().detach();
                    }
                })
            });
        });
    </script>
    <script type="text/javascript" src='{{ STATIC_URL }}js/jqcsrf.js'></script>
    {% endif %}
    {% endwith %}