{% extends "base.html" %}

{% block main %}
    <h2>Listing of People</h2>
    <div class="row">
        <table class="table table-responsive">
    {% if request.user.is_authenticated %}
 <a href="{%   url 'person_add' %}">
                      Add New Person </a>
    {%  endif %}
<tbody>
<tr><th>Display Name</th><th>First Name</th><th>Last Name</th><th>Organization</th><!--<th>Username</th>--></tr>
        {% for person in object_list %}

            <tr>
                <td><!-- <a href="{%   url 'person_edit' person.pk %}">edit</a> -->
                 <a href="{%   url 'person_detail' person.pk %}">
                     {{ person.name }} </a>

            </td>
            <td>{{ person.givenName }}</td>
            <td>{{ person.familyName }}</td>
            <td>{%  if person.primaryOrganizationRecord %}
                       <a href="{%   url 'organization_detail' person.primaryOrganizationRecord.pk %}">
                           {{ person.primaryOrganizationRecord.name }}
                           </a>
                     {% elif person.primaryOrganizationName %}
                         {{ person.primaryOrganizationName }}
                     {% endif %}</td>
           <!-- <td>
           Future User Exists
           </td> -->
            </tr>

        {% endfor %}
        </tbody>
         </table>
    </div>
{% endblock %}