<!-- Profile Preview Modal -->
<div class="modal fade" id="view-author-modal" tabindex="-1" role="dialog" aria-labelledby="profileName"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Author</h4>
            </div>
            <div class="modal-body">
                <table class="table border-gray">
                    <tbody>
                        <tr>
                            <td class="text-center"><i class="fa fa-user" aria-hidden="true"></i></td>
                            <th>Name: </th>
                            <td data-name></td>
                        </tr>
                        <tr>
                            <td class="text-center"><i class="fa fa-user-circle" aria-hidden="true"></i></td>
                            <th>HydroShare Profile: </th>
                            <td><a data-profileurl href="#">View Profile</a></td>
                        </tr>
                        <tr>
                            <td class="text-center"><i class="fa fa-building" aria-hidden="true"></i></td>
                            <th>Organization:</th>
                            <td data-organization></td>
                        </tr>
                        <tr>
                            <td class="text-center"><i class="fa fa-envelope" aria-hidden="true"></i></td>
                            <th>Email:</th>
                            <td data-email></td>
                        </tr>
                        <tr>
                            <td class="text-center"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                            <th>Address:</th>
                            <td data-address></td>
                        </tr>
                        <tr>
                            <td class="text-center"><i class="fa fa-phone-square" aria-hidden="true"></i></td>
                            <th>Phone:</th>
                            <td data-phone></td>
                        </tr>
                        <tr>
                            <td class="text-center"><i class="fa fa-globe" aria-hidden="true"></i></td>
                            <th>Homepage:</th>
                            <td><a href="#" target="_blank" data-homepage></a></td>
                        </tr>
                        <tr>
                            <td class="text-center"><i class="fa fa-external-link-square" aria-hidden="true"></i></td>
                            <th>Author Identifiers:</th>
                            <td>
                                <div class="external-profiles">
                                    <a href="" data-googlescholarid class="identifier-icon" target="_blank" data-toggle="tooltip" data-placement="bottom"
                                       title="Google Scholar">
                                        <i class="ai ai-google-scholar-square hover-shadow"></i>
                                    </a>
                                    <a href="" data-orcid class="identifier-icon" target="_blank" data-toggle="tooltip" data-placement="bottom"
                                       title="ORCID">
                                        <i class="ai ai-orcid hover-shadow"></i>
                                    </a>
                                    <a href="" data-researchgateid class="identifier-icon" target="_blank" data-toggle="tooltip" data-placement="bottom"
                                       title="ResearchGate">
                                        <i class="ai ai-researchgate-square hover-shadow"></i>
                                    </a>
                                    <a href="" data-researcerid class="identifier-icon" target="_blank" data-toggle="tooltip" data-placement="bottom"
                                       title="ResearcherID">
                                        <img class="hover-shadow"
                                             src="{{ STATIC_URL }}img/researcherID.png"
                                             alt="ResearcherID icon"/>
                                    </a>
                                    <a href="" data-identifier-other class="identifier-icon" target="_blank" data-toggle="tooltip" data-placement="bottom"
                                       title="">
                                        <i class="fa fa-address-card hover-shadow"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>