<!-- Profile Preview Modal -->
<script id="author-preview-modal-template" type="text/x-template">
    <div class="modal fade" id="view-author-modal" tabindex="-1" role="dialog" aria-labelledby="profileName"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Author</h4>
                </div>
                <div class="modal-body">
                    <table class="table border-gray">
                        <tbody>
                            <tr v-if="is_person">
                                <td class="text-center"><i class="fa fa-user" aria-hidden="true"></i></td>
                                <th>Name: </th>
                                <td>${author.name}</td>
                            </tr>
                            <tr v-if="is_person && author.profileUrl && author.is_active">
                                <td class="text-center"><i class="fa fa-user-circle" aria-hidden="true"></i></td>
                                <th>HydroShare Profile: </th>
                                <td><a :href="author.profileUrl">View Profile</a></td>
                            </tr>
                            <tr>
                                <td class="text-center"><i class="fa fa-building" aria-hidden="true"></i></td>
                                <th>Organization:</th>
                                <td>${author.organization}</td>
                            </tr>
                            <tr>
                                <td class="text-center"><i class="fa fa-envelope" aria-hidden="true"></i></td>
                                <th>Email:</th>
                                <td>${author.email}</td>
                            </tr>
                            <tr>
                                <td class="text-center"><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                                <th>Address:</th>
                                <td>${author.address}</td>
                            </tr>
                            <tr>
                                <td class="text-center"><i class="fa fa-phone-square" aria-hidden="true"></i></td>
                                <th>Phone:</th>
                                <td>${author.phone}</td>
                            </tr>
                            <tr>
                                <td class="text-center"><i class="fa fa-globe" aria-hidden="true"></i></td>
                                <th>Homepage:</th>
                                <td>
                                    <a :href="author.homepage" target="_blank">
                                        ${author.homepage}
                                    </a>
                                </td>
                            </tr>
                            <tr v-if="is_person">
                                <td class="text-center">
                                    <i class="fa fa-external-link-square" aria-hidden="true"></i>
                                </td>
                                <th>Author Identifiers:</th>
                                <td>
                                    <div class="external-profiles">
                                        <template v-for="(identifier, key) of author.identifiers">
                                            <a v-if="identifierAttributes.hasOwnProperty(key)"
                                               :href="identifier"
                                               :title="identifierAttributes[key].title"
                                               class="identifier-icon" target="_blank"
                                               data-toggle="tooltip" data-placement="top">
                                                <img :class="identifierAttributes[key].classes" :src="identifierAttributes[key].src"/>
                                            </a>

                                            <a v-else :href="identifier" class="identifier-icon" target="_blank"
                                               :title="key"
                                               data-toggle="tooltip"
                                               data-placement="top">
                                                <i class="fa fa-address-card hover-shadow"></i>
                                            </a>
                                        </template>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</script>