<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <div class="img-div">
        <img class="img-circle app-img" src="{{ app_image }}" alt="">
    </div>
    <div class="app-text-block">
        <div class="app-text-block-header">
            <strong>
                <a href="{{ title_url }}" target="_blank">{{ title_name }}</a>
            </strong>
        </div>
        <div class="app-text-block-brief">
            <p> {{ app_content }} </p>
        </div>
    </div>
</div>


<!-- title_url title_name app_image app_content-->