{% for res in community_resources %}
<tr class="data-row" v-show="isVisible({{ res.group_id }})">
    {# Selection controls #}
    <td>
        <input class="row-selector" type="checkbox">
        <span data-form-id="form-favorite-{{ res.resource_id }}"
            data-form-type="toggle-favorite"
            class="glyphicon glyphicon-star btn-inline-favorite"></span>

        <form class="hidden-form" data-id="form-favorite-{{ res.resource_id }}"
            action="/hsapi/_internal/{{ res.resource_id }}/label-resource-action/"
            method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="CREATE">
            <input type="hidden" name="label_type" value="FAVORITE">
        </form>
        <span class="glyphicon glyphicon-tag btn-inline-label"
            data-toggle="dropdown" aria-expanded="false"></span>

        <div class="dropdown-menu inline-dropdown" role="menu">
            <div class="panel-body" role="form">
                <ul data-resource-id="{{ res.resource_id }}"
                    class="list-group list-labels">
                </ul>
            </div>
        </div>
    </td>
    {# Type #}
    <td data-col="resource-type">
        {% include "includes/res_type_col_community.html" with resource=res %}
    </td>
    {# Title #}
    <td>
        <strong>
            <a href="/{{ res.slug }}/">{{ res.title }}</a>
        </strong>
    </td>
    {# First Author #}
    {% if res.first_creator.relative_uri and res.first_creator.is_active_user %}
    <td>
        <a href="{{ res.first_creator.relative_uri }}">
          {{ res.first_creator.name }}</a>
    </td>
    {% else %}
    <td>{{ res.first_creator.name }}</td>
    {% endif %}
    {# Date Created #}
    <td>{{ res.created|date:"d M Y" }} {{ res.created|time }}</td>
    {# Last Modified #}
    <td>{{ res.updated|date:"d M Y" }} {{ res.updated|time }}</td>
    <td>
        {% for kw in res.metadata.subjects.all %}
            {% if forloop.counter0 > 0 %},{% endif %}{{ kw.value}}
        {% endfor %}
    </td>
    <td>
        {% for creator in res.metadata.creators.all %}
            {% if forloop.counter0 != 0 %}<span> · </span>{% endif %}
            {% if creator.relative_uri and creator.is_active_user %}
                <a href="{{ creator.relative_uri }}">{{ creator.name }}</a>
            {% else %}
                <span>{{ creator.name }}</span>
            {% endif %}
        {% endfor %}
    </td>
    <td><!-- Needed for datatable to function properly --></td>
    <td><!-- Needed for datatable to function properly --></td>
    <td><!-- Needed for datatable to function properly --></td>
    <td>{{ res.updated|date:"U" }}</td>
    <td><!-- Needed for datatable to function properly --></td>
    <td>{{ res.created|date:"U" }}</td>
    <td><!-- Needed for datatable to function properly --></td>
</tr>
{% endfor %}