{% load pages_tags mezzanine_tags theme_tags hydroshare_tags %}
<style>
    footer {
        background: #093E54;
        color: #FFF;
    }
    footer a {
        color: #B5E655;
    }
    footer a:hover {
        color: #81D685;
        text-decoration: none;
    }
    footer .headline {
        margin-bottom: 20px;
    }
    footer .headline h3{
        text-transform: uppercase;
        color: #FFF;
    }
    .legal {
        padding: 40px 0;
    }
    .legal a {
        color: #B5E655;
        text-decoration: none;
    }
    .social ul {
        background: #3E7A8C;
        color: white;
        font-size: 24px;
        margin: 0;
        padding: 0;
    }
    .social li {
        float: left;
        display: block;
        list-style-type: none;
        width: 28px;
        height: 28px;
        margin: 0 5px 5px 0;
        text-align: center;
        line-height: 28px;
    }
    .social li:hover {
        background: none;
    }
    .social li a {
        color: #FFF;
    }
    .social li:hover a {
        transition: color 0.1s;
        -webkit-transition: color 0.1s;
        -moz-transition: color 0.1s;
        -o-transition: color 0.1s;
        color: #B5E655;
    }
    footer .hl-btn-default {
        color: #fff;
        background: none;
    }
    footer .hl-btn-default:hover {
        color: #3E7A8C;
        background: #fff;
        font-weight: bold;
        border: 1px solid #fff;
    }
    footer .form-control {
        border: white;
    }
    footer .form-control:focus {
        border: white;
    }
    footer .sbtn {
        margin-bottom: 5px;
    }
</style>

<footer>
    <div class="container">
        <div class="row">
            <!-- Contact Us
            =================  -->
            <div class="col-md-4 col-sm-4">
                {% editable siteconf.col1_heading siteconf.col1_content %}
                    <div class="headline">
                        <h3>{{ siteconf.col1_heading }}</h3>
                    </div>
                    <div class="content">
                        {{ siteconf.col1_content|richtext_filters|safe }}
                    </div>
                {% endeditable %}
            </div>
            <!-- Social icons
            ===================== -->
            <div class="col-md-4 col-sm-4">
                {% editable siteconf.col2_heading siteconf.twitter_link siteconf.facebook_link siteconf.pinterest_link siteconf.youtube_link siteconf.github_link siteconf.linkedin_link siteconf.vk_link siteconf.gplus_link %}
                    <div class="headline"><h3>{{ siteconf.col2_heading }}</h3></div>
                {% endeditable %}
                <div class="content social">
                    {% editable siteconf.col2_content %}
                        {{ siteconf.col2_content|richtext_filters|safe }}
                    {% endeditable %}
                    {% if siteconf.has_social_network_links %}
                        <ul>{% if siteconf.twitter_link %}
                            <li>
                                <a href="{{ siteconf.twitter_link }}" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                        {% endif %}
                            {% if siteconf.facebook_link %}
                                <li>
                                    <a href="{{ siteconf.facebook_link }}" target="_blank"><i
                                            class="fa fa-facebook"></i></a>
                                </li>
                            {% endif %}
                            {% if siteconf.pinterest_link %}
                                <li>
                                    <a href="{{ siteconf.pinterest_link }}" target="_blank"><i
                                            class="fa fa-pinterest"></i></a>
                                </li>
                            {% endif %}
                            {% if siteconf.youtube_link %}
                                <li>
                                    <a href="{{ siteconf.youtube_link }}" target="_blank"><i class="fa fa-youtube"></i></a>
                                </li>
                            {% endif %}
                            {% if siteconf.github_link %}
                                <li>
                                    <a href="{{ siteconf.github_link }}" target="_blank"><i
                                            class="fa fa-github"></i></a>
                                </li>
                            {% endif %}
                            {% if siteconf.linkedin_link %}
                                <li>
                                    <a href="{{ siteconf.linkedin_link }}" target="_blank"><i
                                            class="fa fa-linkedin"></i></a>
                                </li>
                            {% endif %}
                            {% if siteconf.vk_link %}
                                <li>
                                    <a href="{{ siteconf.vk_link }}" target="_blank"><i class="fa fa-vk"></i></a>
                                </li>
                            {% endif %}
                            {% if siteconf.gplus_link %}
                                <li>
                                    <a href="{{ siteconf.gplus_link }}" target="_blank"><i
                                            class="fa fa-google-plus"></i></a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Subscribe
            =============== -->
            <div class="col-md-4 col-sm-4">
                {% editable siteconf.col3_heading siteconf.col3_content %}
                    <div class="headline"><h3>{{ siteconf.col3_heading }}</h3></div>
                    <div class="content">
                        {{ siteconf.col3_content|richtext_filters|safe }}
                    </div>
                {% endeditable %}
            </div>
        </div>
    </div>
    <!-- Legal
    ============= -->
    <div class="legal">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% editable siteconf.copyright %}
                        <p>{{ siteconf.render_copyright }} | <a href="/terms-of-use">Terms Of Use</a> | <a
                                href="/privacy">Statement of Privacy</a> | <a href="{% url "sitemap" %}">Site Map</a>
                        </p>
                    {% endeditable %}
                </div>
            </div>
        </div>
    </div>
</footer>
