{% load widget_tweaks %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    <fieldset class="form-group input_{{ field.id_for_label }} {{ field.field.type }}
    {% if field.errors %} has-error{% endif %} {{ field_classes }}">

    {% if field.label and not inline_label %}
        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
    {% endif %}

    {% with field_label=field.label|add:" *" %}
        {% if readonly %}
            {% render_field field readonly="readonly" %}
        {% else %}
            {% if required %}
                {% render_field field placeholder=field_label %}
            {% else %}
                {% render_field field placeholder=field.label %}
            {% endif %}
        {% endif %}
    {% endwith %}

    {% if field.errors %}
        <p class="help-block">
            {% for e in field.errors %}
                {% if not forloop.first %} / {% endif %}{{ e }}
            {% endfor %}
        </p>
    {% elif field.help_text and not inline_label %}
        <p class="help-block">{{ field.help_text }}</p>
    {% endif %}
    </fieldset>
{% endif %}
