<div class="panel-group" role="tablist">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingLegend">
            <h4 class="panel-title">
                <span class="glyphicon glyphicon-info-sign"></span>&nbsp;
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#legend-collapse"
                   aria-expanded="true" aria-controls="legend-collapse">
                    Legend
                </a>
            </h4>
        </div>

        <div id="legend-collapse" class="panel-collapse collapse" role="tabpanel"
             aria-labelledby="headingLegend">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-5">
                        <div class="row">
                            <div class="col-sm-12"><label>Sharing and Access</label></div>

                            <div class="col-sm-6">
                                <img src="{{ STATIC_URL }}img/public.png" alt="Public Resource"/>
                                <small>Public</small>
                            </div>

                            <div class="col-sm-6">
                                <img src="{{ STATIC_URL }}img/private.png" alt="Private Resource"/>
                                <small>Private</small>
                            </div>

                            <div class="col-sm-6">
                                <img src="{{ STATIC_URL }}img/discoverable.png" alt="Discoverable Resource"/>
                                <small>Discoverable</small>
                            </div>

                            <div class="col-sm-6">
                                <img src="{{ STATIC_URL }}img/published.png" alt="Published Resource"/>
                                <small>Published</small>
                            </div>

                            <div class="col-sm-6">
                                <img src="{{ STATIC_URL }}img/pending.png" alt="Pending Publication"/>
                                <small>Pending publication</small>
                            </div>

                            <div class="col-sm-6">
                                <img src="{{ STATIC_URL }}img/shareable.png" alt="Sharable Resource"/>
                                <small>Shareable</small>
                            </div>

                            <div class="col-sm-8">
                                <img src="{{ STATIC_URL }}img/non-shareable.png" alt="Non Sharable Resource"/>
                                <small>Not shareable</small>
                            </div>

                            <br>

                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-7">
                        <div class="row" id="legend-resource-type">
                            <div class="col-sm-12"><label>Resource types</label></div>

                            <div class="col-sm-6">
                                <img src="{{ STATIC_URL }}img/resource-icons/collection48x48.png"
                                     alt="Collection Resource Icon" class="table-res-type-icon"/>
                                <small>&nbsp;Collection</small>
                            </div>

                            <div class="col-sm-6">
                                <img src="{{ STATIC_URL }}img/resource-icons/composite48x48.png"
                                     alt="Composite Resource Icon" class="table-res-type-icon"/>
                                <small>&nbsp;Composite</small>
                            </div>

                            <div class="col-sm-6">
                                <img src="{{ STATIC_URL }}img/resource-icons/generic48x48.png"
                                     alt="Generic Resource Icon" class="table-res-type-icon"/>
                                <small>&nbsp;Generic</small>
                            </div>

                            <div class="col-sm-6">
                                <img src="{{ STATIC_URL }}img/resource-icons/geographicfeature48x48.png"
                                     alt="Geographic Feature Resource Icon" class="table-res-type-icon"/>
                                <small>&nbsp;Geographic Feature</small>
                            </div>

                            <div class="col-sm-6">
                                <img src="{{ STATIC_URL }}img/resource-icons/geographicraster48x48.png"
                                     alt="Geographic Raster Resource Icon" class="table-res-type-icon"/>
                                <small>&nbsp;Geographic Raster</small>
                            </div>

                            <div class="col-sm-6">
                                <img src="{{ STATIC_URL }}img/resource-icons/modelinstance48x48.png"
                                     alt="Model Instance Resource Icon" class="table-res-type-icon"/>
                                <small>&nbsp;Model Instance</small>
                            </div>

                            <div class="col-sm-6">
                                <img src="{{ STATIC_URL }}img/resource-icons/modflow48x48.png"
                                     alt="Collection Resource Icon" class="table-res-type-icon"/>
                                <small>&nbsp;MODFLOW Model Instance</small>
                            </div>

                            <div class="col-sm-6">
                                <img src="{{ STATIC_URL }}img/resource-icons/swat48x48.png"
                                     alt="SWAT Model Instance Resource Icon" class="table-res-type-icon"/>
                                <small>&nbsp;SWAT Model Instance</small>
                            </div>

                            <div class="col-sm-6">
                                <img src="{{ STATIC_URL }}img/resource-icons/modelprogram48x48.png"
                                     alt="Model Program Resource Icon" class="table-res-type-icon"/>
                                <small>&nbsp;Model Program</small>
                            </div>

                            <div class="col-sm-6">
                                <img src="{{ STATIC_URL }}img/resource-icons/multidimensional48x48.png"
                                     alt="Multidimensional Resource Icon" class="table-res-type-icon"/>
                                <small>&nbsp;Multidimensional</small>
                            </div>

                            <div class="col-sm-6">
                                <img src="{{ STATIC_URL }}img/resource-icons/timeseries48x48.png"
                                     alt="Time Series Resource Icon" class="table-res-type-icon"/>
                                <small>&nbsp;Time Series</small>
                            </div>

                            <div class="col-sm-6">
                                <img src="{{ STATIC_URL }}img/resource-icons/his48x48.png"
                                     alt="HIS Referenced Time Series Resource Icon"
                                     class="table-res-type-icon"/>
                                <small>&nbsp;HIS Referenced Time Series</small>
                            </div>

                            <div class="col-sm-6">
                                <img src="{{ STATIC_URL }}img/resource-icons/webapp48x48.png"
                                     alt="Web App Resource Icon" class="table-res-type-icon"/>
                                <small>&nbsp;Web App</small>
                            </div>

                            <div class="col-sm-6">
                                <img src="{{ STATIC_URL }}img/resource-icons/script48x48.png"
                                     alt="Script Resource Icon" class="table-res-type-icon"/>
                                <small>&nbsp;Script</small>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>