{% load pages_tags mezzanine_tags keyword_tags comment_tags hydroshare_tags %}
{% for res in collection %}
<tr class="data-row" v-show="isVisible('{{ res.short_id }}')">
  {# Selection controls #}
  <td data-col="actions">
    <input class="row-selector" type="checkbox">
    {# Delete resource forms #}
    <form class="hidden-form" data-id="form-delete-{{ res.short_id }}" data-form-type="delete-resource" method="POST"
      action="/hsapi/_internal/{{ res.short_id }}/delete-resource/">
      {% csrf_token %}
    </form>
    {% if res.is_favorite %}
    <span data-form-id="form-favorite-{{ res.short_id }}" data-form-type="toggle-favorite"
      class="glyphicon glyphicon-star btn-inline-favorite isfavorite"></span>

    <form class="hidden-form" data-id="form-favorite-{{ res.short_id }}"
      action="/hsapi/_internal/{{ res.short_id }}/label-resource-action/" method="POST">
      {% csrf_token %}
      <input type="hidden" name="action" value="DELETE">
      <input type="hidden" name="label_type" value="FAVORITE">
    </form>
    {% else %}
    <span data-form-id="form-favorite-{{ res.short_id }}" data-form-type="toggle-favorite"
      class="glyphicon glyphicon-star btn-inline-favorite"></span>

    <form class="hidden-form" data-id="form-favorite-{{ res.short_id }}"
      action="/hsapi/_internal/{{ res.short_id }}/label-resource-action/" method="POST">
      {% csrf_token %}
      <input type="hidden" name="action" value="CREATE">
      <input type="hidden" name="label_type" value="FAVORITE">
    </form>
    {% endif %}

    <span class="glyphicon glyphicon-tag btn-inline-label" data-toggle="dropdown" aria-expanded="false"></span>

    <div class="dropdown-menu inline-dropdown" role="menu">
      <div class="panel-body" role="form">
        <ul data-resource-id="{{ res.short_id }}" class="list-group list-labels">
        </ul>
      </div>
    </div>
  </td>
  {# Type #}
  <td data-col="resource-type">
    {% include "includes/res_type_col.html" with resource=res %}
  </td>
  {# Title #}
  {% with metadata=res.cached_metadata %}
  <td>
    {% get_resource_url res.short_id as resource_url %}
    <strong><a href="{{ resource_url }}">{{ metadata.title|escape }}</a>
    </strong>
  </td>
  {# First Author #} 
  <td>{{ metadata.creators|resource_first_author }}</td>

  {# Date Created #}
  <td>{{ metadata.created|to_date|date:"M d, Y" }} at {{ metadata.created|to_date|date:"h:i A" }}</td>
  {# Last Modified #}
  <td>{{ metadata.modified|to_date|date:"M d, Y" }} at {{ metadata.modified|to_date|date:"h:i A" }}</td>
  <td>
    {% for kw in metadata.subjects %}
    {% if forloop.counter0 > 0 %},{% endif %}{{ kw }}
    {% endfor %}
  </td>
  <td>
    {% for creator in metadata.creators %}
    {% if forloop.counter0 != 0 %}<span> · </span>{% endif %}
    {% if creator.relative_uri and creator.is_active_user %}
    <a href="{{ creator.relative_uri }}">{{ creator.name }}</a>
    {% else %}
    <span>{{ creator.name }}</span>
    {% endif %}
    {% endfor %}
  </td>
  <td>{% if request.user.is_authenticated %}{{ res.user_permission|privilege_code_to_name }}{% endif %}</td>
  <td class="col-labels">
    {% for label in res.resource_labels %}
    {% if forloop.counter0 > 0 %},{% endif %}{{ label }}
    {% endfor %}
  </td>
  <td class="col-is-favorite">
    {% if res.is_favorite %}
    Favorite
    {% endif %}
  </td>
  <td>{{ metadata.modified|to_date|date:"U" }}</td>
  <td>
    {% if metadata.status.published %}
    Published
    {% elif metadata.status.public %}
    Public
    {% elif metadata.status.discoverable %}
    Discoverable
    {% else %}
    Private
    {% endif %}
  </td>
  <td>{{ metadata.created|to_date|date:"U" }}</td>
  {# TODO: Check if grantor ever used on my resource page as resource does not have a grantor attribute #}
  <td>{{ res.grantor.id }}</td>
  {% endwith %}
</tr>
{% endfor %}