<div class="col-lg-2" id="facets">
  <div id="filter-panel" class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
              <span class="glyphicon glyphicon glyphicon-search"></span>
              <a data-toggle="collapse" class="accordion-toggle" data-parent="#accordion" href="#filter">
                  &nbsp;Filter</a></h4>
      </div>
      <div id="filter" class="facet-list panel-collapse collapse in">
          <div class="panel-body">
              <div class="list-group">
                  <ul class="list-group inputs-group">
                      <li class="list-group-item">
                          <span data-facet="owned" class="badge"></span>
                          <input type="checkbox" data-facet="owned" value="Owned" checked>
                          <label class="checkbox-inline noselect">Owned by me</label>
                      </li>
                      <li class="list-group-item">
                          <span data-facet="shared" class="badge"></span>
                          <input type="checkbox" data-facet="shared" value="Shared">
                          <label class="checkbox-inline noselect">Shared with me</label>
                      </li>
                      <li class="list-group-item">
                          <span data-facet="discovered" class="badge"></span>
                          <input type="checkbox" data-facet="discovered" value="Discovered"
                                    checked>
                          <label class="checkbox-inline noselect">Added by me</label>
                      </li>
                      <li class="list-group-item">
                          <span data-facet="favorites" class="badge"></span>
                          <input type="checkbox" data-facet="favorites" value="Favorites" checked>
                          <label class="checkbox-inline noselect">Favorites</label>
                      </li>
                      <li class="list-group-item">
                          <span data-facet="recent" class="badge"></span>
                          <input type="checkbox" data-facet="recent" value="Recent">
                          <label class="checkbox-inline noselect">Recently Updated</label>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
              <span class="glyphicon glyphicon-tags"></span>
              <a data-toggle="collapse" class="accordion-toggle" data-parent="#accordion" href="#labels">
                  &nbsp;&nbsp;Labels</a></h4>
      </div>
      <div id="labels" class="facet-list panel-collapse collapse in">
          <div class="panel-body">
              <div class="list-group">
                  <ul id="user-labels-left" class="list-group inputs-group">

                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>