<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<li id="notifications-dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-bell"></span>
    </a>
    <ul class="dropdown-menu arrow_box">
        <li class="notifications">
            <div id="app-notifications">
                <div class="notifications--header">
                    <h4>Notifications <span v-if="tasks.length">(${tasks.length})</span></h4>
                    <a id="btn-notifications-clear" v-on:click="clear">Clear</a>
                </div>

                <div v-if="loading" class="default-content">
                    <i class="fa fa-spinner fa-pulse fa-2x fa-fw icon-blue"></i>
                </div>
                <div v-if="!loading">
                    <div v-if="tasks.length">
                        <div class="task" v-for="task in tasks">
                            <div class="notification--content">
                                <div class="notification--name">${taskMessages[task.name].title}</span>
                                    <div class="notification--status">
                                        <span :class="statusIcons[task.status]"></span>

                                        <small v-if="canNotifyDownload(task)">
                                            Your download will start in a few seconds. If it does not start click <a
                                                :href="task.payload">here</a>
                                            to download your files directly.
                                        </small>
                                        <small v-else>${taskMessages[task.name].status[task.status]}.
                                            <span v-if="task.payload && (task.status === 'delivered' || task.status === 'completed')">
                                            Click <a :href="task.payload">here</a> to refresh user interface.
                                            </span></small>
                                    </div>
                                </div>
                            </div>
                            <div class="notification--controls">
                                <button type="button" v-if="canBeDismissed(task)" v-on:click="dismissTask(task)" class="close" aria-label="Dismiss"
                                    title="Dismiss">
                                    <span aria-hidden="true">×</span>
                                </button>

                                <button type="button" v-if="canBeAborted(task)" v-on:click="abortTask(task)" class="close" title="Abort"
                                    aria-label="Abort">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div v-else class="default-content">You don't have any notifications.</div>
                </div>
            </div>
        </li>
    </ul>
</li>
