{% load hydroshare_tags %}
<script id="profile-card-template" type="text/x-template">
    <ul class="dropdown-menu arrow_box profile-card" @click.stop=""
        :style="{top: position.top + 'px', left: position.left + 'px'}">
        <li>
            <div class="flex">
                <div class="has-background-light-gray">
                    <div :class="{'dropdown-user-icon': !user.pictureUrl}"
                         :style="{backgroundImage: user.pictureUrl ? 'url(' + user.pictureUrl + ')' : 'none'}"
                        class="dropdown-profile-pic-thumbnail round-image">
                    </div>

                    <div>
                        <small>Contributions</small>
                        <div class="label label-default has-space-top">${user.viewable_contributions}</div>
                    </div>

                    <div class="space-top">
                        <small>Joined</small>
                        <div class="label label-default">${user.joined}</div>
                    </div>
                </div>
                <div style="flex-grow: 1;">
                    <h4 style="margin-top: 0;">
                        <a :href="/user/ + user.id" title="View Profile">${user.best_name}</a>
                    </h4>

                    <table>
                        <tr v-if="user.email">
                            <td class="text-center"><i class="fa fa-envelope text-muted" aria-hidden="true"></i></td>
                            <td><span>${user.email}</span></td>
                        </tr>
                        <tr v-if="(user.state && user.state !== 'Unspecified') || (user.country && user.country !== 'Unspecified')"
                            >
                            <td class="text-center">
                                <i class="fa fa-map-marker text-muted" aria-hidden="true"></i>
                            </td>
                            <td>
                                <span v-if="user.state && user.state !== 'Unspecified'">
                                  ${user.state + (user.country && user.country !== 'Unspecified' ? ',' : '')}</span>
                                <span v-if="user.country && user.country !== 'Unspecified'">${user.country}</span>
                            </td>
                        </tr>
                    </table>

                    <div v-if="user.organization || user.title" class="space-top separate">
                        <span v-if="user.organization">${user.organization}</span>
                        <span v-if="user.title">${user.title}</span>
                    </div>

                    <div v-if="user.subject_areas" class="space-top">
                        <small class="text-muted">Subject Areas:</small>
                        <div>${user.subject_areas.join(", ")}</div>
                    </div>

                    <div v-if="hasIdentifiers" class="space-top">
                        <small class="text-muted">External Profiles:</small>
                        <div class="external-profiles">
                            <template v-for="(identifier, key) of user.identifiers">
                                <a v-if="identifierAttributes.hasOwnProperty(key)"
                                   :href="identifier" :title="identifierAttributes[key].title"
                                   class="identifier-icon" target="_blank"
                                   data-toggle="tooltip" data-placement="top">

                                    <img v-if="key === 'ResearcherID'" class="hover-shadow"
                                         src="{% static 'img/researcherID.png' %}"
                                         alt="ResearcherID icon"/>

                                    <i v-else :class="identifierAttributes[key].classes"></i>
                                </a>

                                <a v-else :href="identifier" class="identifier-icon" target="_blank"
                                   :title="key"
                                   data-toggle="tooltip" data-placement="top">
                                    <i class="fa fa-address-card hover-shadow"></i>
                                </a>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</script>

<script type="text/javascript" src="{% static 'js/hs-vue/profile-link-cmp.js' %}"></script>

<script id="profile-link-template" type="text/x-template">
    <div v-if="showDetails" class="profile-link flex align-center"
        v-on:click="$emit('load-card', { user: user, event: $event })"
        data-toggle="dropdown">
        <div v-if="user.pictureUrl" :style="{backgroundImage: 'url(' + user.pictureUrl + ')'}"
            class="profile-pic-thumbnail round-image">
        </div>
        <div v-else class="dropdown-user-icon"
            class="profile-pic-thumbnail-small details-profile-pic round-image">
        </div>
        <div>
            <a class="has-cursor-pointer">${ user.best_name }</a>
            <div class="text-muted">${ user.title }</div>
        </div>
    </div>
    <a v-else v-on:click="$emit('load-card', { user: user, event: $event })"
        data-toggle="dropdown" class="profile-link has-cursor-pointer">${ user.best_name }</a>
</script>