{% load hydroshare_tags %}
{% with resource_type=resource|resource_type %}
    <span class="resource-type-text">{{ resource_type }}</span>
    {% if resource.resource_type == "CompositeResource" %}
        <img src="{{ STATIC_URL }}img/resource-icons/composite48x48.png"
             data-toggle="tooltip" data-placement="right"
             alt="{{ resource_type }}" title="{{ resource_type }}"
             class="table-res-type-icon"/>
    {% elif resource.resource_type == "RasterResource" %}
        <img src="{{ STATIC_URL }}img/resource-icons/geographicraster48x48.png"
             data-toggle="tooltip" data-placement="right"
             alt="{{ resource_type }}" title="{{ resource_type }}" class="table-res-type-icon"/>
    {% elif resource.resource_type == "ModelProgramResource" %}
        <img src="{{ STATIC_URL }}img/resource-icons/modelprogram48x48.png"
             data-toggle="tooltip" data-placement="right"
             alt="{{ resource_type }}" title="{{ resource_type }}" class="table-res-type-icon"/>
    {% elif resource.resource_type == "ModelInstanceResource" %}
        <img src="{{ STATIC_URL }}img/resource-icons/modelinstance48x48.png"
             data-toggle="tooltip" data-placement="right"
             alt="{{ resource_type }}" title="{{ resource_type }}" class="table-res-type-icon"/>
    {% elif resource.resource_type == "SWATModelInstanceResource" %}
        <img src="{{ STATIC_URL }}img/resource-icons/swat48x48.png"
             data-toggle="tooltip" data-placement="right"
             alt="{{ resource_type }}" title="{{ resource_type }}" class="table-res-type-icon"/>
    {% elif resource.resource_type == "NetcdfResource" %}
        <img src="{{ STATIC_URL }}img/resource-icons/multidimensional48x48.png"
             data-toggle="tooltip" data-placement="right"
             alt="{{ resource_type }}" title="{{ resource_type }}" class="table-res-type-icon"/>
    {% elif resource.resource_type == "TimeSeriesResource" %}
        <img src="{{ STATIC_URL }}img/resource-icons/timeseries48x48.png"
             data-toggle="tooltip" data-placement="right"
             alt="{{ resource_type }}" title="{{ resource_type }}" class="table-res-type-icon"/>
    {% elif resource.resource_type == "GeographicFeatureResource" %}
        <img src="{{ STATIC_URL }}img/resource-icons/geographicfeature48x48.png"
             data-toggle="tooltip" data-placement="right"
             alt="{{ resource_type }}" title="{{ resource_type }}" class="table-res-type-icon"/>
    {% elif resource.resource_type == "ToolResource" %}
        <img src="{{ STATIC_URL }}img/resource-icons/webapp48x48.png"
             data-toggle="tooltip" data-placement="right"
             alt="{{ resource_type }}" title="{{ resource_type }}" class="table-res-type-icon"/>
    {% elif resource.resource_type == "RefTimeSeriesResource" %}
        <img src="{{ STATIC_URL }}img/resource-icons/his48x48.png"
             data-toggle="tooltip" data-placement="right"
             alt="{{ resource_type }}" title="{{ resource_type }}" class="table-res-type-icon"/>
    {% elif resource.resource_type == "ScriptResource" %}
        <img src="{{ STATIC_URL }}img/resource-icons/script48x48.png"
             data-toggle="tooltip" data-placement="right"
             alt="{{ resource_type }}" title="{{ resource_type }}" class="table-res-type-icon"/>
    {% elif resource.resource_type == "CollectionResource" %}
        <img src="{{ STATIC_URL }}img/resource-icons/collection48x48.png"
             data-toggle="tooltip" data-placement="right"
             alt="{{ resource_type }}" title="{{ resource_type }}"
             class="table-res-type-icon"/>
    {% elif resource.resource_type == "MODFLOWModelInstanceResource" %}
        <img src="{{ STATIC_URL }}img/resource-icons/modflow48x48.png"
             data-toggle="tooltip" data-placement="right"
             alt="{{ resource_type }}" title="{{ resource_type }}"
             class="table-res-type-icon"/>
    {% elif resource.resource_type == "GenericResource" %}
        <img src="{{ STATIC_URL }}img/resource-icons/generic48x48.png"
             data-toggle="tooltip" data-placement="right"
             alt="{{ resource_type }}" title="{{ resource_type }}" class="table-res-type-icon"/>
    {% endif %}
{% endwith %}
{#  Sharing Status icons #}
<div class="access-icon-wrapper">
    {% if resource.raccess.published %}
        <img src="{{ STATIC_URL }}img/published.png"
             data-toggle="tooltip" data-placement="right"
             alt="Published Resource" title="Published"/>
    {% elif resource.raccess.public %}
        <img src="{{ STATIC_URL }}img/public.png"
             data-toggle="tooltip" data-placement="right"
             alt="Public Resource" title="Public"/>
    {% elif resource.raccess.discoverable %}
        <img src="{{ STATIC_URL }}img/discoverable.png"
             data-toggle="tooltip" data-placement="right"
             alt="Discoverable Resource" title="Discoverable"/>
    {% else %}
        <img src="{{ STATIC_URL }}img/private.png"
             data-toggle="tooltip" data-placement="right"
             alt="Private Resource" title="Private"/>
    {% endif %}

    {% if resource.raccess.published %}
        {% if "pending" in cm.doi or "failure" in cm.doi %}
            <img src="{{ STATIC_URL }}img/pending.png" alt="Pending Publication"
                 data-toggle="tooltip" data-placement="right"
                 title="Pending Publication. Note that the DOI will not be available until it has been registered and activated."/>
        {% endif %}
    {% else %}
        {% if resource.raccess.shareable %}
            <img src="{{ STATIC_URL }}img/shareable.png" alt="Sharable Resource"
                 data-toggle="tooltip" data-placement="right" title="Shareable"/>
        {% else %}
            <img src="{{ STATIC_URL }}img/non-shareable.png" alt="Non Sharable Resource"
                 data-toggle="tooltip" data-placement="right" title="Not Shareable"/>
        {% endif %}
    {% endif %}
</div>