{% load hydroshare_tags %}

<span class="resource-type-text">{{ resource|resource_type }}</span>
{% if resource|resource_type == "Generic" %}
    <img src="{{ STATIC_URL }}img/resource-icons/generic48x48.png"
         data-toggle="tooltip" data-placement="right"
         alt="{{ resource|resource_type }}" title="{{ resource|resource_type }}" class="table-res-type-icon"/>
{% elif resource|resource_type == "Geographic Raster" %}
    <img src="{{ STATIC_URL }}img/resource-icons/geographicraster48x48.png"
         data-toggle="tooltip" data-placement="right"
         alt="{{ resource|resource_type }}" title="{{ resource|resource_type }}" class="table-res-type-icon"/>
{% elif resource|resource_type == "Model Program Resource" %}
    <img src="{{ STATIC_URL }}img/resource-icons/modelprogram48x48.png"
         data-toggle="tooltip" data-placement="right"
         alt="{{ resource|resource_type }}" title="{{ resource|resource_type }}" class="table-res-type-icon"/>
{% elif resource|resource_type == "Model Instance Resource" %}
    <img src="{{ STATIC_URL }}img/resource-icons/modelinstance48x48.png"
         data-toggle="tooltip" data-placement="right"
         alt="{{ resource|resource_type }}" title="{{ resource|resource_type }}" class="table-res-type-icon"/>
{% elif resource|resource_type == "SWAT Model Instance Resource" %}
    <img src="{{ STATIC_URL }}img/resource-icons/swat48x48.png"
         data-toggle="tooltip" data-placement="right"
         alt="{{ resource|resource_type }}" title="{{ resource|resource_type }}" class="table-res-type-icon"/>
{% elif resource|resource_type == "Multidimensional (NetCDF)" %}
    <img src="{{ STATIC_URL }}img/resource-icons/multidimensional48x48.png"
         data-toggle="tooltip" data-placement="right"
         alt="{{ resource|resource_type }}" title="{{ resource|resource_type }}" class="table-res-type-icon"/>
{% elif resource|resource_type == "Time Series" %}
    <img src="{{ STATIC_URL }}img/resource-icons/timeseries48x48.png"
         data-toggle="tooltip" data-placement="right"
         alt="{{ resource|resource_type }}" title="{{ resource|resource_type }}" class="table-res-type-icon"/>
{% elif resource|resource_type == "Geographic Feature (ESRI Shapefiles)" %}
    <img src="{{ STATIC_URL }}img/resource-icons/geographicfeature48x48.png"
         data-toggle="tooltip" data-placement="right"
         alt="{{ resource|resource_type }}" title="{{ resource|resource_type }}" class="table-res-type-icon"/>
{% elif resource|resource_type == "Web App Resource" %}
    <img src="{{ STATIC_URL }}img/resource-icons/webapp48x48.png"
         data-toggle="tooltip" data-placement="right"
         alt="{{ resource|resource_type }}" title="{{ resource|resource_type }}" class="table-res-type-icon"/>
{% elif resource|resource_type == "HIS Referenced Time Series" %}
    <img src="{{ STATIC_URL }}img/resource-icons/his48x48.png"
         data-toggle="tooltip" data-placement="right"
         alt="{{ resource|resource_type }}" title="{{ resource|resource_type }}" class="table-res-type-icon"/>
{% elif resource|resource_type == "Script Resource" %}
    <img src="{{ STATIC_URL }}img/resource-icons/script48x48.png"
         data-toggle="tooltip" data-placement="right"
         alt="{{ resource|resource_type }}" title="{{ resource|resource_type }}" class="table-res-type-icon"/>
{% elif resource|resource_type == "Collection Resource" %}
    <img src="{{ STATIC_URL }}img/resource-icons/collection48x48.png"
         data-toggle="tooltip" data-placement="right"
         alt="{{ resource|resource_type }}" title="{{ resource|resource_type }}"
         class="table-res-type-icon"/>
{% elif resource|resource_type == "MODFLOW Model Instance Resource" %}
    <img src="{{ STATIC_URL }}img/resource-icons/modflow48x48.png"
         data-toggle="tooltip" data-placement="right"
         alt="{{ resource|resource_type }}" title="{{ resource|resource_type }}"
         class="table-res-type-icon"/>
{% elif resource|resource_type == "Composite Resource" %}
    <img src="{{ STATIC_URL }}img/resource-icons/composite48x48.png"
         data-toggle="tooltip" data-placement="right"
         alt="{{ resource|resource_type }}" title="{{ resource|resource_type }}"
         class="table-res-type-icon"/>
{% endif %}

{#  Sharing Status icons #}
<div class="access-icon-wrapper">
    {% if resource.raccess.published %}
        <img src="{{ STATIC_URL }}img/published.png"
             data-toggle="tooltip" data-placement="right"
             alt="Published Resource" title="Published"/>
    {% elif resource.raccess.public %}
        <img src="{{ STATIC_URL }}img/public.png"
             data-toggle="tooltip" data-placement="right"
             alt="Public Resource" title="Public"/>
    {% elif resource.raccess.discoverable %}
        <img src="{{ STATIC_URL }}img/discoverable.png"
             data-toggle="tooltip" data-placement="right"
             alt="Discoverable Resource" title="Discoverable"/>
    {% else %}
        <img src="{{ STATIC_URL }}img/private.png"
             data-toggle="tooltip" data-placement="right"
             alt="Private Resource" title="Private"/>
    {% endif %}

    {% if resource.raccess.published %}
        {% if "pending" in cm.doi or "failure" in cm.doi %}
            <img src="{{ STATIC_URL }}img/pending.png" alt="Pending Publication"
                 data-toggle="tooltip" data-placement="right"
                 title="Pending Publication. Note that the DOI will not be available until it has been registered and activated."/>
        {% endif %}
    {% else %}
        {% if resource.raccess.shareable %}
            <img src="{{ STATIC_URL }}img/shareable.png" alt="Sharable Resource"
                 data-toggle="tooltip" data-placement="right" title="Shareable"/>
        {% else %}
            <img src="{{ STATIC_URL }}img/non-shareable.png" alt="Non Sharable Resource"
                 data-toggle="tooltip" data-placement="right" title="Not Shareable"/>
        {% endif %}
    {% endif %}
</div>