<div class="navbar navbar-inverse navbar-fixed-top" id="hs-nav-bar">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> <a class="navbar-brand" href="/"><img alt="HydroShare" id="img-brand-logo" src="/static/img/logo-lg.png"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="" id="dropdown-menu-my-resources">
                    <a href="{% url 'my_resources' %}">My Resources</a>
                </li>
                <li class="" id="dropdown-menu-search">
                    <a href="{% url 'haystack_search' %}">Discover</a>
                </li>
                <li class="" id="dropdown-menu-collaborate">
                    <a href="/collaborate/">Collaborate</a>
                </li>
                {% if not user.is_anonymous %}
                    <li class="visible-xs">
                        <a href="{% url 'update_profile' %}">Profile</a>
                    </li>
                    <li class="visible-xs">
                        <a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a>
                    </li>
                {% else %}
                    <li class="visible-xs">
                        <a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Sign In</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-xs">
                {% if not user.is_anonymous %}
                    <li class="display-block" id="profile-menu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <div class="profile-pic-thumbnail-small round-image pull-left"></div></a>
                        <ul class="dropdown-menu arrow_box">
                            <li class="account">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="dropdown-profile-pic-thumbnail round-image dropdown-user-icon pull-left"></div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div id="profile-menu-fullname">
                                            {{ user }}
                                        </div>
                                        <div class="text-muted" id="profile-menu-email">
                                            {{ user.email }}
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-footer">
                                    <a class="btn btn-primary" href="{% url 'update_profile' %}">Profile</a> <a class="btn btn-default" href="{% url 'logout' %}" id="signout-menu"><span class="glyphicon glyphicon-log-out"></span> Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <ul class="nav navbar-nav navbar-right hidden-xs">
                        <li id="signin-menu"><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
                    </ul>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
