<h1>Debugging information for resource <a href='/resource/{{ shortkey }}/'>{{ shortkey }}</a></h1>

<ul>
  <li> Title: <b>{{ resource.metadata.title.value }}</b></li>
  <li> Creator:
    {% if creator.first_name %}
      <a href='/user/{{ creator.pk }}/'
         target="_blank">{{ creator.first_name }} {{ creator.last_name }}
        ({{ creator.username }}) </a>
    {% else %}
      <a href='/user/{{ creator.pk }}/' target="_blank">{{ creator.username }}</a>
    {% endif %}
  </li>
  <li> Owners:
    <ul>
      {% for owner in owners %}
        <li>
          {% if owner.first_name %}
            <a href='/user/{{ owner.pk }}/'
               target="_blank">{{ owner.first_name }} {{ owner.last_name }}
              ({{ owner.username }}) </a>
          {% else %}
            <a href='/user/{{ owner.pk }}/' target="_blank">{{ owner.username }}</a>
          {% endif %}
        </li>
      {% endfor %}
      </li>
    </ul>
</ul>

<h2>Resource Flags</h2>
<table border='1'>
  <tbody>
  <tr>
    <th colspan='2'>Resource Flags</th>
    <th colspan='2'>iRODs AVUs</th>
  </tr>
  <tr>
    <td>resource_type</td>
    <td>{{ resource.resource_type }}</td>
    <td>resourceType</td>
    <td>{{ type_AVU }}</td>
  </tr>
  <tr>
    <td>public</td>
    <td>{{ raccess.public }}</td>
    <td>isPublic</td>
    <td>{{ public_AVU }}</td>
  </tr>
  <tr>
    <th colspan='2'>Resource Flags</th>
    <th colspan='2'>iRODs AVUs</th>
  </tr>
  <tr>
    <td>discoverable</td>
    <td>{{ raccess.discoverable }}</td>
    <td>bag_modified</td>
    <td>{{ modified_AVU }}</td>
  </tr>
  <tr>
    <td>immutable</td>
    <td>{{ raccess.immutable }}</td>
    <td>quotaUserName</td>
    <td>{{ quota_AVU }}</td>
  </tr>
  <tr>
    <td>published</td>
    <td>{{ raccess.published }}</td>
  </tr>
  </tbody>
</table>

<div id="non-preferred-paths">
    <h2>Non Preferred Path Names</h2>
    <p class="loading">Debugging. Please wait...</p>
</div>
<div id="irods-issues">
  <h2>iRODs Issues</h2>
  <p class="loading">Debugging. Please wait...</p>
</div>

<script>
  // Load async data for iRODs issues found
  const xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function () {
    if (this.readyState == 4 && this.status == 200) {
      const response = JSON.parse(this.responseText);
      const irodsIssuesDiv = document.getElementById("irods-issues");
      if (response.status === "SUCCESS") {
        if (response.irods_issues.length) {
          const title = document.createElement("p");
          const titleText = document.createTextNode("iRODs issues found: ");
          title.appendChild(titleText);
          irodsIssuesDiv.appendChild(title);

          const list = document.createElement("UL");

          for (let i = 0; i < response.irods_issues.length; i++) {
            const listItem = document.createElement("LI");
            const code = document.createElement("CODE");
            const itemText = document.createTextNode(response.irods_issues[i]);
            code.appendChild(itemText);
            listItem.appendChild(code);
            list.appendChild(listItem);
          }
          irodsIssuesDiv.appendChild(list);
          // Remove loading indicator
          document.querySelector("#irods-issues > .loading").remove();
        }
        else {
          // No issues found
          const title = document.createElement("P");
          const titleText = document.createTextNode("No iRODs issues found.");
          title.appendChild(titleText);
          irodsIssuesDiv.appendChild(title);
          // Remove loading indicator
          document.querySelector("#irods-issues > .loading").remove();
        }
      }
      else if (response.status === null) {
        // Resend the request
        const url = this.responseURL;
        setTimeout(function () {
          console.log("Resending...");
          xhttp.open("GET", url, true);
          xhttp.send();
        }, 1000);
      }
      else {
        // Failed to retrieve data
        const title = document.createElement("P");
        const titleText = document.createTextNode("Failed to get iRODS issues.");
        title.appendChild(titleText);
        irodsIssuesDiv.appendChild(title);
        // Remove loading indicator
        document.querySelector("#irods-issues > .loading").remove();
      }
    }
  };
  xhttp.open("GET", "irods-issues/", true);
  xhttp.send();

  // Load async data for non preferred paths in the resource
  const xhttp_path_check = new XMLHttpRequest();
  xhttp_path_check.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
          const response = JSON.parse(this.responseText);
          const nonPreferredPathsDiv = document.getElementById("non-preferred-paths");
          const title = document.createElement("p");
          if (response.status === "SUCCESS") {
              // Remove loading indicator
              document.querySelector("#non-preferred-paths > .loading").remove();
              if (response.non_preferred_paths.length) {
                  const titleText = document.createTextNode("The following non-preferred path names were found: ");
                  title.appendChild(titleText);
                  nonPreferredPathsDiv.appendChild(title);
                  const list = document.createElement("UL");

                  for (let i = 0; i < response.non_preferred_paths.length; i++) {
                      const listItem = document.createElement("LI");
                      const code = document.createElement("CODE");
                      const itemText = document.createTextNode(response.non_preferred_paths[i]);
                      code.appendChild(itemText);
                      listItem.appendChild(code);
                      list.appendChild(listItem);
                  }
                  nonPreferredPathsDiv.appendChild(list);
              } else {
                  // No non-preferred paths found
                  const titleText = document.createTextNode("No non-preferred path names found.");
                  title.appendChild(titleText);
                  nonPreferredPathsDiv.appendChild(title);
              }
          } else if (response.status === null) {
              // Resend the request
              const url = this.responseURL;

              setTimeout(function () {
                  console.log("Resending...");
                  xhttp_path_check.open("GET", url, true);
                  xhttp_path_check.send();
              }, 1000);
          } else {  //response.status === "ERROR"
              // Failed to retrieve data
              const titleText = document.createTextNode("Failed to get non-preferred path names.");
              title.appendChild(titleText);
              nonPreferredPathsDiv.appendChild(title);

              // Remove loading indicator
              document.querySelector("#non-preferred-paths > .loading").remove();
          }
      }
  };
  xhttp_path_check.open("GET", "non-preferred-paths/", true);
  xhttp_path_check.send();
</script>