{% extends "pages/page.html" %}
{% load comment_tags %}
{% block meta_title %}{{ community.name }}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.dataTables.min.css">
{% endblock %}

{% block main %}
    <div id="communities-app">
        <div class="collaborate-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="collaborate-nav">
                            <a href="{% url "communities" %}" class="collaborate-nav-item">Find Communities</a>
                            <a href="{% url "my_communities" %}" class="collaborate-nav-item active">My Communities</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="community-header align-flex-start">
                <div>
                    {#  Community Picture #}
                    {% if community.picture and community.picture.url %}
                        <div class="community-image-wrapper community-image-wrapper-medium">
                            <div class="community-image" style="background-image: url(${community.picture.url})"></div>
                        </div>
                    {% else %}
                        <div class="community-image-wrapper community-image-wrapper-medium">
                            <div class="community-image community-preview-image-default"
                                style="background-image: url({{ STATIC_URL }}img/home-page/step4.png)"></div>
                        </div>
                    {% endif %}
                </div>

                <div class="flex-grow-1">
                    <div class="community-title-container flex justify-space-between align-flex-start">
                        <h2 class="community-title is-marginless">{{ community.name }}</h2>
        
                        <div class="community-actions flex">
                            {% if profile_user.is_group_member %}
                                <div>
                                    <a href="#" id="btn-leave-community" class="btn btn-default" data-toggle="modal" data-target="#leave-community-dialog">
                                        Leave Community
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    {% if community.purpose %}<h4>{{ community.purpose|linebreaks }}</h4>{% endif %}

                    {#  Community Info #}
                    {% if community.email or community.url %}
                    <div class="community-info">
                        {% if community.url %}
                            <div class="text-muted">
                                <i class="fa fa-link"></i> <a href="{{ community.url }}" target="_blank">{{ community.url }}</a>
                            </div>
                        {% endif %}

                        {% if group.gaccess.email %}
                            <div class="text-muted">
                                <i class="fa fa-envelope-o"></i> <a href="mailto:{{ community.email }}">{{ community.email }}</a>
                            </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>

            {% if community.description %}
                <div class="community-description">
                    {{ community.description|linebreaks }}
                </div>
            {% endif %}
        </div>

        <div class="container">
            <div class="full-width-tabs-container" id="user-profile-tabs">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs full-width-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#resources" aria-controls="public" role="tab" data-toggle="tab">
                            <i class="glyphicon glyphicon-file"></i>&nbsp;RESOURCES</a>
                    </li>
                    <li role="presentation">
                        <a href="#groups" aria-controls="groups" role="tab" data-toggle="tab">
                            <i class="glyphicon glyphicon-file"></i>&nbsp;Groups</a>
                    </li>
                    {% if is_admin %}
                        <li role="presentation">
                            <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                                <i class="glyphicon glyphicon-file"></i>&nbsp;Owner Settings</a>
                        </li>
                    {% endif %}
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" style="size: 800px">
                    <!-- PUBLIC -->
                    <div role="tabpanel" class="tab-pane fade in active" id="resources">
                        <div class="row">
                            <div class="col-lg-2" id="facets">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <span class="glyphicon glyphicon glyphicon-user"></span>
                                            &nbsp;Shared by</h4>
                                    </div>
                                    <div id="filter-shared-by" class="facet-list">
                                        <div class="panel-body">
                                            <div class="list-group">
                                                <div id="groups-list">
                                                    <!-- this id=groups-list is used to construct the VueJS group name to id map -->
                                                    {% if not groups %}
                                                        <div style="margin: 1rem 0;">
                                                            <i class="list-group-item no-items-found">No resources have been
                                                            shared with this community yet.</i>
                                                        </div>
                                                    {% else %}
                                                        <ul class="list-group inputs-group">
                                                            {% for g in groups %}
                                                                <li class="list-group-item" id="{{ g.id }}">
                                                                    <span data-facet="none"
                                                                          class="badge">{{ g.res_count }}</span>
                                                                    <label class="checkbox noselect"><input
                                                                            id="{{ g.id }}" type="checkbox"
                                                                            data-facet="none" value="Click"
                                                                            @click="updateContribs({{ g.id }})"> {{ g.name }}
                                                                        {% if grpfilter == g.name %}
                                                                            checked
                                                                        {% endif %}
                                                                    </label>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-10" id="items">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="search-container" class="input-group">
                                            <span class="glyphicon glyphicon-search search-icon"></span>
                                            <input id="resource-search-input" type="text" class="form-control"
                                                   placeholder="Search" size="600px"/>
                                            <span id="btn-clear-search-input"
                                                  class="glyphicon glyphicon-remove-sign btn-clear-search"
                                                  style="right: 10px"></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /input-group -->
                                <table id="item-selectors" class="table-hover table-striped resource-custom-table">
                                    <thead>
                                    <tr>
                                        <th><input class="all-rows-selector" type="checkbox"></th>
                                        <th>Type</th>
                                        <th>Title</th>
                                        <th>First Author</th>
                                        <th>Date Created</th>
                                        <th>Last modified</th>
                                        <th>Subject</th>
                                        {# Needed for datatable to function properly #}
                                        <th>Authors</th>
                                        {# Needed for datatable to function properly #}
                                        <th>Permission Level</th>
                                        {# Needed for datatable to function properly #}
                                        <th>Labels</th>
                                        {# Needed for datatable to function properly #}
                                        <th>Favorite</th>
                                        {# Needed for datatable to function properly #}
                                        <th>Last modified</th>
                                        {# Needed for datatable to function properly #}
                                        <th>Sharing Status</th>
                                        {# Needed for datatable to function properly #}
                                        <th>Date Created</th>
                                        {# Needed for datatable to function properly #}
                                    </tr>
                                    </thead>
                                    <div id="filter-querystring"
                                         style="display: none;">{{ grpfilter|default_if_none:'' }}</div>
                                    <tbody>
                                    {% for res in community_resources %}
                                        <tr class="data-row" v-show="isVisible({{ res.group_id }})">
                                            {# Selection controls #}
                                            <td>
                                                <input class="row-selector" type="checkbox">
                                                <span data-form-id="form-favorite-{{ res.resource_id }}"
                                                      data-form-type="toggle-favorite"
                                                      class="glyphicon glyphicon-star btn-inline-favorite"></span>

                                                <form class="hidden-form" data-id="form-favorite-{{ res.resource_id }}"
                                                      action="/hsapi/_internal/{{ res.resource_id }}/label-resource-action/"
                                                      method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="action" value="CREATE">
                                                    <input type="hidden" name="label_type" value="FAVORITE">
                                                </form>
                                                <span class="glyphicon glyphicon-tag btn-inline-label"
                                                      data-toggle="dropdown" aria-expanded="false"></span>

                                                <div class="dropdown-menu inline-dropdown" role="menu">
                                                    <div class="panel-body" role="form">
                                                        <ul data-resource-id="{{ res.resource_id }}"
                                                            class="list-group list-labels">
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                            {# Type #}
                                            <td data-col="resource-type">
                                                {% include "includes/res_type_col_community.html" with resource=res %}
                                            </td>
                                            {# Title #}
                                            <td>
                                                <strong>
                                                    <a href="/{{ res.slug }}/">{{ res.title }}</a>
                                                </strong>
                                            </td>
                                            {# First Author #}
                                            {% if res.first_creator.description %}
                                                <td>
                                                    <a href="{{ res.first_creator.description }}">{{ res.first_creator.name }}</a>
                                                </td>
                                            {% else %}
                                                <td>{{ res.first_creator.name }}</td>
                                            {% endif %}
                                            {# Date Created #}
                                            <td>{{ res.created|date:"d M Y" }} {{ res.created|time }}</td>
                                            {# Last Modified #}
                                            <td>{{ res.updated|date:"d M Y" }} {{ res.updated|time }}</td>
                                            <td><!-- Needed for datatable to function properly --></td>
                                            <td><!-- Needed for datatable to function properly --></td>
                                            <td><!-- Needed for datatable to function properly --></td>
                                            <td><!-- Needed for datatable to function properly --></td>
                                            <td><!-- Needed for datatable to function properly --></td>
                                            <td>{{ res.updated|date:"U" }}</td>
                                            <td><!-- Needed for datatable to function properly --></td>
                                            <td>{{ res.created|date:"U" }}</td>
                                            <td><!-- Needed for datatable to function properly --></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% include "includes/legend.html" %}
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="settings">
                        {% include 'hs_communities/community-settings.html' %}
                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="groups">
                        {% include 'hs_communities/community-groups.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/vue-2.6.10-dev.js"></script>
    <script type="text/javascript" charset="utf8" src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/communities.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/hs_resource_table_community.js"></script>
    <script type="text/javascript">
        // Constants here
        const COMMUNITY = {{ community|safe }}
        const IS_ADMIN = {{ is_admin }}
    </script>
{% endblock %}

