{% extends "base.html" %}
{% load static %}

{% block meta_title %}Discover{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'hs_discovery/discovery.css' %}?v=20260508-1">
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin="">
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.12"></script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>
<script src="{% static 'hs_discovery/discovery.js' %}?v=20260508-1"></script>
{% endblock %}

{% block main %}
<div class="container">
  <div class="row discovery-page-header">
    <div class="col-md-8 col-sm-12">
      <h1>Discover</h1>
      <p class="lead">Public resources shared with the community</p>
    </div>
    <div class="col-md-4 col-sm-12 text-right">
      <a class="discovery-help-link" href="https://help.hydroshare.org/discovering-resources/discovering-data-and-models-from-hydroshare-users/" target="_blank" rel="noopener noreferrer">
        Learn more about discovering data
      </a>
    </div>
  </div>

  <form id="discovery-form" method="get" action="{{ search_url }}">
    <div class="row">
      <div class="col-md-3 discovery-sidebar">
        {% include "hs_discovery/partials/search_form.html" %}
      </div>
      <div class="col-md-9">
        {% include "hs_discovery/partials/results_toolbar.html" %}
        <div id="results-region">
          {% include "hs_discovery/partials/results_region.html" %}
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
