name: Test HydroShare Pull Requests

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: 
      - '**'
  workflow_dispatch:

jobs:
  hydroshare-pull-request-tests:

    runs-on: ubuntu-latest
    env:
      DATACITE_USERNAME: ${{ secrets.DATACITE_USERNAME }}
      DATACITE_PASSWORD: ${{ secrets.DATACITE_PASSWORD }}
    steps:
    - uses: actions/checkout@v4

    - name: Run flake8
      run: |
        python -m pip install flake8
        ./run-pylint-jenkins

    - name: Install Docker Compose
      run: |
        sudo curl -L "https://github.com/docker/compose/releases/download/v2.40.3/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
        sudo chmod +x /usr/local/bin/docker-compose

    - name: Setup HydroShare
      run: |
        printf "%s\n" c | ./local-dev-first-start-only.sh


    - name: Run HydroShare Tests
      run: |
        docker exec hydroshare ./run-tests-jenkins
