name: Test published resources rendering

on:
  workflow_dispatch:
    inputs:
      target:
        description: 'ORIGIN to target tests (default: https://beta.hydroshare.org).'
        required: false
        default: 'https://beta.hydroshare.org'
      num_parallel:
        description: 'Number of parallel requests to make (default: 10).'
        required: false
        default: '10'

jobs:
  build:

    strategy:
      matrix:
        python-version: [3.9]
        platform: [ubuntu-latest]

    runs-on: ${{ matrix.platform }}

    steps:
    - name: Run Tests against target = ${{ github.event.inputs.target }}
      run: |
        TARGET="${{ github.event.inputs.target }}"
        NUM_PARALLEL="${{ github.event.inputs.num_parallel }}"

        export TARGET

        curl -s "${TARGET}/sitemap/" \
        | grep -oE '<a[^>]+href="[^"]+"' \
        | sed -n 's/.*href="\([^"]*\)".*/\1/p' \
        | grep "/resource/" | xargs -I{} -P "$NUM_PARALLEL" bash -c '
            url="${TARGET}{}"
            echo "Checking $url"
            SC=$(curl -s -o /dev/null -w "%{http_code}" "$url")
            if [ "$SC" -ne 200 ]; then
                echo "Error: $url returned status code $SC"
                exit 1
            fi
        '
        if [ $? -ne 0 ]; then
          exit 1
        fi
