<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Getting Started{% endblock %}</title>
        <link rel="stylesheet" href="touch/resources/css/sencha-touch.css" type="text/css">
        <script type="text/javascript" src="touch/sencha-touch-all.js"></script>
        {% block extrascripts %}
        {% endblock %}
        <script type='text/javascript'>
        {% block appjs %}
                Ext.application({
                    name: 'Sencha',

                    launch: function() {
                        alert('launched');
                    }
                });
        {% endblock %}
        </script>
        </head>
        <body></body>
</html>
